<div class="page-header">
  <h1>Install GNU Wget from Source</h1>
  <%= link_to 'Looking for a different operating system?', wget_path(choose: '1') %>
</div>

<% wget_file = 'wget-1.14.tar.gz' %>

<ol>
<li>
  Download <%= link_to wget_file, "http://ftp.gnu.org/gnu/wget/#{wget_file}" %>.
</li>
<li>
  Open a Linux <code>Shell</code> or the Mac OS X <code>Terminal</code>.
  <div class="bs-callout bs-callout-info">
    <p>
      On Mac OS X, type <code>&#8984; + &lt;Space&gt;</code>, then type <code>Terminal</code>, and click <code>Enter</code> to open the Terminal.
    </p>
  </div>
</li>
<li>
  Change directory to the directory where you downloaded <code><%= wget_file %></code>.
  <pre class="code">cd ~/Downloads</pre>
  <div class="bs-callout bs-callout-danger">
    <p>
      <strong>Important!</strong> This step is only an example, you may have downloaded the file elsewhere.
    </p>
  </div>
</li>
<li>
  Compile and install GNU Wget.
<pre class='code'>
tar xvzf <%= wget_file %>
cd <%= wget_file.split('.tar.gz').first %>
./configure --with-ssl=openssl
make
sudo make install
</pre>
<li>
  Verify GNU Wget installation.
  <pre class='code'>which wget

  <span class="code text-muted">/usr/local/bin/wget</span></pre>
  <pre class='code'>wget --version

  <span class="text-muted">GNU Wget <%= wget_file.split('.tar.gz').first.split('wget-').last %></span></pre>
</li>
</ol>
