- @title = @page.title

- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown", edit_url: edit_admin_page_path(@page), delete_url: admin_page_path(@page), delete_confirmation: "Delete \"#{@page.title}\"?"
  = @title
= render "internal/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "pages", admin_pages_path
    %li.breadcrumb-muted= @page.slug
- content_for :sidebar, render("admin/sidebar")

.dashboard-container
  = render "forms/horizontal/show/generic", title: "Folder", content: link_to(@page.folder.name, admin_folder_path(@page.folder)) if @page.folder
  = render "forms/horizontal/show/text", object: @page, key: :title
  = render "forms/horizontal/show/markdown", object: @page, key: :description
  = render "forms/horizontal/show/text", object: @page, key: :position
  = render "forms/horizontal/show/generic", title: "Published", content: render("published", page: @page)
