- @title = @community_tool.name

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        =# render 'layouts/side_nav_header_button'
        = @title

.row
  .col-sm-9
    .markdown-container-new
      = simple_markdown @community_tool.description

  .col-sm-3
    - if @community_tool.editable_by?(current_user)
      %p
        %strong Actions
        %br
        - if current_user == @community_tool.user
          = link_to 'Edit Tool', contribute_tool_description_path(@community_tool), class: 'btn btn-xs btn-primary'
        - if current_user.system_admin?
          = link_to edit_community_tool_path(@community_tool), class: 'btn btn-xs btn-default' do
            %span.glyphicon.glyphicon-cog

    %p
      %strong Author
      %br
      = link_to @community_tool.user.forum_name, tools_path(a: @community_tool.user.forum_name)

    %p
      %strong Date Added
      %br
      = @community_tool.created_at.strftime '%B %-d, %Y'

    %p
      %strong Rating
      %br
      = render 'community_tools/rating', rating: @community_tool.rating
      = surround '(', ')' do
        = link_to number_with_delimiter(@community_tool.community_tool_reviews.count), community_tool_community_tool_reviews_path(@community_tool)
      %br
      = link_to 'Write a review', new_community_tool_community_tool_review_path(@community_tool)

    %p
      %strong Source
      %br
      = link_to_if @community_tool.safe_url?, @community_tool.url, @community_tool.url, target: '_blank', style: 'word-wrap: break-word;'

    - if false
      %p
        %strong
          Add to Favorites
        Favorite this Tool

      %p
        %strong
          Discuss this Tool
        Add a Comment

      %p
        %strong
          Language
        This is written in Ruby!

      %p
        %strong
          Category/Tags
        %code tag1
        %code tag2
        %code tagd

      %p
        %strong Editor's Choice Tool
        This is an editor's choice tool!

      %p
        %strong Date last reviewed/Verified
        Shown if it's earlier than the last updated by user.

      %p
        %strong License
        http://choosealicense.com/
        Remember to choose a license?
