- @title = @community_tool.name

- content_for :banner do
  .dataset-banner
    .container
      .dataset-header.brand= @community_tool.name

  .breadcrumb-container
    .container
      %ol
        %li= link_to_if @community_tool.safe_url?, @community_tool.url, @community_tool.url, target: '_blank'

.row
  .col-sm-9
    .markdown-container-new
      = simple_markdown @community_tool.description

  .col-sm-3
    %p
      %strong Author
      %br
      = link_to @community_tool.user.forum_name, tools_path(a: @community_tool.user.forum_name)

    %p
      %strong Date Added
      %br
      = @community_tool.created_at.strftime '%B %-d, %Y'

    - if false
      %p
        %strong
          Add to Favorites
        Favorite this Tool

      %p
        %strong
          Discuss this Tool
        Add a Comment

      %p
        %strong
          Language
        This is written in Ruby!

      %p
        %strong
          Category/Tags
        %code tag1
        %code tag2
        %code tagd

      %p
        %strong Editor's Choice Tool
        This is an editor's choice tool!

      %p
        %strong Date last reviewed/Verified
        Shown if it's earlier than the last updated by user.

      %p
        %strong License
        http://choosealicense.com/
        Remember to choose a license?
