- @title = @community_tool.name

- content_for :banner do
  .dataset-banner
    .container
      .dataset-header.brand= @community_tool.name

  .breadcrumb-container
    .container
      %ol.breadcrumb
        %li= link_to_if @community_tool.safe_url?, @community_tool.url, @community_tool.url, target: '_blank'


.row
  .col-md-9
    .markdown-container-no-border
      = simple_markdown @community_tool.description

  .col-md-3
    %p
      %strong Author
      %br
      = link_to @community_tool.user.forum_name, tools_path(a: @community_tool.user.forum_name)

    %p
      %strong Date Added
      %br
      = @community_tool.created_at.strftime '%B %-d, %Y'

    %p
      %strong Description
      %br
      = @community_tool.description
