<% @title = 'Tools' %>

<div class="horizontal-fade" style="position:relative;">
  <div class="jumbotron vertical-fade-subtle" style="margin-bottom:0px;border-radius: 0px;">
    <h1 style="text-align:left">
      <%= @title %>
      <% if current_user and current_user.system_admin? %>
        <%= link_to "Create Tool", new_tool_path, class: 'btn btn-xs btn-primary' %>
      <% end %>
    </h1>
    <div style="background-image:url(<%= asset_path('tools-header.jpg') %>);background-repeat: no-repeat;z-index:-2;top:0;right:0;bottom:0;left:0;position:absolute"></div>
  </div>
</div>

<%= form_tag tools_path, method: :get, id: "tools_search", class: 'form-inline' do %>
  <%= hidden_field_tag :order %>
  <%= hidden_field_tag :page, params[:page] %>
  <% if false %>
    <%= text_field_tag 'search', params[:search], class: 'form-control' %>
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<div id="tools">
  <%= render partial: 'tools/tools' %>
</div>

<div class="welcome-box welcome-even">
  <div class="jumbotron" style="margin-bottom:0px;padding:20px 0px 0px 0px">
    <h1 style="margin-top:10px">Begin analysis.</h1>
    <p class="lead">Interested in more in-depth analysis of existing datasets?</p>
    <p class="lead">Browse through available tools for tutorials, examples, and downloads to get you started.</p>
    <p class="lead">Not sure what tool to use? Browse <%= link_to 'dataset documentation', datasets_path %> to find links to recommended tools.</p>
  </div>
</div>

<% @footer_img = 'tools-footer.jpg' %>
