- @title = 'Tools'
%h1
  %span.brand Community Tools
  - if current_user && current_user.system_admin?
    = link_to 'Create Tool', new_tool_path, class: 'btn btn-xs btn-primary'
    = link_to 'Review Submitted Tools', community_tools_path, class: 'btn btn-xs btn-default'

- if false
  %p.lead Popular Tools
  %p.lead Search for Tool
  %p.lead Submit a Tool
  %p.lead Bookmark a Tool
  %p.lead Popular Requests
  %p.lead Researcher Helped Solve a Request
  %p.lead Researcher Submitted a Tool Requested that's Highly Rated
  %p.lead "Tool URL no longer available"
  %p.lead Tool Description
  %p.lead Tool Discussion

- if @community_tools.present?
  .content-container
    = form_tag tools_path, method: :get, class: 'form-inline' do
      .input-group
        = text_field_tag 's', params[:s], class: 'form-control', placeholder: "Search Tools"
        .input-group-btn
          = submit_tag 'Search', class: 'btn btn-primary', name: nil
          = link_to 'Reset', tools_path, class: 'btn btn-default'

    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th URL
          %th User

      %tbody
        - @community_tools.each do |community_tool|
          %tr
            %td= link_to community_tool.name, community_show_tool_path(community_tool)
            %td= community_tool.url
            %td= community_tool.user.forum_name

    .center= paginate @community_tools, theme: 'contour'

.content-container
  %h2.brand Other Tools
  %p
    Tools to help jumpstart your research.
.content-container
  = render 'tools/tools'

- content_for :call_to_action do
  .call-to-action
    .call-to-action-body
      %strong Are you a tool developer?
    .call-to-action-body
      Submit a link to your tool code repository and help other researchers.
    .call-to-action-body
      = link_to 'Contribute a Tool', tool_contribute_path, class: 'btn btn-call-to-action'

    .call-to-action-body
      %strong Unsure how to work with a data type?
    .call-to-action-body
      Put in a request for a tool.
    .call-to-action-body
      = link_to 'Request a Tool', tool_request_path, class: 'btn btn-call-to-action'
