- @title = "Tools"

- if false
  %p.lead Bookmark a Tool
  %p.lead Popular Requests
  %p.lead Researcher Helped Solve a Request
  %p.lead Researcher Submitted a Tool Requested that's Highly Rated
  %p.lead Tool Description
  %p.lead Tool Discussion

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = link_to plus_or("Contribute a Tool"), contribute_tool_start_path, class: "btn btn-primary btn-shadow"
          = render "layouts/per_page", per_page: 20, object_count: @community_tools.total_count
        = @title
        = render "search/toggle"

= render "layouts/survey_link"

= render "search/simple", url: tools_path

- if @community_tools.present?
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %col{ width: "1px" }
    %col{ width: "75%" }
    %col.d-none.d-sm-table-column{ width: "25%" }
    %col{ width: "1px" }
    %col.d-none.d-md-table-column
    - if current_user && current_user.system_admin?
      %col{ width: "1px" }
    %thead
      %tr
        = th_sort_field_rev @order, "community_tools.rating", "Rating", extra_class: "text-center"
        %th{ class: params[:order] == "community_tools.name desc" || params[:order].blank? ? "sort-selected" : nil }
          - case params[:order]
          - when "community_tools.name desc"
            = link_to "Name", tools_path
          - else
            = link_to "Name", tools_path(order: "community_tools.name desc")
        %th.d-none.d-sm-block
          Author
        %th.nowrap
          Type
          .dropdown{ style: "display: inline-block" }
            = link_to "#", data: { target: "#", toggle: "dropdown" }, role: "button", aria: { haspopup: "true", expanded: "false" } do
              %i.fa.fa-filter
            .dropdown-menu.dropdown-menu-right
              = link_to "All", tools_path(order: params[:order]), style: params[:type].blank? ? "font-weight:bold;" : "", class: "dropdown-item"
              - [["Program", "program"], ["Script", "script"], ["Tutorial", "tutorial"]].each do |label, value|
                = link_to label, tools_path(order: params[:order], type: value), style: params[:type] == value ? "font-weight:bold;" : "", class: "dropdown-item"
        = th_sort_field_rev @order, "community_tools.publish_date", "Published", extra_class: "d-none d-md-block text-center"
        - if current_user && current_user.system_admin?
          %th.text-center
            .d-none.d-sm-inline-block Actions

    %tbody
      - @community_tools.each do |community_tool|
        %tr
          %td.text-center
            = link_to community_tool_community_tool_reviews_path(community_tool) do
              = render "community_tools/rating", rating: community_tool.rating
          %td= link_to community_tool.name, tool_path(community_tool)
          %td.d-none.d-sm-block= community_tool.user.forum_name
          %td.text-center
            - if community_tool.tag_program?
              %small Program
            - if community_tool.tag_script?
              %small Script
            - if community_tool.tag_tutorial?
              %small Tutorial
            - unless community_tool.tag_program? || community_tool.tag_script? || community_tool.tag_tutorial?
              / %span.badge.badge-pill.badge-default Unsorted
          %td.d-none.d-md-block.nowrap.text-center
            - if community_tool.published?
              = community_tool.publish_date
            - else
              %span.badge.badge-warning DRAFT
          - if current_user && current_user.system_admin?
            %td
              = render "layouts/edit_delete_dropdown", edit_url: edit_community_tool_path(community_tool), delete_url: community_tool, delete_confirmation: "Delete #{community_tool.name}?"

  .center-horizontally= paginate @community_tools, theme: "bootstrap"
- else
  .jumbotron.text-center
    %p.lead
      We didn't find any tools matching your search criteria.
      = succeed "." do
        = link_to "Back to tools", tools_path
    %p.lead
      Feel like helping us out?
      = succeed "." do
        = link_to "Contribute a tool", contribute_tool_start_path

- if false
  - if params[:search].blank? && @community_tools.count > 10
    - content_for :footer do
      .call-to-action
        .call-to-action-body
          %strong Are you a tool developer?
        .call-to-action-body
          Share your tool with the NSRR community.
        .call-to-action-body
          = link_to "Contribute a Tool", contribute_tool_start_path, class: "btn btn-primary btn-shadow"
