- @title = "Tools"

- content_for :header, @title

- if @articles.present?
  - @articles.each do |article|
    - cover_present = article.cover.present?
    - url = blog_post_path(article.url_hash)
    .dashboard-container.broadcast-container
      - if cover_present
        = link_to url do
          .background-cover.mb-3{ style: "background-image: url(#{blog_cover_url(article)});height: 300px;" }
      %h2.broadcast-title.mt-0{ style: "border-bottom: 0;" }= link_to article.title, url
      .bg-white= render "blog/extract", broadcast: article, url: url
  .center-horizontally= paginate @articles, theme: "bootstrap"
- else
  .jumbotron.jumbotron-custom-text
    = icon("far", "clone", class: "mr-1")
    No articles found in this category.
