- @title = 'Tools'

- if false
  %p.lead Popular Tools
  %p.lead Search for Tool
  %p.lead Submit a Tool
  %p.lead Bookmark a Tool
  %p.lead Popular Requests
  %p.lead Researcher Helped Solve a Request
  %p.lead Researcher Submitted a Tool Requested that's Highly Rated
  %p.lead "Tool URL no longer available"
  %p.lead Tool Description
  %p.lead Tool Discussion

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        Community Tools

        - if current_user && current_user.system_admin?
          = link_to 'Review Submitted Tools', community_tools_path, class: 'btn btn-xs btn-default'

- if @community_tools.count == 0
  %p.lead
    We're working on expanding our available tools from the community.
  %p.lead
    Feel like helping us out? Contribute a tool below!
- else
  - if false
    = form_tag tools_path, method: :get, class: 'form-inline' do
      .input-group
        = text_field_tag 's', params[:s], class: 'form-control', placeholder: 'Search Tools'
        .input-group-btn
          = submit_tag 'Search', class: 'btn btn-primary', name: nil
          = link_to 'Reset', tools_path, class: 'btn btn-default'

  %table.table.table-striped
    %col{ width: '75%' }
    %col{ width: '25%' }
    %col{ width: '1px' }
    %thead
      %tr
        = th_sort_field @order, 'community_tools.name', 'Name'
        %th User
        %th.nowrap
          Type
          .dropdown{ style: 'display: inline-block' }
            = link_to '#', data: { target: '#', toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' } do
              %span.glyphicon.glyphicon-filter
            %ul.dropdown-menu.dropdown-menu-right
              %li= link_to 'All', tools_path(order: params[:order]), type: params[:type].blank? ? 'font-weight:bold;' : ''
              - [['Script', 'script'], ['Tutorial', 'tutorial']].each do |label, value|
                %li= link_to label, tools_path(order: params[:order], type: value), style: params[:type] == value ? 'font-weight:bold;' : ''

    %tbody
      - @community_tools.each do |community_tool|
        %tr
          %td= link_to community_tool.name, community_show_tool_path(community_tool)
          %td= community_tool.user.forum_name
          %td.center
            - if community_tool.tag_script?
              %span.label.label-default Script
            - if community_tool.tag_tutorial?
              %span.label.label-info Tutorial
            - unless community_tool.tag_script? || community_tool.tag_tutorial?
              %span.label.label-success Program

  .center= paginate @community_tools, theme: 'bootstrap'

%hr
= render 'tools/tools'

- content_for :call_to_action do
  .call-to-action
    .call-to-action-body
      %strong Are you a tool developer?
    .call-to-action-body
      Submit a link to your tool code repository and help other researchers.
    .call-to-action-body
      = link_to 'Contribute a Tool', contribute_tool_start_path, class: 'btn btn-call-to-action'
