<% @title = 'Tools' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user and current_user.system_admin? %>
      <%= link_to "Create Tool", new_tool_path, class: 'btn btn-xs btn-primary' %>
    <% end %>
  </h1>
</div>

<%= form_tag tools_path, method: :get, id: "tools_search", class: 'form-inline' do %>
  <%= hidden_field_tag :order %>
  <%= hidden_field_tag :page, params[:page] %>
  <% if false %>
    <%= text_field_tag 'search', params[:search], class: 'form-control' %>
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<div id="tools">
  <%= render partial: 'tools/tools' %>
</div>
