- @title = @tool.name

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.row
  .col-md-9
    .markdown-container-new
      = simple_markdown(@tool.description, target_blank: false)

  .col-md-3
    .menu-sticky
      - if @tool.editable_by?(current_user)
        %p
          %strong Actions
          %br
          - if current_user == @tool.user
            = link_to "Edit Tool", contribute_tool_description_path(@tool), class: "btn btn-sm btn-primary"
          - if current_user.admin?
            = link_to edit_admin_tool_path(@tool), class: "btn btn-sm btn-light" do
              %i.fa.fa-cog
              Edit

      %p
        %strong Author
        %br
        = link_to @tool.user.username, tools_member_path(@tool.user.username)

      %p
        %strong Date Added
        %br
        - if @tool.publish_date
          = @tool.publish_date.strftime("%B %-d, %Y")
        - else
          = @tool.created_at.strftime("%B %-d, %Y")

      %p
        %strong Rating
        %br
        = link_to tool_tool_reviews_path(@tool) do
          = render "tools/rating", rating: @tool.rating
        - if @tool.tool_reviews.count.positive?
          %br
          = link_to tool_tool_reviews_path(@tool) do
            = pluralize(number_with_delimiter(@tool.tool_reviews.count), "Review")
        %br
        - if current_user && current_user.reviewed_tool?(@tool)
          - link_text = "Update my review"
        - else
          - link_text = "Write a review"
        = link_to link_text, new_tool_tool_review_path(@tool)

      %p
        %strong Source
        %br
        = link_to_if @tool.safe_url?, @tool.url, @tool.url, target: "_blank", style: "word-wrap: break-word;"
