- if @supporting_documents.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-sticky
      %col
      %col{ width: "1px" }
      %col{ width: "1px" }
      %thead
        %tr
          %th
            Filename
          %th.nowrap
            Uploader
          %th
            Size
          %th.text-center
            Actions
      - @supporting_documents.each do |supporting_document|
        %tr.tr-align-middle{ id: "supporting-document-#{supporting_document.id}" }
          %td
            - if supporting_document.document.file.extension.casecmp("pdf").zero?
              = icon("far", "file-pdf")
            - else
              = icon("far", "file-image")
            = link_to supporting_document.document.file.filename, reviewer_supporting_document_path(@data_request, supporting_document), data: { turbolinks: false }
          %td.nowrap
            - if supporting_document.reviewer_uploaded?
              Reviewer
            - else
              = @data_request.user.username
          %td.small= number_to_human supporting_document.file_size
          %td.text-center
            = link_to reviewer_supporting_document_path(@data_request, supporting_document), method: :delete, remote: true, data: { confirm: "Delete #{supporting_document.document.file.filename}?" }, class: "btn btn-sm btn-outline-danger" do
              = icon("fas", "trash-alt")

  .center-horizontally= paginate @supporting_documents, theme: "bootstrap-small"
- else
  .jumbotron.jumbotron-custom-text
    = icon("far", "clone", class: "mr-1")
    No supporting documents uploaded.
