- if @supporting_documents.present?
  %table.table.table-striped.table-borderless.table-sticky
    %col
    %col{ width: "1px" }
    %col{ width: "1px" }
    %thead
      %tr
        %th
          Filename
        %th.nowrap
          Uploader
        %th
          Size
        %th.text-center
          Actions
    - @supporting_documents.each do |supporting_document|
      %tr.tr-align-middle{ id: "supporting-document-#{supporting_document.id}" }
        %td
          - if supporting_document.document.file.extension.casecmp("pdf").zero?
            %i.fa.fa-file-pdf-o
          - else
            %i.fa.fa-file-image-o
          = link_to supporting_document.document.file.filename, reviewer_supporting_document_path(@data_request, supporting_document), data: { turbolinks: false }
        %td.nowrap
          - if supporting_document.reviewer_uploaded?
            Reviewer
          - else
            = @data_request.user.name
        %td.small= number_to_human supporting_document.file_size
        %td.text-center
          = link_to reviewer_supporting_document_path(@data_request, supporting_document), method: :delete, remote: true, data: { confirm: "Delete #{supporting_document.document.file.filename}?" }, class: "btn btn-sm btn-outline-danger" do
            %i.fa.fa-trash

  .center-horizontally= paginate @supporting_documents, theme: "bootstrap-small"
- else
  .p-3.lead.text-center.text-muted
    No supporting documents uploaded.
