%p.lead.text-center &nbsp;

.sign-up-form{ style: "margin-bottom: 20px; width: 100%; max-width: 100%;" }
  .sign-up-form-title
    About Your Tool

  = form_with model: @tool, url: contribute_tool_set_description_path, method: :post, id: "contribute_tool_form", local: true do |form|
    = hidden_field_tag :draft, 0

    .form-group
      = form.label :name, nil
      = form.text_field :name, class: "form-control#{" is-invalid" if @tool.errors[:name].present?}"
      = render "forms/invalid_feedback", object: @tool, key: :name

    .form-group
      = form.label :description, nil
      .preview-container.form-control.p-0{ class: @tool.errors[:description].present? ? "is-invalid" : nil }
        .preview-header
          .float-right
            = render "replies/rich_text_editor_buttons", target: "#tool_description"
          = link_to "Write", "#", data: { object: "view-content-markdown" }, class: "preview-tab active", tabindex: "-1"
          = link_to "Preview", "#", data: { object: "view-content-preview", content: "#tool_description" }, class: "preview-tab", tabindex: "-1"
        .preview-body
          #content_markdown
            = form.text_area :description, rows: [[15, @tool.description.to_s.count("\n") + 1].max, 25].min, class: "preview-control filedrag-container", data: { object: "expandable-text-area dropfile", default_rows: 15, upload_url: upload_images_path(update: "#tool_description", format: "js"), fallback_url: new_image_path, log_id: "#log_new" }
            #log_new.filedrag
              Drag images above to insert into post.
          #content_preview.markdown-container-new{ style: "display: none;" }
      = render "forms/invalid_feedback", object: @tool, key: :description

.text-center{ style: "margin-bottom: 20px" }
  - if @tool.published_was
    = link_to "Update Tool", "#", data: { object: "submit", target: "#contribute_tool_form" }, class: "btn btn-primary btn-lg ", style: "width:100%; max-width: 400px;"
  - else
    = succeed " " do
      = link_to "#", data: { object: "submit-tool-draft", target: "#contribute_tool_form" }, class: "btn btn-light btn-lg ", style: "width:100%; max-width: 400px;" do
        Save Draft
    = link_to "#", data: { object: "submit", target: "#contribute_tool_form" }, class: "btn btn-primary btn-lg ", style: "width:100%; max-width: 400px;" do
      Publish Tool
      %i.fa.fa-caret-right
