- @title = "Contribute a Tool"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

- register_visible = (@sign_in != true)

#sign-up-form{ style: "#{"display: none;" unless register_visible}" }
  .sign-up-form
    .sign-up-form-title
      About Yourself

    = form_with model: @user, url: contribute_tool_register_user_path, method: :post, local: true do |form|
      = form.hidden_field :url, name: "tool[url]", value: @tool.url

      = render "devise/registrations/form_fields", form: form, user: @user

  .sign-up-form.text-center
    = succeed "." do
      = link_to "I already have an account", "#", data: { object: "toggle-sign-up" }, tabindex: "-1"

#sign-in-form{ style: "#{"display: none;" if register_visible}" }
  .sign-up-form
    .sign-up-form-title
      About Yourself

    = form_with model: @tool, url: contribute_tool_sign_in_user_path, method: :patch, id: "form_sign_in", local: true do |form|
      = form.hidden_field :url

      .form-group{ class: @sign_in_errors ? "has-error" : "" }
        = label_tag :email, "Email"
        = email_field_tag :email, "", class: "form-control"

      .form-group{ class: @sign_in_errors ? "has-error" : "" }
        = label_tag :password, "Password"
        %small= link_to "(Forgot password?)", new_user_password_path, tabindex: "-1"
        = password_field_tag :password, "", class: "form-control", autocomplete: "current-password"
        - if @sign_in_errors
          %small.text-danger Invalid email or password.

      .form-group.submit-btn-container
        = form.submit "Sign in", class: "btn btn-primary btn-block btn-shadow"

  .sign-up-form.text-center
    New to the NSRR?
    = succeed "." do
      = link_to "I don't have an account", "#", data: { object: "toggle-sign-up" }
