- @title = 'Hosting Request Submitted'

- content_for :banner do
  .dataset-banner
    .container
      .dataset-header.brand= @title

  .call-to-action
    .call-to-action-header
      Success!
    .call-to-action-body
      Thank you for your submission, your dataset hosting request was submitted successfully.

.markdown-container
  %p
    Dear
    = succeed ',' do
      = current_user.first_name

  %p
    Thank you for your interest in having the NSRR host your dataset.

  %p
    We will review the request and get back in touch with you to discuss
    further details.

  %p
    Don't hesitate to contact us at our email address with any further
    questions:
    = mail_to 'support@sleepdata.org'

  %p Kindly,

  %p The NSRR Team

.row
  .col-xs-12.col-sm-3.col-sm-offset-3.col-buffer
    = link_to datasets_path, class: 'btn btn-default btn-block' do
      %span.glyphicon.glyphicon-cloud
      Back to Datasets
  .col-xs-12.col-sm-3
    = link_to dashboard_path, class: 'btn btn-primary btn-block' do
      %span.glyphicon.glyphicon-home
      Go to My Dashboard
