- @title = "Submission Complete"

- content_for :header do
  .header-container
    .container
      %h1.page-heading.text-center{ style: "margin-bottom: 20px;" }
        = @title
      .text-center
        %p.lead
          Thank you for your submission, your dataset hosting request was submitted successfully.

.dashboard-container-narrow
  %p
    Dear
    = succeed "," do
      = current_user.first_name

  %p
    Thank you for your interest in having the NSRR host your dataset.

  %p
    We will review the request and get back in touch with you to discuss
    further details.

  %p
    Don't hesitate to contact us at our email address with any further
    questions:
    = mail_to ENV["support_email"]

  %p Kindly,

  %p The NSRR Team

.row
  .col-12.col-sm-6.col-md-3.col-md-offset-3.col-buffer
    = link_to datasets_path, class: "btn btn-light btn-block btn-shadow" do
      %i.fa.fa-database{ aria: { hidden: "true" } }
      Back to Datasets
  .col-12.col-sm-6.col-md-3
    = link_to dashboard_path, class: "btn btn-primary btn-block btn-shadow" do
      %i.fa.fa-home{ aria: { hidden: "true" } }
      Go to My Dashboard
