- shhs_dataset_version = '0.7.0'
- chat_dataset_version = '0.3.0'

#carousel-showcase.carousel.slide{ 'data-ride' => 'carousel' }
  %ol.carousel-indicators.hidden-sm.hidden-xs
    %li.active{ data: { target: '#carousel-showcase', slide: { to: '0' } } }
    %li{ data: { target: '#carousel-showcase', slide: { to: '1' } } }
    %li{ data: { target: '#carousel-showcase', slide: { to: '2' } } }
    %li{ data: { target: '#carousel-showcase', slide: { to: '3' } } }
    %li{ data: { target: '#carousel-showcase', slide: { to: '4' } } }
    %li{ data: { target: '#carousel-showcase', slide: { to: '5' } } }
  .carousel-inner{ role: 'listbox' }
    .item.active
      .row
        .col-sm-6
          .carousel-item-header
            Our Second Challenge!
          .carousel-item-description
            Help fellow researchers by
            = link_to 'participating', challenge_path('flow-limitation-2')
            in the
            %strong second
            Flow Limitation Challenge.
        .col-sm-6.center-picture{ style: 'overflow: hidden'}
          = image_tag 'flow-limitation-2-logo.png', class: 'showcase-picture'
    .item
      .row
        .col-sm-6
          .carousel-item-header
            Researcher Showcase
          .carousel-item-description
            Learn about Shaun Purcell's work with data from the NSRR in the area of
            = succeed '.' do
              = link_to 'Genetics of Sleep Spindles', showcase_show_path('shaun-purcell-genetics-of-sleep-spindles')
        .col-sm-6.center-picture{ style: 'overflow: hidden'}
          = image_tag 'showcase/carousel/nsrr-sigma-power-twin-small.png', class: 'showcase-picture'
    .item
      .row
        .col-sm-6
          .carousel-item-header
            Early Adopter Meeting
          .carousel-item-description
            The NSRR is
            = link_to 'organizing a meeting', 'https://sleepdata.org/forum/43-nsrr-early-adopters-meeting-oct-9-2015'
            with a group of early adopters on October 9th in Boston.
        .col-sm-6.center-picture{ style: 'overflow: hidden'}
          = image_tag 'showcase/carousel/eeg.png', class: 'showcase-picture'
    .item
      .row
        .col-sm-6
          .carousel-item-header
            Search the NSRR
          .carousel-item-description
            Learn how to
            = link_to 'search', showcase_show_path(slug: 'search-nsrr')
            across datasets using the
            NSRR Cross Dataset Query Interface.
        .col-sm-6.center-picture
          = image_tag 'physiomimi_logo.png', class: 'showcase-picture'
    .item
      .row
        .col-sm-6.center-picture
          = image_tag 'showcase/matt-butler-graph.png', class: 'showcase-picture'
          =# image_tag 'showcase/matt-butler.png', class: 'showcase-picture'
        .col-sm-6
          .carousel-item-header
            Researcher Showcase
          .carousel-item-description
            Learn about Matt Butler's work with data from the NSRR in the area of
            = succeed '.' do
              = link_to 'Novel Sleep Measures and Cardiovascular Risk', showcase_show_path('matt-butler-novel-sleep-measures-and-cardiovascular-risk')
    - if false
      .item
        .row
          .col-sm-6.center-picture
            = image_tag 'shhs_logo.png', class: 'showcase-picture'
          .col-sm-6
            .carousel-item-header
              = "SHHS v#{shhs_dataset_version} Online"
            .carousel-item-description
              Download the latest
              = link_to 'datasets', files_dataset_path('shhs', path: 'datasets')
              and
              = link_to 'EDFs', files_dataset_path('shhs', path: 'edfs')
              available for the Sleep Heart Health Study.
    - if false
      .item
        .row
          .col-sm-6.center-picture
            = image_tag 'chat_logo.png', class: 'showcase-picture'
          .col-sm-6
            .carousel-item-header
              = "CHAT v#{chat_dataset_version} Online"
            .carousel-item-description
              Download the latest
              = link_to 'datasets', files_dataset_path('chat', path: 'datasets')
              and
              = link_to 'EDFs', files_dataset_path('chat', path: 'edfs')
              available for the Childhood Adenotonsillectomy Trial.
    - if false
      .item
        .row
          .col-sm-6.center-picture
            = image_tag 'heartbeat-logo.png', class: 'showcase-picture'
          .col-sm-6
            .carousel-item-header.hidden-xs
              HeartBEAT v0.2.0
            .carousel-item-header.visible-xs
              HeartBEAT v0.2.0 Online
            .carousel-item-description
              Download the latest
              = link_to 'datasets', files_dataset_path('heartbeat', path: 'datasets')
              and
              = link_to 'EDFs', files_dataset_path('heartbeat', path: 'edfs')
              available for Heart Biomarker Evaluation in Apnea Treatment.
    .item
      .row
        .col-sm-6
          .carousel-item-header Get Started
          .carousel-item-description
            Learn how to download data, generate statistics, and open EDFs in our
            = link_to 'first tutorial', demo_path
            for the NSRR.
        .col-sm-6.center-picture
          = image_tag 'nsrr-rdi3p-age-gender.png', class: 'showcase-picture'
.showcase-footer
  %ul#showcase-list
    %li.active{ data: { target: "#carousel-showcase", slide: { to: "0" } } }
      = image_tag 'showcase/flow-limitation-square.png', class: 'showcase-indicator-picture img-bw img-color'
    %li.active{ data: { target: "#carousel-showcase", slide: { to: "1" } } }
      = image_tag 'showcase/smp-icon.png', class: 'showcase-indicator-picture img-bw'
    %li{ data: { target: "#carousel-showcase", slide: { to: "2" } } }
      = image_tag 'showcase/carousel/eeg.png', class: 'showcase-indicator-picture img-bw'
    %li{ data: { target: "#carousel-showcase", slide: { to: "3" } } }
      = image_tag 'physiomimi_logo.png', class: 'showcase-indicator-picture img-bw'
    %li{ data: { target: "#carousel-showcase", slide: { to: "4" } } }
      = image_tag 'showcase/matt-butler-icon.png', class: 'showcase-indicator-picture img-bw img-circle'
    - if false
      %li{ data: { target: "#carousel-showcase", slide: { to: "3" } } }
        = image_tag 'shhs_logo.png', class: 'showcase-indicator-picture img-op'
    - if false
      %li{ data: { target: "#carousel-showcase", slide: { to: "4" } } }
        = image_tag 'chat_logo.png', class: 'showcase-indicator-picture img-bw'
    - if false
      %li{ data: { target: "#carousel-showcase", slide: { to: "3" } } }
        = image_tag 'heartbeat-logo.png', class: 'showcase-indicator-picture img-bw'
    %li{ data: { target: "#carousel-showcase", slide: { to: "5" } } }
      = image_tag 'nsrr-rdi3p-age-gender.png', class: 'showcase-indicator-picture img-bw'
