- @title = "Showcase"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.dashboard-container
  .row
    .col-sm-4.hidden-xs.center
      %div.img-thumbnail.img-responsive.box-shadow{ style: "padding: 15px;" }
        %p.center
          Get Started!
        %p.center
          %span.label.label-success 1
          %span.label.label-success 2
          %span.label.label-success 3

    .col-sm-8
      %strong
        Tutorial Showcase
      %p
        Don't know
        %strong where to start?
        Take a look at our
        = link_to("NSRR overview", showcase_show_path("where-to-start")) + "!"

.dashboard-container
  .row
    .col-sm-4.hidden-xs.center
      = image_tag "physiomimi_logo.png", class: "img-thumbnail img-responsive box-shadow", style: "padding: 15px;"
    .col-sm-8
      %strong
        Tool Showcase
      %p
        Learn about the
        = link_to("NSRR Cross Dataset Query Tool", showcase_show_path("search-nsrr")) + "."

.dashboard-container
  .row
    .col-sm-4.hidden-xs.center
      = image_tag "nsrr-rdi3p-age-gender.png", class: "img-thumbnail img-responsive box-shadow", style: "padding: 15px;"
    .col-sm-8
      %strong
        Tutorial Showcase
      %p
        Get started with
        = link_to "three intermediate tutorials", demo_path
        that cover downloading data, generating statistics, and extracting signal
        data from EDFs.

