- @title = "Cross Dataset Query Interface"

- content_for :header, @title

- content_for :breadcrumbs do
  Learn how to
  %strong= link_to "create powerful queries", "#search-across-datasets", data: { object: "scroll-anchor-keep-link" }
  across datasets available on the NSRR.

%a.anchor-top{ name: "search-across-datasets", id: "search-across-datasets" }
%h2
  Search across datasets.

.dashboard-container
  %p
    Create powerful queries across datasets available on the NSRR.

  .text-center{ style: "max-width: 1200px;margin: 40px auto 0px auto;" }
    = image_tag "https://sleepdata.org/image/Bn5Mnx", class: "img-responsive"


%a.anchor-top{ name: "graphical-exploration" }
%h2
  Dynamically plot variables.

.dashboard-container
  .row
    .col-md-6.center-vertically
      %p.d-none.d-md-block.text-right
        Select two variables and click
        %strong Graph Distribution.
      %p.d-block.d-md-none.text-center
        Select two variables and click
        %strong Graph Distribution.
    .col-md-6
      = image_tag "https://sleepdata.org/image/Eba5b7", class: "img-responsive"

%h2
  Find interesting correlations.
.dashboard-container
  .row{ style: "margin-top: 20px" }
    .col-md-6
      %p.d-block.d-md-none.text-center
        Download complete datasets for offline analysis from the
        = succeed "." do
          = link_to "NSRR website", ENV["website_url"]

      = image_tag "https://sleepdata.org/image/2eq5ex", class: "img-responsive d-none d-md-block"
    .col-md-6.center-vertically
      %p.d-none.d-md-block
        Download complete datasets for offline analysis from the
        = succeed "." do
          = link_to "NSRR website", ENV["website_url"]

      = image_tag "https://sleepdata.org/image/2eq5ex", class: "img-responsive d-block d-md-none"

%a.anchor-top{ name: "get-started-now" }
- content_for :footer do
  .background-p100-grey.pt-5
    .container
      .landing-sentence{ style: "font-weight: normal;" }
        Start your cross dataset exploration now.
        = link_to "https://www.x-search.net/queries/builder" do
          Get started
          %i.fa.fa-caret-right
      .text-center= link_to image_tag("physiomimi_logo.png"), "https://www.x-search.net/queries/builder"
