- @title = "NSRR Cross Dataset Query Interface"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.text-center= image_tag "physiomimi_logo.png", class: "img-thumbnail box-shadow"

%a.anchor-top{ name: "search-across-datasets" }
.about-section-title
  Search across datasets.

.dashboard-container
  %p
    Create powerful queries across datasets available on the NSRR.

  .text-center{ style: "max-width: 1200px;margin: 40px auto 0px auto;" }
    = image_tag "https://sleepdata.org/image/Bn5Mnx", class: "img-responsive"


%a.anchor-top{ name: "graphical-exploration" }
.about-section-title
  Dynamically plot variables.

.dashboard-container
  .row
    .col-md-6.center-vertically
      %p.d-none.d-md-block.text-right
        Select two variables and click
        %strong Graph Distribution.
      %p.d-block.d-md-none.text-center
        Select two variables and click
        %strong Graph Distribution.
    .col-md-6
      = image_tag "https://sleepdata.org/image/Eba5b7", class: "img-responsive"

.about-section-title
  Find interesting correlations.
.dashboard-container
  .row{ style: "margin-top: 20px" }
    .col-md-6
      %p.d-block.d-md-none.text-center
        Download complete datasets for offline analysis from the
        = succeed "." do
          = link_to "NSRR website", ENV["website_url"]

      = image_tag "https://sleepdata.org/image/2eq5ex", class: "img-responsive d-none d-md-block"
    .col-md-6.center-vertically
      %p.d-none.d-md-block
        Download complete datasets for offline analysis from the
        = succeed "." do
          = link_to "NSRR website", ENV["website_url"]

      = image_tag "https://sleepdata.org/image/2eq5ex", class: "img-responsive d-block d-md-none"

%a.anchor-top{ name: "get-started-now" }
- content_for :footer do
  .call-to-action
    .call-to-action-header
      Start your cross dataset exploration now.
    .call-to-action-body
      = link_to "Start a Query", "https://www.x-search.net/queries/builder", class: "btn btn-primary btn-shadow"

    .call-to-action-body
      Not sure yet?
      = link_to "Learn more", tool_path("physiomimi")
      about the NSRR Cross Dataset Query Interface.
