- content_for :banner do
  .banner
    .container.center
      .banner-body
        Presenting the
      .banner-header.brand
        NSRR Cross Dataset Query Interface
      .banner-body
        = image_tag 'physiomimi_logo.png', class: 'img-thumbnail'

%a.anchor-top{ name: 'search-across-datasets' }
%h2
  Search Across Datasets

%p
  Create powerful queries across datasets available on the NSRR.

.center{ style: 'max-width: 1200px;margin: 40px auto 0px auto;' }
  = image_tag 'https://sleepdata.org/image/Bn5Mnx', class: 'img-responsive'


%a.anchor-top{ name: 'graphical-exploration' }
%h2
  Dynamically Plot Variables

.row
  .col-md-6
    %p.hidden-xs.hidden-sm.text-right{ style: 'margin-top:80px;' }
      Select two variables and click
      %strong Graph Distribution.
    %p.visible-xs.visible-sm.text-right
      Select two variables and click
      %strong Graph Distribution.
  .col-md-6
    = image_tag 'https://sleepdata.org/image/Eba5b7', class: 'img-responsive'

.row{ style: 'margin-top: 20px' }
  .col-md-6
    %p.visible-xs.visible-sm.text-right
      %strong Find interesting correlations?
      %br
      Download complete datasets for offline analysis from the
      = succeed '.' do
        = link_to 'NSRR website', ENV['website_url']

    = image_tag 'https://sleepdata.org/image/2eq5ex', class: 'img-responsive hidden-xs hidden-sm'
  .col-md-6
    %p.hidden-xs.hidden-sm{ style: 'margin-top:80px;' }
      %strong Find interesting correlations?
      Download complete datasets for offline analysis from the
      = succeed '.' do
        = link_to 'NSRR website', ENV['website_url']

    = image_tag 'https://sleepdata.org/image/2eq5ex', class: 'img-responsive visible-xs visible-sm'

%a.anchor-top{ name: 'get-started-now' }
- content_for :call_to_action do
  .call-to-action
    .call-to-action-header
      Start your cross dataset exploration now.
    .call-to-action-body
      = link_to 'Start a Query', 'https://www.x-search.net/queries/builder', class: 'btn btn-call-to-action btn-lg'

    .call-to-action-body
      Not sure yet?
      = link_to 'Learn more', tool_path('physiomimi')
      about the NSRR Cross Dataset Query Interface.
