- @title = "Where to Start"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

%p.lead.text-center
  Steps taken by a typical NSRR researcher.

.dashboard-container-narrow
  .dashboard-container-title
    1. Choose a dataset.
  %p
    The
    = link_to "SHHS dataset", dataset_path("shhs")
    is one of our most popular datasets. Datasets have different populations and
    demographics, so pick one based on your research interest.

.dashboard-container-narrow
  .dashboard-container-title
    2. Fill out a data request.

  %p
    We've streamlined the data request process to quickly get you access to a
    number of rich datasets. The process allows us to aid you in selecting a
    dataset appropriate for your research. You can
    = mail_to ENV["support_email"], "email us"
    if you need help with this process.

.dashboard-container-narrow
  .dashboard-container-title
    3. Download data from the dataset.

  %p
    Dataset files are structured in a similar manner across all of our datasets.
    For example, the
    %code datasets
    folder typically contains demographics, anthropometry, questionnaires,
    outcomes, in CSV spreadsheets. For downloading large signal files, we
    recommend
    = link_to "downloading and installing", demo_path + "#download-data"
    the NSRR downloader gem, which lets you download entire datasets at a time,
    allows you to pause and resume, and checks file integrity after download.

.dashboard-container-narrow
  .dashboard-container-title
    4. Use tools on the site.

  %p
    You may already have tools to analyze data. If you don't, we have a list of
    = succeed "," do
      = link_to "community contributed tools", tools_path
    and a
    = link_to "forum", topics_path
    to get help with any of the hosted tools and data. We also encourage you to
    share any tools you may have that could help other researchers on the NSRR.

.dashboard-container-narrow
  .dashboard-container-title
    5. Publish your results in a journal.

  %p
    If you plan on publishing, using data from the NSRR, please remember to cite
    the NSRR, and
    = mail_to ENV["support_email"], "let us know"
    so we can better track publications linked to our resource.

- content_for :footer do
  .call-to-action
    .call-to-action-header
      Ready to get started?
    .call-to-action-body
      = link_to datasets_path, class: "btn btn-primary btn-lg btn-shadow" do
        Explore datasets
        %i.fa.fa-caret-right
