%p
  = succeed '.' do
    = @agreement.commercial? ? '14' : '12'
  This DAUA shall become effective upon the date of BWH's release of Data /
  Datasets to Data User
  = surround '(', ')' do
    %strong "Effective Date"
  and shall expire upon the earlier of (i) three (3) years after the Effective
  Date or (ii) Data User's cessation or completion of the Specific Purpose (as
  applicable, the
  = succeed ').' do
    %strong "Initial Term"
  If Data User continues to desire access to the Data / Datasets for the
  Specific Purpose beyond the Initial Term, Data User may submit a request for
  continued access and an extension of this DAUA to BWH. BWH may terminate the
  DAUA and Data User's access to Data / Datasets hereunder at any time during
  the Initial Term or any subsequent term, and for any reason, upon written
  notice to the Data User.

%p
  = succeed '.' do
    = @agreement.commercial? ? '15' : '13'
  To the extent Data User is permitted under the terms of this DAUA to retain
  any portion of the Data / Dataset, or any copies thereof, upon the
  expiration or termination of the DAUA, the Data User's obligations under the
  DAUA with respect to such Data / Datasets shall survive such expiration or
  termination for as long as Data User retains the Data / Datasets.

%p
  = succeed '.' do
    = @agreement.commercial? ? '16' : '14'
  This DAUA may be modified or amended only in a writing signed by duly
  authorized representatives of both the Data User (where Data User is an
  organization) and BWH. This DAUA shall be governed by and construed in
  accordance with the laws of the Commonwealth of Massachusetts. Any claim or
  action brought under this DAUA shall be brought in the federal or state
  courts of Massachusetts.

%p
  = succeed '.' do
    = @agreement.commercial? ? '17' : '15'
  All notices required by this DAUA shall be provided to the signatory for
  each party at the address identified below.

%p
  = succeed '.' do
    = @agreement.commercial? ? '18' : '16'
  In all publications and other citations that use resources made available
  through the sleepdata.org site, User agrees to acknowledge the appropriate
  grants and references for individual cohort data downloaded as indicated in
  the citation section on the relevant NSRR web page, along with the
  following:

%p.lead.text-center
  NSRR R24 HL114473: NHLBI National Sleep Research Resource.

  %p
    - if @agreement.commercial?
      19. Sections 3 through 13 and Sections 15, 16, 17, and 18 of this DAUA shall survive its expiration or termination.
    - else
      17. Sections 3 through 11 and Sections 13, 14, 15, and 16 of this DAUA shall survive its expiration or termination.
