%h2
  Explore datasets.

%p.lead
  Learn more about
  = link_to 'each dataset', datasets_path
  by reading easily navigable online documentation.

.row{ style: 'margin-top:40px' }
  - @datasets.order( release_date: :desc ).limit(3).each do |dataset|
    .col-xs-12.col-md-4
      .panel{ class: "panel-#{dataset.release_date && dataset.release_date <= Date.today ? 'primary' : 'default'}" }
        .panel-heading
          %div.panel-title{ style: "white-space:nowrap;overflow:hidden" }= link_to dataset.name, dataset
        .panel-body
          %div{ style: "text-align:center;background-color:white;padding-bottom:5px;height:145px;line-height:145px" }
            - if dataset.logo.size > 0
              = link_to image_tag( logo_dataset_path(dataset), style: 'max-width:100%;max-height:140px' ), dataset
            - else
              = link_to image_tag( 'project-default-logo.png', style: 'max-width:100%;max-height:140px' ), dataset
        .panel-footer{ style: "text-align:center;white-space:nowrap;overflow:hidden" }
          - if dataset.release_date and dataset.release_date <= Date.today
            = link_to 'Data Available Now!', dataset
          - elsif dataset.release_date
            = link_to "Coming #{dataset.release_date.strftime("%B %e, %Y")}", dataset
