.landing-container
  .landing-header
    %h2
      Explore the data.

    %p.lead
      Drill down and view over
      = pluralize(number_with_delimiter(Variable.where(dataset_id: Dataset.current.where(public: true).pluck(:id)).count), 'covariate')
      across
      = succeed '.' do
        = link_to pluralize(Dataset.current.where(public: true).count, 'public dataset'), datasets_path

  .landing-body
    %table.table
      %thead
        %tr
          %th Dataset
          %th.nowrap Name
          %th Variable Name

      - @variables.each do |variable|
        %tr
          %td
            = link_to variable.dataset.slug, dataset_variables_path(variable.dataset)
          %td
            = link_to dataset_variable_path(variable.dataset, variable) do
              = variable.display_name
          %td
            %code=variable.name
