.landing-container
  .landing-header
    %h2
      Explore the data.

    %p.lead
      Drill down and view over
      = pluralize(number_with_delimiter(Variable.where(dataset_id: Dataset.current.where(public: true).pluck(:id)).count), 'covariate')
      across
      = succeed '.' do
        = link_to pluralize(Dataset.current.where(public: true).count, 'public dataset'), datasets_path

  .landing-body
    %table.table
      %col
      %col
      %col{ width: '50px' }

      - @variables.each do |variable|
        %tr
          %td= link_to variable.name, dataset_variable_path(variable.dataset, variable)
          %td= variable.display_name
          %td= render 'datasets/mini', dataset: variable.dataset
