.landing-box-container
  .landing-box{ data: { link: share_path } }
    .landing-face.landing-back
      .landing-box-header= link_to "Share Data", share_path
      %p
        Share your research data on the NSRR.
    .landing-face.landing-front.landing-face-share
      .landing-box-header= link_to "Share Data", share_path
      %p.text-center
        %i.fa.fa-handshake-o.icon-lg{ aria: { hidden: "true" } }
  .landing-box{ data: { link: datasets_path } }
    .landing-face.landing-back
      .landing-box-header= link_to "Datasets", datasets_path
      %p
        Demographics, anthropometry, questionnaires, outcomes, and more.
    .landing-face.landing-front
      .landing-box-header= link_to "Datasets", datasets_path
      %p.text-center
        %i.fa.fa-table.icon-lg{ aria: { hidden: "true" } }
  .landing-box{ data: { link: datasets_path(data: "actigraphy") } }
    .landing-face.landing-back
      .landing-box-header= link_to "Actigraphy", datasets_path(data: "actigraphy")
      %p
        Minute-by-minute activity data collected on wearable watches and similar
        devices.
    .landing-face.landing-front
      .landing-box-header= link_to "Actigraphy", datasets_path(data: "actigraphy")
      %p.text-center
        %i.fa.fa-clock-o.icon-lg{ aria: { hidden: "true" } }
  .landing-box{ data: { link: datasets_path(data: "polysomnography") } }
    .landing-face.landing-back
      .landing-box-header= link_to "Polysomnography", datasets_path(data: "polysomnography")
      %p
        Raw signals comprised of EEGs, ECGs, oxygen, and position channels.
    .landing-face.landing-front
      .landing-box-header= link_to "Polysomnography", datasets_path(data: "polysomnography")
      %p.text-center
        %i.fa.fa-heartbeat.icon-lg{ aria: { hidden: "true" } }

.landing-sentence.mb-5{ style: "font-weight: normal;" }
  Not sure?
  %br.d-block.d-sm-none
  View our
  = link_to "most popular", datasets_path(order: "datasets.rating desc")
  datasets.
