- @title = "Past Contributors"

- render "themes/theme"

.page-box.last-box.d-flex.align-items-center.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container.d-flex.flex-column.align-items-center
    .dashboard-container{ style: "max-width: 40rem;" }
      .about-header
        = @title

      %p.lead.text-center
        A special thanks to our past contributors.

      %div
        .row
          - User.current.where(contributor: true).order(:full_name).each do |user|
            .col-sm-6.col-buffer.text-center= user.full_name

      .text-center
        = link_to "Team", team_path
        &middot;
        = link_to "Academic User Group", aug_path
