- @title = "FAIR Guiding Principles on the NSRR"
- @keywords = "findable, accessible, interoperable, re-usable, data, research data, fair principle"

- render "themes/theme"
- @footer = "dark"

.page-box.last-box.d-flex.align-items-center.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container.d-flex.flex-column.align-items-center
    .dashboard-container{ style: "max-width: 40rem;" }

      .about-header= @title

      .about-section
        %p
          The National Sleep Research Resource adheres to many processes and
          procedures that closely align with the
          = succeed "." do
            = link_to "FAIR Guiding Principles", "https://www.nature.com/articles/sdata201618"

        %p
          %strong Findable

        %ul.text-left.pl-3
          %li
            F1. (meta)data are assigned a globally unique and eternally persistent identifier.
            %ul.text-left
              %li
                Datasets and associated documentation/files use a consistent URL structure. Each dataset has a Digital Object Identifier (DOI) pointing to its landing page.
                = surround "(e.g. ", ")" do
                  = link_to "https://sleepdata.org/datasets/shhs", "https://sleepdata.org/datasets/shhs"

          %li
            F2. data are described with rich metadata.
            %ul.text-left
              %li Physiological data include documentation such as device manuals, montages, sampling rate information, and scoring manuals.
              %li
                Spout data dictionaries describe covariate data in version-controlled git repositories.
                = surround "(e.g. ", ")" do
                  = link_to "https://github.com/nsrr/shhs-data-dictionary", "https://github.com/nsrr/shhs-data-dictionary"
          %li
            F3. (meta)data are registered or indexed in a searchable resource.
            %ul.text-left
              %li
                Dataset documentation and metadata are searchable through the NSRR
                = succeed "." do
                  = link_to "search page", search_path
          %li
            F4. metadata specify the data identifier.
            %ul.text-left
              %li Spout data dictionaries include an "identifier" variable type for this purpose.

        %p
          %strong Accessible

        %ul.text-left.pl-3
          %li
            A1. (meta)data are retrievable by their identifier using a standardized communications protocol.
            %ul.text-left
              %li NSRR data and metadata are retrievable through HTTPS and via a versioned JSON API for programmatic access.
          %li
            A1.1 the protocol is open, free, and universally implementable.
            %ul.text-left
              %li HTTPS meets these standards and is universally used. The JSON API can be accessed by any modern programming language that includes a JSON library.
          %li
            A1.2 the protocol allows for an authentication and authorization procedure, where necessary.
            %ul.text-left
              %li Access to NSRR data is controlled per user. Most datasets require a data request to be reviewed and approved by the NSRR Internal Review Committee before data access is granted. The JSON API lists and grants access by authenticating users based on their approved (time limited) data access requests.
          %li
            A2. metadata are accessible, even when the data are no longer available.
            %ul.text-left
              %li Metadata are accessible on NSRR and on GitHub in data dictionary repositories.

        %p
          %strong Interoperable

        %ul.text-left.pl-3
          %li
            I1. (meta)data use a formal, accessible, shared, and broadly applicable language for knowledge representation.
            %ul.text-left
              %li Spout provides a structured approach to storing metadata in data dictionaries.
          %li
            I2. (meta)data use vocabularies that follow FAIR principles.
            %ul.text-left
              %li The vocabularies used to describe NSRR data and metadata are readily findable and accessible, and open source formats are used wherever possible (interoperable and re-usable).
          %li
            I3. (meta)data include qualified references to other (meta)data.
            %ul.text-left
              %li All facets of an NSRR dataset (data, metadata, and other documentation) are closely linked and interconnected wherever possible.

        %p
          %strong Re-usable

        %ul.text-left.pl-3
          %li
            R1. (meta)data have a plurality of accurate and relevant attributes.
            %ul.text-left
              %li Data and metadata are reviewed by the NSRR team for accuracy, correctness, and comprehensibility before public release.
          %li
            R1.1. (meta)data are released with a clear and accessible data usage license.
            %ul.text-left
              %li Rules and regulations about data use are described in the legal agreements that accompany data requests.
          %li
            R1.2. (meta)data are associated with their provenance.
            %ul.text-left
              %li Data and associated documentation are closely linked on the site.
              %li Variables in spout data dictionaries are linked to data collect instruments.
          %li
            R1.3. (meta)data meet domain-relevant community standards.
            %ul.text-left
              %li Data use open file formats (e.g. EDF, CSV) to maximize compatibility and reusability.
              %li Spout data dictionaries store metadata in JSON format.

        %p.small.text-muted * (meta)data refers to both metadata and data.
