- content_for :header_old do
  .logo-header
    .call-to-action
      .call-to-action-header.brand
        National Sleep Research Resource
      .call-to-action-body
        Free research data and tools.

- content_for :body_class do
  brand-background

= render 'layouts/survey_link'

%h3.center{ style: 'font-weight: bold' }
  What interests you?
.landing-box-container
  .landing-box{ data: { link: share_path } }
    .landing-face.landing-back
      .landing-box-header= link_to 'Sharing', share_path
      %p
        Share your research data on the NSRR.
    .landing-face.landing-front.landing-face-share
      .landing-box-header= link_to 'Sharing', share_path
      %p.center
        %i.fa.fa-handshake-o.icon-lg{ aria: { hidden: 'true' } }
  - if false
    .landing-box{ data: { link: datasets_path(ages: '0-17') } }
      .landing-face.landing-back
        .landing-box-header= link_to 'Children', datasets_path(ages: '0-17')
        %p
          Research participants under the age of 18.
      .landing-face.landing-front
        .landing-box-header= link_to 'Children', datasets_path(ages: '0-17')
        %p.center.nowrap{ style: 'line-height: 120px' }
          %i.fa.fa-child.icon-child-sm{ aria: { hidden: 'true' } }
          %i.fa.fa-child.icon-child-md{ aria: { hidden: 'true' } }
          %i.fa.fa-child.icon-child-lg{ aria: { hidden: 'true' } }
    .landing-box{ data: { link: datasets_path(ages: '18-90') } }
      .landing-face.landing-back
        .landing-box-header= link_to 'Adults', datasets_path(ages: '18-90')
        %p
          Research participants ages 18 and up.
      .landing-face.landing-front
        .landing-box-header= link_to 'Adults', datasets_path(ages: '18-90')
        %p.center.nowrap
          %i.fa.fa-male.icon-lg{ aria: { hidden: 'true' } }
          %i.fa.fa-female.icon-lg{ aria: { hidden: 'true' } }
  .landing-box{ data: { link: datasets_path } }
    .landing-face.landing-back
      .landing-box-header= link_to 'Datasets', datasets_path
      %p
        Demographics, anthropometry, questionnaires, outcomes, and more.
    .landing-face.landing-front
      .landing-box-header= link_to 'Datasets', datasets_path
      %p.center
        %i.fa.fa-table.icon-lg{ aria: { hidden: 'true' } }
  .landing-box{ data: { link: datasets_path(data: 'actigraphy') } }
    .landing-face.landing-back
      .landing-box-header= link_to 'Actigraphy', datasets_path(data: 'actigraphy')
      %p
        Minute-by-minute activity data collected on wearable watches and similar
        devices.
    .landing-face.landing-front
      .landing-box-header= link_to 'Actigraphy', datasets_path(data: 'actigraphy')
      %p.center
        %i.fa.fa-clock-o.icon-lg{ aria: { hidden: 'true' } }
  .landing-box{ data: { link: datasets_path(data: 'polysomnography') } }
    .landing-face.landing-back
      .landing-box-header= link_to 'Polysomnography', datasets_path(data: 'polysomnography')
      %p
        Raw signals comprised of EEGs, ECGs, oxygen, and position channels.
    .landing-face.landing-front
      .landing-box-header= link_to 'Polysomnography', datasets_path(data: 'polysomnography')
      %p.center
        %i.fa.fa-heartbeat.icon-lg{ aria: { hidden: 'true' } }

.landing-sentence{ style: 'font-weight: normal;' }
  Not sure?
  %br.hidden-sm.hidden-md.hidden-lg
  View our
  = link_to 'most popular', datasets_path(order: 'datasets.rating desc')
  datasets.

- content_for :call_to_action do
  .container{ style: 'margin-bottom: 20px;' }
    %h3{ style: 'font-weight: bold' } Tools
    .hidden-xs.hidden-sm.pull-right
      .landing-sentence{ style: 'text-align: left;font-weight: normal;' }
        Know of another great tool?
        = link_to 'Tell us about it.', contribute_tool_start_path

    .landing-sentence{ style: 'text-align: left;font-weight: normal;' }
      Want to do more with the data?

    .landing-tool-box.box-shadow
      .landing-tool-right
        .landing-tool-icon
          %i.fa.fa-line-chart{ aria: { hidden: 'true' } }
      .landing-tool-left
        .landing-tool-header
          EDF Visualization
        .landing-tool-links
          - edf_viewer_tools = [['EDF Viewer', community_show_tool_path('nsrr-edf-viewer')], ['EDFbrowser', community_show_tool_path('teuniz-edfbrowser')], ['Polyman', community_show_tool_path('physionet-polyman')], ['Altamira', community_show_tool_path('remomueller-altamira')]]
          - edf_viewer_tools.each_with_index do |(name, url), index|
            = link_to name, url
            - if index < edf_viewer_tools.count - 1
              %br.hidden-sm.hidden-md.hidden-lg
              %span.hidden-xs &middot;
    .landing-tool-box.box-shadow
      .landing-tool-right
        .landing-tool-icon
          %i.fa.fa-heartbeat{ aria: { hidden: 'true' } }
      .landing-tool-left
        .landing-tool-header
          Signal Processing
        .landing-tool-links
          - signal_tools = [['Data Chromatix', community_show_tool_path('saramariani-data-chromatix')], ['HRV Toolkit', community_show_tool_path('physionet-hrv-toolkit')], ['SpectralTrainFig', community_show_tool_path('nsrr-spectraltrainfig')], ['SpiSOP', community_show_tool_path('frederikdweber-spisop')]]
          - signal_tools.each_with_index do |(name, url), index|
            = link_to name, url
            - if index < signal_tools.count - 1
              %br.hidden-sm.hidden-md.hidden-lg
              %span.hidden-xs &middot;
    .landing-tool-box.box-shadow
      .landing-tool-right
        .landing-tool-icon
          %i.fa.fa-graduation-cap{ aria: { hidden: 'true' } }
      .landing-tool-left
        .landing-tool-header
          Learn
        .landing-tool-links
          - tutorials = CommunityTool.current.where(published: true, tag_tutorial: true).order('rating desc nulls last').limit(3)
          - tutorials.each do |community_tool|
            %div
              = link_to community_tool.name, community_show_tool_path(community_tool)
              - if community_tool.rating
                %small.text-muted= community_tool.rating.round(1)
                %i.fa.fa-star.text-warning{ aria: { hidden: 'true' } }


    .landing-sentence.hidden-md.hidden-lg{ style: 'text-align: left;font-weight: normal;' }
      Know of another great tool?
      %br.hidden-sm.hidden-md.hidden-lg
      = link_to 'Tell us about it.', contribute_tool_start_path

  .landing-news-container
    .container
      %h3{ style: 'font-weight: bold' } News
      = render 'blog/landing_blog'

  .landing-sentence.landing-sentence-gradient
    .container
      An
      = link_to 'NHLBI', 'https://www.ncbi.nlm.nih.gov/pubmed/27070134', class: 'brand'
      resource for the sleep research community.
  .landing-stats{ style: 'padding-bottom: 20px;' }
    .container{ style: 'padding: 20px;' }
      .row
        .col-sm-3
          .center
            %span.glyphicon.glyphicon-hdd.icon-xl
        .col-sm-3
          - total_stored = DatasetFile.current.where(is_file: true).sum(:file_size)
          .center.hidden-sm.hidden-md.hidden-lg
            %h1.brand= number_to_human_size total_stored
            Stored on the Resource
          .hidden-xs
            %h1.brand= number_to_human_size total_stored
            Stored on the Resource
        .col-sm-3.hidden-xs
          - quarter = Quarter.order(regular_total_file_size: :desc).first
          .center.hidden-sm.hidden-md.hidden-lg
            %h1.brand
              - if quarter
                = number_to_human_size quarter.regular_total_file_size, precision: 0, significant: false
              - else
                0 MB
            Shared with Researchers
          .hidden-xs.text-right
            %h1.brand
              - if quarter
                = number_to_human_size quarter.regular_total_file_size, precision: 0, significant: false
              - else
                0 MB
            Shared with Researchers
        .col-sm-3.hidden-xs
          .center
            %span.glyphicon.glyphicon-globe.icon-xl
