- content_for :header_old do
  .logo-header
    .call-to-action
      .call-to-action-header.brand
        National Sleep Research Resource
      .call-to-action-body
        Free research data and tools.

- content_for :body_class do
  brand-background

%h3.center{ style: 'font-weight: bold' }
  What interests you?
.landing-box-container
  .landing-box
    .landing-face.landing-back
      .landing-box-header= link_to 'Children', datasets_path(ages: '0-17')
      %p
        Browse data collected on infants, children, and adolescents.
    .landing-face.landing-front
      .landing-box-header= link_to 'Children', datasets_path(ages: '0-17')
      %p.center.nowrap{ style: 'line-height: 120px' }
        %i.fa.fa-child.icon-child-sm{ aria: { hidden: 'true' } }
        %i.fa.fa-child.icon-child-md{ aria: { hidden: 'true' } }
        %i.fa.fa-child.icon-child-lg{ aria: { hidden: 'true' } }
  .landing-box
    .landing-face.landing-back
      .landing-box-header= link_to 'Adults', datasets_path(ages: '18-90')
      %p
        Browse data collected on participants ages 18 and up.
    .landing-face.landing-front
      .landing-box-header= link_to 'Adults', datasets_path(ages: '18-90')
      %p.center.nowrap
        %i.fa.fa-male.icon-lg{ aria: { hidden: 'true' } }
        %i.fa.fa-female.icon-lg{ aria: { hidden: 'true' } }
  .landing-box
    .landing-face.landing-back
      .landing-box-header= link_to 'Phenotypes', datasets_path(data: 'phenotypes')
      %p
        Browse data from questionnaires and standardized instruments with
        associated data dictionaries.
    .landing-face.landing-front
      .landing-box-header= link_to 'Phenotypes', datasets_path(data: 'phenotypes')
      %p.center
        %i.fa.fa-table.icon-lg{ aria: { hidden: 'true' } }
  .landing-box
    .landing-face.landing-back
      .landing-box-header= link_to 'Actigraphy', datasets_path(data: 'actigraphy')
      %p
        Browse minute-by-minute activity data collected on wearable watches and
        similar devices.
    .landing-face.landing-front
      .landing-box-header= link_to 'Actigraphy', datasets_path(data: 'actigraphy')
      %p.center
        %i.fa.fa-clock-o.icon-lg{ aria: { hidden: 'true' } }
  .landing-box
    .landing-face.landing-back
      .landing-box-header= link_to 'Polysomnography', datasets_path(data: 'polysomnography')
      %p
        Browse raw signals comprised of EEGs, ECGs, oxygen, and position
        channels.
    .landing-face.landing-front
      .landing-box-header= link_to 'Polysomnography', datasets_path(data: 'polysomnography')
      %p.center
        %i.fa.fa-heartbeat.icon-lg{ aria: { hidden: 'true' } }

.landing-sentence{ style: 'font-weight: normal;' }
  Not sure?
  %br.hidden-sm.hidden-md.hidden-lg
  View our
  = link_to 'most popular', datasets_path(order: 'datasets.rating desc')
  datasets.

- content_for :call_to_action do
  .container{ style: 'margin-bottom: 20px;' }
    %h3{ style: 'font-weight: bold' } Tools
    .hidden-xs.hidden-sm.pull-right
      .landing-sentence{ style: 'text-align: left;font-weight: normal;' }
        Know of another great tool?
        = link_to 'Tell us about it.', contribute_tool_start_path

    .landing-sentence{ style: 'text-align: left;font-weight: normal;' }
      Want to do more with the data?

    .box-shadow{ style: 'font-size: 18px;background-color: #c8e6c9;padding: 20px;margin-bottom: 10px;position: relative;overflow: hidden; padding-right: 100px;' }
      %div{ style: 'position: absolute;right: 0; top: 0;' }
        %i.fa.fa-line-chart{ aria: { hidden: 'true' }, style: 'font-size: 100px;color: #e8f5e9;' }
      %div{ style: 'font-weight: bold;font-variant: small-caps;margin-bottom: 10px;' }
        EDF Visualization
      %div{ style: 'margin-left: 20px;' }
        - edf_viewer_tools = [['EDF Viewer', community_show_tool_path('edf-viewer')], ['EDFbrowser', 'http://www.teuniz.net/edfbrowser/'], ['Polyman', 'https://www.physionet.org/pn4/sleep-edfx/Polyman/'], ['Altamira', community_show_tool_path('altamira')]]
        - edf_viewer_tools.each_with_index do |(name, url), index|
          = link_to name, url
          - if index < edf_viewer_tools.count - 1
            %br.hidden-sm.hidden-md.hidden-lg
            %span.hidden-xs &middot;
    .box-shadow{ style: 'font-size: 18px;background-color: #c8e6c9;padding: 20px;margin-bottom: 10px;position: relative;overflow: hidden; padding-right: 100px;' }
      %div{ style: 'position: absolute;right: -57px; top: -34px;' }
        %i.fa.fa-heartbeat{ aria: { hidden: 'true' }, style: 'font-size: 168px;color: #e8f5e9;' }

      %div{ style: 'font-weight: bold;font-variant: small-caps;margin-bottom: 10px;' }
        Signal Processing
      %div{ style: 'margin-left: 20px;' }
        - signal_tools = [['Data Chromatix', community_show_tool_path('data-chromatix')], ['HRV Toolkit', community_show_tool_path('hrv-toolkit')], ['SpectralTrainFig', community_show_tool_path('spectraltrainfig')], ['SpiSOP', community_show_tool_path('spisop')]]
        - signal_tools.each_with_index do |(name, url), index|
          = link_to name, url
          - if index < signal_tools.count - 1
            %br.hidden-sm.hidden-md.hidden-lg
            %span.hidden-xs &middot;

    .box-shadow{ style: 'font-size: 18px;background-color: #c8e6c9;padding: 20px;margin-bottom: 10px;position: relative;overflow: hidden; padding-right: 100px;' }
      %div{ style: 'position: absolute;right: -20px; top: 0;' }
        %i.fa.fa-graduation-cap{ aria: { hidden: 'true' }, style: 'font-size: 100px;color: #e8f5e9;' }

      %div{ style: 'font-weight: bold;font-variant: small-caps;margin-bottom: 10px;' }
        Learn
      %div{ style: 'margin-left: 20px;' }
        - tutorials = CommunityTool.current.where(published: true, tag_tutorial: true).order('rating desc nulls last').limit(3)
        - tutorials.each do |community_tool|
          %div
            = link_to community_tool.name, community_show_tool_path(community_tool)
            - if community_tool.rating
              %small.text-muted= community_tool.rating.round(1)
              %i.fa.fa-star.text-warning{ aria: { hidden: 'true' } }

    .landing-sentence.hidden-md.hidden-lg{ style: 'text-align: left;font-weight: normal;' }
      Know of another great tool?
      %br.hidden-sm.hidden-md.hidden-lg
      = link_to 'Tell us about it.', contribute_tool_start_path


      - if false
        .landing-box-container
          .landing-box
            .landing-face.landing-face-unstyled
              .landing-box-header EDF Visualization
              %ul.list-unstyled
                %li.nowrap.overflow-hidden Altamira
                %li.nowrap.overflow-hidden EDF Viewer
                %li.nowrap.overflow-hidden
                  = link_to 'https://www.physionet.org/pn4/sleep-edfx/Polyman/' do
                    Polyman
                    %span.glyphicon.glyphicon-new-window
                %li.nowrap.overflow-hidden
                  = link_to 'http://www.teuniz.net/edfbrowser/' do
                    EDFbrowser
                    %span.glyphicon.glyphicon-new-window
          .landing-box
            .landing-face.landing-face-unstyled
              .landing-box-header Signal Processing
              %ul.list-unstyled
                %li.nowrap.overflow-hidden SpiSOP
                %li.nowrap.overflow-hidden Data Chromatix
                %li.nowrap.overflow-hidden SpectralTrainFig

          .landing-box
            .landing-face.landing-face-unstyled
              .landing-box-header Popular
              %ul.list-unstyled
                - CommunityTool.current.where(published: true).where.not(rating: nil).order('rating desc nulls last').limit(3).each do |community_tool|
                  %li.nowrap.overflow-hidden= link_to community_tool.name, community_show_tool_path(community_tool)

          .landing-box
            .landing-face.landing-face-unstyled
              .landing-box-header Newest
              %ul.list-unstyled
                - CommunityTool.current.where(published: true).order(publish_date: :desc).limit(3).each do |community_tool|
                  %li.nowrap.overflow-hidden= link_to community_tool.name, community_show_tool_path(community_tool)

          .landing-box
            .landing-face.landing-face-unstyled
              .landing-box-header Tutorials
              %ul.list-unstyled
                %li.nowrap.overflow-hidden= link_to 'Get Started Scripting', community_show_tool_path('ruby-scripts-tutorial-01')
                %li.nowrap.overflow-hidden= link_to 'All Tutorials', tools_path(type: 'tutorial')



  %div{ style: 'background-color: #e8f5e9;margin-bottom: 20px;' }
    .container
      %h3{ style: 'font-weight: bold' } News
      = render 'blog/landing_blog'

  .landing-sentence.landing-sentence-gradient
    .container
      An
      = link_to 'NHLBI', 'https://www.ncbi.nlm.nih.gov/pubmed/27070134', class: 'brand'
      resource for the sleep research community.
  .landing-stats{ style: 'padding-bottom: 20px;' }
    .container{ style: 'padding: 20px;' }
      .row
        .col-sm-3
          .center
            %span.glyphicon.glyphicon-hdd.icon-xl
        .col-sm-3
          - total_stored = DatasetFile.current.where(is_file: true).sum(:file_size)
          .center.hidden-sm.hidden-md.hidden-lg
            %h1.brand= number_to_human_size total_stored
            Stored on the Resource
          .hidden-xs
            %h1.brand= number_to_human_size total_stored
            Stored on the Resource
        .col-sm-3.hidden-xs
          .center.hidden-sm.hidden-md.hidden-lg
            %h1.brand 60 TB
            Shared with Researchers
          .hidden-xs{ style: 'text-align: right;'}
            %h1.brand 60 TB
            Shared with Researchers
        .col-sm-3.hidden-xs
          .center
            %span.glyphicon.glyphicon-globe.icon-xl
