- content_for :header do
  .logo-header
    .call-to-action
      .call-to-action-header.brand
        National Sleep Research Resource
      .call-to-action-body
        Explore a rich collection of sleep research data collected in children and
        adults across the U.S.

.row
  .col-md-9

    = render 'external/datasets'

    = render 'external/variables'

    = render 'external/tools'

  .col-md-3
    = render 'news/news'

- content_for :call_to_action do
  .call-to-action
    .call-to-action-header
      Start your
      research
      today!

    - if current_user
      .call-to-action-body
        You will need a completed Data Access and Use Agreement to download data.

      %div.center{ style: 'margin-top:20px;margin-bottom:20px' }
        = link_to 'My DAUAs', submissions_path, class: 'btn btn-call-to-action btn-lg'
    - else
      .call-to-action-body
        You will need an account and a completed Data Access and Use Agreement to download data.

      %div.center{ style: 'margin-top:20px;margin-bottom:20px' }
        = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-call-to-action btn-lg'
