- render "themes/theme"

.d-flex.align-items-center.bg-landing
  .container.text-center
    %h1.landing-title.mb-3
      .animated-letter.animation-delay-1> N
      .animated-letter-grey.animation-delay-6 ational
      %span
      .animated-letter.animation-delay-2> S
      .animated-letter-grey.animation-delay-6 leep
      %br.d-block.d-sm-none
      .animated-letter.animation-delay-3>R
      .animated-letter-grey.animation-delay-6 esearch
      %span
      .animated-letter.animation-delay-4>R
      .animated-letter-grey.animation-delay-6 esource
    .landing-text
      .animated-letter-grey.animation-delay-10 Free research data and tools.

#top-menu.top-menu= render "layouts/menu"

.page-box
  -if false
    .container.mb-3
      %h4 Latest announcements
      %li
        =link_to "Upcoming NSRR webinar on Multipaper Spectogram Analysis of Sleep EEG", "https://eristest6.partners.org/nhlbi-continues-its-support-of-the-national-sleep-research-resource/", title: "Upcoming NSRR webinar on Multipaper Spectogram Analysis of Sleep EEG"
        (September 2, 2020)
  .container
    %h4 Data
    = render "external/what_interests_you"

  .container
    %h4 Blog
    = render "blog/landing_blog"

.background-p100-grey.pt-5
  .container
    .landing-sentence{ style: "font-weight: normal;" }
      An
      = link_to "NHLBI", "https://www.nhlbi.nih.gov"
      resource for the sleep research community.

  .container
    .row
      .col-md-3
        .text-center
          = icon("fas", "hdd", class: "icon-xl")
      .col-md-3
        - total_stored = DatasetFile.current.where(is_file: true).sum(:file_size)
        .text-center.d-block.d-md-none
          %h1= number_to_human_size total_stored
          Stored on the Resource
        .d-none.d-md-block
          %h1.mt-4= number_to_human_size total_stored
          Stored on the Resource
      .col-md-3.d-none.d-md-block
        - month = QuarterMonth.order(regular_total_file_size: :desc).first
        .d-none.d-md-block.text-right
          %h1.mt-4
            - if month
              = number_to_human_size month.regular_total_file_size, precision: 0, significant: false
            - else
              0 MB
          Shared with Researchers
      .col-md-3.d-none.d-md-block
        .text-center
          = icon("fas", "globe-americas", class: "icon-xl")
