.background-fixed-image.background-fixed-image-fixed-height
  .color-overlay.center-both{ style: "height: 100%;" }
    .container.text-center
      %h1.landing-title.mb-3
        National Sleep
        %br.d-block.d-sm-none
        Research Resource
      .landing-text Free research data and tools.

#top-menu= render "layouts/menu"

.page-box.background-p50-grey
  .container
    %h3.text-center What interests you?
    = render "external/what_interests_you"

  .container
    = render "external/tools"

  .container
    %h3{ style: "font-weight: bold" } News
    = render "blog/landing_blog"

.background-p100-grey.pt-5
  .container
    .landing-sentence{ style: "font-weight: normal;" }
      An
      = link_to 'NHLBI', 'https://www.ncbi.nlm.nih.gov/pubmed/27070134', class: 'brand'
      resource for the sleep research community.

  .container
    .row
      .col-sm-3
        .text-center
          %i.fa.fa-hdd-o.icon-xl
      .col-sm-3
        - total_stored = DatasetFile.current.where(is_file: true).sum(:file_size)
        .text-center.d-block.d-sm-none
          %h1= number_to_human_size total_stored
          Stored on the Resource
        .d-none.d-sm-block
          %h1.mt-4= number_to_human_size total_stored
          Stored on the Resource
      .col-sm-3.d-none.d-sm-block
        - quarter = Quarter.order(regular_total_file_size: :desc).first
        .d-none.d-sm-block.text-right
          %h1.mt-4
            - if quarter
              = number_to_human_size quarter.regular_total_file_size, precision: 0, significant: false
            - else
              0 MB
          Shared with Researchers
      .col-sm-3.d-none.d-sm-block
        .text-center
          %i.fa.fa-globe.icon-xl
