- render "themes/theme"

.d-flex.align-items-center.bg-landing
  .container.text-center
    %h1.landing-title.mb-3
      .animated-letter.animation-delay-1> N
      .animated-letter-grey.animation-delay-6 ational
      %span
      .animated-letter.animation-delay-2> S
      .animated-letter-grey.animation-delay-6 leep
      %br.d-block.d-sm-none
      .animated-letter.animation-delay-3>R
      .animated-letter-grey.animation-delay-6 esearch
      %span
      .animated-letter.animation-delay-4>R
      .animated-letter-grey.animation-delay-6 esource
    .landing-text
      .animated-letter-grey.animation-delay-10 Free research data and tools.

#top-menu.top-menu= render "layouts/menu"

.page-box
  - if @announcements.present?
    .container
      %h4 Latest announcements
      .dashboard-container.p-3
        - @announcements.each do |announcement|
          .d-flex.announcement
            .mr-3= icon("fas", "scroll")
            %div= simple_markdown(announcement.description, target_blank: false)

  .container
    %h4 Download and Share Datasets
    = render "external/what_interests_you"

  .container
    %h4 Blog
    = render "blog/landing_blog"

.background-p100-grey.pt-5
  .container
    .landing-sentence{ style: "font-weight: normal;" }
      An
      = link_to "NHLBI", "https://www.nhlbi.nih.gov"
      resource for the sleep research community.

  .container
    .row
      .col-lg-4
        .d-flex.flex-column.flex-lg-row
          .mr-3.text-center
            = icon("fas", "users", class: "icon-xl d-none d-lg-block")
            = icon("fas", "users", class: "icon-lg d-block d-lg-none")
          .d-block.d-lg-none
            .text-center
              %h1= number_with_delimiter Dataset.released.sum(:subjects)
              Subjects
          .d-none.d-lg-block
            %h1.mt-4= number_with_delimiter Dataset.released.sum(:subjects)
            Subjects
      .col-lg-4
        - total_stored = DatasetFile.current.where(is_file: true).sum(:file_size)
        .d-flex.flex-column.flex-lg-row
          .mr-3.text-center
            = icon("fas", "hdd", class: "icon-xl d-none d-lg-block")
            = icon("fas", "hdd", class: "icon-lg d-block d-lg-none")
          .d-block.d-lg-none
            .text-center
              %h1= number_to_human_size total_stored
              Stored on the Resource
          .d-none.d-lg-block
            %h1.mt-4= number_to_human_size total_stored
            Stored on the Resource

      .col-lg-4.d-none.d-lg-block
        - month = QuarterMonth.order(regular_total_file_size: :desc).first
        .d-flex.flex-column.flex-lg-row
          .mr-3.text-center
            = icon("fas", "globe-americas", class: "icon-xl d-none d-lg-block")
            = icon("fas", "globe-americas", class: "icon-lg d-block d-lg-none")
          .d-block.d-lg-none
            .text-center
              %h1
                - if month
                  = number_to_human_size month.regular_total_file_size, precision: 0, significant: false
                - else
                  0 MB
              Shared with Researchers
          .d-none.d-lg-block
            %h1.mt-4
              - if month
                = number_to_human_size month.regular_total_file_size, precision: 0, significant: false
              - else
                0 MB
            Shared with Researchers
