- @title = "Share Your Data on the NSRR"
- @keywords = "share sleep data, data archive, data dissemination, reproducibility, share datasets online, free online data sharing, contribute data, data resource, data research warehouse, submit datasets"

- render "themes/theme"
- @footer = "dark"

.page-box.last-box.d-flex.align-items-center.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container.d-flex.flex-column.align-items-center
    .dashboard-container{ style: "max-width: 40rem;" }
      .about-header= @title

      .about-section
        %p
          The National Sleep Research Resource (NSRR) is an NHLBI-funded
          resource designed to host and share data from major sleep cohort
          studies and clinical trials. We welcome contributions from researchers
          in sleep medicine and related disciplines. The NSRR provides all data
          cost-free to incoming users who complete an online data request. Any
          and all data - retrospective and prospective - are welcome on the
          NSRR.

        %p
          All shared study data must be de-identified using the
          = link_to "HIPAA Safe Harbor method", "https://www.hhs.gov/hipaa/for-professionals/privacy/special-topics/de-identification/index.html"
          and must adhere to the data sharing language stated in the participant
          informed consent. Records and files from participants who did not consent to
          data sharing must be redacted before submitting to the NSRR.
        %p
          The NSRR creates a unique space to share and link covariate data, complex
          physiological data, and quantitative signal (e.g. EEG, ECG) processing
          results. The NSRR team will guide you through the process of preparing and
          uploading your datasets to the NSRR.

        %p
          Uploading data to the NSRR satisfies requirements of the
          = succeed "." do
            = link_to "NIH Data Sharing Policy", "https://grants.nih.gov/grants/policy/data_sharing/"
          For future grants, please consider including
          = link_to "data sharing language", datasharing_path
          that mentions the NSRR.

      .about-section
        %p
          %strong What you will do:
        %ul
          %li Compile documentation (e.g. manuals, questionnaires) about your data
          %li Prepare final datasets with data dictionaries and descriptions
          %li Remove all identifiers from dataset and raw data files
          %li Upload files to NSRR through Secure File Transfer Protocol (SFTP)

        %p
          %strong What we will do:
        %ul
          %li Assist you during each step of the submission process
          %li Review uploaded data to ensure all identifiers have been removed
          %li Establish an institutional data use agreement (if needed)
          %li Ensure that only the users you want to access your data receive access
          %li Create a repository for your dataset to organize documentation and data files
          %li Write a blog post to advertise your dataset
          %li Provide periodic updates on usage of your dataset

        - url = "https://tryslice.io/survey/nsrr-data-sharing-request"
        %p
          To begin the data submission process, please submit
          = succeed "." do
            = link_to "this form", url
          An NSRR representative will contact you within two business days.

    = link_to url, class: "btn btn-lg btn-primary btn-shadow" do
      Start sharing
      = icon("fas", "caret-right")
