- @title = "Site Map"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.about-section-title
  Overview

.dashboard-container
  .row
    .col-md-3
      %strong
        Team
      %ul
        %li= link_to "About the Resource", about_path
        %li= link_to "Team", team_path
        %li= link_to "Academic User Group", aug_path
        %li= link_to "Past Contributors", contributors_path
    .col-md-3
      %strong
        News
      %ul
        %li= link_to "Blog", blog_path
    .col-md-3
      %strong
        Learn
      %ul
        %li= link_to "Demo", demo_path
        %li= link_to "Showcase", showcase_path
    .col-md-3
      %strong
        Support
      %ul
        %li= link_to "Contact Us", contact_path
        %li= link_to "Forum", topics_path

.about-section-title
  Resources

.dashboard-container
  .row
    .col-md-6
      %strong
        = link_to "Datasets", datasets_path
      %ul
        - Dataset.released.order(:name).each do |dataset|
          %li= link_to dataset.name, dataset
    .col-md-6
      %strong
        = link_to "Tools", tools_path
      %ul
        - CommunityTool.current.where(published: true).order(Arel.sql("LOWER(community_tools.name)")).each do |community_tool|
          %li= link_to community_tool.name, tool_path(community_tool)


.about-section-title
  Account

.dashboard-container
  .row
    .col-md-6
      %strong
        New Account
      %ul
        %li= link_to "Register a New Account", new_user_registration_path

    .col-md-6
      %strong
        My Account
      %ul
        %li= link_to "My Dashboard", dashboard_path
        %li= link_to "My Data Requests", data_requests_path
        %li= link_to "Update My Profile", settings_path
        %li= link_to "Change My Username", settings_profile_path
        %li= link_to "Change/Reset My Password", current_user ? settings_account_path : new_user_password_path
        %li= link_to "Change My Email Address", settings_email_path
        %li= link_to "Delete My Account", settings_account_path
