- unless reply.deleted?
  %span.float-right{ id: "reply-#{reply.id}-vote" }
    = render "replies/vote", reply: reply, just_voted: just_voted
.nowrap.overflow-hidden
  - if reply.below_threshold?
    = link_to "[+]", "#", data: { object: "toggle-reply" }, style: "text-decoration: none;", class: "text-muted"
  - else
    = link_to "[-]", "#", data: { object: "toggle-reply" }, style: "text-decoration: none;", class: "text-muted"
  - if reply.deleted?
    %small
      %i.text-muted [deleted]
  - else
    - if reply.parent_author?
      %small
        %i.fa.fa-pencil-square.text-dark{ rel: "tooltip", data: { title: "Topic Author", container: "body" } }
    .d-inline.d-md-none= profile_picture_tag reply.user, size: 16, style: "max-height:#{16+3}px;border-radius:4px"
    -# TODO: Create member paths for forum users?
    =# link_to reply.user.forum_name, member_path(reply.user.forum_name)
    = reply.user.forum_name
  %span.text-muted{ id: "reply-#{reply.id}-points", style: "font-size: 60%" }
    = render "replies/points", reply: reply
