- @title = "Edit Legal Document: #{@legal_document.name_was}"

- render "themes/theme"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @legal_document.name_was

- content_for :breadcrumbs do
  %ol
    %li= link_to @organization.name, @organization
    %li= link_to "Legal Docs", [@organization, :legal_documents]
    %li= link_to @legal_document.name_was, [@organization, @legal_document]
    %li Edit

.dashboard-container= render "legal_documents/form", legal_document: @legal_document
