- @title = @legal_document.name

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title
  .breadcrumb-container.mb-0.p-2
    .container
      %ol
        %li= link_to @organization.slug.upcase, @organization
        %li= link_to "Legal Docs", organization_legal_documents_path(@organization)
        %li= link_to @legal_document.name, [@organization, @legal_document]
        %li
          .dropdown.dropdown-sm.d-inline-block
            = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
              .d-inline-block.d-sm-none
                %i.fa.fa-cog
              .d-none.d-sm-inline-block Actions
              %strong.caret

            .dropdown-menu
              = link_to organization_legal_document_legal_document_pages_path(@organization, @legal_document), class: "dropdown-item" do
                %i.fa.fa-file-text-o
                Pages
              = link_to edit_organization_legal_document_path(@organization, @legal_document), class: "dropdown-item" do
                %i.fa.fa-pencil
                Edit
              .dropdown-divider
              = link_to [@organization, @legal_document], method: :delete, data: { confirm: "Delete #{@legal_document.name}?" }, class: "dropdown-item text-danger" do
                %i.fa.fa-trash
                Delete

= render "forms/horizontal/show/text", object: @legal_document, key: :name
= render "forms/horizontal/show/text", object: @legal_document, key: :slug
= render "forms/horizontal/show/text", object: @legal_document, key: :commercial_type_name, key_name: "Commerical type"
= render "forms/horizontal/show/text", object: @legal_document, key: :data_user_type_name, key_name: "Data user type"
= render "forms/horizontal/show/text", object: @legal_document, key: :attestation_type_name, key_name: "Attestation type"
= render "forms/horizontal/show/text", object: @legal_document, key: :approval_process_name, key_name: "Approval process"

.row
  #legal-document-preview.col-12.col-md
    - @legal_document.legal_document_pages.each do |legal_document_page|
      %div{ id: "legal-document-page-#{legal_document_page.id}" }= render "legal_document_pages/preview", legal_document_page: legal_document_page
  #legal-document-variable.col-12.col-md.d-none
