- if user.username.blank?
  - username = User.suggest_username(Time.zone.now.usec.to_s)
  - username = User.suggest_username(Time.zone.now.usec.to_s) if User.find_by(username: username).present?
  - help_text = "Great usernames are short and fun. How about #{link_to(username, "#", data: { object: "select-username", username: username }, tabindex: "-1")}?".html_safe
= render "forms/vertical/text_field", form: form, object: user, key: :username, id: true, placeholder: "Pick a username", help_text: help_text

= render "forms/vertical/email_field", form: form, object: user, key: :email, placeholder: "you@example.com"

= render "forms/vertical/password_field", form: form, object: user, key: :password, placeholder: "Create a password", autocomplete: "new-password"

.form-group.submit-btn-container
  = form.submit "Next step", class: "btn btn-primary btn-block btn-shadow"
