%p{ style: p_style }
  Dear
  = succeed ',' do
    = @agreement.user.first_name

%p{ style: p_style }
  Your Data Access and Use Agreement submission has been
  = succeed '.' do
    %span{ style: success_style } approved

%p{ style: p_style }
  You can now start exploring available data here:

%p{ style: center_style }
  = link_to "#{ENV['website_url']}/datasets", "#{ENV['website_url']}/datasets", style: link_style

%p{ style: p_style }
  You can reply directly to this email if you have any questions.
