%p{ style: p_style }
  Dear
  = succeed "," do
    = @reviewer.username
%p{ style: p_style }
  = @agreement.user.username
  = surround "[", "]" do
    = mail_to @agreement.user.email, @agreement.user.email, style: link_style
  %span{ style: emphasis_style }
    - if @agreement.resubmitted?
      resubmitted
    - else
      submitted
  a data request.

%p{ style: center_style }
  = link_to "Review Data Request", "#{ENV["website_url"]}/reviews/#{@agreement.to_param}", style: link_style
