%p{ style: p_style }
  Dear
  = succeed ',' do
    = @reviewer.first_name
%p{ style: p_style }
  = @agreement.user.name
  = surround '[', ']' do
    = mail_to @agreement.user.email, @agreement.user.email, style: link_style
  %span{ style: default_style } submitted
  a Data Access and Use Agreement.

%p{ style: p_style }
  You can review the Data Access and Use Agreement here:

%p{ style: center_style }
  = link_to "#{ENV['website_url']}/reviews/#{@agreement.id}", "#{ENV['website_url']}/reviews/#{@agreement.id}", style: link_style
