<b>Dear <%= @admin.first_name %>,</b><br />
<br />


<% case @agreement.status when 'approved' %>
<%= @agreement.user.name %>'s DAUA has been <span style="padding:5px;background-color:#4bbf74;color:white">approved</span> by <%= @last_user.name if @last_user %>.<br />

<% when 'resubmit' %>

<%= @agreement.user.name %> has been asked to <span style="padding:5px;background-color:#d9534f;color:white">resubmit</span> the DAUA by <%= @last_user.name if @last_user %>.<br /><br />

<blockquote style="font-style: italic;"><%= @agreement.comments %></blockquote>
<% else %>
  <%= @agreement.user.name %>'s DAUA status has been changed to <span style="padding:5px;background-color:#999;color:white"><%= @agreement.status %></span> by <%= @last_user.name if @last_user %>.<br />
<% end %>
<br />
You can review the DAUA here:<br />
<br />
<center><%= link_to "#{ENV['website_url']}/reviews/#{@agreement.id}", "#{ENV['website_url']}/reviews/#{@agreement.id}", style: "color: #428bca;" %></center><br />
