%p{ style: p_style }
  Dear
  = succeed "," do
    = @admin.username

- case @agreement.status when "approved"
  %p{ style: p_style }
    = succeed "'s" do
      = @agreement.user.username
    data request has been
    %span{ style: success_style } approved
    by
    = succeed "." do
      = @agreement_event.user.username if @agreement_event.user
- when "resubmit"
  %p{ style: p_style }
    = @agreement.user.username
    has been asked to
    %span{ style: danger_style } resubmit
    the data request
    by
    = succeed "." do
      = @agreement_event.user.username if @agreement_event.user

  %blockquote{ style: blockquote_style }= simple_markdown(@agreement.comments)
- else
  %p{ style: p_style }
    = succeed "'s" do
      = @agreement.user.username
    data request status has been changed to
    %span{ style: default_style }= @agreement.status
    by
    = succeed "." do
      = @agreement_event.user.username if @agreement_event.user

%p{ style: p_style }
  You can review the data request here:

%p{ style: center_style }
  = link_to "Review data request", "#{ENV["website_url"]}/reviews/#{@agreement.to_param}", style: link_style
