%p{ style: p_style }
  Dear
  = succeed ',' do
    = @agreement.user.first_name

%p{ style: p_style }
  Your Data Access and Use Agreement has been signed by
  = succeed ',' do
    %strong= @agreement.duly_authorized_representative_signature_print
  your Duly Authorized Representative.

%p{ style: p_style }
  You can now finalize and submit your Data Access and Use Agreement here:

%p{ style: center_style }
  = link_to 'Continue Submission', "#{ENV['website_url']}/agreements/#{@agreement.to_param}/step?step=4", style: link_style

%p{ style: p_style }
  You can reply directly to this email if you have any questions.
