%p{ style: p_style }
  Dear NSRR Team,

%p{ style: p_style }
  = @hosting_request.user.name
  = surround '[', ']' do
    = mail_to @hosting_request.user.email, @hosting_request.user.email, style: link_style
  %span{ style: default_style } submitted
  a Dataset Hosting Request.

%p{ style: p_style }
  You can view the Dataset Hosting Request here:

%p{ style: center_style }
  = link_to "#{ENV['website_url']}/hosting-requests/#{@hosting_request.id}", "#{ENV['website_url']}/hosting-requests/#{@hosting_request.id}", style: link_style
