%p{ style: p_style }
  Dear NSRR Team,

%p{ style: p_style }
  = @hosting_request.user.username
  = surround '[', ']' do
    = mail_to @hosting_request.user.email, @hosting_request.user.email, style: link_style
  %span{ style: default_style } submitted
  a Dataset Hosting Request.

%blockquote{ style: blockquote_style }
  %p{ style: p_style }= @hosting_request.institution_name
  = simple_markdown(@hosting_request.description)

%p{ style: center_style }
  = link_to 'View Hosting Request', "#{ENV["website_url"]}/hosting-requests/#{@hosting_request.id}", style: link_style
