%p{ style: p_style }
  Dear
  = succeed "," do
    = @user.username

%p{ style: p_style }
  = @agreement_event.user.username
  %span{ style: default_style } mentioned
  you while reviewing a data request.

%table{ style: "width:100%;border:0px;border-collapse:collapse;margin:0px;padding:0px;color:#505050;font-family:Arial;font-size:14px;" }
  %tbody
    %tr
      %td{ colspan: 3, style: "border-top:1px solid #ddd;" }
    %tr
      %td{ colspan: 3, style: "text-align:left;padding-top:10px;padding-right:20px;padding-bottom:10px;" }
        %b= link_to @agreement_event.agreement.name, "#{ENV["website_url"]}/reviews/#{@agreement_event.agreement.to_param}", style: link_style
    %tr= render "digest_review_comment"
    %tr
      %td{ colspan: 3, style: "padding-bottom:10px" }
    %tr
      %td{ colspan: 3, style: "padding-bottom:10px" }

%p{ style: center_style }
  = link_to "View Data Request", "#{ENV["website_url"]}/reviews/#{@agreement_event.agreement.to_param}#c#{@agreement_event.number}", style: link_style
