<%= render partial: 'email_header' %>

<b>Dear <%= @user.first_name %>,</b><br />
<br />
<%= @agreement_event.user.name %> <span style="padding:5px;background-color:#428bca;color:white">mentioned</span> you while reviewing an agreement.<br />
<br />
  <table style="width:100%;border:0px;border-collapse:collapse;margin:0px;padding:0px;color:#505050;font-family:Arial;font-size:14px;">
    <tbody>
      <tr><td colspan="3" style="border-top:1px solid #ddd;"></td></tr>
      <tr>
        <td colspan="3" style="text-align:left;padding-top:10px;padding-right:20px;padding-bottom:10px;">
          <b><%= link_to @agreement_event.agreement.name_with_id, "#{SITE_URL}/reviews/#{@agreement_event.agreement.to_param}", style: "color: #428bca;" %></b>
        </td>
      </tr>
      <tr><%= render partial: 'digest_review_comment' %></tr>
      <tr><td colspan="3" style="padding-bottom:10px"></td></tr>
      <tr><td colspan="3" style="padding-bottom:10px"></td></tr>
    </tbody>
  </table>

<br />
<center><%= link_to "#{SITE_URL}/reviews/#{@agreement_event.agreement.to_param}", "#{SITE_URL}/reviews/#{@agreement_event.agreement.to_param}#c#{@agreement_event.number}", style: "color: #428bca" %></center><br />

<%= render partial: 'email_footer' %>
