%p{ style: p_style }
  Dear
  = succeed ',' do
    = @user.first_name

%p{ style: p_style }
  Someone posted a reply to the following topic:

%p{ style: center_style }
  = link_to @post.topic.title, "#{ENV['website_url']}/forum/#{@post.topic.to_param}/comments/#{@post.to_param}", style: link_style

%p{ style: p_style }
  = succeed ':' do
    %strong
      = @post.user.forum_name
  = strip_tags(simple_markdown @post.description).truncate(100, separator: ' ').html_safe
  = link_to "Post ##{@post.number}", "#{ENV['website_url']}/forum/#{@post.topic.to_param}/comments/#{@post.to_param}", style: link_style

%p{ style: p_style }
  %i{ style: 'color:#777' }
    You may also
    = link_to 'visit the topic', "#{ENV['website_url']}/forum/#{@post.topic.to_param}/comments/#{@post.to_param}", style: link_style
    to unsubscribe and stop receiving future replies to this topic.

