<%= render partial: 'email_header' %>

<b>Dear <%= @user.first_name %>,</b><br />
<br />

The following agreements are awaiting your review. Please click on each and then approve or reject the agreement.<br />
<br />

<% if @user.digest_reviews.size > 0 %>
  <table style="width:100%;border:0px;border-collapse:collapse;margin:0px;padding:0px;color:#505050;font-family:Arial;font-size:14px;">
    <thead>
      <tr style="text-align:left">
        <th colspan="2" style="padding-bottom:10px;font-weight:normal">
          <span style="padding:5px;background-color:#428bca;color:white">Agreements</span>
        </th>
        <th style="text-align:right">Last Submitted</th>
      </tr>
    </thead>
    <% @user.digest_reviews.each_with_index do |review, index| %>
      <tbody style="<%= 'background-color: #fbfbfb' if index % 2 == 0 %>">
        <tr><td colspan="3" style="border-top:1px solid #ddd;"></td></tr>
        <tr>
          <td colspan="2" style="text-align:left;padding-top:10px;padding-right:20px;padding-bottom:10px;">
            <b><%= link_to review.agreement.name_with_id, "#{SITE_URL}/reviews/#{review.agreement.to_param}", style: "color: #428bca;" %></b>
          </td>
          <td style="text-align:right"><%= review.agreement.last_submitted_at.strftime("%-d %B %Y") if review.agreement.last_submitted_at %></td>
        </tr>
        <% if false %>
        <% comments.sort_by(&:id).each do |comment| %>
          <tr><%= @comment = comment; render partial: 'digest_comment' %></tr>
        <% end %>
        <% end %>
        <tr><td colspan="3" style="padding-bottom:10px"></td></tr>
        <tr><td colspan="3" style="padding-bottom:10px"></td></tr>
      </tbody>
    <% end %>
  </table>
<% end %>

<br />
<center><%= link_to "#{SITE_URL}/reviews", "#{SITE_URL}/reviews", style: "color: #428bca" %></center><br />


<%= render partial: 'email_footer' %>
