Dear
= succeed ',' do
  = @agreement.user.first_name
%br
%br
Your Data Access and Use Agreement submission was missing required information.
%br
%br
%blockquote= @agreement.comments
%br
Please review the above comments, make the appropriate changes, and resubmit your DAUA here:

%center
  = link_to "#{ENV['website_url']}/daua", "#{ENV['website_url']}/daua", style: 'color: #428bca'
%br
%br
You can reply directly to this email if you have any questions.
