<%= form_for [@topic, @comment], html: { class: 'form-horizontal', style: 'margin-top:-31px;margin-left:-1px' } do |f| %>
  <div class="form-group">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#edit-<%= @comment.id %>" data-toggle="tab">Edit</a></li>
      <li><a href="#preview-<%= @comment.id %>" data-toggle="tab" data-topic-id="<%= @topic.to_param %>" data-object="preview-comment" data-comment-id="<%= @comment.id %>">Preview</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="edit-<%= @comment.id %>" style="padding-top:23px;padding-left:20px;padding-right:20px">
        <%= f.text_area :description, rows: 7, class: 'form-control', id: "comment_description_#{@comment.id}", data: { object: 'text-area-autocomplete', mentions: User.current.pluck(:username).reject(&:blank?).uniq.sort } %>
      </div>
      <div class="tab-pane" id="preview-<%= @comment.id %>" style="min-height:177px;padding: 30px 15px 15px 15px;">

      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <% button_text = @comment.new_record? ? 'Comment' : 'Update' %>
      <%= f.submit button_text, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
<% end %>
