%a.anchor-top{ name: "c#{number}" }
- if comment.banned_or_deleted?
  .comment-outer
    .comment-left-fixed
    .comment-right-fluid
      .comment-icon
        %span.glyphicon.glyphicon-list-alt
      .comment-action
        %small.text-muted Comment Deleted
- else
  .comment-outer{ data: { comment_id: comment.id } }
    .comment-left-fixed
      = image_tag comment.user.avatar_url(48, 'identicon'), size: '48x48', alt: ''
    .comment-right-fluid
      .comment-box
        .comment-header
          %strong= comment.user.forum_name
          commented
          %abbr{ rel: 'tooltip', data: { title: comment.created_at.strftime('%-d %b %Y, %-l:%M %p'), container: 'body', placement: 'right' } }
            = time_ago_in_words comment.created_at
            ago
          - if comment.user.core_member?
            %span.post-footer{ style: 'padding-left:5px; height: 0' }
              %span.core-member.nowrap{ style: 'position: relative; border-radius: 4px;' } Core Member
          - elsif comment.user.aug_member?
            %span.post-footer{ style: 'padding-left:5px; height: 0' }
              %span.aug-member.nowrap{ style: 'position: relative; border-radius: 4px;' } AUG Member
          .pull-right
            - if current_user && comment.editable_by?(current_user)
              = succeed ' ' do
                = link_to edit_topic_comment_path(comment.topic, comment, number: number), remote: true, class: 'btn btn-xs btn-default' do
                  %span.glyphicon.glyphicon-pencil
            - if current_user && comment.deletable_by?(current_user)
              %span{ id: "comment-#{comment.id}-request-delete" }
                = link_to '#', class: 'btn btn-xs btn-danger-inverse', data: { object: 'toggle-delete-buttons', target_show: "#comment-#{comment.id}-confirm-delete", target_hide: "#comment-#{comment.id}-request-delete" } do
                  %span.glyphicon.glyphicon-trash
              %span{ id: "comment-#{comment.id}-confirm-delete", style: 'display:none' }
                = link_to 'Cancel', '#', class: 'btn btn-xs btn-default', data: { object: 'toggle-delete-buttons', target_show: "#comment-#{comment.id}-request-delete", target_hide: "#comment-#{comment.id}-confirm-delete" }
                = link_to 'Confirm Delete', [comment.topic, comment], method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse'
            = link_to "##{number}", "#c#{number}", class: 'btn btn-link btn-xs'
        .comment-body
          = render 'comments/formatted', comment: comment
