- @title = "My Dashboard"
- content_for :right_drawer, render("internal/sidebar/blog_posts")

- data_request_approved = current_user.data_requests.not_expired.where(status: "approved").order(id: :desc).first
- current_data_request = current_user.data_requests.where(status: %w(started resubmit)).order(id: :desc).first
- if data_request_approved || current_data_request
  %h1.dashboard-heading
    = @title
  - if current_data_request
    .mb-3= render "data_requests/show", data_request: current_data_request
  - if data_request_approved
    .mb-3= render "data_requests/show", data_request: data_request_approved
- else
  .dashboard-container
    .dashboard-title
      %strong= @title
    %p
      Access data by requesting access to one or more
      = succeed "." do
        = link_to "datasets", datasets_path
    %p
      If you need any help, you may send us an email at
      = succeed "." do
        = mail_to ENV["support_email"]

.text-center.small.mb-3= link_to "view all data requests", data_requests_path, class: "btn btn-primary btn-sm"

.dashboard-container
  .text-center.lead
    Email us at
    = mail_to ENV["support_email"]
    with any questions!
