- content_for :body_class do
  gray-background

.row
  .col-md-3
    .profile-container
      .profile-top
        .profile-image-container
          = image_tag current_user.avatar_url(100, 'identicon'), size: '100x100', class: 'profile-image', alt: ''
      .profile-bottom
        .center{ style: 'font-weight: 600;margin-bottom: 10px' }= current_user.name
        %p{ style: 'font-weight: 300; margin-bottom: 0' }
          Researcher
        %div
          .award.award-gold
          5
          .award.award-silver
          30
          .award.award-bronze
          20
    - if current_user.community_manager? || current_user.system_admin?
      .dashboard-container
        .dashboard-title
          %strong Admin Area
        - if current_user.community_manager?
          %p
            = link_to 'Manage Blog Posts', broadcasts_path
        - if current_user.system_admin?
          %p
            = link_to 'Admin Dashboard', admin_path
    .dashboard-container
      .dashboard-title
        %strong Datasets
        &middot;
        %small= link_to 'View All', datasets_path
      - current_user.all_viewable_datasets.order(:release_date, :name).each do |d|
        %table.table-fixed{ style: 'width: 100%;' }
          %tr
            %td{ style: 'padding:4px' }= d.slug.upcase
            %td{ style: 'padding:4px' }= render 'datasets/request', dataset: d, expanded: false


  .col-md-6
    .dashboard-container
      .dashboard-title
        %strong Personal Dashboard
      %p
        Welcome to your personal dashboard! From here you can view and manage your
        dataset requests and download files, contribute new tools for research, and
        announce your publications to the NSRR community.
      %p
        If you need any help, you may send us an email at
        = succeed '.' do
          = mail_to 'support@sleepdata.org'
        Thanks for being part of our growing community!

    .dashboard-container
      .dashboard-title
        %strong Tool Contributions
    .dashboard-container
      .dashboard-title
        %strong Publications
    .dashboard-container
      .dashboard-title
        %strong Favorited Variables
    .dashboard-container
      .dashboard-title
        %strong My Forum Posts/Topics
  .col-md-3
    .dashboard-container.dashboard-notification
      .dashboard-title
        %strong Notifications
      %p Your DAUA has been updated!
      %p Someone replied to your forum post!
      %p You tool has been accepted!
      %p Your DAUA will expire soon!
      %p Your access token updated recently!

    .dashboard-container
      .dashboard-title
        %strong NSRR Blog
        &middot;
        %small= link_to 'View All', blog_path

      %div{ style: 'margin-bottom: -20px' }
        - @broadcasts = Broadcast.current.published.order(publish_date: :desc).limit(3).each_with_index do |broadcast, index|
          - unless index == 0
            %div{ style: 'border-bottom: 1px solid #ccc; margin-left: -20px; margin-right: -20px' }
          %div{ style: 'margin-top: 10px;' }
            - if broadcast.image.size > 0
              = link_to blog_post_path(broadcast) do
                / .center{ style: 'overflow: hidden; margin-left: -20px; margin-right: -20px; max-height: 150px;margin-bottom: 10px' }
                /=# image_tag blog_post_image_path(broadcast), style: 'width: 100%'
                .center{ style: 'overflow: hidden;max-height: 140px;margin-bottom: 10px;padding-top: 10px;' }
                  = image_tag blog_post_image_path(broadcast), style: 'width: 100%;'
                  =# image_tag blog_post_image_path(broadcast), style: 'max-width:100%;max-height:140px'
            %div{ style: 'margin-bottom: 10px' }
              %strong= link_to broadcast.title, blog_post_path(broadcast)
