- content_for :body_class do
  gray-background

.row
  .col-md-3
    = render 'internal/profile'

    = render 'internal/sidebar/admin'

    = render 'internal/sidebar/datasets'


  .col-md-6
    .dashboard-container
      .dashboard-title
        %strong Personal Dashboard
      %p
        Welcome to your personal dashboard! From here you can view and manage your
        dataset requests and download files, contribute new tools for research, and
        announce your publications to the NSRR community.
      %p
        If you need any help, you may send us an email at
        = succeed '.' do
          = mail_to 'support@sleepdata.org'
        Thanks for being part of our growing community!

    .dashboard-container
      .dashboard-title
        %strong Tool Contributions
      - if current_user.community_tools.present?
        %table.table.table-fixed
          %thead
            %tr
              %th
                Name
              %th
                Actions
          - current_user.community_tools.each do |community_tool|
            %tr
              %td{ style: 'overflow:hidden;text-overflow: ellipsis;'}
                - if %w(started submitted).include?(community_tool.status)
                  - name = (community_tool.name.present? ? community_tool.name : community_tool.url)
                  = link_to_if community_tool.safe_url?, name, community_tool.url, target: '_blank'
                - elsif community_tool.status == 'accepted'
                  = link_to community_tool.name, community_show_tool_path(community_tool)
              %td
                - if community_tool.started?
                  = link_to 'Continue Submission', contribute_tool_description_path(community_tool), class: "btn btn-xs btn-call-to-info btn-block"
                - elsif community_tool.status == 'submitted'
                  = link_to 'Under Review', contribute_tool_submitted_path, class: "btn btn-xs btn-call-to-default btn-block"
                - elsif community_tool.status == 'accepted'
                  .row
                    .col-xs-6{ style: 'padding-right: 1px;' }
                      = link_to 'View', community_show_tool_path(community_tool), class: "btn btn-xs btn-call-to-action btn-block"
                    .col-xs-6{ style: 'padding-left: 1px;' }
                      = link_to 'Edit', contribute_tool_description_path(community_tool), class: "btn btn-xs btn-call-to-action btn-block"
    .dashboard-container
      .dashboard-title
        %strong Publications
    .dashboard-container
      .dashboard-title
        %strong Favorited Variables
    .dashboard-container
      .dashboard-title
        %strong My Forum Posts/Topics
  .col-md-3
    = render 'internal/sidebar/notifications'

    = render 'internal/sidebar/blog_posts'
