- content_for :body_class do
  gray-background

.row
  .col-md-3
    = render 'internal/profile'

    = render 'internal/sidebar/admin'

    = render 'internal/sidebar/datasets'


  .col-md-6
    .dashboard-container
      .dashboard-title
        %strong Personal Dashboard
      %p
        Welcome to your personal dashboard! From here you can view and manage
        your dataset requests and download files, and contribute new tools for
        research.
      %p
        If you need any help, you may send us an email at
        = succeed '.' do
          = mail_to 'support@sleepdata.org'
        Thanks for being part of our growing community!

    .dashboard-container
      .dashboard-title
        %strong DAUAs
      - if current_user.agreements.present?
        %table.table
          %col{ width: '1px' }
          %col
          %col
          %thead
            %tr
              %th Status
              %th
                Name
              %th.center
                Datasets
          - current_user.agreements.order(id: :desc).each do |agreement|
            %tr
              %td
                - if agreement.under_review?
                  %span.label.label-warning under review
                - elsif agreement.approved?
                  %span.label.label-success approved
                - elsif agreement.status == 'expired'
                  %span.label.label-default expired
                - elsif agreement.status == 'closed'
                  %span.label.label-danger closed
                - else
                  %span.label.label-info started

              %td.nowrap
                = link_to submissions_path do
                  Agreement
                  = "##{agreement.agreement_number}"
              %td
                - agreement.datasets.order(:release_date).each do |dataset|
                  %code= dataset.slug
      - else
        %p Do you have a tool you would like to share with the NSRR research community?

      = link_to 'Manage My DAUAs', submissions_path, class: 'btn btn-xs btn-call-to-action btn-block'

    .dashboard-container
      .dashboard-title
        %strong Tool Contributions
      - if current_user.community_tools.present?
        %table.table.table-fixed
          %thead
            %tr
              %th
                Name
              %th.center
                Actions
          - current_user.community_tools.order(:name).each do |community_tool|
            %tr
              %td{ style: 'overflow:hidden;text-overflow: ellipsis;'}
                - if community_tool.draft?
                  - name = (community_tool.name.present? ? community_tool.name : community_tool.url)
                  = name
                - else
                  = link_to community_tool.name, community_show_tool_path(community_tool)
              %td
                - if community_tool.draft?
                  = link_to 'Continue Draft', contribute_tool_description_path(community_tool), class: "btn btn-xs btn-call-to-info btn-block"
                - else
                  .row
                    .col-xs-6{ style: 'padding-right: 1px;' }
                      = link_to 'View', community_show_tool_path(community_tool), class: "btn btn-xs btn-call-to-action btn-block"
                    .col-xs-6{ style: 'padding-left: 1px;' }
                      = link_to 'Edit', contribute_tool_description_path(community_tool), class: "btn btn-xs btn-call-to-action btn-block"
      - else
        %p Do you have a tool you would like to share with the NSRR research community?

      = link_to 'Contribute a Tool', contribute_tool_start_path, class: 'btn btn-xs btn-call-to-action btn-block'


    - if false
      .dashboard-container
        .dashboard-title
          %strong Publications
      .dashboard-container
        .dashboard-title
          %strong Favorited Variables
      .dashboard-container
        .dashboard-title
          %strong My Forum Posts/Topics
  .col-md-3
    = render 'internal/sidebar/blog_posts'
