- content_for :body_class do
  brand-background

.row
  .col-md-3
    = render 'internal/profile'

  .col-md-9
    .dashboard-container
      .dashboard-title
        %strong Dataset Access Requests
      %p
        Welcome to your dataset access overview page. From here you can request
        access to new datasets, review and print existing agreements, or
        submit and complete a newly started agreement.
      %p
        If you need any help, you may send us an email at
        = succeed '.' do
          = mail_to 'support@sleepdata.org'

      = link_to 'Start A New Data Access Request', submissions_start_path, class: 'btn btn-primary btn-block'


    - current_user.agreements.order(id: :desc).each do |agreement|
      .dashboard-container
        .dashboard-title
          %strong
            Agreement
            = precede '#' do
              = agreement.agreement_number

          = link_to print_agreement_path(agreement), class: 'btn btn-xs btn-default', data: { turbolinks: false } do
            %span.glyphicon.glyphicon-print
            Print

        %table.table.table-striped
          - if agreement.under_review?
            %tr
              %td.text-right
                %strong Status
              %td
                This submission is currently
                = succeed '.' do
                  %strong under review
          - elsif agreement.approved?
            %tr
              %td.text-right
                %strong Status
              %td
                Your data access request was
                = succeed '.' do
                  %strong approved
                  = agreement.approval_date.strftime('on %-d %B %Y') if agreement.approval_date
            %tr
              %td.text-right
                %strong Status
              %td
                - if agreement.expiration_date
                  This agreement expires
                  = succeed '.' do
                    = agreement.expiration_date.strftime('on %-d %B %Y')
          - elsif agreement.status == 'expired'
            %tr
              %td.text-right
                %strong Status
              %td
                Your data access request
                = succeed '.' do
                  %strong expired
                  = agreement.expiration_date.strftime(' on %-d %B %Y') if agreement.expiration_date
                = link_to renew_agreement_path(agreement) do
                  Renew
                  %span.glyphicon.glyphicon-arrow-right
          - elsif agreement.status == 'closed'
            %tr
              %td.text-right
                %strong Status
              %td
                Your data access request has been
                = succeed '.' do
                  %strong closed
            %tr
              %td.text-right
                %strong Actions
              %td
                = link_to destroy_submission_agreement_path(agreement), class: 'btn btn-xs btn-danger-inverse', method: :delete, data: { confirm: "Are you sure you want to delete Agreement ##{agreement.agreement_number}?" } do
                  %span.glyphicon.glyphicon-trash
                  Delete
          - else
            %tr
              %td.text-right
                %strong Status
              %td
                Started
            %tr
              %td.text-right
                %strong Steps
              %td
                - (1..6).each do |step|
                  - current_step = (step == 1 ? 2 : agreement.current_step)
                  = link_to step, step_agreement_path(agreement, step: step), class: "btn btn-#{step_helper(agreement, step, current_step)}"
            %tr
              %td.text-right
                %strong Actions
              %td
                - if agreement.fully_filled_out?
                  = link_to proof_agreement_path(agreement), class: 'btn btn-xs btn-success' do
                    Continue
                    %span.glyphicon.glyphicon-arrow-right
                - else
                  = link_to step_agreement_path(agreement, step: agreement.current_step), class: 'btn btn-xs btn-success' do
                    Continue
                    %span.glyphicon.glyphicon-arrow-right
                &nbsp;
                = link_to destroy_submission_agreement_path(agreement), class: 'btn btn-xs btn-danger-inverse', method: :delete, data: { confirm: "Are you sure you want to delete Agreement ##{agreement.agreement_number}?" } do
                  %span.glyphicon.glyphicon-trash
                  Delete

          - if agreement.datasets.count > 0
            %tr
              %td.text-right
                %strong Datasets
              %td
                - agreement.datasets.order(:release_date).each do |dataset|
                  = dataset.slug
          - if agreement.under_review? || agreement.approved? || agreement.status == 'expired'
            %tr
              - if agreement.resubmitted_at
                %td.text-right
                  %strong Resubmitted
                %td
                  = agreement.resubmitted_at.strftime("%-d %B %Y, %-l:%M %p (%H:%M)")
              - elsif agreement.submitted_at
                %td.text-right
                  %strong Submitted
                %td
                  = agreement.submitted_at.strftime("%-d %B %Y, %-l:%M %p (%H:%M)")

        - if agreement.status == 'resubmit'
          %p.text-danger
            = agreement.comments

        - unless agreement.specific_purpose.blank?
          %p.text-muted
            %strong= agreement.title_of_project
            %br
            = agreement.specific_purpose
