.dashboard-container
  .dashboard-title
    %strong Tool Contributions
  - if current_user.tools.present?
    %table.table.table-striped.table-borderless.table-hover
      %thead
        %tr
          %th
            Name
          %th.text-center
            Actions
      - current_user.tools.order(:name).each do |tool|
        %tr
          %td{ style: "overflow:hidden;text-overflow: ellipsis;"}
            - if tool.draft?
              - name = (tool.name.present? ? tool.name : tool.url)
              = name
            - else
              = link_to tool.name, tool_path(tool)
          %td
            - if tool.draft?
              = link_to "Continue Draft", contribute_tool_description_path(tool), class: "btn btn-sm btn-primary btn-block"
            - else
              = link_to "Edit", contribute_tool_description_path(tool), class: "btn btn-sm btn-light btn-block"
  - else
    %p Do you have a tool you would like to share with the NSRR research community?

  = link_to "Contribute a Tool", contribute_tool_start_path, class: "btn btn-sm btn-primary btn-block btn-shadow"
