- @title = [params[:search], "Search"].reject(&:blank?).join(" - ")
- @menu_title = ["Search", params[:search]].reject(&:blank?).join(" ")

- content_for :header, "Search"

= form_with url: search_path, method: :get, local: true, id: "search-form", class: "mb-3", skip_enforcing_utf8: true do |form|
  .input-group
    = form.text_field :search, value: params[:search], class: "form-control", placeholder: "Search...", autocomplete: "off", autofocus: params[:search].blank?
    %span.input-group-append
      = link_to "#", class: "btn btn-primary", data: { object: "submit-and-disable", target: "#search-form" } do
        %i.fa.fa-search

- @highlight_found = true
- if [0, 1].include?(params[:page].to_i)
  - if /share|sharing|upload|submit|submission/ =~ params[:search].to_s
    = render "search/highlights/share"
  - elsif /fair|find|access|interoper|usable|useable/ =~ params[:search].to_s
    = render "search/highlights/fair"
  - elsif /shhs|sleep|heart/ =~ params[:search].to_s
    = render "search/highlights/shhs"
  - else
    - @highlight_found = false
- else
  - @highlight_found = false

- if @search_documents.present?
  - @search_documents.each do |document|
    .dashboard-container
      - case document.searchable.class.to_s when "Broadcast"
        = render "search/broadcast", broadcast: document.searchable
      - when "Topic"
        = render "search/topic", topic: document.searchable
      - when "Tool"
        = render "search/tool", tool: document.searchable
      - when "Reply"
        = render "search/reply", reply: document.searchable
      - when "Variable"
        = render "search/variable", variable: document.searchable
  .center-horizontally= paginate @search_documents, theme: "bootstrap"
- elsif @highlight_found
  -# Nothing
- else
  .jumbotron.jumbotron-custom-text
    %i.fa.fa-clone.mr-1
    - if params[:search].present?
      No results found.
      = link_to "Start over", search_path
    - else
      Type a search above.
