- @title = [params[:search], "Search"].reject(&:blank?).join(" - ")
- @menu_title = ["Search", params[:search]].reject(&:blank?).join(" ")

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        Search

= form_tag search_path, method: :get, id: "search-form", class: "mb-5" do
  .input-group
    = text_field_tag :search, params[:search], class: "form-control", placeholder: "Search...", autocomplete: "off", autofocus: true
    %span.input-group-btn
      = link_to "#", class: "btn btn-primary", data: { object: "submit-and-disable", target: "#search-form" } do
        %i.fa.fa-search

- @highlight_found = true
- if [0, 1].include?(params[:page].to_i)
  - if /share|sharing|upload/ =~ params[:search].to_s
    = render "search/highlights/share"
  - elsif /fair|find|access|interoper|usable|useable/ =~ params[:search].to_s
    = render "search/highlights/fair"
  - elsif /shhs|sleep|heart/ =~ params[:search].to_s
    = render "search/highlights/shhs"
  - else
    - @highlight_found = false
- else
  - @highlight_found = false

- if @search_documents.present?
  - @search_documents.each do |document|
    .dashboard-container
      - case document.searchable.class.to_s when "Broadcast"
        = render "search/broadcast", broadcast: document.searchable
      - when "Topic"
        = render "search/topic", topic: document.searchable
      - when "Reply"
        = render "search/reply", reply: document.searchable
      - when "Variable"
        = render "search/variable", variable: document.searchable
  .center-horizontally= paginate @search_documents, theme: "bootstrap"
- elsif @highlight_found
  -# Nothing
- else
  %p.lead.text-center
    - if params[:search].present?
      No Search Results Found
    - else
      Type a search above.
