- @title = [params[:search], "Search"].reject(&:blank?).join(" - ")
- @menu_title = ["Search", params[:search]].reject(&:blank?).join(" ")

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        Search
        - if params[:search].present?
          %span.badge.badge-light{ data: { object: "show-search-bar" }, style: "cursor: pointer;text-shadow: none;" }= params[:search]

.row
  .col-md-9
    - if @search_documents.present?
      - @search_documents.each do |document|
        .dashboard-container
          - case document.searchable.class.to_s when "Broadcast"
            = render "search/broadcast", broadcast: document.searchable
          - when "Topic"
            = render "search/topic", topic: document.searchable
          - when "Reply"
            = render "search/reply", reply: document.searchable
      .center-horizontally= paginate @search_documents, theme: "bootstrap"
    - else
      %p.lead.text-center
        No Search Results Found
      %p.lead.text-center
        You may
        = link_to "modify your search", "#", data: { object: "show-search-bar" }
        or return to
        = succeed "." do
          = link_to "our blog", blog_path
  .col-md-3.col-buffer
    .menu-sticky= render "blog/menu"
