- pages = folder.pages.published

- if pages.count == 1
  = render "menu/item", title: folder.name, path: pages.first
- elsif pages.count > 1
  %li.nav-item.dropdown.d-none.d-lg-block
    .btn-group
      = link_to "#", class: "nav-link dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do
        = folder.name
      .dropdown-menu.dropdown-menu-custom
        .dropdown-menu-custom-inner
          - pages.each do |page|
            = link_to page, class: "dropdown-item" do
              = page.title

  .d-block.d-lg-none
    %li.nav-item
      %a.nav-link.disabled{ href: "#" }= folder.name
      - pages.each do |page|
        %li.nav-item.pl-3{ class: current_page?(page) ? "active" : nil }
          = link_to page.title, page, class: "nav-link"
          - if current_page?(page)
            %span.sr-only (current)
