- (text, url, icon, arrow, status) = data_access(dataset)

.d-inline-block.d-md-none.small= icon
= link_to url, style: "text-decoration: none;" do
  %small= text
  = icon("fas", "caret-right", class: "small") if arrow
.d-none.d-md-inline-block.small= icon
