<div class="row">
  <% @datasets.each do |dataset| %>
    <div class="col-xs-12 col-sm-6 col-md-4 ">
      <div class="panel panel-<%= dataset.release_date && dataset.release_date <= Date.today ? 'success' : 'default' %>">
        <div class="panel-heading" style="overflow:hidden">
          <h3 class="panel-title" style="white-space:nowrap"><%= link_to dataset.name, dataset %></h3>
        </div>
        <div class="panel-body">
          <div style="text-align:center;background-color:white;padding-bottom:5px;height:145px;line-height:145px">
            <% if dataset.logo.size > 0 %>
              <%= link_to image_tag( logo_dataset_path(dataset), style: 'max-width:100%;max-height:140px' ), dataset %>
            <% else %>
              <%= link_to image_tag( 'project-default-logo.png', style: 'max-width:100%;max-height:140px' ), dataset %>
            <% end %>
          </div>
        </div>
        <div class="panel-footer" style="text-align:center;white-space:nowrap;overflow:hidden">
          <% if dataset.release_date and dataset.release_date <= Date.today %>
            <%= link_to 'Data Available Now!', dataset %>
          <% elsif dataset.release_date %>
            <%= link_to "Coming #{dataset.release_date.strftime("%B %e, %Y")}", dataset %>
          <% else %>
            <%= link_to 'Preview', dataset %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="center"><%= paginate @datasets, theme: "contour" %></div>
