<% indexed_files = @dataset.indexed_files(path, page+1) %>
<% if indexed_files.size == 0 %>
  <%= render partial: 'datasets/nofiles', locals: { path: path } %>
<% else %>
  <div class="file-list-container" style="background-color:white">
    <table class="table table-condensed table-hover" style="margin-bottom:0px"><col width="1px" />
      <% indexed_files.each do |folder, file_name, is_file, file_size, file_time| %>
        <% is_public = @dataset.public_file?(folder) %>
        <% url = files_dataset_path( @dataset ) + "#{'/m/browser' if is_file}" + '/' + folder %>
        <tr class="<%= 'warning' if file_name == params[:f] %>">
          <td><span class="glyphicon glyphicon-<%= is_file ? 'file' : 'folder-close' %>"></span></td>
          <td>
            <%= link_to_if (!is_file || is_public || @dataset.grants_file_access_to?(current_user)), file_name, url, data: { object: "#{'autodownload' if is_file and file_name == params[:f]}" } %>
            <% if ENV['altamira_url'].present? and /\.edf$/i =~ file_name and is_file and (is_public or @dataset.grants_file_access_to?(current_user)) %>
              <%= link_to '<span class="glyphicon glyphicon-eye-open"></span> Preview Online'.html_safe, "#{ENV['altamira_url']}?slug=#{@dataset.slug}&path=#{[path, file_name].join('/')}&auto=.", class: "btn btn-xs btn-default" %>
            <% end %>
          </td>
          <td><%= file_time if is_file %></td>
          <td style="text-align:right">
            <%= number_to_human_size(file_size) if is_file %>
            <% if is_file %>
              <% if is_public %>
                <span class="glyphicon glyphicon-globe"></span>
              <% end %>

              <% if current_user and @dataset.editors.pluck(:id).include?(current_user.id) %>
                <%= link_to '<span class="glyphicon glyphicon-globe"></span>'.html_safe, set_public_file_dataset_path(@dataset, public: '1', path: folder ), method: :post unless is_public %>
                <%= link_to '<span class="glyphicon glyphicon-eye-close"></span>'.html_safe, set_public_file_dataset_path(@dataset, public: '0', path: folder ), method: :post if is_public %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<% if @dataset.grants_file_access_to?(current_user) %>
  <%= render partial: 'datasets/download_command' %>
<% else %>
  <div class="welcome-box welcome-even" style="margin-top:0px">
    <div class="jumbotron" style="margin-bottom:0px;padding:20px 0px 0px 0px">
      <% agreements = (current_user ? @dataset.agreements.where( user_id: current_user.id ) : Agreement.none) %>
      <% if agreements.count == 0 %>
        <p class="lead">
          In order for us to provide you direct downloads to files, you will need to
          <% if current_user %>
            <%= link_to 'Fill out a Data Access and Use Agreement', submissions_path, class: 'btn btn-lg btn-success' %>.
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-success' %> and then fill out a Data Access and Use Agreement.
          <% end %>
        </p>
      <% elsif agreement = agreements.where( status: 'submitted' ).first %>
        <p class="lead">We are currently reviewing your <%= status_helper(agreement) %> <%= link_to 'DAUA', submissions_path %>.</p>
        <p class="lead">Please contact us directly at <%= link_to 'support@sleepdata.org', 'mailto:support@sleepdata.org' %> with any questions.</p>
      <% elsif agreement = agreements.where( status: 'resubmit' ).first %>
        <p class="lead">You are required to <%= status_helper(agreement) %> your DAUA.</p>
        <p class="lead">Please make the changes requested by the reviewer and <%= link_to 'resubmit your DAUA', submissions_path %>.</p>
      <% elsif agreement = agreements.expired.first %>
        <% agreement.update status: 'expired' %>
        <p class="lead">Your DAUA is <%= status_helper(agreement) %>.</p>
        <p class="lead">You will need to <%= link_to 'renew your DAUA', submissions_path %> to continue downloading files.</p>
      <% else agreement = agreements.where( status: ['', 'started', nil] ).first %>
        <p class="lead">You have <%= status_helper(agreement) %> filling out a
          <% if agreement.fully_filled_out? %>
            <%= link_to 'DAUA', proof_agreement_path(agreement) %>.
          <% else %>
            <%= link_to 'DAUA', step_agreement_path(agreement, step: agreement.current_step) %>.
          <% end %></p>
        <p class="lead">Please contact us directly at <%= link_to 'support@sleepdata.org', 'mailto:support@sleepdata.org' %> with any questions regarding the process.</p>
      <% end %>
    </div>
  </div>
<% end %>
