<% Dataset::FILES_PER_PAGE %>
<% page = [params[:page].to_i - 1, 0].max %>

<% indexed_files = @dataset.indexed_files(path, page+1) %>
<% file_count = @dataset.indexed_files(path, 0) %>

<% if file_count > Dataset::FILES_PER_PAGE %>
<% upto_file_number = page*Dataset::FILES_PER_PAGE+Dataset::FILES_PER_PAGE - 1 + 1 %>
<div class="pull-right">
  <ul class="pagination pagination-sm" style="margin-top:3px;margin-bottom:0px;margin-right:3px">
    <% if page > 0 %>
      <li><%= link_to '&laquo;'.html_safe, files_dataset_path( @dataset ) + '/' + path.to_s + "#{page > 1 ? "?page=#{page}" : ""}"  %></li>
    <% else %>
      <li class="disabled"><span>&laquo;</span></li>
    <% end %>
    <li>
      <span>
        <b style="font-size:0.95em"><%= number_with_delimiter( page*Dataset::FILES_PER_PAGE + 1 ) %> to <%= number_with_delimiter [upto_file_number, file_count].min %></b>
        of <%= number_with_delimiter file_count %>
      </span>
    </li>
    <% if upto_file_number < file_count %>
      <li><%= link_to '&raquo;'.html_safe, files_dataset_path( @dataset ) + '/' + path.to_s + "?page=#{page+2}"  %></li>
    <% else %>
      <li class="disabled"><span>&raquo;</span></li>
    <% end %>
  </ul>
</div>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to @dataset.slug, files_dataset_path(@dataset) %></li>
  <li class="<%= 'active' unless path.blank? %>"><%= link_to_if !path.blank?, 'files', files_dataset_path(@dataset) %></li>
  <% unless path.blank? %>
    <% path.to_s.split('/')[0..-2].each_with_index do |folder, index| %>
      <% url = files_dataset_path( @dataset ) + '/' + path.to_s.split('/')[0..index].join('/') %>
      <li><%= link_to folder, url %></li>
    <% end %>
    <li class="active"><%= path.to_s.split('/').last %></li>
  <% end %>
</ol>

<div class="file-list-container">
  <table class="table table-condensed table-hover" style="margin-bottom:0px"><col width="1px" />
    <% indexed_files.each do |folder, file_name, is_file, file_size, file_time| %>
      <%# is_file = File.file?(file) %>
      <%# folder = @dataset.file_path(file) %>
      <% url = files_dataset_path( @dataset ) + "#{'/m/browser' if is_file}" + '/' + folder %>
      <%# file_size = File.size(file) %>
      <tr>
        <td><span class="glyphicon glyphicon-<%= is_file ? 'file' : 'folder-close' %>"></span></td>
        <td><%= link_to_if (!is_file || @dataset.grants_file_access_to?(current_user)), file_name, url %></td>
        <td><%= file_time if is_file %></td>
        <td style="text-align:right"><%= number_to_human_size(file_size) if is_file %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= render partial: 'datasets/nofiles' if indexed_files.size == 0 %>

<% if @dataset.grants_file_access_to?(current_user) %>
  <% @current_folder = @dataset.find_file_folder(params[:path]) %>
  <% @local_folder = [@dataset.slug, @current_folder].compact.join('/') %>
  <% if windows? %>
    <% end_statement = ' &' %>
    <% mkdir_flags = '' %>
    <% mkdir_path = @local_folder.gsub('/', '\\') %>
  <% else %>
    <% end_statement = ';' %>
    <% mkdir_flags = ' -p' %>
    <% mkdir_path = @local_folder %>
  <% end %>

  <h3>Folder Download</h3>
  <p>
    Download files in this folder using the following command:
  </p>

  <p>
    <pre class="code">mkdir<%= mkdir_flags %> <%= mkdir_path %><%= end_statement %> wget -O <%= @local_folder %>/manifest.txt <%= site_prefix %><%= manifest_dataset_path( @dataset, auth_token: (current_user ? current_user.authentication_token : nil ), path: @current_folder ) %><%= end_statement %> wget -P <%= @local_folder %> -c -i <%= @local_folder %>/manifest.txt</pre>
  </p>

  <div class="alert alert-info"><strong>Don't have GNU Wget?</strong> Install using our <%= link_to 'GNU Wget installation instructions', tool_path( 'wget' ), class: 'alert-link' %>.</div>
<% end %>
