= form_with model: dataset, local: true do |form|
  = render "forms/horizontal/select", form: form, object: dataset, key: :organization_id, options: Organization.current.with_editor(current_user).pluck(:name, :id), include_blank: true if current_user.organization_editor? && dataset.new_record?
  = render "forms/horizontal/text_field", form: form, object: dataset, key: :name, slug: "slug"
  = render "forms/horizontal/slug_field", form: form, object: dataset, key: :slug
  = render "forms/horizontal/check_box", form: form, object: dataset, key: :featured, help_text: "Featured datasets will appear at the top of the datasets page."
  = render "forms/horizontal/text_area", form: form, object: dataset, key: :description
  = render "forms/horizontal/file_field", form: form, object: dataset, key: :logo, help_text: "JPG, GIF, PNG"
  = render "forms/horizontal/text_area", form: form, object: dataset, key: :info_citation, key_name: "Citation"
  = render "forms/horizontal/text_field", form: form, object: dataset, key: :git_repository, key_name: "Documentation repository", help_text: "Ex: https://github.com/<repository-name>.git"
  = render "forms/horizontal/check_box", form: form, object: dataset, key: :released
  = render "forms/horizontal/date_field", form: form, object: dataset, key: :release_date
  = render "forms/horizontal/text_field", form: form, object: dataset, key: :doi, key_name: "DOI", help_text: "Ex: 10.25822/1dzj-qh55"
  %hr
  .form-group.row
    .col-md-2
    .col-md-10
      %strong Dataset Banner
  = render "forms/horizontal/text_field", form: form, object: dataset, key: :info_what, key_name: "Summary", help_text: "One sentence summary of the study."
  = render "forms/horizontal/text_field", form: form, object: dataset, key: :info_who, key_name: "Study population", help_text: "Describe the study population."
  = render "forms/horizontal/text_field", form: form, object: dataset, key: :info_when, key_name: "Study timeframe", help_text: "Describe the study timeframe."
  = render "forms/horizontal/text_field", form: form, object: dataset, key: :info_funded_by, key_name: "Funders", help_text: "List of funders and/or grant numbers."
  %hr
  .form-group.row
    .col-md-2
    .col-md-10
      %strong Dataset Card
  = render "forms/horizontal/text_field", form: form, object: dataset, key: :subjects, key_name: "Subjects", help_text: "Enter the number of subjects in the study."
  = render "forms/horizontal/text_field", form: form, object: dataset, key: :age_min, key_name: "Age Minimum", help_text: "Age of youngest subject."
  = render "forms/horizontal/text_field", form: form, object: dataset, key: :age_max, key_name: "Age Maximum", help_text: "Age of oldest subject."
  = render "forms/horizontal/text_field", form: form, object: dataset, key: :time_frame, help_text: "Ex: 2000 - 2005"
  = render "forms/horizontal/check_box", form: form, object: dataset, key: :polysomnography
  = render "forms/horizontal/check_box", form: form, object: dataset, key: :actigraphy
  = render "forms/horizontal/submit", form: form, object: dataset
