<ul class="nav nav-tabs" style="margin-top:20px">
  <li class="<%= 'active' if ['show', 'pages', 'edit_page', 'new_page', 'create_page'].include?(params[:action]) %>">
    <%= link_to @dataset.name, @dataset %>
  </li>
  <% file_count = @dataset.indexed_files(nil, 0) %>
  <% if file_count > 0 %>
    <li class="<%= 'active' if params[:action] == 'files' %>"><%= link_to 'Downloads', files_dataset_path(@dataset) %></li>
  <% end %>
  <% if current_user and @dataset.editable_by?(current_user) and false %>
    <li class="<%= 'active' if params[:action] == 'audits' %>"><%= link_to 'Audits', audits_dataset_path(@dataset) %></li>
    <li class="<%= 'active' if params[:action] == 'requests' %>"><%= link_to 'Requests', requests_dataset_path(@dataset) %></li>
  <% end %>

  <li class="<%= 'active' if params[:action] == 'collection' %>"><%= link_to 'Variables', collection_path(d: @dataset.slug, s: params[:s]) %></li>
</ul>
