- content_for :header do
  = @dataset.name
  .d-none.d-sm-block.mt-4
    .row
      .col-sm-4.col-buffer
        = link_to "Documentation", @dataset, class: "btn btn-block #{params[:action] == "pages" || current_page?(@dataset) ? "btn-primary" : "btn-light"}"
      .col-sm-4.col-buffer
        = link_to "Files", files_dataset_path(@dataset), class: "btn btn-block #{params[:action] == "files" ? "btn-primary" : "btn-light"}"
      .col-sm-4
        = link_to "Variables", dataset_variables_path(@dataset), class: "btn btn-block #{params[:controller] == "variables" ? "btn-primary" : "btn-light"}"
