.slim-container.dark-texture
  %h1
    = @dataset.name

  .row
    .col-xs-12.col-sm-4{ style: 'margin-bottom: 10px' }
      = link_to 'Documentation', pages_dataset_path(@dataset), class: "btn btn-block btn-#{params[:action] == 'pages' ? 'primary' : 'default'}"
    .col-xs-12.col-sm-4{ style: 'margin-bottom: 10px' }
      = link_to 'Files', files_dataset_path(@dataset), class: "btn btn-block btn-#{params[:action] == 'files' ? 'primary' : 'default'}"
    .col-xs-12.col-sm-4{ style: 'margin-bottom: 10px' }
      = link_to 'Variables', dataset_variables_path(@dataset), class: "btn btn-block btn-#{params[:controller] == 'variables' ? 'primary' : 'default'}"
