- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @dataset.name
      .d-none.d-sm-block{ style: "margin-top: 20px;" }
        .row
          .col-sm-4.col-buffer
            = link_to "Documentation", @dataset, class: "btn btn-block #{params[:action] == "pages" || current_page?(@dataset) ? "btn-light" : "btn-outline-dark"}"
          .col-sm-4.col-buffer
            = link_to "Files", files_dataset_path(@dataset), class: "btn btn-block #{params[:action] == "files" ? "btn-light" : "btn-outline-dark"}"
          .col-sm-4
            = link_to "Variables", dataset_variables_path(@dataset), class: "btn btn-block #{params[:controller] == "variables" ? "btn-light" : "btn-outline-dark"}"

  - if @variable && @dataset.dataset_version && @variable.dataset_version_id != @dataset.dataset_version_id
    .flash-alert
      .container
        %strong Old Version
        You are viewing variable information
        that is kept around
        for historical purposes only. The latest version
        %code= "v#{@dataset.dataset_version.version}"
        is
        = succeed "." do
          = link_to "available here", [@dataset, @variable], class: "alert-link"
