- content_for :banner do
  .dataset-banner
    .container
      .dataset-header.brand= @dataset.name
      .dataset-body.hidden-xs
        .row
          .col-sm-4.col-buffer
            = link_to 'Documentation', @dataset, class: "btn btn-block btn-#{params[:action] == 'pages' || current_page?(@dataset) ? 'primary' : 'default'}"
          .col-sm-4.col-buffer
            = link_to 'Files', files_dataset_path(@dataset), class: "btn btn-block btn-#{params[:action] == 'files' ? 'primary' : 'default'}"
          .col-sm-4
            = link_to 'Variables', dataset_variables_path(@dataset), class: "btn btn-block btn-#{params[:controller] == 'variables' ? 'primary' : 'default'}"

  - if defined?(@version) && defined?(@variable) && @version != @variable.version
    .flash-alert
      .container
        %strong Old Version
        You are viewing variable information
        that is kept around
        for historical purposes only. The latest version
        %code= "v#{@variable.version}"
        is
        = succeed '.' do
          = link_to 'available here', [@dataset, @variable], class: 'alert-link'


- if false
  .dataset-navigation-bar{ data: { object: 'dataset-affix' } }
    %nav.navbar.navbar-default{ style: 'margin-bottom: 0' }
      .container
        .navbar-header
          %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.dataset-full-menu' } }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'NSRR', root_path, class: 'navbar-brand brand'
        .collapse.navbar-collapse.dataset-full-menu
          %ul.nav.navbar-nav
            %li.active
              = link_to @dataset do
                %span.glyphicon.glyphicon-cloud
                = @dataset.slug.upcase
            %li{ class: "#{'active' if params[:action] == 'pages' || current_page?(@dataset)}" }
              = link_to @dataset do
                Documentation
            %li{ class: "#{ 'active' if params[:controller] == 'files' }" }
              = link_to files_dataset_path(@dataset) do
                Files
            %li{ class: "#{ 'active' if params[:controller] == 'variables' }" }
              = link_to dataset_variables_path(@dataset) do
                Variables
