- content_for :banner do
  .dataset-banner
    .container
      .dataset-header.brand= @dataset.name
      .dataset-body.hidden-xs
        .row
          .col-sm-4.col-buffer
            = link_to 'Documentation', @dataset, class: "btn btn-block btn-#{params[:action] == 'pages' || current_page?(@dataset) ? 'accent' : 'default'}"
          .col-sm-4.col-buffer
            = link_to 'Files', files_dataset_path(@dataset), class: "btn btn-block btn-#{params[:action] == 'files' ? 'accent' : 'default'}"
          .col-sm-4
            = link_to 'Variables', dataset_variables_path(@dataset), class: "btn btn-block btn-#{params[:controller] == 'variables' ? 'accent' : 'default'}"

  - if @variable && @dataset.dataset_version && @variable.dataset_version_id != @dataset.dataset_version_id
    .flash-alert
      .container
        %strong Old Version
        You are viewing variable information
        that is kept around
        for historical purposes only. The latest version
        %code= "v#{@dataset.dataset_version.version}"
        is
        = succeed '.' do
          = link_to 'available here', [@dataset, @variable], class: 'alert-link'
