.panel{ class: "panel-#{dataset.release_date && dataset.release_date <= Date.today ? 'success' : 'default'}" }
  .panel-heading
    .panel-title.nowrap.overflow-hidden= link_to dataset.name, dataset
  .panel-body
    .center{ style: 'padding-bottom:5px;height:145px;line-height:145px' }
      - if dataset.logo.size > 0
        = link_to image_tag(logo_dataset_path(dataset), style: 'max-width:100%;max-height:140px'), dataset
      - else
        = link_to image_tag('project-default-logo.png', style: 'max-width:100%;max-height:140px'), dataset
  .panel-footer.center.nowrap{ style: 'overflow:hidden; background-color: transparent; border-color: transparent' }
    = render 'datasets/request', dataset: dataset, expanded: false
