.star-ratings.nowrap.d-none.d-sm-inline-block
  - if rating
    - (0..4).each do |position|
      - if rating > position + 0.5
        - icon_class = icon("fas", "star", class: "text-warning")
      - elsif rating > position
        - icon_class = icon("fas", "star-half-alt", class: "text-warning")
      - else
        - icon_class = icon("far", "star", class: "text-muted")
      .star-rating
        = icon_class
  - else
    - (0..4).each do |position|
      .star-rating
        = icon("far", "star", class: "text-muted")
.star-ratings.d-inline-block.d-sm-none
  - if rating
    .star-rating
      = rating.round(1)
      = icon("fas", "star", class: "text-warning")
  - else
    .star-rating
      = icon("far", "star", class: "text-muted")
