-# TODO: Make sure users with approved access, where the dataset may no longer
-# have a final legal document for user are still viewable.
- if dataset.final_legal_document_for_user(current_user)
  - data_requests = dataset.data_requests.where(user: current_user).where.not(final_legal_document_id: nil)
  - if data_request = data_requests.not_expired.find_by(status: "approved")
    = link_to files_dataset_path(dataset), class: "data-request-tab data-request-tab-approved" do
      %i.fa.fa-check-square
      Data Access Approved
  - elsif data_request = data_requests.find_by(status: "submitted")
    -# TODO: Change to preview submitted data request.
    = link_to data_requests_path, class: "data-request-tab data-request-tab-under-review" do
      %i.fa.fa-circle-o-notch.fa-spin
      Data Request Under Review
  - elsif data_request = data_requests.find_by(status: "resubmit")
    = link_to data_requests_proof_path(data_request), class: "data-request-tab data-request-tab-resubmit" do
      %i.fa.fa-exclamation-triangle
      Resubmit Data Request
  - elsif data_request = data_requests.expired.first
    -# TODO: Better "renew data request path"
    = link_to data_requests_start_path(dataset), class: "data-request-tab data-request-tab-expired" do
      %i.fa.fa-hourglass-end
      Data Request Expired
  - elsif data_request = data_requests.find_by(status: "started")
    - if data_request.complete?
      = link_to data_requests_proof_path(data_request), class: "data-request-tab data-request-tab-submit" do
        Resume Data Request
        %i.fa.fa-caret-right
    - else
      = link_to data_requests_page_path(data_request, data_request.current_step.positive? ? data_request.current_step : 1), class: "data-request-tab data-request-tab-submit" do
        Resume Data Request
        %i.fa.fa-caret-right
  - else
    = link_to data_requests_start_path(dataset), class: "data-request-tab data-request-tab-request-access" do
      Request Data Access
      %i.fa.fa-caret-right
- elsif dataset.release_date && dataset.release_date > Time.zone.today
  = link_to dataset, class: "data-request-tab" do
    Coming
    = dataset.release_date.strftime("%B %e, %Y")
- else
  = link_to dataset, class: "data-request-tab" do
    Preview
