- (text, url, icon, arrow, status) = data_access(dataset, color: false)
- unless url == dataset
  = link_to url, class: "data-request-tab #{"data-request-tab-#{status}" if status}" do
    = icon
    = text
    - if arrow
      = icon("fas", "caret-right")
