- agreements = (current_user ? dataset.agreements.where(user_id: current_user.id) : Agreement.none)
- if agreement = agreements.where( status: 'submitted' ).first
  = link_to 'Under Review', submissions_path, class: 'btn btn-xs btn-call-to-default'
- elsif agreement = agreements.where( status: 'resubmit' ).first
  = link_to 'Resubmit Your DAUA', submissions_path, class: 'btn btn-xs btn-call-to-danger'
- elsif agreement = agreements.expired.first
  = link_to 'Renew Access', submissions_path(dataset: dataset), class: 'btn btn-xs btn-call-to-danger'
- elsif agreement = agreements.where( status: ['', 'started', nil] ).first
  - if agreement.fully_filled_out?
    = link_to 'Complete Your DAUA', proof_agreement_path(agreement), class: 'btn btn-xs btn-call-to-info'
  - else
    = link_to 'Complete Your DAUA', step_agreement_path(agreement, step: agreement.current_step), class: 'btn btn-xs btn-call-to-info'
- elsif agreement = agreements.where(status: 'approved').first
  = link_to 'Approved', files_dataset_path(dataset), class: 'btn btn-xs btn-call-to-action'
- else
  = link_to 'Request Access', submissions_path(dataset: dataset), class: 'btn btn-xs btn-call-to-info'

