<% if @list %>
  <div class="page-header">
    <h6>My Wishlist #<%= @list.id %></h6>
  </div>
  <% @list.variables(current_user).each do |variable| %>
    <div class="panel <%= variable.commonly_used ? 'panel-gold' : 'panel-default' %> panel-hover">
      <div class="panel-body" data-basename="<%= variable.name %>" data-slug="<%= variable.dataset.slug %>">
        <div style="overflow:hidden">
          <%= variable.name %>

          <%= link_to 'remove', remove_variable_from_list_dataset_path( variable.dataset, variable_id: variable.id ), method: :post, remote: true, class: 'pull-right' %>
          <% if false %>
            <span class="label" style="background-color:<%= variable.dataset.color %>"><%= variable.dataset.slug %></span>
          <% end %>
          <% if File.file?( File.join( variable.dataset.root_folder, "dd", "pngs", "#{variable.name}.png") ) %>
            <%= image_tag variable_chart_dataset_path(variable.dataset, name: variable.name), style: 'max-width: 100%;max-height:25px' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


<% if false %>
<% variable_files.shuffle.first(5).each do |variable_file| %>
  <div class="panel panel-default">
    <% d = Dataset.find_by_id(variable_file.split('/dd/')[0].to_s.split('/').last) %>
    <div class="panel-body">
      <% if d %><code class="pull-right"><%= d.slug %></code><% end %>
      <div style="overflow:hidden"><%= File.basename(variable_file).gsub(/\.json$/, '') %></div>
    </div>
  </div>
<% end %>

<% end %>
