<% if windows? %>
  <% end_statement = ' &' %>
  <% extra_flags = ' --no-check-certificate' %>
  <% mkdir_flags = '' %>
  <% mkdir_path = @local_folder.gsub('/', '\\') %>
<% else %>
  <% end_statement = ';' %>
  <% extra_flags = '' %>
  <% mkdir_flags = ' -p' %>
  <% mkdir_path = @local_folder %>
<% end %>

<div class="code-container" style="text-align: left;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px solid #dedede;">
  <div class="code-command" style="border-width: 0px">
    mkdir<%= mkdir_flags %> <%= mkdir_path %>
  </div>
  <div class="code-command" style="border-width: 0px">
  wget -O <%= @local_folder %>/manifest.txt <%= site_prefix %><%= manifest_dataset_path( @dataset, auth_token: (current_user ? current_user.id_and_auth_token : nil ), path: @current_folder ) %><%= extra_flags %>
  </div>
  <div class="code-command" style="border-width: 0px">
    wget -P <%= @local_folder %> -c -i <%= @local_folder %>/manifest.txt<%= extra_flags %>
  </div>
</div>

<div class="alert alert-info">
  <strong>Don't have GNU Wget?</strong>
  Install using our <%= link_to 'GNU Wget installation instructions', tool_path( 'wget' ), class: 'alert-link' %>.
</div>
