<% @title = "Edit #{@path.to_s.split('/').last} - #{@dataset.name}" %>

<%= render partial: 'datasets/header' %>

<%= form_tag update_page_dataset_path(@dataset, path: @path), method: :patch, id: 'edit_page_form', class: 'form-horizontal' do %>

  <div class="pull-right">
    <ul class="pagination pagination-sm" style="margin-top:3px;margin-bottom:0px;margin-right:3px">
      <li><%= link_to 'Update Page', '#', data: { object: 'submit', target: '#edit_page_form' } %></li>
      <li><%= link_to 'Cancel', pages_dataset_path( @dataset ) + '/' + @path, class: 'btn-danger-inverse', style: 'color: #d43f3a;' %></li>
    </ul>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to @dataset.slug, pages_dataset_path(@dataset) %></li>
    <li class="<%= 'active' unless @path.blank? %>"><%= link_to_if !@path.blank?, 'pages', pages_dataset_path(@dataset) %></li>
    <% unless @path.blank? %>
      <% @path.to_s.split('/')[0..-2].each_with_index do |folder, index| %>
        <% url = pages_dataset_path( @dataset ) + '/' + @path.to_s.split('/')[0..index].join('/') %>
        <li><%= link_to folder, url %></li>
      <% end %>
      <li class="active"><%= @path.to_s.split('/').last %></li>
    <% end %>
  </ol>

  <div class="mono-display"><div class="file-display-after"><%= @path.to_s.split('/').last %></div><%= text_area_tag :page_contents, File.read(@page_path), class: 'form-control', rows: '30' %></div>
<% end %>
