- @title = "#{@dataset.slug.upcase} Files"

= render 'datasets/header'

- path = params[:path]
- page = [params[:page].to_i - 1, 0].max
- file_count = @dataset.indexed_files(path, 0)

= render 'datasets/files_breadcrumb', path: path, page: page, file_count: file_count

= render 'dataset_files/folder', path: path

= render 'datasets/folder', path: path, page: page if false



