<% @title = 'Datasets' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user and current_user.system_admin? %>
      <%= link_to "Create Dataset", new_dataset_path, class: 'btn btn-xs btn-primary' %>
    <% end %>
  </h1>
</div>

<%= form_tag datasets_path, method: :get, id: "datasets_search", class: 'form-inline' do %>
  <%= hidden_field_tag :order, params[:order] %>
  <%= hidden_field_tag :page, params[:page] %>
  <% if false %>
    <%= text_field_tag 'search', params[:search], class: 'form-control' %>
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<div id="datasets">
  <%= render partial: 'datasets/datasets' %>
</div>

<div class="welcome-box welcome-even">
  <div class="jumbotron" style="margin-bottom:0px;padding:20px 0px 0px 0px">
    <h1 style="margin-top:10px">Explore datasets.</h1>
    <p class="lead">Dive into a dataset's documentation, file downloads, and variable charts and statistics!</p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align:center">
            <%= link_to '#', data: { object: 'show-info', target: '#doc-info' } do %>
              1. Read Documentation <span class="glyphicon glyphicon-book"></span>
            <% end %>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align:center">
            <%= link_to '#', data: { object: 'show-info', target: '#file-info' } do %>
              2. Download Files <span class="glyphicon glyphicon-save"></span>
            <% end %>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align:center">
            <%= link_to '#', data: { object: 'show-info', target: '#var-info' } do %>
              3. Browse Variables <span class="glyphicon glyphicon-stats"></span>
            <% end %>
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div id="doc-info" data-object="info-box" class="welcome-box welcome-odd" style="display:none">
    <div class="jumbotron" style="margin-bottom:0px;padding:0px 0px 0px 0px">
      <p>Each dataset provides detailed documentation ranging from an overview, data collection methods, and equipment settings.</p>
      <%= image_tag( 'project-default-logo.png', style: 'max-width:100%;max-height:140px' ) %>
    </div>
  </div>

  <div id="file-info" data-object="info-box" class="welcome-box welcome-odd" style="display:none">
    <div class="jumbotron" style="margin-bottom:0px;padding:0px 0px 0px 0px">
      <p>Interested in doing further analysis on existing datasets? Datasets provide a list of data files that can be downloaded to run further analysis using existing <%= link_to 'tools', tools_path %>.</p>
      <%= image_tag( 'project-default-logo.png', style: 'max-width:100%;max-height:140px' ) %>
    </div>
  </div>

  <div id="var-info" data-object="info-box" class="welcome-box welcome-odd" style="display:none">
    <div class="jumbotron" style="margin-bottom:0px;padding:0px 0px 0px 0px">
      <p>Browse through variable graphs and statistics. Select variables and download the corresponding covariate dataset and data dictionary.</p>
      <%= image_tag( 'project-default-logo.png', style: 'max-width:100%;max-height:140px' ) %>
    </div>
  </div>


</div>
