- @title = "Datasets"

- content_for :header do
  .float-right
    = link_to plus_or("New Dataset"), new_dataset_path, class: "btn btn-primary btn-shadow" if current_user && current_user.admin?
    = render "layouts/per_page", per_page: 24, object_count: @datasets.total_count
  = @title

= render "layouts/service_announcement"

- filtered_params = params.permit(:ages, :data, :order)

.d-none.d-sm-flex.mb-3
  .text-center{ style: "margin: auto; flex: 1;" }
    .btn-group
      = link_to "#", class: "btn btn-sm btn-light dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do
        .d-inline-block.d-sm-none
          %i.fa.fa-cog
        .d-none.d-sm-inline-block
          - case params[:ages]
          - when "0-17"
            Children
          - when "18-90"
            Adults
          - when "", nil
            All Ages
          - else
            = params[:ages]
        %span.caret
      .dropdown-menu
        = link_to "All Ages", datasets_path(filtered_params.merge(ages: nil)), style: params[:ages].blank? ? "font-weight: bold" : nil, class: "dropdown-item"
        = link_to "Children", datasets_path(filtered_params.merge(ages: "0-17")), style: params[:ages] == "0-17" ? "font-weight: bold" : nil, class: "dropdown-item"
        = link_to "Adults", datasets_path(filtered_params.merge(ages: "18-90")), style: params[:ages] == "18-90" ? "font-weight: bold" : nil, class: "dropdown-item"
  .text-center{ style: "margin: auto; flex: 1;" }
    .btn-group
      = link_to "#", class: "btn btn-sm btn-light dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do
        .d-inline-block.d-sm-none
          %i.fa.fa-cog
        .d-none.d-sm-inline-block
          - case params[:data]
          - when "actigraphy"
            Actigraphy
          - when "polysomnography"
            Polysomnography
          - else
            All Data

        %span.caret
      .dropdown-menu
        = link_to "All Data", datasets_path(filtered_params.merge(data: nil)), style: params[:data].blank? ? "font-weight: bold" : nil, class: "dropdown-item"
        = link_to "Actigraphy", datasets_path(filtered_params.merge(data: "actigraphy")), style: params[:data] == "actigraphy" ? "font-weight: bold" : nil, class: "dropdown-item"
        = link_to "Polysomnography", datasets_path(filtered_params.merge(data: "polysomnography")), style: params[:data] == "polysomnography" ? "font-weight: bold" : nil, class: "dropdown-item"
  .text-center{ style: "margin: auto; flex: 1;" }
    .btn-group
      = link_to "#", class: "btn btn-sm btn-light dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do
        .d-inline-block.d-sm-none
          %i.fa.fa-cog
        .d-none.d-sm-inline-block
          - case params[:order]
          - when "datasets.release_date desc"
            Newest
          - when "datasets.rating desc"
            Popular
          - else
            Publish Date
        %span.caret
      .dropdown-menu.dropdown-menu-right
        = link_to "Publish Date", datasets_path(filtered_params.merge(order: nil)), style: params[:order].blank? ? "font-weight: bold" : nil, class: "dropdown-item"
        = link_to "Newest", datasets_path(filtered_params.merge(order: "datasets.release_date desc")), style: params[:order] == "datasets.release_date desc" ? "font-weight: bold" : nil, class: "dropdown-item"
        = link_to "Popular", datasets_path(filtered_params.merge(order: "datasets.rating desc")), style: params[:order] == "datasets.rating desc" ? "font-weight: bold" : nil, class: "dropdown-item"

- if @datasets.count.zero?
  .lead.text-center{ style: "margin-top: 40px;" }
    No datasets found matching search criteria.
    = succeed "." do
      = link_to "Back to index", datasets_path
- else
  - @datasets.each do |dataset|
    .dataset-card{ id: "dataset-card-#{dataset.id}" }
      - if false
        .dataset-card-header
          .dataset-card-header-ratings
            - if false
              .float-right
                - if dataset.dataset_reviews.count.positive?
                  = link_to dataset_dataset_reviews_path(dataset), style: "text-decoration: none;" do
                    = number_with_delimiter(dataset.dataset_reviews.count)
                    .d-none.d-sm-inline-block= "Review#{"s" if dataset.dataset_reviews.count != 1}"
                    .d-inline-block.d-sm-none
                      %i.fa.fa-comments
                = link_to dataset_dataset_reviews_path(dataset) do
                  = render "datasets/rating", rating: dataset.rating
            = link_to dataset.name, dataset
            - if dataset.description.present?
              %br.d-block.d-sm-none
              = link_to "#", data: { object: "flip-card", target: "#dataset-card-#{dataset.id}" }, style: "font-size: 10px;" do
                details
                %i.fa.fa-caret-down.text-muted

      .dataset-card-body
        .not-flipped
          .dataset-card-logo
            = link_to image_tag(logo_dataset_path(dataset), alt: ""), dataset
          = render "datasets/card_content", dataset: dataset
        .already-flipped
          = simple_markdown(dataset.description)
      .dataset-card-footer
        .float-right.d-none.d-lg-block= render "datasets/card_footer_request", dataset: dataset
        .dataset-card-footer-links
          .dataset-card-footer-entry.pl-0
            = link_to dataset, class: "no-underline" do
              %small
                .d-none.d-lg-inline-block= dataset.name
                .d-inline-block.d-lg-none= dataset.slug.upcase
          - unless dataset.dataset_files.current.where(is_file: true).count.zero?
            .dataset-card-footer-spacer|
            .dataset-card-footer-entry
              = link_to files_dataset_path(dataset), class: "no-underline" do
                %small.d-inline-block.d-md-none Files
                %small.d-none.d-md-inline-block
                  = pluralize number_with_delimiter(dataset.dataset_files.current.where(is_file: true).count), "File"
                  &middot;
                  = number_to_human_size dataset.dataset_files.current.where(is_file: true).sum(:file_size)
          - unless dataset.current_variables.count.zero?
            .dataset-card-footer-spacer|
            .dataset-card-footer-entry
              = link_to dataset_variables_path(dataset), class: "no-underline" do
                %small.d-inline-block.d-md-none Variables
                %small.d-none.d-md-inline-block
                  = pluralize number_with_delimiter(dataset.current_variables.count), "Variable"
      .dataset-card-footer.dataset-card-footer-request.d-block.d-lg-none
        .text-center.small= render "datasets/card_footer_request", dataset: dataset

  .center-horizontally= paginate @datasets, theme: "bootstrap"

  - content_for :footer do
    .background-p100-grey.pt-5
      .container
        .landing-sentence{ style: "font-weight: normal;" }
          %strong Do you own a dataset?
          Learn how to
          = link_to "share your data", share_path
          with the NSRR community.
        .text-center
          %i.fa.fa-handshake-o.icon-xl{ aria: { hidden: "true" } }
