- @title = 'Datasets'

- content_for :body_class do
  brand-background

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .pull-right
          = link_to plus_or('Create Dataset'), new_dataset_path, class: 'btn btn-accent btn-shadow' if current_user && current_user.system_admin?
          = render 'layouts/per_page', per_page: 24, object_count: @datasets.total_count
        =# render 'layouts/side_nav_header_button'
        = @title

- @datasets.each do |dataset|
  %div{ style: 'margin-bottom: 20px;box-shadow: 0 1px 5px rgba(0,0,0,.15);border-radius: 4px;background-color: white;overflow: hidden;' }
    %div{ style: 'border: 1px solid #ededed;border-radius: 4px 4px 0 0;' }
      = render 'datasets/card_icon', dataset: dataset
      %div{ style: 'padding: 10px;margin-left: 42px;' }
        .pull-right
          %span{ style: 'color: #ccc;' }
            %span.hidden-xs Reviews
            = surround '(', ')' do
              = link_to number_with_delimiter(dataset.dataset_reviews.count), dataset_dataset_reviews_path(dataset)
          = render 'datasets/rating', rating: dataset.rating
        = link_to dataset.name, dataset

    %div{ style: 'border-left: 1px solid #ededed;border-right: 1px solid #ededed;padding: 10px;' }
      - logo_size = '100px'
      - if dataset.logo.size > 0
        %div{ style: "width: #{logo_size};float: left;margin-left: -10px;border-right: 1px solid #ededed;padding-right:10px;padding-left:10px;" }
          = link_to image_tag(logo_dataset_path(dataset), style: "max-width: 100%;max-height: #{logo_size};"), dataset
      %div{ style: "margin-left: #{logo_size};min-height: #{'80px'};" }
        = render 'datasets/card_content', dataset: dataset

        - if false
          .row{ style: 'margin: 0;' }
            .col-xs-12
              = render 'datasets/quick_info_small', dataset: dataset
    %div{ style: 'background-color: #ededed;border: 1px solid #ededed;padding: 10px;border-radius: 0 0 4px 4px;' }
      - if false
        .pull-right
          = render 'datasets/request_small', dataset: dataset, expanded: false

      .dataset-card-footer
        .dataset-card-footer-entry
          = link_to dataset, class: 'no-underline' do
            %span.hidden-xs View
            Docs
        .dataset-card-footer-spacer|
        .dataset-card-footer-entry
          = link_to files_dataset_path(dataset), class: 'no-underline' do
            %span.hidden-xs View
            Files
        .dataset-card-footer-spacer|
        .dataset-card-footer-entry
          = link_to dataset_variables_path(dataset), class: 'no-underline' do
            %span.hidden-xs View
            Variables


.row
  - @datasets.each do |dataset|
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
      = render 'datasets/panel', dataset: dataset

.center= paginate @datasets, theme: 'bootstrap'

- content_for :call_to_action do
  .call-to-action
    .call-to-action-header
      Would you like to contribute a dataset?
    .call-to-action-body
      We can help you host your dataset on the NSRR, start by
      = link_to 'filling out a short form', dataset_hosting_start_path
      to learn more about the process.
