- @title = 'Datasets'

%h1
  %span.brand= @title
  - if current_user && current_user.system_admin?
    = link_to 'Create Dataset', new_dataset_path, class: 'btn btn-xs btn-primary'
%p
  Read documentation, download files, and view charts and statistics.

.row
  - @datasets.each do |dataset|
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
      = render 'datasets/panel', dataset: dataset

.center= paginate @datasets, theme: 'bootstrap'

- content_for :call_to_action do
  .call-to-action
    .call-to-action-header
      Would you like to contribute a dataset?
    .call-to-action-body
      We can help you host your dataset on the NSRR, start by
      = link_to 'filling out a short form', dataset_hosting_start_path
      to learn more about the process.
