<% @title = "New Page - #{@dataset.name}" %>

<%= render partial: 'datasets/header' %>

<%= form_tag create_page_dataset_path(@dataset, path: @path), method: :post, id: 'create_page_form', class: 'form-horizontal' do %>

  <div class="pull-right">
    <ul class="pagination pagination-sm" style="margin-top:3px;margin-bottom:0px;margin-right:3px">
      <li><%= link_to 'Create Page', '#', data: { object: 'submit', target: '#create_page_form' } %></li>
      <li><%= link_to 'Cancel', pages_dataset_path( @dataset ) + '/' + @path, class: 'btn-danger-inverse', style: 'color: #d43f3a;' %></li>
    </ul>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to @dataset.slug, pages_dataset_path(@dataset) %></li>
    <li class="<%= 'active' unless @path.blank? %>"><%= link_to_if !@path.blank?, 'pages', pages_dataset_path(@dataset) %></li>
    <% unless @path.blank? %>
      <% @path.to_s.split('/')[0..-2].each_with_index do |folder, index| %>
        <% url = pages_dataset_path( @dataset ) + '/' + @path.to_s.split('/')[0..index].join('/') %>
        <li><%= link_to folder, url %></li>
      <% end %>
      <li class="active"><%= @path.to_s.split('/').last %></li>
    <% end %>
  </ol>

  <% if defined?(@errors) and not @errors.blank? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@errors.count, "error") %> prohibited this page from being saved</h4>

      <ul>
      <% @errors.each do |key, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mono-display"><div class="file-display-after">New Page</div><div class="<%= 'has-error' if defined?(@errors) and not @errors[:page_name].blank? %>" style="margin-bottom:10px"><%= text_field_tag :page_name, params[:page_name], class: 'form-control', placeholder: 'Page Name (*required)', autocomplete: 'off' %></div><%= text_area_tag :page_contents, params[:page_contents], class: 'form-control', rows: '30', placeholder: 'Page Contents' %></div>
<% end %>
