<%= render partial: 'datasets/header' %>

<div class="table-responsive">
  <table class="table table-striped" style="table-layout:fixed">
    <thead>
      <tr>
        <th>User</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <% @dataset.dataset_users.each do |dataset_user| %>
      <tr>
        <td><%= dataset_user.user.name %></td>
        <td><%= dataset_user.editor? ? 'Editor' : 'Viewer' %></td>
        <td>
          <% if dataset_user.approved == nil %>
            <span class="text-muted">Requested</span>
          <% elsif dataset_user.approved == true %>
            <span class="text-success">Approved</span>
          <% else %>
            <span class="text-danger">Denied</span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Approve',     set_access_dataset_path( @dataset, dataset_user_id: dataset_user.id, approved: true, editor: dataset_user.editor ),   class: 'btn btn-default btn-xs' %>
          <%= link_to 'Deny',        set_access_dataset_path( @dataset, dataset_user_id: dataset_user.id, approved: false, editor: dataset_user.editor ),  class: 'btn btn-default btn-xs' %>
          <%= link_to 'Make Viewer', set_access_dataset_path( @dataset, dataset_user_id: dataset_user.id, approved: dataset_user.approved, editor: false ),    class: 'btn btn-default btn-xs' %>
          <%= link_to 'Make Editor', set_access_dataset_path( @dataset, dataset_user_id: dataset_user.id, approved: dataset_user.approved, editor: true ),     class: 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
