- @title = @dataset.name

- content_for :header, @dataset.name_was
- content_for :header_append, render("datasets/header")

= form_with url: search_dataset_path(@dataset), method: :get, local: true, id: "search-form", class: "mb-3" do |form|
  .input-group
    = form.text_field :search, value: params[:search], class: "form-control", placeholder: "Search #{@dataset.slug.upcase}...", autocomplete: "off", autofocus: params[:search].blank?
    %span.input-group-append
      = link_to icon("fas", "search"), "#", class: "btn btn-primary", data: { object: "submit-and-disable", target: "#search-form" }

- if @results.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      - @results.each do |result|
        - page_path = result.split(":").first
        - path = (page_path ? page_path.gsub(@dataset.pages_folder + "/", "") : nil)
        - line = result.split(":")[1..-1].join(":")
        %tr
          %td= link_to path, pages_dataset_path( @dataset ) + "/" + path.to_s + "?s=#{@term}"
          %td
          %td
            = highlight(strip_tags(simple_markdown(line)), @term, sanitize: false)
- else
  .jumbotron.jumbotron-custom-text
    %p
      = icon("far", "clone", class: "mr-1")
      To search across the documentation, type your search term in the box above.
    %p
      If you are searching for variables, you will want to view the
      = link_to "variables", dataset_variables_path(@dataset, search: params[:search])
      instead.
