<% @title = @dataset.name %>

<%= render partial: 'datasets/header' %>

<div class="page-header">
  <form action="<%= search_dataset_path(@dataset) %>" method="get" id="search_form" class="form-inline" >
      <%= text_field_tag 's', params[:s], class: 'form-control' %>
      <%= link_to 'Search', '#', class: 'btn btn-primary', data: { object: 'submit', target: '#search_form' } %>
  </form>
</div>

<% if @results.blank? %>
  <div class="jumbotron">
    To search across the documentation, type your search term in the box above. If you are searching for variables, you will want to view the <%= link_to 'Variables', collection_path(d: @dataset.slug, s: params[:s]) %> instead.
  </div>
<% else %>
  <table class="table table-striped">
  <% @results.each do |result| %>
    <% page_path = result.split(':').first %>
    <% path = (page_path ? page_path.gsub(@dataset.pages_folder + '/', '') : nil) %>
    <% line = result.split(':')[1..-1].join(':') %>
    <tr>
      <td><%= link_to path, pages_dataset_path( @dataset ) + '/' + path.to_s + "?s=#{@term}" %></td>
      <td></td>
      <td>
        <%= highlight(strip_tags(simple_markdown(line)), @term, sanitize: false) %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
