= render 'datasets/header'

- if @dataset.info_count > 0
  .slim-container.dark-texture
    .row
      - if @dataset.info_what.present?
        %div{ class: "#{"col-sm-#{12 / @dataset.info_count}"}" }
          .info-container
            %h6
              %span.glyphicon.glyphicon-education
              What
            %span.static
              = @dataset.info_what
      - if @dataset.info_who.present?
        %div{ class: "#{"col-sm-#{12 / @dataset.info_count}"}" }
          .info-container
            %h6
              %span.glyphicon.glyphicon-user
              Who
            %span.static
              = @dataset.info_who
      - if @dataset.info_when.present?
        %div{ class: "#{"col-sm-#{12 / @dataset.info_count}"}" }
          .info-container
            %h6
              %span.glyphicon.glyphicon-calendar
              When
            %span.static
              = @dataset.info_when
      - if @dataset.info_funded_by.present?
        %div{ class: "#{"col-sm-#{12 / @dataset.info_count}"}" }
          .info-container
            .info-title
              %h6
                %span.glyphicon.glyphicon-piggy-bank
                Funded By
            %span.static
              = @dataset.info_funded_by
= render 'documentation/pagebeta', object: @dataset
