- @title = @dataset.name
= render 'datasets/header'

- if @dataset.info_count > 0
  = content_for :banner do
    .dataset-info
      .container
        .row
          .col-md-9
            .row
              - if @dataset.info_what.present?
                %div{ class: "#{"col-sm-#{12 / @dataset.info_count}"}" }
                  .info-container
                    .info-header
                      %span.glyphicon.glyphicon-education
                      What
                    %p= @dataset.info_what
              - if @dataset.info_who.present?
                %div{ class: "#{"col-sm-#{12 / @dataset.info_count}"}" }
                  .info-container
                    .info-header
                      %span.glyphicon.glyphicon-user
                      Who
                    %p= @dataset.info_who
              - if @dataset.info_when.present?
                %div{ class: "#{"col-sm-#{12 / @dataset.info_count}"}" }
                  .info-container
                    .info-header
                      %span.glyphicon.glyphicon-calendar
                      When
                    %p= @dataset.info_when
              - if @dataset.info_funded_by.present?
                %div{ class: "#{"col-sm-#{12 / @dataset.info_count}"}" }
                  .info-container
                    .info-header
                      %span.glyphicon.glyphicon-piggy-bank
                      Funding
                    %p= @dataset.info_funded_by
          .col-md-3
            .info-container
              = render 'datasets/request', dataset: @dataset, expanded: true

= render 'documentation/page', object: @dataset
