<% @title = @dataset.name %>

<div class="jumbotron" style="margin-bottom:0px">
  <h1><%= @dataset.name %> Dataset</h1>
  <% if current_user and current_user.system_admin? and @dataset.editable_by?(current_user) %>
    <p>
      <%= link_to "Edit Dataset", edit_dataset_path(@dataset), class: 'btn btn-xs btn-default' %>
      <%= link_to "Delete Dataset", @dataset, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Dataset #{@dataset.name}?" } %>
    </p>
  <% end %>
</div>

<% show_files = (@dataset.files.size > 0) %>

<ul class="nav nav-tabs" id="dataset-tabs">
  <% if show_files %>
    <li class="active"><a href="#dataset-downloads">Downloads</a></li>
  <% end %>
  <li class="<%= 'active' unless show_files %>"><a href="#dataset-home">Documentation</a></li>
  <li><a href="#dataset-community">Community</a></li>
</ul>

<div class="tab-content">
  <% if show_files %>
  <div class="tab-pane active" id="dataset-downloads">
    <%= render partial: 'datasets/folder', locals: { path: nil } %>
  </div>
  <% end %>
  <div class="tab-pane <%= 'active' unless show_files %>" id="dataset-home">
    <%= render partial: 'datasets/page', locals: { path: nil } %>
  </div>
  <div class="tab-pane" id="dataset-community">
    <div class="page-border">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'sleepdata'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>
</div>
