%p.lead-paragraph
  = succeed ',' do
    %strong WHEREAS
  BWH is receiving support from the National Heart, Lung, and Blood Institute
  = surround '(', ')' do
    %strong "NHLBI"
  to establish and operate a web-based collection of existing de-identified
  sleep study and related covariate data originating from past NHLBI-funded
  research studies
  = surround '(the', '),' do
    %strong "Data"
  such collection known as the National Sleep Research Resource
  = surround '(', ');' do
    %strong "NSRR"
  and

%p.lead-paragraph
  = succeed ',' do
    %strong WHEREAS
  the purpose of the NSRR is to facilitate access to and use of the Data by
  third-party researchers to conduct sleep research in accordance with NHLBI
  and BWH policies and procedures
  = surround '(the', ');' do
    %strong "Purpose"
  and

%p.lead-paragraph
  = succeed ',' do
    %strong WHEREAS
  to the extent permitted by its Institutional Review Board and institutional
  policies, BWH wishes to make the Data, in the form of one or more
  %strong "Datasets,"
  available to Data User, and Data User wishes to receive the Datasets, for
  this Purpose under the terms and conditions of access set forth herein;

%p.lead-paragraph
  = succeed ',' do
    %strong NOW, THEREFORE
  in consideration of the mutual promises and covenants set forth below, the
  parties hereby agree as follows:
