<table class="table table-striped"><col width="30px"/><col /><col /><col width="40px" />
  <thead>
    <tr>
      <th></th>
      <th>Topic</th>
      <th class="hidden-xs">Category</th>
      <th style="text-align:right"></th>
    </tr>
  </thead>

  <% @topics.each do |topic| %>
    <tr class="<%= 'warning' if topic.stickied? %>">
      <td>
        <% if topic.stickied? %>
          <span class="glyphicon glyphicon-pushpin"></span>
        <% elsif topic.locked? %>
          <span class="glyphicon glyphicon-lock"></span>
        <% end %>
      </td>
      <td>
        <%= image_tag topic.user.avatar_url(18), size: '18x18', style: 'vertical-align:text-bottom;min-width:18px', rel: 'tooltip', title: topic.user.name, data: { container: 'body', placement: 'left' } %>
        <%= link_to topic.name, topic %>
      </td>
      <td class="hidden-xs">
        <% if topic.name =~ /meeting/i %>
          <span class="label label-primary">Meeting</span>
        <% elsif topic.name =~ /release/i %>
          <span class="label label-success">New Release</span>
        <% end %>
      </td>
      <td style="text-align:right;white-space:nowrap">
        <span class="hidden-xs">
          <% (topic.comments.collect{|c| c.user} - [topic.user]).uniq.compact.each do |user| %>
            <%= image_tag user.avatar_url(18), size: '18x18', style: 'vertical-align:text-bottom;min-width:18px', rel: 'tooltip', title: user.name, data: { container: 'body', placement: 'top' } %>
          <% end %>
        </span>

        <span class="badge"><%= topic.comments.count %></span>
        <% if current_user and current_user.system_admin? %>
          <% if topic.locked? %>
            <%= link_to '<span class="glyphicon glyphicon-lock"></span>'.html_safe, admin_topic_path(topic, topic: { locked: '0' }), method: :post, data: { confirm: "Are you sure you want to unlock this topic?"}, class: 'btn btn-xs btn-default' %>
          <% else %>
            <%= link_to '<span class="glyphicon glyphicon-lock"></span>'.html_safe, admin_topic_path(topic, topic: { locked: '1' }), method: :post, data: { confirm: "Are you sure you want to lock this topic?"}, class: 'btn btn-xs btn-primary' %>
          <% end %>
          <% if topic.stickied? %>
            <%= link_to '<span class="glyphicon glyphicon-pushpin"></span>'.html_safe, admin_topic_path(topic, topic: { stickied: '0' }), method: :post, data: { confirm: "Are you sure you want to unpin this topic?"}, class: 'btn btn-xs btn-default' %>
          <% else %>
            <%= link_to '<span class="glyphicon glyphicon-pushpin"></span>'.html_safe, admin_topic_path(topic, topic: { stickied: '1' }), method: :post, data: { confirm: "Are you sure you want to pin this topic?"}, class: 'btn btn-xs btn-primary' %>
          <% end %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, topic, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Topic #{topic.name}?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @topics, theme: 'contour' %></div>
