<div style="margin-bottom:-40px;float:right">
  <%= render partial: 'variables/per_page', locals: { per_page: 50, object_count: @topics.total_count } %>
</div>
<table class="table table-striped"><% if current_user %><col class="hidden-xs" width="30px"/><% end %><col width="30px"/><col /><col /><col width="40px" />
  <thead>
    <tr>
      <% if current_user %><th class="hidden-xs"></th><% end %>
      <th></th>
      <th>Topic</th>
      <th class="hidden-xs">Tags</th>
      <th style="text-align:right"></th>
    </tr>
  </thead>
  <% @topics.each do |topic| %>
    <tr class="<%= 'warning' if topic.stickied? %>">
      <% if current_user %>
        <td class="hidden-xs">
          <% if topic.subscribed?(current_user) %>
            <span class="glyphicon glyphicon-volume-up" rel="tooltip" title="Subscribed to Topic" data-container="body" data-placement="right"></span>
          <% end %>
        </td>
      <% end %>
      <td>
        <% if topic.stickied? %>
          <span class="glyphicon glyphicon-pushpin"></span>
        <% elsif topic.locked? %>
          <span class="glyphicon glyphicon-lock"></span>
        <% end %>
      </td>
      <td>
        <%= image_tag topic.user.avatar_url(18, 'identicon'), size: '18x18', style: 'vertical-align:baseline;min-width:18px', rel: 'tooltip', title: topic.user.forum_name, data: { container: 'body', placement: 'left' } %>
        <%= link_to topic.name, topic %>
      </td>
      <td class="hidden-xs">
        <% topic.tags.each do |tag| %>
          <span class="label label-default" style="background-color:<%= tag.color %>"><%= tag.name %></span>
        <% end %>
      </td>
      <td style="text-align:right;white-space:nowrap">
        <span class="hidden-xs">
          <% (topic.comments.collect{|c| c.user} - [topic.user]).uniq.compact.each do |user| %>
            <%= image_tag user.avatar_url(18, 'identicon'), size: '18x18', style: 'vertical-align:text-bottom;min-width:18px', rel: 'tooltip', title: user.forum_name, data: { container: 'body', placement: 'top' } %>
          <% end %>
        </span>

        <span class="badge"><%= topic.comments.count %></span>
        <% if current_user and current_user.system_admin? %>
          <% if topic.locked? %>
            <%= link_to '<span class="glyphicon glyphicon-lock"></span>'.html_safe, admin_topic_path(topic, topic: { locked: '0' }), method: :post, data: { confirm: "Are you sure you want to unlock this topic?"}, class: 'btn btn-xs btn-default' %>
          <% else %>
            <%= link_to '<span class="glyphicon glyphicon-lock"></span>'.html_safe, admin_topic_path(topic, topic: { locked: '1' }), method: :post, data: { confirm: "Are you sure you want to lock this topic?"}, class: 'btn btn-xs btn-primary' %>
          <% end %>
          <% if topic.stickied? %>
            <%= link_to '<span class="glyphicon glyphicon-pushpin"></span>'.html_safe, admin_topic_path(topic, topic: { stickied: '0' }), method: :post, data: { confirm: "Are you sure you want to unpin this topic?"}, class: 'btn btn-xs btn-default' %>
          <% else %>
            <%= link_to '<span class="glyphicon glyphicon-pushpin"></span>'.html_safe, admin_topic_path(topic, topic: { stickied: '1' }), method: :post, data: { confirm: "Are you sure you want to pin this topic?"}, class: 'btn btn-xs btn-primary' %>
          <% end %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, topic, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Topic #{topic.name}?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @topics, theme: 'contour' %></div>
