%div{ style: 'margin-bottom:-40px;float:right' }
  = render 'variables/per_page', per_page: 50, object_count: @topics.total_count

%table.table.table-striped.table-borderless
  - if current_user
    %col.hidden-xs{ width: '30px' }
  %col{ width: '30px' }
  %col
  %col
  %col{ width: '40px' }
  %thead
    %tr
      - if current_user
        %th.hidden-xs
      %th
      %th Topic
      %th.hidden-xs Tags
      %th.text-right
  - @topics.each do |topic|
    %tr
      - if current_user
        %td.hidden-xs
          - if topic.subscribed?(current_user)
            %span.glyphicon.glyphicon-volume-up{ rel: 'tooltip', title: 'Subscribed to Topic', data: { container: 'body', placement: 'right' } }
      %td
        - if topic.pinned?
          %span.glyphicon.glyphicon-pushpin.text-primary
        - elsif topic.locked?
          %span.glyphicon.glyphicon-lock
      %td
        = image_tag topic.user.avatar_url(18, 'identicon'), size: '18x18', style: 'vertical-align:baseline;min-width:18px', rel: 'tooltip', title: topic.user.forum_name, data: { container: 'body', placement: 'left' }, alt: ''
        = link_to topic.title, topic
      %td.hidden-xs
        - topic.tags.each do |tag|
          %span.label.label-default{ style: "background-color:#{tag.color}" }= tag.name
      %td.nowrap.text-right
        %span.hidden-xs
          - (topic.comments.collect{|c| c.user} - [topic.user]).uniq.compact.each do |user|
            = image_tag user.avatar_url(18, 'identicon'), size: '18x18', style: 'vertical-align:text-bottom;min-width:18px', rel: 'tooltip', title: user.forum_name, data: { container: 'body', placement: 'top' }, alt: ''

        %span.badge= topic.comments.count
        - if current_user and current_user.system_admin?
          - if topic.locked?
            = link_to '<span class="glyphicon glyphicon-lock"></span>'.html_safe, admin_topic_path(topic, topic: { locked: '0' }), method: :post, data: { confirm: "Are you sure you want to unlock this topic?"}, class: 'btn btn-sm btn-light'
          - else
            = link_to '<span class="glyphicon glyphicon-lock"></span>'.html_safe, admin_topic_path(topic, topic: { locked: '1' }), method: :post, data: { confirm: "Are you sure you want to lock this topic?"}, class: 'btn btn-sm btn-primary'
          - if topic.pinned?
            = link_to '<span class="glyphicon glyphicon-pushpin"></span>'.html_safe, admin_topic_path(topic, topic: { pinned: '0' }), method: :post, data: { confirm: "Are you sure you want to unpin this topic?"}, class: 'btn btn-sm btn-light'
          - else
            = link_to '<span class="glyphicon glyphicon-pushpin"></span>'.html_safe, admin_topic_path(topic, topic: { pinned: '1' }), method: :post, data: { confirm: "Are you sure you want to pin this topic?"}, class: 'btn btn-sm btn-primary'
          = link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, topic, method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: "Are you sure you want to delete Topic #{topic.title}?" }

.center= paginate @topics, theme: 'bootstrap'
