<% @title = 'Forum' %>
<% if false %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to 'Create Topic', new_topic_path, class: 'btn btn-xs btn-primary' %>
  </h1>
</div>
<% end %>

<div class="jumbotron" style="position:relative;margin-bottom: 20px;margin-top: 10px;background-color: #333;color: white;padding-top: 5px;padding-bottom: 20px;">
  <div class="jumbotron-pagination">
    <%= render partial: 'variables/per_page', locals: { per_page: 50, object_count: @topics.total_count } %>
  </div>

  <h1><%= @title %></h1>
  <p class="lead">A place to ask questions, seek advice, and help others.</p>
</div>



<div class="row">
  <div class="col-sm-8 col-lg-9">
  <% if current_user %>
    <% if current_user.topics_created_in_last_day.count >= current_user.max_topics %>
      <%= link_to "#{current_user.max_topics} Topics Per Day Limit Reached", '#', data: { object: 'suppress-click' }, class: 'btn btn-success', disabled: "disabled" %>
    <% else %>
      <%= link_to 'Start a New Topic', new_topic_path, class: 'btn btn-success' %>
    <% end %>
  <% else %>
    <%= link_to 'Join the Discussion', new_user_session_path, class: 'btn btn-success' %>
  <% end %>
  </div>
  <div class="col-sm-4 col-lg-3" style="position:relative">
    <%= form_tag topics_path, method: :get, class: 'form-inline' do %>
      <%#= hidden_field_tag :order, params[:order] %>
      <div class="input-group">
        <%= text_field_tag 's', params[:s], class: 'form-control' %>
        <span class="input-group-btn">
          <%= submit_tag 'Search', class: 'btn btn-primary', name: nil %>
        </span>
        <%#= link_to 'Reset', topics_path, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'topics/topics' %>
