- @title = 'Forum Post Markup'

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = @title
      .banner-body
        Looking to spice up your forum post? Learn more below!

%a.anchor-top{ name: 'inline-code' }
.content-container
  %h2
    Inline Code
    %a.anchor-link{ href: '#inline-code' }

  .codeblocks-container.code-input-file.p
    The following text is `inline code`.

  %p
    The following text is
    = succeed '.' do
      %code inline code

%a.anchor-top{ name: 'code-block' }
.content-container
  %h2
    Code Block
    %a.anchor-link{ href: '#code-block' }

  .codeblocks-container.code-input-file.p
    ```
    %br
    \# Write code block
    %br
    def add(a,b)
    %br
    &nbsp;&nbsp;return a+b
    %br
    end
    %br
    ```
  %pre
    \# Write code block
    def add(a,b)
    &nbsp;&nbsp;return a+b
    end

%a.anchor-top{ name: 'highlight' }
.content-container
  %h2
    Highlight
    %a.anchor-link{ href: '#highlight' }

  .codeblocks-container.code-input-file.p
    The following text is ==highlighted==.

  %p
    The following text is
    = succeed '.' do
      %mark highlighted

%a.anchor-top{ name: 'superscript' }
.content-container
  %h2
    Superscript
    %a.anchor-link{ href: '#superscript' }

  .codeblocks-container.code-input-file.p
    This is the 2^(nd) time.

  %p
    This is the 2<sup>nd</sup> time.

%a.anchor-top{ name: 'quotes' }
.content-container
  %h2
    Quotes
    %a.anchor-link{ href: '#quotes' }

  .codeblocks-container.code-input-file.p
    > This is a quote.

  %p
    %blockquote This is a quote.

%a.anchor-top{ name: 'underline' }
.content-container
  %h2
    Underline
    %a.anchor-link{ href: '#underline' }

  .codeblocks-container.code-input-file.p
    The following text is _underlined_.

  %p
    The following text is
    = succeed '.' do
      %u underlined

%a.anchor-top{ name: 'strikethrough' }
.content-container
  %h2
    Strikethrough
    %a.anchor-link{ href: '#strikethrough' }

  .codeblocks-container.code-input-file.p
    This is ~~removed~~.

  %p
    This is
    = succeed '.' do
      %del removed

%a.anchor-top{ name: 'horizontal-rule' }
.content-container
  %h2
    Horizontal Rule
    %a.anchor-link{ href: '#horizontal-rule' }

  .codeblocks-container.code-input-file.p
    Here is some text...
    %br
    \---
    %br
    \...and some more text.

  %p
    Here is some text...
    %hr
    \...and some more text.

%a.anchor-top{ name: 'footnotes' }
.content-container
  %h2
    Footnotes
    %a.anchor-link{ href: '#footnotes' }

  .codeblocks-container.code-input-file.p
    This is a sentence.[^1]
    %br
    This is another sentence.[^2]
    %br
    [^1]: This is a footnote.
    %br
    [^2]: This is a second footnote.

  %a.anchor-top{ name: 'fnref1' }
  %p This is a sentence.<sup><a href="#fn1" rel="footnote">1</a></sup>
  %a.anchor-top{ name: 'fnref2' }
  %p This is another sentence.<sup><a href="#fn2" rel="footnote">2</a></sup>
  .footnotes
  %hr
  %ol
    %li
      %a.anchor-top{ name: 'fn1' }
      %p This is a footnote.&nbsp;<a href="#fnref1" rev="footnote">&#8617;</a>
    %li
      %a.anchor-top{ name: 'fn2' }
      %p
        This is a second footnote.&nbsp;<a href="#fnref2" rev="footnote">&#8617;</a>

%a.anchor-top{ name: 'links' }
.content-container
  %h2
    Links*
    %a.anchor-link{ href: '#links' }

  .codeblocks-container.code-input-file.p
    Here is a [link](https://sleepdata.org).

  %p
    Here is a
    = link_to('link', 'https://sleepdata.org', target: '_blank') + '.'

  .callout.callout-info
    %p
      %strong *
      The ability to post links is earned.

%a.anchor-top{ name: 'images' }
.content-container
  %h2
    Images*
    %a.anchor-link{ href: '#images' }

  .codeblocks-container.code-input-file.p
    The current build status is ![Build Status](https://travis-ci.org/nsrr/www.sleepdata.org.svg)

  %p
    The current build status is
    = image_tag 'https://travis-ci.org/nsrr/www.sleepdata.org.svg', alt: 'Build Status'

  .callout.callout-info
    %p
      %strong *
      The ability to post images is earned.


%a.anchor-top{ name: 'tables' }
.content-container
  %h2
    Tables
    %a.anchor-link{ href: '#tables' }

  .codeblocks-container.code-input-file.p
    | Header 1 | Header 2 | Header 3&nbsp;|
    %br
    |:---------|:--------:|---------:|
    %br
    |&nbsp;Row&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;Center&nbsp;&nbsp;&nbsp;|&nbsp;Right&nbsp;&nbsp;&nbsp;&nbsp;|
    %br
    |&nbsp;Row&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;Center&nbsp;&nbsp;&nbsp;|&nbsp;Right&nbsp;&nbsp;&nbsp;&nbsp;|

  %p
    %table.table.table-striped
      %thead
        %tr
          %th Header 1
          %th.text-center Header 2
          %th.text-right Header 3
      %tbody
        %tr
          %td Row 1
          %td.text-center Center
          %td.text-right Right
        %tr
          %td Row 2
          %td.text-center Center
          %td.text-right Right
