- @title = @topic.title

- content_for :header do
  .float-right
    = link_to pencil_or("Write a Reply"), page_topic_path(@topic, page: @topic.last_page(current_user), anchor: "write-a-reply"), class: "btn btn-primary btn-shadow" unless @topic.auto_locked?
    - if current_user && @topic.editable_by?(current_user)
      - edit_url = edit_topic_path(@topic)
      - delete_url = @topic
      - delete_confirmation = "Delete \"#{@topic.title}\"?"
      %span.dropdown
        = link_to "#", class: "btn btn-light btn-shadow dropdown-toggle", data: { toggle: "dropdown" } do
          .d-inline-block.d-sm-none
            = icon("fas", "cog")
          .d-none.d-sm-inline-block Actions
          %strong.caret

        .dropdown-menu.dropdown-menu-right
          = link_to edit_url, class: "dropdown-item" do
            = icon("fas", "pencil-alt")
            Edit
          .dropdown-divider
          = link_to delete_url, method: :delete, data: { confirm: delete_confirmation }, class: "dropdown-item text-danger" do
            = icon("fas", "trash-alt")
            Delete
  = @title

%div{ style: "margin-bottom: 20px;" }
  .float-right.d-none.d-md-block{ style: "margin-top: -20px;" }
    = paginate @replies, theme: "bootstrap-small"

%div{ style: "clear: both;" }

= render "replies/index", parent: @topic

- if @page == @topic.last_page(current_user)
  - if @topic.auto_locked?
    .box-shadow.bg-light.p-3.rounded.text-center
      = icon("fas", "lock")
      Topic is locked.
      = link_to "Start a new topic", new_topic_path
  - else
    #comment_container_root_new{ style: "display: none;" }
      - reply = @topic.replies.new
      = render "replies/form", reply: reply

    %a.anchor{ name: "write-a-reply" }
    #write_reply_root_new{ style: "margin-bottom: 20px" }
      - async_write_a_reply_path = async_parent_reply_path(topic_id: @topic, parent_reply_id: "root", reply_id: "new")
      = link_to "Write a Reply", async_write_a_reply_path, method: :post, remote: true, class: "btn btn-primary btn-shadow"

.center-horizontally= paginate @replies, theme: "bootstrap-small"

- if current_user
  #topic-subscription= render "topics/subscribe_unsubscribe", topic: @topic
