- @title = @topic.title

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = @title
      .banner-body
        Topic by
        = @topic.user.forum_name

        - if @topic.tags.count > 0
          - @topic.tags.each do |tag|
            %span.label.label-default{ style: "background-color:#{tag.color}" }= tag.name

        = link_to 'Write a Reply', page_topic_path(@topic, page: @topic.last_page, anchor: 'write-a-reply'), method: :get, class: 'btn btn-xs btn-primary'
        - if current_user && @topic.editable_by?(current_user)
          = succeed ' ' do
            = link_to edit_topic_path(@topic), class: 'btn btn-xs btn-default' do
              %span.glyphicon.glyphicon-edit
              Edit Topic
          = link_to 'Delete Topic', @topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger-inverse'

  - if current_user
    %div{ style: 'background-color: #ededed' }
      .container
        #topic-subscription= render 'topics/subscribe_unsubscribe', topic: @topic


%div{ style: 'margin-bottom: 20px' }
  .pull-right.hidden-xs.hidden-sm{ style: 'margin-top: -20px' }
    = paginate @replies, theme: 'bootstrap-small'

%div{ style: 'clear:both' }

= render 'replies/index', parent: @topic

- if @page == @topic.last_page
  #comment_container_root_new{ style: 'display:none' }
    - reply = @topic.replies.new
    = render 'replies/form', reply: reply

  %a.anchor{ name: 'write-a-reply' }
  #write_reply_root_new{ style: 'margin-bottom: 20px' }
    - async_write_a_reply_path = async_parent_reply_path(topic_id: @topic, parent_reply_id: 'root', reply_id: 'new')
    = link_to 'Write a Reply', async_write_a_reply_path, method: :post, remote: true, class: 'btn btn-primary'

.center= paginate @replies, theme: 'bootstrap-small'
