<% @title = @topic.name %>
<% if false %>
  <div class="page-header">
    <h1>
      <%= link_to "Forum", topics_path %> &middot; <%= @title %>
    </h1>
    <%= link_to "Edit Topic", edit_topic_path(@topic), class: 'btn btn-xs btn-default' %>
    <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Topic #{@topic.name}?" } %>
  </div>
<% end %>

<div class="jumbotron" style="position:relative;margin-bottom: 20px;margin-top: 10px;background-color: #333;color: white;padding-top: 5px;padding-bottom: 20px;">
  <div class="jumbotron-left-after">
    <span class="glyphicon glyphicon-home"></span>
    <%= link_to "Back to Forum", topics_path %>
  </div>

  <% if current_user and @topic.editable_by?(current_user) %>
    <div class="jumbotron-right-after">
      <span class="glyphicon glyphicon-edit"></span>
      <%= link_to "Edit Topic", edit_topic_path(@topic) %>
    </div>
  <% end %>

  <div class="jumbotron-pagination">
    <%= render partial: 'variables/per_page', locals: { per_page: 50, object_count: @comments.total_count } %>
  </div>

  <h1><%= @title %></h1>
  <p class="lead">Topic by <%= link_to @topic.user.name, topics_path(a: @topic.user.name) %></p>
</div>

<% @comments.each_with_index do |comment, index| %>
  <% current_index = (params[:page].to_i * 50) + index + 1 %>
  <div class="row" id="c<%= current_index %>">
    <% if comment.banned_or_deleted? %>
      <div class="col-xs-1">
      </div>
      <div class="col-md-11 col-xs-10 col-xs-offset-1 col-md-offset-0">
        <div class="file-display" style="margin-bottom:20px;background-color:#efefef; padding: 2px 15px 4px 15px;height:25px;font-weight: 200;">
          <div class="file-display-right-middle-after" style="<%= 'text-decoration:line-through' if comment.banned_or_deleted? %>;">
            #<%= current_index %>
          </div>
          <i class="text-muted">Comment Deleted</i>
        </div>
      </div>
    <% else %>
      <div class="col-xs-1">
        <%= render partial: 'topics/forum_gravatar', locals: { user: comment.user, icon: 'identicon' } %>
      </div>

      <div class="col-md-11 col-xs-10 col-xs-offset-1 col-md-offset-0">
        <div class="file-display" style="margin-bottom:20px; <%= 'background-color:#efefef;' if comment.banned_or_deleted? %>">
          <div class="file-display-right-after" style="<%= 'text-decoration:line-through' if comment.banned_or_deleted? %>">
            <% if current_user and comment.editable_by?(current_user) %>
              <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_topic_comment_path(@topic, comment), remote: true, method: :get, class: 'btn btn-xs btn-default', rel: 'tooltip', title: 'Edit Comment' %>
            <% end %>
            <% if current_user and comment.deletable_by?(current_user) %>
              <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, [@topic, comment], method: :delete, data: { confirm: "Are you sure you want to delete Comment ##{current_index}"}, class: 'btn btn-xs btn-danger-inverse' %>
            <% end %>
            <a href="#c<%= current_index %>">#<%= current_index %></a>
          </div>

          <% if comment.user.core_member? %>
            <div class="file-display-right-bottom-after" style="background-color:#428bca;color:white">Core Member</div>
          <% elsif comment.user.aug_member? %>
            <div class="file-display-right-bottom-after" style="background-color:#5cb85c;color:white">AUG Member</div>
          <% end %>

          <div id="comment_<%= comment.id %>_container">
            <%= render partial: 'comments/formatted', locals: { comment: comment } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<hr class="soften" />

<% if @topic.locked? %>

  <div class="text-muted center">This topic is locked <span class="glyphicon glyphicon-lock"></span></div>

<% else %>
  <% if current_user and not current_user.banned? %>
    <% if @topic.user_commented_recently?(current_user) %>
      <div class="text-muted center">You may not post consecutive comments. You may edit your last comment or wait for another response.</div>
    <% else %>
      <% @comment = @topic.comments.new %>
      <%= form_for [@topic, @comment], html: { class: 'form-horizontal' } do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation" class="bs-callout bs-callout-danger">
          <h4><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved</h4>

          <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <div class="col-xs-1">
          <%= render partial: 'topics/forum_gravatar', locals: { user: current_user, icon: 'identicon' } %>
        </div>

        <div class="col-md-11 col-xs-10 col-xs-offset-1 col-md-offset-0">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#write-new" data-toggle="tab">Write</a></li>
            <li><a href="#preview-new" data-toggle="tab" data-topic-id="<%= @topic.to_param %>" data-object="preview-comment" data-comment-id="new">Preview</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="write-new" style="padding-top:23px">
              <%= f.text_area :description, rows: 7, class: 'form-control', id: 'comment_description_new' %>
            </div>
            <div class="tab-pane" id="preview-new" style="min-height:177px;padding: 30px 15px 15px 15px;">

            </div>
          </div>

        </div>
      </div>

      <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
          <%= f.submit "Comment", class: 'btn btn-primary pull-right' %>
        </div>
      </div>
      <% end %>
    <% end %>
  <% elsif current_user %>
    <div class="text-muted center">You have been <span class="label label-banned">banned</span> from commenting on this forum.</div>
  <% else %>
    <%= link_to 'Sign in to Join the Discussion', new_user_session_path, class: 'btn btn-lg btn-success pull-right' %>
  <% end %>
<% end %>
