- @title = @topic.name

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = @title
      .banner-body
        Topic by
        = link_to @topic.user.forum_name, topics_path(a: @topic.user.forum_name)

        - if @topic.tags.count > 0
          - @topic.tags.each do |tag|
            %span.label.label-default{ style: "background-color:#{tag.color}" }= tag.name

        - if current_user && @topic.editable_by?(current_user)
          = link_to edit_topic_path(@topic), class: 'btn btn-xs btn-default' do
            %span.glyphicon.glyphicon-edit
            Edit Topic

%div{ style: 'margin-bottom:20px;height: 40px;' }
  = render 'variables/per_page', per_page: Comment::COMMENTS_PER_PAGE, object_count: @comments.total_count

%div{ style: 'clear:both' }

%div
  - @comments.each_with_index do |comment, index|
    - current_page = (params[:page].to_i > 1 ? params[:page].to_i : 1)
    - current_index = ((current_page - 1) * Comment::COMMENTS_PER_PAGE) + index + 1
    %div{ id: "comment_container_#{comment.id}"}
      = render 'comments/show', comment: comment, number: comment.number


- if !@topic.locked? && current_user && !current_user.banned?
  - @comment = @topic.comments.where(user_id: current_user.id).new
  = form_for [@topic, @comment] do |f|
    - if @comment.errors.any?
      .callout.callout-danger
        %strong
        = pluralize @comment.errors.count, 'error'
        prohibited this comment from being saved
        %ul
          - @comment.errors.full_messages.each do |message|
            %li= message

    .comment-outer
      .comment-left-fixed
        = image_tag @comment.user.avatar_url(48, 'identicon'), size: '48x48', alt: ''

      .comment-right-fluid
        .comment-box
          .comment-header
            %strong= @comment.user.forum_name
            = link_to 'Write', '#', data: { object: 'view-comment-write', comment_id: 'new' }, class: 'comment-tab active', tabindex: '-1'
            = link_to 'Preview', '#', data: { object: 'view-comment-preview', comment_id: 'new', topic_id: @topic.to_param }, class: 'comment-tab', tabindex: '-1'
            = link_to 'Markup', '#', data: { object: 'view-comment-markup', comment_id: 'new' }, class: 'comment-tab', tabindex: '-1'
          .comment-body
            #comment_write_new
              = f.text_area :description, rows: 7, class: 'comment-control filedrag-container', data: { object: 'expandable-text-area dropfile text-area-autocomplete', default_rows: 7, mentions: User.current.pluck(:username).reject(&:blank?).uniq.sort, upload_url: upload_images_path(update: '#comment_description_new', format: 'js'), fallback_url: new_image_path, log_id: '#comment_log_new' }, id: 'comment_description_new', placeholder: 'Write a comment'
              #comment_log_new.filedrag
                Drag images above to insert into post.
            #comment_preview_new{ style: 'display:none;min-height: 187px' }
            #comment_markup_new{ style: 'display:none;min-height: 187px' }
              = render 'topics/markup'

            = f.submit 'Comment', class: 'btn btn-primary', data: { disable_with: 'Submitting...' }, style: 'margin-top:10px'

- if @topic.locked?
  .well{ style: 'text-align:center;margin-top:20px' }
    .text-muted.center
      This topic is locked
      %span.glyphicon.glyphicon-lock
- elsif current_user
  - if current_user.banned?
    .well{ style: 'text-align:center;margin-top:20px' }
      .text-muted.center
        You have been
        %span.label.label-banned banned
        from commenting on this forum.
  = render 'topics/subscribe_unsubscribe', topic: @topic
- else
  - content_for :call_to_action do
    .call-to-action
      .call-to-action-header
        Join the discussion today!

      .call-to-action-body
        = link_to 'Create an Account', new_user_registration_path, class: 'btn btn-call-to-action btn-lg'

      .call-to-action-body
        Already have an account?
        = link_to 'Sign in', new_user_session_path
        and contribute to the conversation.
