- @title = "Agreement Reports"

- content_for :header, @title
= render "internal/tabs"
- content_for :sidebar, render("admin/sidebar_reports")

.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-sticky
    %thead
      %tr
        %th Status
        - DataRequest::STATUS.each do |label, status|
          - temp_agreement = Agreement.new(status: status)
          %th= status_helper(temp_agreement)
        %th Total
    %tfoot
      %tr
        %th Total
        - DataRequest::STATUS.each do |label, status|
          - count = @agreements.where(status: status).count
          %th= link_to count, reviews_path(status: status)
        %th= link_to @agreements.count, reviews_path

    - Tag.review_tags.order(:name).each do |tag|
      %tr
        %td= tag.name
        - DataRequest::STATUS.each do |label, status|
          - count = @agreements.where(status: status).with_tag(tag).count
          %td= link_to (count == 0 ? "-" : count), reviews_path(status: status, tag_id: tag.id)
        %td= link_to @agreements.with_tag(tag.id).count, reviews_path(tag_id: tag.id)

.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-sticky
    %thead
      %tr
        %th Month
        %th Submitted
        %th Approved
    %tfoot
      %tr
        - agreement_events = AgreementEvent.with_current_agreement.regular_members.where(event_type: ["user_submitted", "principal_reviewer_approved"])
        %th Total
        %th
          - count = agreement_events.select{|ae| ae.event_type == "user_submitted"}.count
          = count == 0 ? "-" : count
        %th
          - count = agreement_events.select{|ae| ae.event_type == "principal_reviewer_approved"}.count
          = count == 0 ? "-" : count
    - AgreementEvent.with_current_agreement.regular_members.where(event_type: ["user_submitted", "principal_reviewer_approved"]).order(:event_at).group_by{|ae| [ae.event_at.year, ae.event_at.month]}.each do |(year, month), agreement_events|
      %tr
        %td
          = Date::ABBR_MONTHNAMES[month]
          = year
        %td
          - count = agreement_events.select { |ae| ae.event_type == "user_submitted" }.count
          = count == 0 ? "-" : count
        %td
          - count = agreement_events.select { |ae| ae.event_type == "principal_reviewer_approved" }.count
          = count == 0 ? "-" : count
