- @title = 'Admin Dashboard'

- content_for :body_class do
  gray-background

.row
  .col-md-3
    = render 'internal/profile'
    .dashboard-link
      = link_to dashboard_path do
        %span.glyphicon.glyphicon-arrow-left
        Back to Dashboard

    .dashboard-container
      .dashboard-title
        %strong Admin Dashboard
      %p All your admin needs.


  .col-md-3
    .dashboard-container
      .dashboard-title
        %strong User Adminstration
      %p= link_to 'Go To Users', users_path

    .dashboard-container
      .dashboard-title
        %strong Dataset
      %p= link_to 'Roles on Datasets', admin_roles_path
      %p= link_to 'Hosting Requests', hosting_requests_path

  .col-md-3
    .dashboard-container
      .dashboard-title
        %strong Agreements Review
      %p= link_to 'Go To Agreements', reviews_path

    .dashboard-container
      .dashboard-title
        %strong Website Statistics
      %p
        = link_to 'Go To Stats', admin_stats_path
        %br
        = link_to 'Downloads By Month', downloads_by_month_path(user_type: 'regular')
        %br
        = link_to 'Agreement Reports', agreement_reports_path

  .col-md-3
    .dashboard-container
      .dashboard-title
        %strong
          %span.glyphicon.glyphicon-tag
          Tags
      %p= link_to 'Forum and Agreement Tags', tags_path

    .dashboard-container
      .dashboard-title
        %strong
          %span.glyphicon.glyphicon-repeat
          Sync Documentation
      %p= link_to 'Go To Sync', admin_sync_path

    .dashboard-container
      .dashboard-title
        %strong
          %span.glyphicon.glyphicon-globe
          Where is Everyone From?
      %p= link_to 'Go To Location', admin_location_path
