.slim-container.dark-texture
  %h1 Admin Dashboard

.slim-container.math-texture
  .row
    .col-sm-6.col-md-4
      .panel.panel-default{ style: 'min-height: 200px' }
        .panel-heading
          %span.glyphicon.glyphicon-inbox
          Agreements Review
        .panel-body
          = link_to 'Go To Agreements', reviews_path

    .col-sm-6.col-md-4
      .panel.panel-default{ style: 'min-height: 200px' }
        .panel-heading
          %span.glyphicon.glyphicon-user
          User Adminstration
        .panel-body
          %ul.list-unstyled.fixed-font-size
            %li= link_to 'Go To Users', users_path
            %li= link_to 'Roles on Datasets', admin_roles_path

    .col-sm-6.col-md-4
      .panel.panel-default{ style: 'min-height: 200px' }
        .panel-heading
          %span.glyphicon.glyphicon-globe
          Where is Everyone From?
        .panel-body
          = link_to 'Go To Location', location_path

    .col-sm-6.col-md-4
      .panel.panel-default{ style: 'min-height: 200px' }
        .panel-heading
          %span.glyphicon.glyphicon-repeat
          Sync Documentation
        .panel-body
          = link_to 'Go To Sync', sync_path

    .col-sm-6.col-md-4
      .panel.panel-default{ style: 'min-height: 200px' }
        .panel-heading
          %span.glyphicon.glyphicon-tag
          Forum Tags
        .panel-body
          = link_to 'Forum Tags', tags_path

    .col-sm-6.col-md-4
      .panel.panel-default{ style: 'min-height: 200px' }
        .panel-heading
          %span.glyphicon.glyphicon-stats
          Website Statistics
        .panel-body
          %ul.list-unstyled.fixed-font-size
            %li= link_to 'Go To Stats', stats_path
            %li= link_to 'Downloads By Month', downloads_by_month_path( user_type: 'regular' )
            %li= link_to 'Agreement Reports', agreement_reports_path
