- case params[:user_type] when "aug"
  - dfa_scope = DatasetFileAudit.aug_members
  - user_type = "AUG Members"
- when "core"
  - dfa_scope = DatasetFileAudit.core_members
  - user_type = "Core Members"
- when "regular"
  - dfa_scope = DatasetFileAudit.regular_members
  - user_type = "Regular Members"
- else
  - dfa_scope = DatasetFileAudit.all_members
  - user_type = "All Members"
- @year = (params[:year] || Date.today.year).to_i
- dataset_file_audit_hash = dfa_scope.year(@year).group(:dataset_id, "extract(month from dataset_file_audits.created_at)").sum(:file_size)

- @title = "Downloads By Month"

- content_for :header, @title
= render "internal/tabs"
- content_for :sidebar, render("admin/sidebar_reports")

.dashboard-container
  - series = Dataset.current.order(:release_date, :name).collect do |dataset|
    - file_sizes = (1..12).collect(&:to_f).collect do |month|
      - dataset_file_audit_hash[[dataset.id, month]].to_i
    - if file_sizes.sum > 0
      - { name: dataset.name, data: file_sizes }
    - else
      - nil

  - series = series.compact

  - series = [{ name: "No Downloads", data: [0]*12}] if series.blank?

  #downloads-chart-container{ data: { series: series.to_json, categories: Date::ABBR_MONTHNAMES.last(12).to_json, title: "#{@year} Downloads", subtitle: user_type, yaxis: "File Size" } }

.text-center.mb-3
  - @year = (params[:year] || Date.today.year).to_i

  .text-center
    = link_to admin_downloads_by_month_path(year: @year - 1, user_type: params[:user_type]), class: "btn btn-sm btn-light" do
      = icon("fas", "caret-left")
    = @year
    = link_to admin_downloads_by_month_path(year: @year + 1, user_type: params[:user_type]), class: "btn btn-sm btn-light" do
      = icon("fas", "caret-right")

.text-center.mb-3
  = link_to "All Members", admin_downloads_by_month_path(year: @year), class: "btn btn-sm #{ !["regular", "core", "aug"].include?(params[:user_type]) ? "btn-primary" : "btn-light"}"
  = link_to "Regular Members", admin_downloads_by_month_path(year: @year, user_type: "regular"), class: "btn btn-sm #{ params[:user_type] == "regular" ? "btn-primary" : "btn-light"}"
  = link_to "AUG Members", admin_downloads_by_month_path(year: @year, user_type: "aug"), class: "btn btn-sm #{ params[:user_type] == "aug" ? "btn-primary" : "btn-light"}"
  = link_to "Core Members", admin_downloads_by_month_path(year: @year, user_type: "core"), class: "btn btn-sm #{ params[:user_type] == "core" ? "btn-primary" : "btn-light"}"
