- @title = "Roles on Datasets"

%table.table.table-striped.table-borderless.table-hover.table-sticky
  %thead
    %tr
      %th Dataset
      %th Reviewers
      %th Editors
      %th Viewers
  %tbody
    - Dataset.current.order(:release_date, :name).each do |d|
      %tr
        %td
          = link_to collaborators_dataset_path(d) do
            .d-none.d-md-inline-block= d.name
            .d-inline-block.d-md-none= d.slug
        %td
          - d.reviewers.order(:first_name, :last_name).each do |u|
            %span{ rel: "tooltip", title: u.name, data: { container: "body", placement: "top" } }
              = u.initials
        %td
          - d.editors.order(:first_name, :last_name).each do |u|
            %span{ rel: "tooltip", title: u.name, data: { container: "body", placement: "top" } }
              = u.initials
        %td
          - d.viewers.order(:first_name, :last_name).each do |u|
            %span{ rel: "tooltip", title: u.name, data: { container: "body", placement: "top" } }
              = u.initials
