- @title = 'Roles on Datasets'

- content_for :body_class do
  brand-background

= render 'internal/profile_header', title: @title

.dashboard-container.box-shadow
  %table.table.table-striped.table-borderless.table-hover
    %thead
      %tr
        %th Dataset
        %th Reviewers
        %th Editors
        %th Viewers
    %tbody
      - Dataset.current.order(:release_date, :name).each do |d|
        %tr
          %td
            = link_to collaborators_dataset_path(d) do
              .hidden-xs.hidden-sm= d.name
              .hidden-md.hidden-lg= d.slug
          %td
            - d.reviewers.order(:first_name, :last_name).each do |u|
              %span{ rel: 'tooltip', title: u.name, data: { container: 'body', placement: 'top' } }
                = u.initials
          %td
            - d.editors.order(:first_name, :last_name).each do |u|
              %span{ rel: 'tooltip', title: u.name, data: { container: 'body', placement: 'top' } }
                = u.initials
          %td
            - d.viewers.order(:first_name, :last_name).each do |u|
              %span{ rel: 'tooltip', title: u.name, data: { container: 'body', placement: 'top' } }
                = u.initials
