- @title = "Stats"

= render "internal/profile_header", title: @title

.dashboard-container
  .dashboard-title
    %strong Signup Statistics

  .table-responsive
    %table.table.table-striped.table-borderless.table-hover
      %thead
        %tr
          %th.text-center Regular member signups
          %th.text-center AUG member signups
          %th.text-center Core Team member signups
          %th.text-center Total Signups
      %tr
        %td.text-center= number_with_delimiter User.current.where(core_member: false, aug_member: false).count
        %td.text-center= number_with_delimiter User.current.where(aug_member: true).count
        %td.text-center= number_with_delimiter User.current.where(core_member: true).count
        %td.text-center= number_with_delimiter User.current.count

.dashboard-container
  .dashboard-title
    %strong Agreement Statistics

  .table-responsive
    %table.table.table-striped.table-borderless.table-hover
      %thead
        %tr
          %th.text-center Regular member signups
          %th.text-center= link_to "Regular member DAUAs submitted", reviews_path(status: ["submitted", "approved", "resubmit", "expired"], user_type: "regular")
          %th.text-center= link_to "Regular member DAUAs approved", reviews_path(status: ["approved", "expired"], user_type: "regular")
      %tr
        %td.text-center= number_with_delimiter User.current.where(core_member: false, aug_member: false).count
        %td.text-center= number_with_delimiter Agreement.current.regular_members.where(status: ["submitted", "approved", "resubmit", "expired"]).count
        %td.text-center= number_with_delimiter Agreement.current.regular_members.where(status: ["approved", "expired"]).count

- regular_members_files = DatasetFileAudit.regular_members.group(:dataset_id).count
- regular_members_file_sizes = DatasetFileAudit.regular_members.group(:dataset_id).sum(:file_size)
- aug_or_core_members_files = DatasetFileAudit.aug_or_core_members.group(:dataset_id).count
- aug_or_core_members_file_sizes = DatasetFileAudit.aug_or_core_members.group(:dataset_id).sum(:file_size)
- public_downloads_files = DatasetFileAudit.public_downloads.group(:dataset_id).count
- public_downloads_file_sizes = DatasetFileAudit.public_downloads.group(:dataset_id).sum(:file_size)

.dashboard-container
  .dashboard-title
    %strong Download Statistics

  .table-responsive
    %table.table.table-striped.table-borderless.table-hover
      %col{ width: "1%" }
      %thead
        %tr
          %th
          %th.text-center{ colspan: 2 } Regular Members
          %th.text-center{ colspan: 2 } AUG + Core Members
          %th.text-center{ colspan: 2 } Total
        %tr
          %th Dataset
          %th.text-center{ colspan: 2 } Files Downloaded
          %th.text-center{ colspan: 2 } Files Downloaded
          %th.text-center{ colspan: 2 } Files Downloaded
      - Dataset.current.order(:release_date, :name).each do |dataset|
        - public_downloads_files[dataset.id] ||= 0
        - public_downloads_file_sizes[dataset.id] ||= 0
        %tr
          %td.nowrap
            = link_to audits_dataset_path(dataset) do
              .d-none.d-md-inline-block= dataset.name
              .d-inline-block.d-md-none= dataset.slug
          %td.text-center.nowrap= pluralize number_with_delimiter(regular_members_files[dataset.id] ||= 0), "file"
          %td.text-center.nowrap= number_to_human_size(regular_members_file_sizes[dataset.id] ||= 0)
          %td.text-center.nowrap= pluralize number_with_delimiter(aug_or_core_members_files[dataset.id] ||= 0), "file"
          %td.text-center.nowrap= number_to_human_size(aug_or_core_members_file_sizes[dataset.id] ||= 0)
          %td.text-center.nowrap= pluralize number_with_delimiter(regular_members_files[dataset.id] + aug_or_core_members_files[dataset.id] + public_downloads_files[dataset.id]), "file"
          %td.text-center.nowrap= number_to_human_size regular_members_file_sizes[dataset.id] + aug_or_core_members_file_sizes[dataset.id] + public_downloads_file_sizes[dataset.id]
      %tfoot
        %tr
          %th Total
          %th.text-center.nowrap= pluralize number_with_delimiter(regular_members_files.values.sum), "file"
          %th.text-center.nowrap.background-p600-green.text-white= number_to_human_size regular_members_file_sizes.values.sum
          %th.text-center.nowrap= pluralize number_with_delimiter(aug_or_core_members_files.values.sum), "file"
          %th.text-center.nowrap= number_to_human_size aug_or_core_members_file_sizes.values.sum
          %th.text-center.nowrap= pluralize number_with_delimiter(regular_members_files.values.sum + aug_or_core_members_files.values.sum + public_downloads_files.values.sum), "file"
          %th.text-center.nowrap= number_to_human_size regular_members_file_sizes.values.sum + aug_or_core_members_file_sizes.values.sum + public_downloads_file_sizes.values.sum

.dashboard-container
  .dashboard-title
    %strong Approved Users per Dataset

  .table-responsive
    %table.table.table-striped.table-borderless.table-hover
      %col
      %col
      %thead
        %tr
          %th Dataset
          %th.text-center Approved Regular Members
      %tbody
        - Dataset.current.order(:release_date, :name).each do |dataset|
          %tr
            %td
              = link_to dataset do
                .d-none.d-md-inline-block= dataset.name
                .d-inline-block.d-md-none= dataset.slug
            %td.text-center= number_with_delimiter dataset.agreements.regular_members.where(status: "approved").group(:user_id).count.count

