- @title = "Member - #{@organization.name}"

- content_for :header, @organization.name

= render "organizations/tabs", organization: @organization

- content_for :breadcrumbs do
  %ol
    %li= link_to "orgs", organizations_path
    %li= link_to @organization.slug, @organization
    %li.breadcrumb-muted member

.mb-3
  .text-right= link_to "Edit", edit_organization_organization_user_path(@organization, @organization_user), class: "btn btn-primary btn-shadow"

.dashboard-container


  - if @organization_user.user
    = render "forms/horizontal/show/generic", title: "User", content: link_to(@organization_user.user.username, posts_member_path(@organization_user.user.username))
  - else
    = render "forms/horizontal/show/text", object: @organization_user, key: :invite_email

  = render "forms/horizontal/show/check_box", object: @organization_user, key: :editor
  = render "forms/horizontal/show/text", object: @organization_user, key: :review_role_name, key_name: "Review role"

  = render "forms/horizontal/show/generic", title: "Invited by", content: link_to(@organization_user.creator.username, posts_member_path(@organization_user.creator.username))
