Dear
= succeed ',' do
  = @user.first_name
%br
%br
Welcome to the NSRR community! To get you started, we have set a temporary
password for your account:
%code
  %strong= @pw
%br
%br
We encourage you to change this password on the following form:
%br
%center
  = link_to 'Reset My Password', "#{ENV['website_url']}/password/new", style: 'color: #428bca'
%br
We also have a short guide to help you get started on the NSRR:
%br
%br
%center
  = link_to 'Getting Started on the NSRR', "#{ENV['website_url']}/showcase/where-to-start", style: 'color: #428bca'
%br
Finally, remember that we're here to help! Reach out to us on
= link_to 'our forum', "#{ENV['website_url']}/forum", style: 'color: #428bca'
or send us an email at our support email,
= succeed '.' do
  %strong= ENV['support_email']
We recommend adding our support email to your email contacts.
%br
%br
We're excited to have you aboard!
%br
%br
The NSRR Team
