%p{ style: p_style }
  Dear
  = succeed ',' do
    = @user.first_name
%p{ style: p_style }
  Welcome to the NSRR community! To get you started, we have set a temporary
  password for your account:
  %code
    %strong= @pw
%p{ style: p_style }
  We encourage you to change this password on the following form:

%p{ style: center_style }
  = link_to 'Reset My Password', "#{ENV['website_url']}/password/new", style: link_style

%p{ style: p_style }
  We also have a short guide to help you get started on the NSRR:

%p{ style: center_style }
  = link_to 'Getting Started on the NSRR', "#{ENV['website_url']}/showcase/where-to-start", style: link_style

%p{ style: p_style }
  Finally, remember that we're here to help! Reach out to us on
  = link_to 'our forum', "#{ENV['website_url']}/forum", style: link_style
  or send us an email at
  = succeed '.' do
    %strong= ENV['support_email']
  We recommend adding our support email to your email contacts.

%p{ style: p_style }
  We're excited to have you aboard!
  %br
  The NSRR Team
