- if @supporting_documents.present?
  %table.table.table-striped.table-borderless.table-sticky
    %col
    %col{ width: "1px" }
    %col{ width: "1px" }
    %thead
      %tr
        %th
          Filename
        %th
          Size
        %th.text-center
          Actions
    - @supporting_documents.each do |supporting_document|
      %tr.tr-align-middle{ id: "supporting-document-#{supporting_document.id}" }
        %td
          - if supporting_document.document.file.extension.casecmp("pdf").zero?
            = icon("far", "file-pdf")
          - else
            = icon("far", "file-image")
          = link_to supporting_document.document.file.filename, [@data_request, supporting_document], data: { turbolinks: false }
        %td.small= number_to_human supporting_document.file_size
        %td.text-center
          - if supporting_document.reviewer_uploaded?
            = icon("fas", "lock", rel: "tooltip", data: { title: "Uploaded by Reviewer", container: "body", placement: "left" })
          - else
            = link_to [@data_request, supporting_document], method: :delete, remote: true, data: { confirm: "Delete #{supporting_document.document.file.filename}?" }, class: "btn btn-sm btn-outline-danger" do
              = icon("fas", "trash-alt")

  .center-horizontally= paginate @supporting_documents, theme: "bootstrap-small"
- else
  .p-3.lead.text-center.text-muted
    No supporting documents uploaded.
