- if @data_request.supporting_documents.present?
  %table.table.table-striped.table-borderless.table-sticky
    %col
    %col{ width: "1px" }
    %col{ width: "1px" }
    %thead
      %tr
        %th
          Filename
        %th
          Size
        %th.text-center
          Actions
    - @data_request.supporting_documents.order(:document).each do |supporting_document|
      %tr{ id: "supporting-document-#{supporting_document.id}" }
        %td
          -# TODO: replace with [@data_request, supporting_document] when agreements are renamed to supporting_documents
          = link_to supporting_document.document.file.filename, data_request_supporting_document_path(@data_request, supporting_document), data: { turbolinks: false }
        %td.small= number_to_human supporting_document.file_size
        %td.text-center
          -# TODO: replace with [@data_request, supporting_document] when agreements are renamed to supporting_documents
          = link_to data_request_supporting_document_path(@data_request, supporting_document), method: :delete, remote: true, data: { confirm: "Delete #{supporting_document.document.file.filename}?" }, class: "btn btn-sm btn-outline-danger" do
            %i.fa.fa-trash

- else
  .p-3.lead.text-center.text-muted
    No supporting documents uploaded.
