= form_for @community_tool, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'
      = render 'layouts/errors', object: @community_tool, key: :name

  .form-group
    = f.label :slug, 'URL Slug', class: 'col-md-2 control-label'
    .col-md-10
      .input-group
        = f.text_field :slug, class: 'form-control', autocomplete: 'off'
        %span.input-group-btn
          = link_to '#', class: 'btn btn-info', data: { object: 'toggle-visibility', target: '#slug-info' }, tabindex: '-1' do
            %span.glyphicon.glyphicon-info-sign
      = render 'layouts/errors', object: @community_tool, key: :slug
      #slug-info.callout.callout-info{ style: 'display: none;' }
        %strong Naming convention
        %ul
          %li
            Must be a lowercase letter
            %code a-z
            followed by lowercase letters
            = succeed ',' do
              %code a-z
            numbers
            = succeed ',' do
              %code 0-9
            or dashes
            = succeed '.' do
              %code -
        %p
          Ex:
          %code edf-viewer

  .form-group
    = f.label :url, 'Repository URL', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :url, class: 'form-control'
      = render 'layouts/errors', object: @community_tool, key: :url

  .form-group
    = f.label :description, nil, class: 'col-md-2 control-label'
    .col-md-10
      .preview-container
        .preview-header
          .pull-right
            = render 'replies/rich_text_editor_buttons', target: "#community_tool_description"
          = link_to 'Write', '#', data: { object: 'view-content-markdown' }, class: 'preview-tab active', tabindex: '-1'
          = link_to 'Preview', '#', data: { object: 'view-content-preview', content: '#community_tool_description' }, class: 'preview-tab', tabindex: '-1'
        .preview-body
          #content_markdown
            = f.text_area :description, rows: [[5, @community_tool.description.to_s.count("\n") + 1].max, 25].min, class: 'preview-control', data: { object: 'expandable-text-area', default_rows: 5 }
          #content_preview.markdown-container-new{ style: 'display:none' }

  .form-group
    .col-md-offset-2.col-md-10
      .checkbox
        %label
          = f.check_box :published
          Published

  .form-group
    .col-md-offset-2.col-md-10
      .checkbox
        %label
          = f.check_box :tag_program
          Program

  .form-group
    .col-md-offset-2.col-md-10
      .checkbox
        %label
          = f.check_box :tag_script
          Script

  .form-group
    .col-md-offset-2.col-md-10
      .checkbox
        %label
          = f.check_box :tag_tutorial
          Tutorial

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = cancel
