- @title = 'Community Tools'

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        Community Tools
      .banner-body
        = link_to new_community_tool_path, class: 'btn btn-xs btn-default' do
          %span.glyphicon.glyphicon-plus
          New Community Tool

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th URL
      %th User
      %th Status
      %th Actions

  %tbody
    - @community_tools.each do |community_tool|
      %tr
        %td= link_to community_tool.name, community_tool
        %td= community_tool.url
        %td= community_tool.user.name
        %td= community_tool.status
        %td
          = link_to 'Edit', edit_community_tool_path(community_tool), class: 'btn btn-xs btn-default'
          = link_to 'Destroy', community_tool, method: :delete, data: { confirm: "Are you sure you want to delete #{community_tool.name}?" }, class: 'btn btn-xs btn-danger-inverse'

.center= paginate @community_tools, theme: 'bootstrap'
