- @title = 'Community Tools'

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        Community Tools
      .banner-body
        = link_to new_community_tool_path, class: 'btn btn-xs btn-default' do
          %span.glyphicon.glyphicon-plus
          New Community Tool

%table.table.table-striped
  %col{ width: '1px' }
  %col
  %col
  %col
  %col{ width: '1px' }
  %thead
    %tr
      %th
      %th Name
      %th User
      %th Type
      %th Actions

  %tbody
    - @community_tools.each do |community_tool|
      %tr
        %td.center= render 'layouts/draft_published', published: community_tool.published?
        %td= link_to community_tool.name, community_tool
        %td= community_tool.user.name
        %td
          - if community_tool.tag_script?
            %span.label.label-info Script
          - if community_tool.tag_tutorial?
            %span.label.label-info Tutorial
        %td
          = render 'layouts/edit_delete_dropdown', edit_url: edit_community_tool_path(community_tool), delete_url: community_tool, delete_confirmation: "Delete #{community_tool.name}?"

.center= paginate @community_tools, theme: 'bootstrap'
