- @title = @community_tool.name

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = link_to 'Community Tools', community_tools_path
        &middot;
        = @community_tool.name
      .banner-body
        = link_to edit_community_tool_path(@community_tool), class: 'btn btn-xs btn-default' do
          %span.glyphicon.glyphicon-edit
          Edit Tool

%p
  %strong URL
  = @community_tool.url

%p
  %strong User
  = @community_tool.user.name

%p
  %strong Status
  = @community_tool.status


.markdown-container-new= simple_markdown @community_tool.description
