- @title = @community_tool.name

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = render "layouts/edit_delete_dropdown", edit_url: edit_community_tool_path(@community_tool), delete_url: @community_tool, delete_confirmation: "Delete #{@community_tool.name}?"
        = @title
  .breadcrumb-container.mb-0
    .container
      .float-right
        = render "layouts/draft_published", published: @community_tool.published?
      %ol
        %li= link_to "Tools", community_tools_path

.dashboard-container
  %p
    %strong URL
    = @community_tool.url

  %p
    %strong User
    = @community_tool.user.name

  .markdown-container-new= simple_markdown(@community_tool.description)
