<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @users.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap">Name</th>
      <th style="white-space:nowrap">Email</th>
      <th style="white-space:nowrap">Recent Activity</th>
      <th style="white-space:nowrap">Core Member</th>
      <th style="white-space:nowrap">AUG Member</th>
      <% if current_user.system_admin? %>
        <th style="white-space:nowrap">System Admin</th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <% @users.each do |user| %>
    <tr class="<%= 'banned' if current_user.system_admin? and user.banned? %>">
      <td><%= image_tag user.avatar_url(18), style: 'vertical-align:text-bottom;min-width:18px' %> <%= link_to user.name, user %></td>
      <td><%= user.email %></td>
      <td><% if user.current_sign_in_at %><%= time_ago_in_words(user.current_sign_in_at) %> ago<% end %></td>
      <td style="text-align:center"><%= simple_check user.core_member? %></td>
      <td style="text-align:center"><%= simple_check user.aug_member? %></td>
      <% if current_user.system_admin? %>
        <td style="text-align:center"><%= simple_check user.system_admin? %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-default btn-xs' %>
          <% unless current_user == user %>
            <%= link_to 'Delete', user, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete User #{user.name}?" } %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @users, theme: "contour" %></div>
