- @title = "My Settings"

.row
  .col-md-3.col-lg-3
    = render "internal/profile"
  .col-md-9.col-lg-6
    .dashboard-container
      .dashboard-title
        %strong My Settings

      = form_for current_user, url: update_settings_path, html: { class: "form-vertical" } do |form|
        .form-group
          = render "layouts/label_or_errors", form: form, object: current_user, key: :first_name
          = form.text_field :first_name, class: "form-control"

        .form-group
          = render "layouts/label_or_errors", form: form, object: current_user, key: :last_name
          = form.text_field :last_name, class: "form-control"

        .form-group
          = render "layouts/label_or_errors", form: form, object: current_user, key: :email
          = form.text_field :email, class: "form-control"

        .form-group.submit-btn-container
          = form.submit "Save Changes", class: "btn btn-primary"

    .dashboard-container
      .dashboard-title
        %strong My Forum Settings
      = form_for current_user, url: update_settings_path, html: { class: "form-vertical" } do |form|
        .form-group
          = render "layouts/label_or_errors", form: form, object: current_user, key: :email, key_name: "Forum Username"
          = form.text_field :username, class: "form-control", placeholder: current_user.name

        .form-group
          .callout.callout-info
            %strong Note:
            You can change your avatar at
            = link_to "gravatar.com", "http://gravatar.com", target: "_blank"

        .form-group
          %label.control-label Receive Forum Emails
          .checkbox
            %label
              = form.check_box :emails_enabled
              Allow the NSRR to send you emails when a topic receives a reply to
              which you are subscribed, and when someone mentions you on the
              forum. Unchecking this box will disable forum emails.
            .callout.callout-info
              %strong Note:
              You will still receive emails for:
              %ul
                %li Progress updates for Data Access and Use Agreements
                %li Password reset emails

        .form-group.submit-btn-container
          = form.submit "Save Changes", class: "btn btn-primary"

    .dashboard-container
      .dashboard-title
        %strong Change Password
      = form_for current_user, url: change_password_path, method: :patch, html: { class: "form-vertical" } do |form|
        .form-group
          = render "layouts/label_or_errors", form: form, object: current_user, key: :current_password, key_name: "Current Password"
          = form.password_field :current_password, class: "form-control", autocomplete: "off"

        .form-group
          = render "layouts/label_or_errors", form: form, object: current_user, key: :password, key_name: "New Password"
          = form.password_field :password, class: "form-control", autocomplete: "off"

        .form-group
          = render "layouts/label_or_errors", form: form, object: current_user, key: :password_confirmation, key_name: "Password Confirmation"
          = form.password_field :password_confirmation, class: "form-control", autocomplete: "off"

        .form-group.submit-btn-container
          = form.submit "Update Password", class: "btn btn-primary"

  .d-none.d-lg-block.col-lg-3
    = render "internal/sidebar/blog_posts"
