<% @title = @user.name %>
<div class="page-header">
  <h1>
    <%= link_to_if current_user.system_admin?, "Users", users_path %> &middot; <%= @title %>
  </h1>
  <% if current_user.system_admin? %>
    <%= link_to "Edit User", edit_user_path(@user), class: 'btn btn-default btn-xs' %>
    <%= link_to 'Delete User', @user, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete User #{@user.name}?" } unless current_user == @user %>
  <% end %>
</div>

<dl class="dl-horizontal">
  <dt>Email</dt>
  <dd><%= @user.email %></dd>

  <dt>Forum Username</dt>
  <dd><%= link_to @user.username, topics_path(a: @user.username) if @user.username.present? %></dd>

  <dt>Degree</dt>
  <dd><%= @user.degree %></dd>

  <dt>Core Team Member</dt>
  <dd><%= simple_check @user.core_member? %></dd>

  <dt>AUG Member</dt>
  <dd><%= simple_check @user.aug_member? %></dd>

  <dt>Research Summary</dt>
  <dd><%= simple_markdown @user.research_summary %></dd>

  <% if current_user.system_admin? %>
    <dt>System Admin</dt>
    <dd><%= simple_check @user.system_admin? %></dd>

    <dt>Banned</dt>
    <dd>
      <%= simple_check @user.banned? %>
      <% if @user.banned? %><span class="label" style="background-color:#333;">Banned from Forum</span><% end %>
    </dd>
  <% end %>

  <dt>User Avatar</dt>
  <dd><%= image_tag @user.avatar_url, class: 'img-rounded' %></dd>

  <% if current_user.system_admin? and @user.authentications.size > 0 %>
    <dt>Authentications</dt>
    <dd>
      <div style="margin-top:10px">
        <% @user.authentications.each do |authentication| %>
          <div class="authentication">
            <%= image_tag "contour/#{authentication.provider}_32.png", height: "32px" %>
            <div class="provider"><%= authentication.provider.titleize %></div>
            <div class="uid"><%= authentication.uid %></div>
          </div>
        <% end %>
      </div>
    </dd>
  <% end %>

  <% download_sizes = [] %>
  <% download_counts = [] %>
  <dt>Total Downloads</dt>
  <dd>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Dataset</th>
          <th style="text-align:center" colspan="2">Files Downloaded</th>
        </tr>
      </thead>
      <% Dataset.current.order(:release_date, :name).each do |dataset| %>
        <% download_size = dataset.dataset_file_audits.where( user_id: @user.id ).sum( :file_size ) %>
        <% download_count = dataset.dataset_file_audits.where( user_id: @user.id ).count %>
        <% if download_size > 0 %>
          <% download_sizes << download_size %>
          <% download_counts << download_count %>
          <tr>
            <td><%= dataset.name %></td>
            <td><%= pluralize number_with_delimiter(download_count), 'file' %></td>
            <td><%= number_to_human_size download_size %></td>
          </tr>
        <% end %>
      <% end %>
      <tfoot>
        <th>Total</th>
        <th><%= pluralize number_with_delimiter(download_counts.sum), 'file' %></th>
        <th><%= number_to_human_size(download_sizes.sum) %></th>
      </tfoot>
    </table>
  </dd>
</dl>

