- @title = @user.name

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = render "layouts/edit_delete_dropdown", edit_url: edit_user_path(@user), delete_url: @user, delete_confirmation: "Delete #{@user.name}?"
        = @title
  .breadcrumb-container.mb-0
    .container
      %ol
        %li= link_to "Users", users_path

.dashboard-container
  %table.table.table-striped.table-borderless
    %col{ width: "25%" }
    %col{ width: "75%" }
    %tr
      %th.text-right
        Email
      %td= @user.email

    %tr
      %th.text-right
        Forum Username
      %td= link_to @user.username, topics_path(a: @user.username) if @user.username.present?

    %tr
      %th.text-right
        Emails Enabled
      %td= simple_check @user.emails_enabled?

    %tr
      %th.text-right
        Degree
      %td= @user.degree

    %tr
      %th.text-right
        Core Team Member
      %td= simple_check @user.core_member?

    %tr
      %th.text-right
        Contributor
      %td= simple_check @user.contributor?

    %tr
      %th.text-right
        AUG Member
      %td= simple_check @user.aug_member?

    %tr
      %th.text-right
        Community Manager
      %td= simple_check @user.community_manager?

    %tr
      %th.text-right
        Research Summary
      %td= simple_markdown(@user.research_summary)

    - if current_user.system_admin?
      %tr
        %th.text-right
          System Admin
        %td
          = simple_check @user.system_admin?

      %tr
        %th.text-right
          Banned
        %td
          = simple_check @user.banned?
          - if @user.banned?
            %span.badge.badge-dark
              Banned from Forum
    %tr
      %th.text-right
        User Avatar
      %td
        = image_tag @user.avatar_url, class: "img-rounded"

    %tr
      %th.text-right
        Agreements
      %td
        %table.table.table-sm.table-striped
          %thead
            %tr
              %th ID
              %th Status
              %th Datasets
          %tbody
            - @user.agreements.order(id: :desc).each do |a|
              %tr
                %td= link_to "##{a.id}", review_path(a)
                %td= status_helper(a)
                %td
                  - a.datasets.order(:release_date, :name).each do |dataset|
                    = render "datasets/mini", dataset: dataset

    %tr
      %th.text-right
        Total Downloads
      %td
        - download_sizes = []
        - download_counts = []
        %table.table.table-striped
          %thead
            %tr
              %th
                Dataset
              %th.text-center{ colspan: 2 }
                Files Downloaded
          - Dataset.current.order(:release_date, :name).each do |dataset|
            - download_size = dataset.dataset_file_audits.where( user_id: @user.id ).sum( :file_size )
            - download_count = dataset.dataset_file_audits.where( user_id: @user.id ).count
            - if download_size > 0
              - download_sizes << download_size
              - download_counts << download_count
              %tr
                %td
                  = dataset.name
                %td
                  = pluralize number_with_delimiter(download_count), "file"
                %td
                  = number_to_human_size download_size
          %tfoot
            %th
              Total
            %th
              = pluralize number_with_delimiter(download_counts.sum), "file"
            %th
              = number_to_human_size(download_sizes.sum)
