- @title = @user.name

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = render "layouts/edit_delete_dropdown", edit_url: edit_user_path(@user), delete_url: @user, delete_confirmation: "Delete #{@user.name}?"
        = @title
  .breadcrumb-container
    .container
      %ol
        %li= link_to "Users", users_path

= render "forms/horizontal/show/text", object: @user, key: :email
= render "forms/horizontal/show/generic", title: "Username", content: link_to(@user.username, topics_path(a: @user.username)) if @user.username.present?
= render "forms/horizontal/show/check_box", object: @user, key: :emails_enabled
= render "forms/horizontal/show/text", object: @user, key: :profile_bio, key_name: "Bio"
= render "forms/horizontal/show/text", object: @user, key: :profile_url, key_name: "URL"
= render "forms/horizontal/show/text", object: @user, key: :profile_location, key_name: "Location"
= render "forms/horizontal/show/text", object: @user, key: :degree
= render "forms/horizontal/show/check_box", object: @user, key: :core_member
= render "forms/horizontal/show/check_box", object: @user, key: :contributor
= render "forms/horizontal/show/check_box", object: @user, key: :aug_member
= render "forms/horizontal/show/check_box", object: @user, key: :community_manager
= render "forms/horizontal/show/markdown", object: @user, key: :research_summary
= render "forms/horizontal/show/check_box", object: @user, key: :system_admin
= render "forms/horizontal/show/generic", title: "Banned", content: simple_check(@user.banned?) + "#{" #{content_tag(:span, "Banned from Forum", class: "badge badge-dark")}" if @user.banned?}".html_safe
= render "forms/horizontal/show/generic", title: "Profile picture", content: profile_picture_tag(@user)
= render "forms/horizontal/show/generic", title: "Data requests", content: render("users/data_requests", user: @user)
= render "forms/horizontal/show/generic", title: "Downloads", content: render("users/downloads", user: @user)
