- @title = @user.name
.beta-container
  .main-container.dark-texture
    %h1
      = link_to_if current_user.system_admin?, "Users", users_path
      &middot;
      = @title
    - if current_user.system_admin?
      = link_to "Edit User", edit_user_path(@user), class: 'btn btn-default btn-xs'
      = link_to 'Delete User', @user, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete User #{@user.name}?" } unless current_user == @user

  .main-container.grid-texture
    %dl.dl-horizontal
      %dt
        Email
      %dd
        = @user.email

      %dt
        Forum Username
      %dd
        = link_to @user.username, topics_path(a: @user.username) if @user.username.present?

      %dt
        Emails Enabled
      %dd
        = simple_check @user.emails_enabled?

      %dt
        Degree
      %dd
        = @user.degree

      %dt
        Core Team Member
      %dd
        = simple_check @user.core_member?

      %dt
        AUG Member
      %dd
        = simple_check @user.aug_member?

      %dt
        Research Summary
      %dd{ style: 'line-height: inherit' }
        = simple_markdown @user.research_summary

      - if current_user.system_admin?
        %dt
          System Admin
        %dd
          = simple_check @user.system_admin?

        %dt
          Banned
        %dd
          = simple_check @user.banned?
          - if @user.banned?
            %span.label{ style: "background-color:#333;" }
              Banned from Forum

      %dt
        User Avatar
      %dd
        = image_tag @user.avatar_url, class: 'img-rounded'

      - download_sizes = []
      - download_counts = []
      %dt
        Total Downloads
      %dd
        %table.table.table-bordered
          %thead
            %tr
              %th
                Dataset
              %th{ style: "text-align:center", colspan: "2" }
                Files Downloaded
          - Dataset.current.order(:release_date, :name).each do |dataset|
            - download_size = dataset.dataset_file_audits.where( user_id: @user.id ).sum( :file_size )
            - download_count = dataset.dataset_file_audits.where( user_id: @user.id ).count
            - if download_size > 0
              - download_sizes << download_size
              - download_counts << download_count
              %tr
                %td
                  = dataset.name
                %td
                  = pluralize number_with_delimiter(download_count), 'file'
                %td
                  = number_to_human_size download_size
          %tfoot
            %th
              Total
            %th
              = pluralize number_with_delimiter(download_counts.sum), 'file'
            %th
              = number_to_human_size(download_sizes.sum)
