- @title = "Edit Legal Document Dataset: #{@legal_document_dataset.name}"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @legal_document_dataset.name
  .breadcrumb-container.mb-0.p-2
    .container
      %ol
        %li= link_to "Legal Document Datasets", organization_legal_document_datasets_path(@organization)
        %li= link_to @legal_document_dataset.name, [@organization, @legal_document_dataset]
        %li Edit

= render "legal_document_datasets/form", legal_document_dataset: @legal_document_dataset
