- @title = @legal_document_dataset.name

- content_for :header, @title
= render "organizations/tabs", organization: @organization
- content_for :breadcrumbs do
  %ol
    %li= link_to "orgs", organizations_path
    %li= link_to @organization.slug, @organization
    %li= link_to "legal document datasets", [@organization, :legal_document_datasets]
    %li.breadcrumb-muted= @title.downcase
- content_for :sidebar, render("editor/organizations/sidebar")

= render "forms/horizontal/show/generic", title: "Legal document", content: link_to(@legal_document_dataset.legal_document.name, [@organization, @legal_document])
= render "forms/horizontal/show/generic", title: "Dataset", content: link_to(@legal_document_dataset.dataset.name, @dataset)
