<div class="modal-dialog modal-wide-width">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><%= link_to @variable.name, dataset_variable_path(@dataset, @variable) %> &middot; <%= @variable.display_name %> <span class="label" style="background-color:<%= @dataset.color %>"><%= @dataset.slug %></span></h4>
    </div>
    <div class="modal-body">
      <% if File.file?( File.join( @dataset.root_folder, 'dd', 'graphs', "#{@variable.name}-lg.png") ) %>
        <center>
          <%= image_tag variable_chart_dataset_path(@dataset, name: "#{@variable.name}-lg"), style: 'max-width: 100%;max-height:400px;display:block' %>
        </center>
      <% end %>
      <div class="row">
        <% if @variable.domain %>
          <div class="col-sm-6">
            <table class="table table-bordered table-condensed table-striped">
              <thead>
                <tr>
                  <th>Value</th>
                  <th>Display Name</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th colspan="2" style="font-weight:300;text-align:center"><%= @variable.domain.name %></th>
                </tr>
              </tfoot>
              <% @variable.domain.options.each do |option| %>
                <tr><td><%= option['value'] %></td><td><%= option['display_name'] %></td></tr>
              <% end %>
            </table>
          </div>
        <% end %>

        <div class="col-sm-<%= @variable.domain ? 6 : 12 %>">
          <% unless @variable.description.blank? %>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Description</h3>
              </div>
              <div class="panel-body">
                <%= simple_markdown @variable.description %>
              </div>
            </div>
          <% end %>

          <% unless @variable.calculation.blank? %>
            <div class="mono-display"><div class="file-display-after">Calculation</div><u><%= @variable.name %></u> = <%= @variable.calculation %></div>
          <% end %>

          <% if @variable.forms.size > 0 %>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Forms</h3>
              </div>
              <div class="panel-body">
                <ul>
                  <% @variable.forms.each do |form| %>
                    <li><%= link_to form.display_name, files_dataset_path(@dataset) + "/forms/#{form.folder}?f=#{CGI::escape form.code_book.to_s}" %> <%= link_to 'All Variables on this Form', collection_path( s: form.name, d: params[:d] ), class: 'btn btn-xs btn-default' %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <% unless @variable.folder.blank? %>
        <div class="pull-left" style="text-align:left">
          <ol class="breadcrumb">
            <% @variable.folder.to_s.split('/').each_with_index do |folder, index| %>
              <li><%= link_to folder, collection_path( s: folder, d: params[:d] ) %></li>
            <% end %>
            <li class="active"><%= @variable.name %></li>
          </ol>
        </div>
      <% end %>

      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
