.user-panel
  = image_tag user.avatar_url(80, 'identicon'), class: 'img-thumbnail', style: 'min-height:90px;min-width:90px;float:right;margin-left:10px', alt: ''
  %h4
    - if user.degree.blank?
      = user.name
    - else
      = succeed ',' do
        = user.name
      %span{ style: 'font-size:0.8em' }= user.degree

  = simple_markdown user.research_summary
  %div{ style: 'clear:both' }
