<div class="page-header">

  <h1>About the National Sleep Research Resource <%= link_to '<span class="glyphicon glyphicon-th"></span>'.html_safe, '#', data: { object: 'toggle-about-view' }, class: 'btn btn-sm btn-default' %></h1>
</div>

<div id="about-list-view">

  <div class="page-header">
    <h2>Collaborating Institutions</h2>
  </div>

  <div class="leadership-list">
    <h4><%= link_to 'Beth Israel Deaconess Medical Center', '#', data: { object: 'hover-highlight suppress-click', targethighlight: '.bidmc', targetfade: '.bwh, .cwru' } %></h4>
  </div>
  <div class="leadership-list">
    <h4><%= link_to "Brigham and Women's Hospital", '#', data: { object: 'hover-highlight suppress-click', targethighlight: '.bwh', targetfade: '.bidmc, .cwru' } %></h4>
  </div>
  <div class="leadership-list">
    <h4><%= link_to 'Case Western Reserve University', '#', data: { object: 'hover-highlight suppress-click', targethighlight: '.cwru', targetfade: '.bidmc, .bwh' } %></h4>
  </div>

  <div class="page-header">
    <h2>Team Members</h2>
  </div>

  <div class="leadership-list bidmc">
    <h4><%= link_to 'Ary Goldberger', 'http://reylab.bidmc.harvard.edu/people/Ary.shtml', target: '_blank' %>, MD</h4>
    <span class="text-muted leadership-description">Co-PI &middot; Beth Israel Deaconess Medical Center</span>
  </div>
  <div class="leadership-list bwh">
    <h4><%= link_to 'Susan Redline', 'https://sleep.med.harvard.edu/people/faculty/1069/Susan+Redline+MD+MPH', target: '_blank' %>, MD</h4>
    <span class="text-muted leadership-description">Co-PI &middot; Brigham and Women's Hospital</span>
  </div>
  <div class="leadership-list cwru">
    <h4><%= link_to 'GQ Zhang', 'http://cci.case.edu/cci/index.php/Gxz11', target: '_blank' %>, PhD</h4>
    <span class="text-muted leadership-description">Co-PI &middot; Case Western Reserve University</span>
  </div>

  <div class="leadership-list bidmc">
    <h4><%= link_to 'Madalena Costa', 'http://reylab.bidmc.harvard.edu/people/madalena/', target: '_blank' %>, PhD</h4>
    <span class="text-muted leadership-description">Sleep Tools Member</span>
  </div>
  <div class="leadership-list cwru">
    <h4><%= link_to 'Licong Cui', 'http://cci.case.edu/cci/index.php/Lxc248', target: '_blank' %></h4>
    <span class="text-muted leadership-description">Sleep Port Member</span>
  </div>
  <div class="leadership-list bwh">
    <h4><%= link_to 'Dennis A. Dean, II', 'http://www.linkedin.com/pub/dennis-dean/b/7b1/4b9', target: '_blank'%>, PhD</h4>
    <span class="text-muted leadership-description">Sleep Tools Member</span>
  </div>
  <div class="leadership-list bwh">
    <h4><%= link_to 'Kevin Gleason', 'https://github.com/kevgleas', target: '_blank'%></h4>
    <span class="text-muted leadership-description">IS Programmer / Analyst</span>
  </div>
  <div class="leadership-list cwru">
    <h4><%= link_to 'Catherine Jayapandian', 'http://www.linkedin.com/pub/catherine-jayapandian/b/675/51b/', target: '_blank' %></h4>
    <span class="text-muted leadership-description">Sleep Tools Member</span>
  </div>
  <div class="leadership-list bwh">
    <h4>Matthew Kim, MD</h4>
    <span class="text-muted leadership-description">Medical Informatician</span>
  </div>
  <div class="leadership-list bwh">
    <h4><%= link_to 'Dan Mobley', 'http://www.brpt.org/default.asp?contentID=16', target: '_blank' %>, RPSGT</h4>
    <span class="text-muted leadership-description">Chief Polysomnologist</span>
  </div>
  <div class="leadership-list bwh">
    <h4><%= link_to 'Remo Mueller', 'https://github.com/remomueller', target: '_blank'%>, PhD</h4>
    <span class="text-muted leadership-description">Senior Open Source Developer</span>
  </div>
  <div class="leadership-list bwh">
    <h4><%= link_to 'Michael Rueschman', 'https://github.com/mrueschman', target: '_blank' %>, MPH</h4>
    <span class="text-muted leadership-description">IS Programmer / Analyst</span>
  </div>
  <div class="leadership-list cwru">
    <h4><%= link_to 'Satya Sahoo', 'http://cci.case.edu/cci/index.php/Satya_Sahoo', target: '_blank' %>, PhD</h4>
    <span class="text-muted leadership-description">Co-Investigator</span>
  </div>
</div>

<div id="about-block-view" style="display:none">
  <div class="row">
    <div class="col-xs-4 leadership">
      <h3><%= link_to 'Ary Goldberger', 'http://reylab.bidmc.harvard.edu/people/Ary.shtml', target: '_blank' %>, MD</h3>
      Co-PI &middot; <%= link_to 'Beth Israel Deaconess Medical Center', '#', data: { object: 'hover-highlight suppress-click', targethighlight: '.bidmc', targetfade: '.bwh, .cwru' } %>
    </div>
    <div class="col-xs-4 leadership">
      <h3><%= link_to 'Susan Redline', 'https://sleep.med.harvard.edu/people/faculty/1069/Susan+Redline+MD+MPH', target: '_blank' %>, MD</h3>
      Co-PI &middot; <%= link_to "Brigham and Women's Hospital", '#', data: { object: 'hover-highlight suppress-click', targethighlight: '.bwh', targetfade: '.bidmc, .cwru' } %>
    </div>
    <div class="col-xs-4 leadership">
      <h3><%= link_to 'GQ Zhang', 'http://cci.case.edu/cci/index.php/Gxz11', target: '_blank' %>, PhD</h3>
      Co-PI &middot; <%= link_to 'Case Western Reserve University', '#', data: { object: 'hover-highlight suppress-click', targethighlight: '.cwru', targetfade: '.bidmc, .bwh' } %>
    </div>
  </div>

  <hr class="soften" />

  <div class="row">
    <div class="col-xs-6 leadership bidmc">
      <h4><%= link_to 'Madalena Costa', 'http://reylab.bidmc.harvard.edu/people/madalena/', target: '_blank' %>, PhD</h4>
      <span class="text-muted leadership-description">Sleep Tools Member</span>
    </div>
    <div class="col-xs-6 leadership cwru">
      <h4><%= link_to 'Licong Cui', 'http://cci.case.edu/cci/index.php/Lxc248', target: '_blank' %></h4>
      <span class="text-muted leadership-description">Sleep Port Member</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 leadership bwh">
      <h4><%= link_to 'Dennis A. Dean, II', 'http://www.linkedin.com/pub/dennis-dean/b/7b1/4b9', target: '_blank'%>, PhD</h4>
      <span class="text-muted leadership-description">Sleep Tools Member</span>
    </div>
    <div class="col-xs-4 leadership bwh">
      <h4><%= link_to 'Kevin Gleason', 'https://github.com/kevgleas', target: '_blank'%></h4>
      <span class="text-muted leadership-description">IS Programmer / Analyst</span>
    </div>
    <div class="col-xs-4 leadership cwru">
      <h4><%= link_to 'Catherine Jayapandian', 'http://www.linkedin.com/pub/catherine-jayapandian/b/675/51b/', target: '_blank' %></h4>
      <span class="text-muted leadership-description">Sleep Tools Member</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 leadership bwh">
      <h4>Matthew Kim, MD</h4>
      <span class="text-muted leadership-description">Medical Informatician</span>
    </div>
    <div class="col-xs-4 leadership bwh">
      <h4><%= link_to 'Dan Mobley', 'http://www.brpt.org/default.asp?contentID=16', target: '_blank' %>, RPSGT</h4>
      <span class="text-muted leadership-description">Chief Polysomnologist</span>
    </div>
    <div class="col-xs-4 leadership bwh">
      <h4><%= link_to 'Remo Mueller', 'https://github.com/remomueller', target: '_blank'%>, PhD</h4>
      <span class="text-muted leadership-description">Senior Open Source Developer</span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 leadership bwh">
      <h4><%= link_to 'Michael Rueschman', 'https://github.com/mrueschman', target: '_blank' %>, MPH</h4>
      <span class="text-muted leadership-description">IS Programmer / Analyst</span>
    </div>
    <div class="col-xs-6 leadership cwru">
      <h4><%= link_to 'Satya Sahoo', 'http://cci.case.edu/cci/index.php/Satya_Sahoo', target: '_blank' %>, PhD</h4>
      <span class="text-muted leadership-description">Co-Investigator</span>
    </div>
  </div>
</div>

<hr class="soften" />

<div class="center">
  <p class="lead">
    The National Sleep Research Resource (NSRR) is funded by the NIH National Heart, Lung, and Blood Institute.
  </p>
  <p class="lead">
    An interdisciplinary group, including sleep physicians, informaticians, mathematicians, and other research staff are working to build the NSRR.
  </p>
</div>

<div class="center" style="margin-top:60px">
  <%= image_tag 'nsrr_logo_256.png', size: '256x256', alt: 'NSRR' %>
</div>

<%= render partial: 'layouts/footer' %>
