.slim-container.dark-texture
  %h1 Agreement Reports


.slim-container.math-texture
  %table.table.table-striped{ style: "table-layout:fixed" }
    %thead
      %tr
        %th Status
        - Agreement::STATUS.each do |label, status|
          - status = nil if status == 'started'
          - temp_agreement = Agreement.new(status: status)
          %th= status_helper(temp_agreement)
        %th Total
    %tfoot
      %tr
        %th Total
        - Agreement::STATUS.each do |label, status|
          - status = nil if status == 'started'
          - count = @agreements.where(status: status).count
          %th= link_to count, agreements_path(status: status || 'started')
        %th= link_to @agreements.count, agreements_path

    - Tag.review_tags.order(:name).each do |tag|
      %tr
        %td= tag.name
        - Agreement::STATUS.each do |label, status|
          - status = nil if status == 'started'
          - count = @agreements.where(status: status).with_tag(tag.id).count
          %td= link_to (count == 0 ? '-' : count), agreements_path(status: status || 'started', tag_id: tag.id)
        %td= link_to @agreements.with_tag(tag.id).count, agreements_path(tag_id: tag.id)

  %table.table.table-striped{ style: "table-layout:fixed" }
    %thead
      %tr
        %th Month
        %th Submitted
        %th Approved
    %tfoot
      %tr
        - agreement_events = AgreementEvent.with_current_agreement.where(event_type: ['user_submitted', 'principal_reviewer_approved'])
        %th Total
        %th
          - count = agreement_events.select{|ae| ae.event_type == 'user_submitted'}.count
          = count == 0 ? '-' : count
        %th
          - count = agreement_events.select{|ae| ae.event_type == 'principal_reviewer_approved'}.count
          = count == 0 ? '-' : count
    - AgreementEvent.with_current_agreement.where(event_type: ['user_submitted', 'principal_reviewer_approved']).order(:event_at).group_by{|ae| [ae.event_at.year, ae.event_at.month]}.each do |(year, month), agreement_events|
      %tr
        %td
          = Date::ABBR_MONTHNAMES[month]
          = year
        %td
          - count = agreement_events.select{|ae| ae.event_type == 'user_submitted'}.count
          = count == 0 ? '-' : count
        %td
          - count = agreement_events.select{|ae| ae.event_type == 'principal_reviewer_approved'}.count
          = count == 0 ? '-' : count
