<% if @dataset %>
  <% @title = @dataset.name %>
  <%= render partial: 'datasets/header' %>
<% end %>

<div class="page-header">
  <ul class="pagination pagination-sm pull-right">
    <% ('a'..'z').each do |letter| %>
      <li class="<%= 'active' if letter == @search %>"><%= link_to letter, collection_path( s: letter, d: params[:d] ) %></li>
    <% end %>
  </ul>
  <h1>
  <% unless @dataset %>
    Variables
  <% end %>

  <form action="<%= collection_path %>" method="get" id="collection_form" class="form-inline" >
    <%= hidden_field_tag 'd', params[:d] %>
    <%= text_field_tag 's', params[:s], class: 'form-control' %>
    <%= link_to 'Search', '#', class: 'btn btn-primary', data: { object: 'submit', target: '#collection_form' } %>
  </form>
  </h1>
</div>

<div class="row">
  <div class="col-xs-10" style="min-height:300px">
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-10">

        <div class="row">
          <% if @variables.count > 0 %>
            <% @variables.each do |variable| %>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <%= render partial: 'welcome/variable_panel', locals: { variable: variable, collection: true } %>
              </div>
            <% end %>
          <% else %>
            <div class="jumbotron">No Variables Found</div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-1">

      </div>
    </div>
  </div>

  <div class="col-xs-2">

    <div class="panel panel-gold panel-hover">
      <div class="panel-heading">
        Commonly Used
      </div>
      <div class="panel-body">
        <div style="font-size:0.8em;">Variables with a gold border are commonly used and recommended over variables with gray borders.</div>
      </div>
    </div>

    <div class="alert alert-info"><%= pluralize @variables.size, 'search result' %></div>
    <table>
      <% @variables.group_by{|v| v.dataset}.sort.each do |dataset, dataset_variables| %>
        <tr>
          <td><span class="label" style="background-color:<%= dataset.color %>"><%= dataset.slug %></span></td>
          <td><%= link_to pluralize( dataset_variables.count, 'result' ), collection_path( s: params[:s], d: dataset.slug ) %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to 'Show All Datasets', collection_path( s: params[:s] ), class: 'btn btn-xs btn-default' unless params[:d].blank? %>

  </div>

</div>

<div class="modal" id="modal-container" tabindex="-1">
</div>
