<div class="page-header">
  <ul class="pagination pagination-sm pull-right">
    <% ('a'..'z').each do |letter| %>
      <li class="<%= 'active' if letter == @search %>"><%= link_to letter, collection_path( s: letter ) %></li>
    <% end %>
  </ul>
  <h1>
    Collection
    <form action="<%= collection_path %>" method="get" id="collection_form" class="form-inline" >
      <%= text_field_tag 's', params[:s], class: 'form-control' %>
      <%= link_to 'Search', '#', class: 'btn btn-primary', data: { object: 'submit', target: '#collection_form' } %>
    </form>
  </h1>
</div>

<% if false %>
  <div class="pull-right">
    <ul class="pagination pagination-sm" style="margin-top:3px;margin-bottom:0px;margin-right:3px">
      <% page = 0 %>
      <% objects_per_page = 100 %>
      <% upto_file_number = objects.count %>
      <% if page > 0 %>
        <li><%= link_to '&laquo;'.html_safe, '#', data: { object: 'suppress-click' } %></li>
      <% else %>
        <li class="disabled"><span>&laquo;</span></li>
      <% end %>
      <li>
        <span>
          <b style="font-size:0.95em"><%= number_with_delimiter( page*objects_per_page + 1 ) %> to <%= number_with_delimiter [upto_file_number, objects.count].min %></b>
          of <%= number_with_delimiter objects.count %>
        </span>
      </li>
      <% if upto_file_number < objects.count %>
        <li><%= link_to '&raquo;'.html_safe, '#', data: { object: 'suppress-click' } %></li>
      <% else %>
        <li class="disabled"><span>&raquo;</span></li>
      <% end %>
    </ul>
  </div>
<% else %>
<div class="pull-right">
  <div class="alert alert-info"><%= pluralize @variables.size, 'search result' %></div>
  <table>
    <% @variables.group_by{|v| v.dataset}.sort.each do |dataset, dataset_variables| %>
      <tr>
        <td><span class="label" style="background-color:<%= dataset.color %>"><%= dataset.slug %></span></td>
        <td><%= pluralize dataset_variables.count, 'result' %></td>
      </tr>
    <% end %>
  </table>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-xs-10">
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-10">
        <div class="row">
          <% @variables.each do |variable| %>
            <% commonly_used = variable.commonly_used %>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="panel <%= commonly_used ? 'panel-info' : 'panel-default' %> panel-hover" style="overflow:hidden">
                <div class="panel-heading" data-basename="<%= variable.name %>" data-slug="<%= variable.dataset.slug %>">
                  <span class="label pull-right" style="background-color:<%= variable.dataset.color %>"><%= variable.dataset.slug %></span>
                  <div style="overflow:hidden;white-space:nowrap"><%#= variable.score(@labels) %><%= variable.name %></div>
                </div>
                <div class="panel-body" style="height:150px;overflow:hidden" data-basename="<%= variable.name %>" data-slug="<%= variable.dataset.slug %>">
                  <center>
                    <% if File.file?( File.join( variable.dataset.root_folder, "dd", "pngs", "#{variable.name}.png") ) %>
                      <%= image_tag variable_chart_dataset_path(variable.dataset, name: variable.name), style: 'max-width: 100%;max-height:50px;display:block' %>
                    <% end %>
                  </center>
                  <div style="font-size:0.8em;margin-top:10px"><%= variable.display_name %> <% unless variable.units.blank? %><code><%= variable.units %></code><% end %></div>

                </div>
                <div class="panel-footer" style="font-size:0.8em;height:36px;overflow:hidden;white-space:nowrap">
                  <% variable_folder = variable.folder.to_s.split('/').first %>
                  <%= link_to variable_folder, collection_path( s: variable_folder ) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-1">

      </div>
    </div>
  </div>

  <div class="col-xs-2">
    <% if false %>
    <% variable_files.shuffle.first(5).each do |variable_file| %>
      <div class="panel panel-default">
        <% d = Dataset.find_by_id(variable_file.split('/dd/')[0].to_s.split('/').last) %>
        <div class="panel-body">
          <% if d %><code class="pull-right"><%= d.slug %></code><% end %>
          <div style="overflow:hidden"><%= File.basename(variable_file).gsub(/\.json$/, '') %></div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>

</div>

<div class="modal" id="modal-container">
</div>
