  <div class="jumbotron">
    <h1>National Sleep Research Resource</h1>
    <p class="lead">Explore the largest collection of sleep research databases in the world.</p>
    <p><a class="btn btn-lg btn-success" href="#">Get started today</a></p>
  </div>

    <div class="marketing">

      <div class="row">
        <div class="col-lg-4">
          <%= image_tag 'shhs_logo.png', size: '140x140', alt: 'SHHS' %>
          <h2>Sleep Heart Health Study</h2>
          <p>Download and explore the dataset that started it all. The quintessential SHHS dataset follows the sleep patterns of 6,000 individuals over 3 visits.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag 'chat_logo.png', size: '140x140', alt: 'SHHS' %>
          <h2>CHAT</h2>
          <p>The most comprehensive dataset of children with sleep apnea. Leading sleep researchers in the field regard the Childhood Adenotonsillectomy Study as a goto resource for understanding sleep apnea present in children.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag 'bestair_logo.png', size: '140x140', alt: 'SHHS' %>
          <h2>BestAIR</h2>
          <p>Cutting edge data and results will soon be available on www.sleepdata.org in the form of the BestAIR study. Novel device setups, montage tweaks, and immaculate manuals of procedures culminate in this fine dataset.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="soften">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Download the data. <span class="text-muted">For free.</span></h2>
          <p class="lead">And remember to cite the National Sleep Research Resource in your next paper or presentation.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag 'charts.png', size: '500x500', alt: 'Charts', class: 'featurette-image img-responsive' %>
        </div>
      </div>

      <hr class="soften">

      <div class="row featurette">
        <div class="col-md-5">
          <%= image_tag 'reports.png', size: '500x500', alt: 'Reports', class: 'featurette-image img-responsive' %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Share your findings. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">With a leading edge web interface, you will not require fancy SAS coding knowledge to generate reports that will wow your colleauges.</p>
        </div>
      </div>

      <hr class="soften">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Follow the data. <span class="text-muted">Stay ahead of the curve. </span></h2>
          <p class="lead">Track the progress of your favorite datasets, and get notified when they are updated.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag 'track.png', size: '500x500', alt: 'Track', class: 'featurette-image img-responsive' %>
        </div>
      </div>

      <hr class="soften">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 NSRR &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
