.content-spacer

.content-container= render 'news/news'

.content-spacer

.content-container
  %h2
    Explore datasets.

  %p
    Learn more about the
    = link_to 'individual datasets', datasets_path
    by reading easily navigable online documentation.

  - if false
    %table.table.table-striped
      %thead
        %tr
          %th Dataset
          %th Who
          %th Size
          %th Actions
      %tbody
        - @datasets.order(release_date: :desc).each do |dataset|
          %tr
            %td= link_to dataset.name, dataset
            %td= dataset.info_who
            %td.nowrap= number_to_human_size(dataset.info_size)
            %td= link_to 'Request Access', data: { object: 'suppress-click' }
          %tr
            %td{ colspan: 4, style: 'padding-bottom: 20px' }= dataset.info_what




  .row{ style: "margin-top:40px" }
    - @datasets.order( release_date: :desc ).limit(3).each do |dataset|
      .col-xs-12.col-md-4
        .panel{ class: "panel-#{dataset.release_date && dataset.release_date <= Date.today ? 'primary' : 'default'}" }
          .panel-heading
            %div.panel-title.nowrap{ style: 'overflow: hidden;' }= link_to dataset.name, dataset
          .panel-body
            %div{ style: "text-align:center;background-color:white;padding-bottom:5px;height:145px;line-height:145px" }
              - if dataset.logo.size > 0
                = link_to image_tag( logo_dataset_path(dataset), style: 'max-width:100%;max-height:140px' ), dataset
              - else
                = link_to image_tag( 'project-default-logo.png', style: 'max-width:100%;max-height:140px' ), dataset
          .panel-footer.nowrap.center{ style: 'overflow: hidden;' }
            - if dataset.release_date and dataset.release_date <= Date.today
              = link_to 'Data Available Now!', dataset
            - elsif dataset.release_date
              = link_to "Coming #{dataset.release_date.strftime("%B %e, %Y")}", dataset

.content-spacer

.content-container

  %h2
    Download the data.

  %p
    Explore over
    = pluralize(number_with_delimiter(Variable.where(dataset_id: Dataset.current.where(public: true).pluck(:id)).count), 'covariate')
    across
    = link_to(pluralize(Dataset.current.where(public: true).count, 'public dataset'), datasets_path) + "."

  .row{ style: "margin-top:40px" }
    - @variables = Variable.where( dataset_id: Dataset.current.where( public: true ).pluck(:id), commonly_used: true ).order("RANDOM()").limit(6)
    - @variables.each do |variable|
      .col-xs-6.col-sm-4.col-md-2
        = render partial: 'variables/panel', locals: { variable: variable }

.content-spacer

.content-container

  %h2
    Begin analysis.

  %p
    Analyze and manipulate data using a variety of
    = link_to('available tools', tools_path) + "."

  .row{ style: "margin-top:40px" }
    - tools = Tool.current.where(slug: ['physiomimi', 'edf-viewer', 'block-edf-loader']).order(:name)
    - tools.each do |tool|
      .col-xs-12.col-sm-6.col-md-4
        = render partial: 'tools/panel', locals: { tool: tool }
    - if tools.count < 3
      .col-xs-12.col-sm-6.col-md-4{ style: "margin:80px 0px 20px" }
        %p{ style: "text-align:center" }= link_to "More Tools &raquo;".html_safe, tools_path, class: 'btn btn-lg btn-primary'

