<div class="jumbotron">
  <h1>National Sleep Research Resource</h1>
  <p class="lead">Explore a rich collection of sleep research data collected in children and adults across the US.</p>
  <p>
    <%= link_to 'Get started today', 'https://sleepepi.partners.org/slice/survey/nsrr-sleepdata', target: '_blank', class: 'btn btn-lg btn-success' %>
  </p>
</div>


<div class="welcome-box welcome-even">
  <div class="jumbotron" style="margin-bottom:0px;padding:20px 0px 0px 0px">
    <h1 style="margin-top:10px">Explore datasets.</h1>
    <p class="lead">Learn more about the <%= link_to 'individual datasets', datasets_path %> by reading easily navigatable online documentation.</p>
  </div>

  <div class="row" style="margin-top:40px">
    <% Dataset.highlighted.order( name: :desc ).limit(3).each do |dataset| %>
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= link_to dataset.name, dataset %></h3>
          </div>
          <div class="panel-body">
            <div style="text-align:center;background-color:white;padding-bottom:5px;height:145px;line-height:145px">
              <% if dataset.logo.size > 0 %>
                <%= link_to image_tag( logo_dataset_path(dataset), style: 'max-width:100%;max-height:140px' ), dataset %>
              <% else %>
                <%= link_to image_tag( 'project-default-logo.png', style: 'max-width:100%;max-height:140px' ), dataset %>
              <% end %>
            </div>
            <p style="text-align:center">
              <%= dataset.description.truncate(170) %>
            </p>
            <p style="text-align:center">
            <%= link_to dataset do %>
              <span class="glyphicon glyphicon-book"></span> Read more (<%= pluralize dataset.pages('**').count, 'page' %>) &raquo;
            <% end %>
            </p>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="welcome-box welcome-odd">

  <div class="jumbotron" style="margin-bottom:0px;padding:20px 0px 0px 0px">
    <h1 style="margin-top:10px">Download the data.</h1>
    <p class="lead">Explore over <%= pluralize( number_with_delimiter(Variable.count), 'covariate' ) %> across <%= link_to pluralize( Dataset.highlighted.count, 'public dataset' ), datasets_path %>.</p>
  </div>

  <div class="row" style="margin-top:40px">
    <% @variables = Variable.where( dataset_id: Dataset.highlighted.pluck(:id), commonly_used: true ).order("RANDOM()").limit(6) %>
    <% @variables.each do |variable| %>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <%= render partial: 'welcome/variable_panel', locals: { variable: variable, collection: false } %>
      </div>
    <% end %>
  </div>

</div>

<div class="welcome-box welcome-even">

  <div class="jumbotron" style="margin-bottom:0px;padding:20px 0px 0px 0px">
    <h1 style="margin-top:10px">Begin analysis.</h1>
    <p class="lead">Analyze and manipulate data using a variety of <%= link_to 'available tools', tools_path %>.</p>
  </div>

  <div class="row" style="margin-top:40px">
    <% tools = Tool.where( "slug != 'wget'" ).current %>
    <% tools.each do |tool| %>
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= link_to tool.name, tool %></h3>
          </div>
          <div class="panel-body">
            <div style="text-align:center;background-color:white;padding-bottom:5px;height:145px;line-height:145px">
              <% if tool.logo.size > 0 %>
                <%= link_to image_tag( logo_tool_path(tool), style: 'max-width:100%;max-height:140px' ), tool %>
              <% else %>
                <%= link_to image_tag( 'project-default-logo.png', style: 'max-width:100%;max-height:140px' ), tool %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if tools.count < 3 %>
      <div class="col-xs-12 col-sm-6 col-md-4" style="margin:80px 0px 20px">
        <p style="text-align:center"><%= link_to "More Tools &raquo;".html_safe, tools_path, class: 'btn btn-lg btn-primary' %></p>
      </div>
    <% end %>
  </div>

</div>

<div class="welcome-box welcome-odd">

  <div class="jumbotron" style="margin-bottom:0px;padding:20px 0px 0px 0px">
    <h1 style="margin-top:10px">Contact us.</h1>
    <p class="lead">Interested in learning more? Fill out our <%= link_to 'survey here', 'https://sleepepi.partners.org/slice/survey/nsrr-sleepdata', target: '_blank' %>.</p>
  </div>

  <p style="text-align:center">
    <%= link_to 'https://sleepepi.partners.org/slice/survey/nsrr-sleepdata', target: '_blank', class: 'btn btn-lg btn-default' do %>
      <%= 'https://sleepepi.partners.org/slice/survey/nsrr-sleepdata' %>
      <span class="glyphicon glyphicon-new-window"></span>
    <% end %>
  </p>

</div>


<div class="modal" id="modal-container">
</div>

<%= render partial: 'layouts/footer' %>
