<div class="jumbotron" style="margin-bottom: 20px;margin-top: 10px;background-color: #333;color: white;padding-top: 5px;padding-bottom: 20px;">
  <h1><%= @variable.name %></h1>
  <p class="lead">Respiratory Disturbance Index at 3% Oxygen Desaturation</p>
</div>

<div class="row">
  <div class="col-md-6">
    <div id="main-container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
  </div>
  <div class="col-md-6">
    <div class="hidden-sm hidden-xs" style="height:122px"></div>
    <p class="lead">Ratio of the count of all apneas (central and obstructive) and hypopneas associated with at least a 3% oxygen desaturation to the total sleep time expressed in hours.</p>
  </div>
</div>


<div class="jumbotron" style="margin-bottom: 20px;margin-top: 10px;background-color: #333;color: white;padding-top: 20px;padding-bottom: 10px;">
  <p class="lead">The foundational variable of the <%= link_to 'SHHS study', @dataset %>.</p>
</div>


<div class="mono-display"><div class="file-display-after">Calculation</div><u>rdi3p</u> = 60 * ( <%= link_to 'hrembp3', collection_path( d: @dataset.slug, s: 'hrembp3' ) %> + <%= link_to 'hrop3', collection_path( d: @dataset.slug, s: 'hrop3' ) %> + <%= link_to 'hnrbp3', collection_path( d: @dataset.slug, s: 'hnrbp3' ) %> + <%= link_to 'hnrop3', collection_path( d: @dataset.slug, s: 'hnrop3' ) %> + <%= link_to 'carbp3', collection_path( d: @dataset.slug, s: 'carbp3' ) %> + <%= link_to 'carop3', collection_path( d: @dataset.slug, s: 'carop3' ) %> + <%= link_to 'canbp3', collection_path( d: @dataset.slug, s: 'canbp3' ) %> + <%= link_to 'canop3', collection_path( d: @dataset.slug, s: 'canop3' ) %> + <%= link_to 'oarbp3', collection_path( d: @dataset.slug, s: 'oarbp3' ) %> + <%= link_to 'oarop3', collection_path( d: @dataset.slug, s: 'oarop3' ) %> + <%= link_to 'oanbp3', collection_path( d: @dataset.slug, s: 'oanbp3' ) %> + <%= link_to 'oanop3', collection_path( d: @dataset.slug, s: 'oanop3' ) %> ) / <%= link_to 'slpprdp', collection_path( d: @dataset.slug, s: 'slpprdp' ) %></div>

<center><%= image_tag 'nsrr-pencil.png', style: 'max-width:100%' %></center>

<div class="welcome-box" style="padding-top:20px;padding-bottom:20px">
  <div class="btn-group btn-group-justified hidden-sm hidden-xs" style="padding-bottom:20px">
    <%= link_to 'Overall', '#', class: 'btn btn-primary btn-lg', data: { object: 'chart-button', chart: 'overall' } %>
    <%= link_to 'Age', '#', class: 'btn btn-default btn-lg', data: { object: 'chart-button', chart: 'age' } %>
    <%= link_to 'Age+Gender', '#', class: 'btn btn-default btn-lg', data: { object: 'chart-button', chart: 'agegender' } %>
    <%= link_to 'Gender', '#', class: 'btn btn-default btn-lg', data: { object: 'chart-button', chart: 'gender' } %>
    <%= link_to 'Race', '#', class: 'btn btn-default btn-lg', data: { object: 'chart-button', chart: 'race' } %>
    <%= link_to 'Stats', '#', class: 'btn btn-default btn-lg', data: { object: 'chart-button', chart: 'stats' } %>
  </div>
  <div class="btn-group btn-group-justified hidden-md hidden-lg" style="padding-bottom:20px">
    <%= link_to 'Overall', '#', class: 'btn btn-primary btn-sm', data: { object: 'chart-button', chart: 'overall' } %>
    <%= link_to 'Age', '#', class: 'btn btn-default btn-sm', data: { object: 'chart-button', chart: 'age' } %>
    <%= link_to 'Age+Gender', '#', class: 'btn btn-default btn-sm', data: { object: 'chart-button', chart: 'agegender' } %>
    <%= link_to 'Gender', '#', class: 'btn btn-default btn-sm', data: { object: 'chart-button', chart: 'gender' } %>
    <%= link_to 'Race', '#', class: 'btn btn-default btn-sm', data: { object: 'chart-button', chart: 'race' } %>
    <%= link_to 'Stats', '#', class: 'btn btn-default btn-sm', data: { object: 'chart-button', chart: 'stats' } %>
  </div>
  <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
  <div id="container-stats" style="display:none">
    <%= render partial: 'rdi3p_stats' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="hidden-sm hidden-xs" style="height:37px"></div>
    <div class="jumbotron" style="margin-bottom: 20px;margin-top: 10px;background-color: #333;color: white;padding-top: 20px;padding-bottom: 10px;">
      <p class="lead">"...difference in <%= link_to 'men versus women', '#', data: { chart: 'gender' } %>..."</p>
    </div>
  </div>
  <div class="col-md-6">
    <img class="img-thumbnail" src="//gravatar.com/avatar/a1430bb27ab123f550ea55148bdd371e.png?&amp;s=80&amp;r=pg&amp;d=identicon" style="min-height:90px;min-width:90px;float:right;margin-left:10px;margin-top:10px">
    <blockquote>In the charts above, we can see a significant difference of <code>rdi3p</code> in <%= link_to 'men vs women', '#', data: { chart: 'gender' } %>. You may also notice an interesting correlation between the respiratory disturbance index and <%= link_to 'age', '#', data: { chart: 'age' } %>.

      <small style="margin-top:10px">Susan Redline</small>
    </blockquote>
  </div>
</div>

<div style="margin-top:20px">

<% dataset_file_url = files_dataset_path(@dataset, path: 'datasets', f: 'shhs-0.2.0.csv' ) %>

<div class="row">
<div class="col-md-7">
<!--?prettify lang=ruby?-->
<pre># Load RDI3P from CSV in Ruby
#
#   ruby load_rdi3p.rb
#
# The CSV exists at:
#
#    https://sleepdata.org/datasets/shhs/files/datasets?f=shhs-0.2.0.csv
#
require 'csv'
csv_file = 'shhs-0.2.0.csv'

class Subject
  attr_accessor :race, :gender, :rdi3p, :visitnumber, :age

  def self.create(&amp;block)
    subject = self.new
    yield subject if block_given?
    subject
  end
end

subjects = []

CSV.parse( File.open(csv_file, 'r:iso-8859-1:utf-8'){|f| f.read}, headers: true ) do |line|
  row = line.to_hash
  subjects &lt;&lt; Subject.create do |t|
    t.race         = row['race'].to_s.strip
    t.gender       = row['gender'].to_s.strip
    t.rdi3p        = (row['rdi3p'].to_s.strip == '' ? nil : row['rdi3p'].to_f)
    t.visitnumber  = row['visitnumber'].to_s.strip
    t.age          = (t.visitnumber == '1' ? row['age_s1'].to_i : row['age_s2'].to_i)
  end
end

# Display the first subject (row) from the CSV
subjects.first
# => #&lt;Subject @race="1", @gender="M", @rdi3p=4.15, ...&gt;

# Display the first 10 instances of rdi3p
subjects.collect(&amp;:rdi3p).first(10)
# => [4.15, 30.99, 8.87, 2.59, 6.16, 5.43, 14.62, 2.15, 31.4, 1.3]
</pre>
</div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <center><%= link_to 'Download Full Dataset', dataset_file_url, class: 'btn btn-success btn-lg btn-block', style: 'font-size: 2em' %></center>
    <div style="height:331px"></div>
    <div class="jumbotron" style="margin-bottom: 20px;margin-top: 10px;background-color: #333;color: white;padding-top: 20px;padding-bottom: 10px;">
      <p class="lead">"...load <code>rdi3p</code> from a CSV..."</p>
    </div>
    <%= image_tag 'nsrr-plant01.png', style: 'max-width:100%;', class: 'pull-right' %>
  </div>
</div>

<div class="hidden-lg hidden-md">
  <center><%= link_to 'Download Full Dataset', dataset_file_url, class: 'btn btn-success btn-lg btn-block', style: 'font-size: 2em' %></center>
</div>

</div>

<div style="background-color:#ededed">

<div class="welcome-box welcome-odd">

  <div class="jumbotron" style="margin-bottom:0px;padding:20px 0px 0px 0px">
    <h1 style="margin-top:10px"><code>rdi3p</code> is related to...</h1>
  </div>

  <div class="row" style="margin-top:40px">
    <% variables = @dataset.variables.where(name: @variable.calculation.to_s.split(/[^\w]/).uniq ).limit(6) %>

    <% variables.each do |variable| %>
      <div class="col-xs-6 col-sm-4 col-md-2 si">
        <%= render partial: 'variable_panel', locals: { variable: variable, collection: false } %>
      </div>
    <% end %>
  </div>

</div>
</div>

<div class="center" style="margin-top:60px">
  <%= image_tag 'nsrr_logo_256.png', size: '256x256', alt: 'NSRR' %>
</div>
