- @title = "Review - #{@community_tool.name}"

- content_for :body_class do
  brand-background

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        Reviews
  .breadcrumb-container{ style: 'margin-bottom: 0;' }
    .container
      %ol
        %li= link_to @community_tool.name, community_show_tool_path(@community_tool)
        %li= render 'community_tools/rating', rating: @community_tool.rating

.dashboard-container
  = render 'community_tools/rating', rating: @community_tool_review.rating
  %i= @community_tool_review.user.forum_name
  %small.text-muted= @community_tool_review.created_at.strftime('- %b %-d, %Y')
  = simple_markdown_new(@community_tool_review.review)
