<%= image_tag agreement_event.user.avatar_url(18, 'identicon'), size: '18x18', style: 'vertical-align:text-middle;width:18px' %>
<%= agreement_event.user.name %>
<% if agreement_event.added_tags.count > 0 %>
  added the
  <% agreement_event.added_tags.each do |tag| %>
    <span class="label" style="line-height:20px;background-color: <%= tag.color %>"><%= tag.name %></span>
  <% end %>
  tag<%= 's' if agreement_event.added_tags.count != 1 %>
<% end %>

<% if agreement_event.removed_tags.count > 0 %>
  <%= 'and' if agreement_event.added_tags.count > 0 %>
  removed the
  <% agreement_event.removed_tags.each do |tag| %>
    <span class="label" style="line-height:20px;background-color: <%= tag.color %>"><%= tag.name %></span>
  <% end %>
  tag<%= 's' if agreement_event.removed_tags.count != 1 %>
<% end %>

<abbr rel="tooltip" data-title="<%= agreement_event.event_at.strftime("%-d %B %Y, %-l:%M %p") %>" data-container="body" data-placement="right"><%= time_ago_in_words(agreement_event.event_at) %> ago</abbr>.
