- style_header = false
- show_event = !agreement_event.data_request.approved?
.card
  .card-header{ data: { object: "toggle-data-request-event", target: "#agreement-event-#{agreement_event.id}" }, style: "cursor: pointer;" }
    .float-right.text-muted
      %i.fa.fa-caret-left.data-request-event-icon{ class: show_event ? "data-request-event-icon-rotate" : nil }
    = profile_picture_tag agreement_event.user, size: 18, style: "vertical-align: text-middle;width: 18px;"
    = agreement_event.user.username
    %span.badge.badge-primary submitted
    data request
    = succeed "." do
      %abbr{ rel: "tooltip", data: { title: agreement_event.event_at.strftime("%-d %B %Y, %-l:%M %p"), container: "body", placement: "right" } }= "#{time_ago_in_words(agreement_event.event_at)} ago"

  .card-body.data-request-event{ id: "agreement-event-#{agreement_event.id}", class: show_event ? nil : "data-request-event-hidden" }
    .card-columns.data-request-review-columns
      .card.data-request-review-card
        - if style_header
          .card-header.small
            Datasets
        .card-body
          - unless style_header
            .small.text-muted Datasets
          - agreement_event.data_request.datasets.order(:release_date, :name).each do |dataset|
            = render "datasets/mini", dataset: dataset

      - if agreement_event.data_request.supporting_documents.present?
        .card.data-request-review-card
          - if style_header
            .card-header.small
              Supporting Documents
          .card-body
            - unless style_header
              .small.text-muted Supporting Documents
            - agreement_event.data_request.supporting_documents.order("lower(document)").each do |supporting_document|
              %div.small
                - if supporting_document.document.file.extension.casecmp("pdf").zero?
                  %i.fa.fa-file-pdf-o
                - else
                  %i.fa.fa-file-image-o
                = link_to supporting_document.document.file.filename, reviewer_supporting_document_path(agreement_event.data_request, supporting_document), data: { turbolinks: false }

      - agreement_event.data_request.final_legal_document.final_legal_document_pages.each do |final_legal_document_page|
        - next unless final_legal_document_page.variables.present?
        - final_legal_document_page.variables.each do |variable|
          - agreement_variable = agreement_event.data_request.agreement_variables.where(final_legal_document_variable: variable).first_or_create
          .card.data-request-review-card{ id: "agreement-variable-#{agreement_variable.id}" }= render "reviewer/agreement_variables/show", agreement_variable: agreement_variable
      - if agreement_event.data_request.final_legal_document.attestation_type == "signature"
        - if agreement_event.data_request.duly_authorized_representative_signature_file.present?
          - content = image_tag(duly_authorized_representative_signature_review_path(agreement_event.data_request), class: "img-signature", alt: "")
        - elsif agreement_event.data_request.signature_file.present?
          - content = image_tag(signature_review_path(agreement_event.data_request), class: "img-signature", alt: "")
        - else
          - content = "<div class=\"text-muted\">No signature</div>".html_safe
        .card.data-request-review-card
          - if style_header
            .card-header.small
              = agreement_event.data_request.representative_designated? ? "Duly Authorized Representative" : "Data User"
          .card-body
            - unless style_header
              .small.text-muted= agreement_event.data_request.representative_designated? ? "Duly Authorized Representative" : "Data User"
            %span= content
