.card
  .card-header
    = profile_picture_tag agreement_event.user, size: 18, style: "vertical-align: text-middle;width: 18px;"
    = agreement_event.user.name
    %span.badge.badge-primary submitted
    data request
    = succeed "." do
      %abbr{ rel: "tooltip", data: { title: agreement_event.event_at.strftime("%-d %B %Y, %-l:%M %p"), container: "body", placement: "right" } }= "#{time_ago_in_words(agreement_event.event_at)} ago"

  .card-body
    .card-columns.data-request-review-columns
      - agreement_event.data_request.final_legal_document.final_legal_document_pages.each do |final_legal_document_page|
        - next unless final_legal_document_page.variables.present?
        - final_legal_document_page.variables.each do |variable|
          - agreement_variable = agreement_event.data_request.agreement_variables.find_by(final_legal_document_variable: variable)
          - value = (agreement_variable ? agreement_variable.value : "")
          - if variable.variable_type == "checkbox"
            - content = simple_check(value == "1")
          - else
            - content = (agreement_variable ? agreement_variable.value : "")
          .card.data-request-review-card
            .card-header.small
              = variable.display_name_label
              .float-right
                %i.fa.fa-square-o
            .card-body
              = content
      - if agreement_event.data_request.final_legal_document.attestation_type == "signature"
        - if agreement_event.data_request.duly_authorized_representative_signature_file.present?
          - content = image_tag(duly_authorized_representative_signature_review_path(agreement_event.data_request), class: "img-signature", alt: "")
        - elsif agreement_event.data_request.signature_file.present?
          - content = image_tag(signature_review_path(agreement_event.data_request), class: "img-signature", alt: "")
        - else
          - content = "<div class=\"text-muted\">No signature</div>".html_safe
        .card.data-request-review-card
          .card-header.small
            = agreement_event.data_request.representative_designated? ? "Duly Authorized Representative" : "Data User"
          .card-body
            %span= content
      .card.data-request-review-card
        .card-header.small
          Datasets
        .card-body
          - agreement_event.data_request.datasets.order(:release_date, :name).each do |dataset|
            = render "datasets/mini", dataset: dataset

      .card.data-request-review-card
        .card-header.small
          Supporting Documents
        .card-body
          -# TODO: Show supporting documents and fix URL for reviewers.
          - agreement_event.data_request.supporting_documents.each do |supporting_document|
            - if supporting_document.document.file.extension.casecmp("pdf").zero?
              %i.fa.fa-file-pdf-o
            - else
              %i.fa.fa-file-image-o
            = supporting_document.document.file.filename


    .row{ style: "padding-top: 20px"}
      .col-md-6.col-buffer
        %div{ style: "padding: 0 20px;" }
          %strong= agreement_event.data_request.title_of_project
          %div{ style: "font-style: italic;padding-top: 5px;" }
            = simple_format agreement_event.data_request.specific_purpose
            = simple_format agreement_event.data_request.intended_use_of_data

          - if agreement_event.data_request.irb_evidence_type == "has_evidence" && agreement_event.data_request.irb.present?
            %div{ style: "margin-top: 20px;" }
              %i.fa.fa-paperclip
              = link_to download_irb_agreement_path(agreement_event.data_request), data: { turbolinks: false } do
                = agreement_event.data_request.irb.file.filename
