%p{ style: p_style }
  Dear
  = succeed "," do
    = @data_request.duly_authorized_representative_signature_print

%p{ style: p_style }
  You have been designated as the Duly Authorized Representative for
  = succeed "." do
    = @data_request.user_full_name_and_email
  You may review the data request here:

- signature_request_url = "#{ENV["website_url"]}/representative/#{@data_request.id_and_representative_token}/signature-requested"
%p{ style: center_style }
  = link_to "Review Data Request", signature_request_url, style: link_style

%p{ style: p_style }
  After reviewing,
  %strong please sign
  and
  %strong submit
  the data request.

%p{ style: p_style }
  You can reply directly to this email if you have any questions regarding the
  data request process, or email us at
  = succeed "." do
    = ENV["support_email"]
