%p{ style: p_style }
  Dear
  = succeed "," do
    = @data_request.user.username

%p{ style: p_style }
  Your data request has been signed by
  = succeed "," do
    %strong= @data_request.duly_authorized_representative_signature_print
  your duly authorized representative.

%p{ style: p_style }
  You can now submit your data request here:

%p{ style: center_style }
  = link_to "Resume Data Request", "#{ENV["website_url"]}/data/requests/#{@data_request.to_param}/attest", style: link_style

%p{ style: p_style }
  You can reply directly to this email if you have any questions.
