- @title = "Data Requests"

- render "themes/theme"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @title

- content_for :breadcrumbs do
  %ol
    %li= link_to "Organizations", organizations_path
    %li= link_to @organization.name, @organization
    %li= @title

.dashboard-container
  %div{ data: { object: "reports-data-requests-chart", title: @chart_title.to_json, series: @series.to_json, x_axis: @x_axis.to_json, y_axis: @y_axis.to_json } }
  .text-center
    = link_to organizations_reports_data_requests_path(@organization, year: @year - 1, dataset: @dataset), class: "btn btn-sm btn-light" do
      %i.fa.fa-caret-left
    = @year
    = link_to organizations_reports_data_requests_path(@organization, year: @year + 1, dataset: @dataset), class: "btn btn-sm btn-light" do
      %i.fa.fa-caret-right
