- @title = "Data Requests"
%h1.mb-5
  = @title
  .small
    = @organization.name
    =# link_to "Stats", organizations_reports_data_request_stats_path(@organization)

.text-center
  = link_to organizations_reports_data_requests_path(@organization, year: @year - 1, dataset: @dataset), class: "btn btn-sm btn-light" do
    %i.fa.fa-caret-left
  = @year
  = link_to organizations_reports_data_requests_path(@organization, year: @year + 1, dataset: @dataset), class: "btn btn-sm btn-light" do
    %i.fa.fa-caret-right


%div{ data: { object: "reports-data-requests-chart", title: @chart_title.to_json, series: @series.to_json, x_axis: @x_axis.to_json, y_axis: @y_axis.to_json } }
