<%= form_for(@dataset_user) do |f| %>
  <% if @dataset_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dataset_user.errors.count, "error") %> prohibited this dataset_user from being saved:</h2>

      <ul>
      <% @dataset_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dataset_id %><br>
    <%= f.number_field :dataset_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :editor %><br>
    <%= f.check_box :editor %>
  </div>
  <div class="field">
    <%= f.label :approved %><br>
    <%= f.check_box :approved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
