<h1>Listing dataset_users</h1>

<table>
  <thead>
    <tr>
      <th>Dataset</th>
      <th>User</th>
      <th>Editor</th>
      <th>Approved</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dataset_users.each do |dataset_user| %>
      <tr>
        <td><%= dataset_user.dataset_id %></td>
        <td><%= dataset_user.user_id %></td>
        <td><%= dataset_user.editor %></td>
        <td><%= dataset_user.approved %></td>
        <td><%= link_to 'Show', dataset_user %></td>
        <td><%= link_to 'Edit', edit_dataset_user_path(dataset_user) %></td>
        <td><%= link_to 'Destroy', dataset_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dataset user', new_dataset_user_path %>
