<p id="notice"><%= notice %></p>

<p>
  <strong>Dataset:</strong>
  <%= @dataset_user.dataset_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @dataset_user.user_id %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @dataset_user.editor %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @dataset_user.approved %>
</p>

<%= link_to 'Edit', edit_dataset_user_path(@dataset_user) %> |
<%= link_to 'Back', dataset_users_path %>
