- is_public = dataset_file.publicly_available?
- url = files_dataset_path(@dataset) + "#{"/m/browser" if dataset_file.is_file?}" + "/" + dataset_file.full_path
- url = "#{url}?preview=1" if dataset_file.is_file? && (dataset_file.md? || dataset_file.image?)
- url = "#{url}?inline=1" if dataset_file.is_file? && dataset_file.pdf?
%td
  %i.fa{ class: dataset_file.is_file? ? "fa-file-o" : "fa-folder-open" }
%td
  = link_to_if (!dataset_file.is_file? || dataset_file.downloadable_by_user?(current_user)), dataset_file.file_name, url, data: { object: "#{"autodownload" if dataset_file.is_file? && dataset_file.file_name == params[:f]}", turbolinks: false }
  - if ENV["altamira_url"].present? && /\.edf$/i =~ dataset_file.file_name && dataset_file.is_file? && dataset_file.downloadable_by_user?(current_user)
    = link_to "#{ENV["altamira_url"]}?slug=#{@dataset.slug}&path=#{dataset_file.full_path}&auto=.", class: "btn btn-sm btn-light d-none d-md-inline-block" do
      = icon("fas", "heartbeat")
      Preview Online
%td.d-none.d-md-table-cell= dataset_file.file_time.strftime("%Y-%m-%d %H:%M:%S") if dataset_file.is_file? && dataset_file.file_time
%td.d-none.d-sm-table-cell.text-right.nowrap
  = number_to_human_size(dataset_file.file_size) if dataset_file.is_file?
  - if dataset_file.is_file?
    - if dataset_file.publicly_available?
      = icon("fas", "globe-americas")
    - if current_user && @dataset.editors.pluck(:id).include?(current_user.id)
      - if dataset_file.publicly_available?
        = link_to set_public_file_dataset_path(@dataset, public: "0", path: dataset_file.full_path), method: :post, remote: true do
          = icon("far", "eye-slash", rel: "tooltip", data: { container: "body", placement: "top", title: "Make File Private" })
      - else
        = link_to set_public_file_dataset_path(@dataset, public: "1", path: dataset_file.full_path), method: :post, remote: true do
          = icon("fas", "globe-americas", rel: "tooltip", data: { container: "body", placement: "top", title: "Make File Public" })
  - if false
    - if dataset_file.is_file?
      = link_to "MD5", data: { object: "suppress-click", clipboard_text: dataset_file.file_checksum_md5, placement: "bottom", container: "body", title: "Copied MD5!", trigger: "manual" }, style: "text-decoration: none" do
        MD5
        = icon("fas", "paste")
