- current_user_is_editor = (current_user && @dataset.editors.pluck(:id).include?(current_user.id) ? true : false)

%div
  - if @dataset_files.size == 0
    .jumbotron
      %p.center No Files
  - else
    %table.table.table-condensed.table-hover
      %col{ width: '1px' }
      - @dataset_files.each do |dataset_file|
        - is_public = dataset_file.publicly_available?
        - url = files_dataset_path(@dataset) + "#{'/m/browser' if dataset_file.is_file?}" + '/' + dataset_file.full_path
        %tr{ class: "#{'warning' if dataset_file.file_name == params[:f]} #{'info' if current_user_is_editor && dataset_file.file_checksum_md5.blank? && dataset_file.is_file?}" }
          %td
            %span.glyphicon{ class: "glyphicon-#{dataset_file.is_file? ? 'file' : 'folder-close'}" }
          %td
            = link_to_if (!dataset_file.is_file? || dataset_file.downloadable_by_user?(current_user)), dataset_file.file_name, url, data: { object: "#{'autodownload' if dataset_file.is_file? && dataset_file.file_name == params[:f]}" }
            - if ENV['altamira_url'].present? && /\.edf$/i =~ dataset_file.file_name && dataset_file.is_file? && dataset_file.downloadable_by_user?(current_user)
              = link_to "#{ENV['altamira_url']}?slug=#{@dataset.slug}&path=#{dataset_file.full_path}&auto=.", class: 'btn btn-xs btn-default hidden-xs hidden-sm' do
                %span.glyphicon.glyphicon-eye-open
                Preview Online
          %td.hidden-xs.hidden-sm= dataset_file.file_time.strftime('%Y-%m-%d %H:%M:%S') if dataset_file.is_file? && dataset_file.file_time
          %td.hidden-xs.text-right.nowrap
            = number_to_human_size(dataset_file.file_size) if dataset_file.is_file?
            - if dataset_file.is_file?
              - if dataset_file.publicly_available?
                %span.glyphicon.glyphicon-globe
              - if current_user && @dataset.editors.pluck(:id).include?(current_user.id)
                - if dataset_file.publicly_available?
                  = link_to set_public_file_dataset_path(@dataset, public: '0', path: dataset_file.full_path), method: :post do
                    %span.glyphicon.glyphicon-eye-close
                - else
                  = link_to set_public_file_dataset_path(@dataset, public: '1', path: dataset_file.full_path), method: :post do
                    %span.glyphicon.glyphicon-globe

- if @dataset.grants_file_access_to?(current_user)
  = render 'datasets/download_command'
- else
  - content_for :call_to_action do
    .call-to-action
      - agreements = (current_user ? @dataset.agreements.where(user_id: current_user.id) : Agreement.none)
      - if agreement = agreements.find_by(status: 'submitted')
        .call-to-action-body
          We are currently reviewing your
          = status_helper_simple(agreement)
          = succeed '.' do
            = link_to 'DAUA', submissions_path
        .call-to-action-body
          Please contact us directly at
          = mail_to 'support@sleepdata.org'
          with any questions.
      - elsif agreement = agreements.find_by(status: 'resubmit')
        .call-to-action-body
          You are required to
          = status_helper_simple(agreement)
          your DAUA.
        .call-to-action-body
          Please make the changes requested by the reviewer and
          = succeed '.' do
            = link_to 'resubmit your DAUA', submissions_path
      - elsif agreement = agreements.expired.first
        - agreement.update status: 'expired'
        .call-to-action-body
          Your DAUA has
          = succeed '.' do
            = status_helper_simple(agreement)
        .call-to-action-body
          You will need to
          = link_to 'renew your DAUA', submissions_path
          to continue downloading files.
      - elsif agreement = agreements.find_by(status: 'started')
        .call-to-action-body
          Please complete your
          - if agreement.fully_filled_out?
            = link_to 'DAUA', proof_agreement_path(agreement)
          - else
            = link_to 'DAUA', step_agreement_path(agreement, step: agreement.current_step)
          to gain file access.
        .call-to-action-body
          You may contact us directly at
          = mail_to 'support@sleepdata.org'
          with any questions regarding the process.
      - else
        .call-to-action-body
          To download files:
          = link_to 'Fill out a Data Access and Use Agreement', submissions_start_path(dataset: @dataset), class: 'btn btn-lg btn-call-to-action btn-shadow'
