= link_to edit_organization_legal_document_legal_document_variable_path(@organization, @legal_document, variable), remote: true, class: "btn btn-sm btn-light", id: "legal-document-variable-#{variable.id}-link" do
  = icon("fas", "pencil-alt")
  = "<#{variable.name}>"
