.col-12.col-md-3.col-xl-2.sidebar-wrapper{ style: "background-color: transparent;" }
  .sidebar
    #sidebar-nav-wrapper.sidebar-nav-wrapper.collapse{ style: "background-color: transparent;" }
      .pt-3.mx-3.my-0.ml-md-3.mb-md-3.mr-md-0
        %ul.sidebar-menu.sidebar-menu-shadow
          %li.sidebar-menu-header Editor
          %li= link_to "Settings", settings_dataset_path(@dataset), class: current_page?(settings_dataset_path(@dataset)) || (params[:controller] == "editor/datasets" && params[:action].in?(%w(edit update))) ? "active" : nil
          %li= link_to "Collaborators", collaborators_dataset_path(@dataset), class: current_page?(collaborators_dataset_path(@dataset)) ? "active" : nil
          %li= link_to "Sync", sync_dataset_path(@dataset), class: current_page?(sync_dataset_path(@dataset)) ? "active" : nil
          %li.sidebar-menu-header Reports
          %li= link_to "Agreements", agreements_dataset_path(@dataset), class: current_page?(agreements_dataset_path(@dataset)) ? "active" : nil
          %li= link_to "Audits", audits_dataset_path(@dataset), class: current_page?(audits_dataset_path(@dataset)) ? "active" : nil
          %li= link_to "Page Views", page_views_dataset_path(@dataset), class: current_page?(page_views_dataset_path(@dataset)) ? "active" : nil
