- @title = "Edit Dataset: #{@dataset.name_was}"

- render "themes/theme"
= render "datasets/header", container: "container-fluid"
- content_for :sidebar, render("editor/datasets/sidebar")

- content_for :breadcrumbs do
  %ol
    %li= link_to "datasets", datasets_path
    %li= link_to @dataset.slug_was, @dataset
    %li.breadcrumb-muted edit

.dashboard-container= render "datasets/form", dataset: @dataset
