- @title = "Settings - #{@dataset.name}"

- content_for :header, @dataset.name_was
- content_for :header_append, render("datasets/header", container: "container-fluid")
- content_for :sidebar, render("editor/datasets/sidebar")

- content_for :breadcrumbs do
  %ol
    %li= link_to @dataset.breadcrumb_slug, @dataset
    %li.breadcrumb-muted settings

.card.mb-3.box-shadow
  .card-header Edit
  .card-body
    .card-title Edit this dataset.
    .card-text= link_to "Edit dataset", edit_dataset_path(@dataset), class: "btn btn-sm btn-outline-dark"

.card.box-shadow
  .card-header.bg-danger.text-white Danger
  .card-body
    .card-title Delete this dataset.
    .card-text= link_to "Delete dataset", @dataset, method: :delete, class: "btn btn-sm btn-outline-danger", data: { confirm: "Delete #{@dataset.name}?" }
