- @title = "Tags"

- content_for :header do
  .float-right
    = link_to plus_or("New Tag"), new_tag_path, class: "btn btn-primary btn-shadow"
  = @title
= render "internal/tabs"
- content_for :breadcrumbs do
  = render "layouts/per_page_breadcrumbs", per_page: 40, object_count: @tags.total_count
  %ol
    %li.breadcrumb-muted tags
- content_for :sidebar, render("admin/sidebar")

- if @tags.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %col
      %col
      %col.d-none.d-sm-table-column
      %col{ width: "1px" }
      %thead
        %tr
          %th.py-2
            = form_with url: tags_path, method: :get, local: true, skip_enforcing_utf8: true do |form|
              = form.text_field :search, value: params[:search], placeholder: "Search tags", autocomplete: "off", class: "table-cell-search-input border rounded"
          = th_sort_field @order, "tags.color", "Color"
          = th_sort_field @order, "tags.tag_type", "Type", extra_class: "d-none d-sm-table-cell"
          %th.text-center
            .d-none.d-sm-inline-block Actions
      %tbody
        - @tags.each do |tag|
          %tr
            %td= link_to tag.name, tag
            %td
              %span.badge.badge-dark{ style: "background-color: #{tag.color};" }= tag.color
            %td.d-none.d-sm-table-cell
              %span.badge.badge-light= tag.type_name
            %td.nowrap.text-center
              = render "layouts/edit_delete_dropdown", edit_url: edit_tag_path(tag), delete_url: tag, delete_confirmation: "Delete #{tag.name}?"

  .center-horizontally= paginate @tags, theme: "bootstrap"
- else
  .jumbotron.jumbotron-custom-text
    = icon("far", "clone", class: "mr-1")
    No tags found.
    = link_to "Start over", tags_path if params[:search].present?
