- @title = @tag.name

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title
  .breadcrumb-container.mb-0.p-2
    .container
      .pull-right
        %span.badge.badge-dark{ style: "background-color: #{@tag.color};" }
          = @tag.name

      %ol
        %li= link_to "Tags", tags_path
        %li= link_to @tag.name, @tag
        %li= render "layouts/breadcrumb_edit_delete_dropdown", edit_url: edit_tag_path(@tag), delete_url: @tag, delete_confirmation: "Delete #{@tag.name}?"

= render "forms/horizontal/show/text", object: @tag, key: :name
= render "forms/horizontal/show/color", object: @tag, key: :color
= render "forms/horizontal/show/text", object: @tag, key: :type_name, key_name: "Tag Type"
