.full-screen.full-height

  =# image_tag 'nsrr_logo_256.png', size: '256x256', alt: 'NSRR'

  %h2.header-bottom.wow.slideInRight NSRR Demo

  %p.screen-description.wow.fadeInRight{ data: { 'wow-delay': '1s' } }
    Learn how to
    %strong= link_to 'download data', '#download-data'
    and
    %strong= link_to 'run simple statistics', '#statistics'
    and
    %strong= link_to('open signal files', '#extract-edf-signal') + "."

%a.anchor-top{ name: 'download-data' }
.full-screen.white-texture

  %h2.header-top
    Download Data

  %p.screen-description-top
    Downloading files is
    %strong EASY
    with the NSRR downloader tool
    = link_to('<sup>[1]</sup>'.html_safe, "#1") + "."

  .demo-page-code-container
    %code.wow.bounceInLeft
      gem install nsrr

  .demo-code-output.wow.bounceInRight
    Fetching: nsrr-0.1.1.gem
    %br
    Successfully installed nsrr-0.1.1
    %br
    1 gem installed

  .demo-page-code-container
    %code.wow.bounceInLeft
      nsrr download shhs/edfs

  .demo-code-output.wow.bounceInRight
    Get Token:
    %span.code-link https://sleepdata.org/token
    %br
    Enter Token:
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;create shhs/edfs
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;create shhs/edfs/shhs1
    %br
    %span.code-green
      downloaded
    shhs1-200001.edf
    %br
    %span.code-green
      downloaded
    shhs1-200002.edf
    %br
    %span.code-green
      downloaded
    shhs1-200003.edf
    %br
    %span.code-green
      downloaded
    shhs1-200004.edf
    %br
    %span.code-green
      downloaded
    shhs1-200005.edf
    %br
    \...
    %br
    Finished in 15.623997 seconds.
    %br
    2 folders created,
    %span.code-green
      5 files downloaded, 187 MiBs downloaded,
    0 files skipped, 0 files failed

%a.anchor-top{ name: 'statistics' }
.full-screen.black-texture

  .row
    .col-md-6
      = image_tag 'slp-line-chart.png', class: 'img-responsive'
    .col-md-6
      %h2.header-top
        Generate Statistics
      %p.screen-description-top
        Datasets are stored in
        %strong CSVs
        described by Data Dictionaries
        = link_to('<sup>[2]</sup>'.html_safe, "#2") + "."

  .demo-page-code-container
    %code.wow.bounceInLeft
      nsrr download shhs/datasets --shallow

  .demo-code-output.wow.bounceInRight
    Get Token:
    %span.code-link https://sleepdata.org/token
    %br
    Enter Token:
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;create shhs/datasets
    %br
    %span.code-green
      downloaded
    shhs-cvd-dataset-0.6.0.csv
    %br
    %span.code-green
      downloaded
    shhs-data-dictionary-0.6.0-domains.csv
    %br
    %span.code-green
      downloaded
    shhs-data-dictionary-0.6.0-forms.csv
    %br
    %span.code-green
      downloaded
    shhs-data-dictionary-0.6.0-variables.csv
    %br
    %span.code-green
      downloaded
    shhs-interim-followup-dataset-0.6.0.csv
    %br
    %span.code-green
      downloaded
    shhs1-dataset-0.6.0.csv
    %br
    %span.code-green
      downloaded
    shhs2-dataset-0.6.0.csv
    %br
    Finished in 3.507907 seconds.
    %br
    1 folder created,
    %span.code-green
      7 files downloaded, 35 MiBs downloaded,
    0 files skipped, 0 files failed

  .demo-page-code-container
    %code.wow.bounceInLeft
      open shhs/datasets/generate-statistics.rb

  .demo-code-input.wow.bounceInLeft
    %span.code-comment
      \# generate-statistics.rb
    %br
    %span.code-function
      require
    %span.code-string
      'csv'
    %br
    csv
    %span.code-function =
    File.open(
    %span.code-string
      'shhs1-dataset-0.6.0.csv'
    )
    %br
    mcount
    %span.code-function =
    fcount
    %span.code-function =
    %span.code-number 0
    %br
    CSV.parse( csv,
    %span.code-symbol headers: true
    ) do |row|
    %br
    %span.code-function &nbsp;&nbsp;case
    row[
    %span.code-string 'gender'
    ]
    %span.code-function when
    %span.code-string '1'
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;mcount
    %span.code-function +=
    %span.code-number 1
    %br
    %span.code-function &nbsp;&nbsp;when
    %span.code-string '2'
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;fcount
    %span.code-function +=
    %span.code-number 1
    %br
    %span.code-function &nbsp;&nbsp;end
    %br
    %span.code-function end
    %br
    puts
    %span.code-string "There are
    %span.code-string-variable \#{mcount}
    %span.code-string male participants in SHHS 1."
    %br
    puts
    %span.code-string "There are
    %span.code-string-variable \#{fcount}
    %span.code-string female participants in SHHS 1."

  .demo-page-code-container
    %code.wow.bounceInLeft
      ruby shhs/datasets/generate-statistics.rb

  .demo-code-output.wow.bounceInRight
    There are 2765 male participants in SHHS 1.
    %br
    There are 3039 female participants in SHHS 1.

  %p.screen-description-top
    Compare results to
    = link_to 'https://sleepdata.org/datasets/shhs/variables/gender', 'https://sleepdata.org/datasets/shhs/variables/gender'


%a.anchor-top{ name: 'extract-edf-signal' }
.full-screen.white-texture

  = image_tag 'settings-footer.jpg', style: 'position: absolute;left: 0px;top: 0px;right:0px;width:100%;height:50vh'

  %h2.header-top{ style: 'margin-top:50vh'}
    Extract Signals from EDFs
    = link_to('<sup>[3]</sup>'.html_safe, "#3") + "."

  .demo-page-code-container
    %code.wow.bounceInLeft
      gem install edfize --pre

  .demo-code-input.wow.bounceInLeft
    %span.code-function
      require
    %span.code-string
      'rubygems'
    %br
    %span.code-function
      require
    %span.code-string
      'edfize'
    %br
    %span.code-comment # Loads the file and reads the EDF Header
    %br
    edf
    %span.code-function =
    Edfize::Edf.new(
    %span.code-string 'shhs1-200001.edf'
    )
    %br
    %span.code-comment # Loads the data section of the EDF into Signal objects
    %br
    edf.load_signals
    %br
    %span.code-comment # Print out information on the signals
    %br
    puts
    %span.code-string "EDF
    %span.code-string-variable \#{edf.filename}
    %span.code-string contains the following
    %span.code-string-variable \#{edf.signals.count}
    %span.code-string signal
    %span.code-string-variable \#{'s' unless edf.signals.count == 1}
    %span.code-string \:\n\n"
    %br
    %br
    edf.signals.each do |signal|
    %br
    &nbsp;&nbsp;puts
    %span.code-string "Signal"
    %br
    &nbsp;&nbsp;puts
    %span.code-string "  Label                    :
    %span.code-string-variable \#{signal.label}
    %span.code-string "
    %br
    &nbsp;&nbsp;puts
    %span.code-string "  Samples Per Data Record  :
    %span.code-string-variable \#{signal.samples_per_data_record}
    %span.code-string "
    %br
    &nbsp;&nbsp;puts
    %span.code-string "  First 10 Physical Values :
    %span.code-string-variable \#{(signal.physical_values[0..10] + ['...']).inspect}
    %span.code-string \n\n"
    %br
    end

  %p.screen-description-top
    Output for this code can be found here:
    = link_to 'https://github.com/sleepepi/edfize', 'https://github.com/sleepepi/edfize/blob/0.2.0/README.md#example-of-how-to-load-and-analyze-edfs-in-a-ruby-script'

.full-screen.full-height
  %h2.header-top
    References
  %ol
    %li
      %a.anchor-top{ name: '1' }
      The NSRR downloader is built using
      = link_to 'Ruby', 'https://ruby-lang.org'
      and greatly simplifies downloading large amounts of files from the NSRR website.
      %br
      Instructions on installing Ruby on Windows and on Linux/Mac can be found here:
      = link_to 'https://github.com/nsrr/nsrr-gem', 'https://github.com/nsrr/nsrr-gem/blob/master/README.md#prerequisites'
    %li
      %a.anchor-top{ name: '2' }
      Spout is the Data Dictionary management tool that is used by all datasets on the NSRR. Spout creates a simple framework to define variables, and allows for tight integration between the dataset and the data dictionary.
    %li
      %a.anchor-top{ name: '3' }
      = link_to 'Edfize', 'https://github.com/sleepepi/edfize'
      is a Ruby Tool developed to access individual signals and epochs in EDF polysomnographs. Edfize is used by
      = link_to 'Altamira', ALTAMIRA_URL
      to render EDFs through the web browser.
.full-screen.full-footer
  %ul.list-unstyled
    %li.btn.btn-lg= link_to 'Contact Us', 'mailto:support@sleepdata.org'
    %li.btn.btn-lg= link_to 'Datasets', datasets_path
    %li.btn.btn-lg= link_to 'About', about_path
