- shhs_dataset_version = '0.7.0' # 'SHHS'
- nsrr_gem_version = '0.2.0'

.main-container.dark-texture.full-height
  %h1.header-bottom.align-right.wow.slideInRight NSRR Demo

  %p.align-right.wow.fadeInRight{ data: { 'wow-delay': '1s' } }
    Learn how to
    %strong= link_to 'download data', '#download-data'
    and
    %strong= link_to 'run simple statistics', '#statistics'
    and
    %strong= link_to('open signal files', '#extract-edf-signal') + "."

%a.anchor-top{ name: 'download-data' }
.main-container.grid-texture

  %h2
    Download Data

  %p
    Downloading files is
    %strong EASY
    with the NSRR downloader tool
    = link_to('<sup>[1]</sup>'.html_safe, "#1") + "."

  .codeblocks-container.code-input
    %code.wow.bounceInLeft
      gem install nsrr

  .codeblocks-container.code-output.p
    = "Fetching: nsrr-#{nsrr_gem_version}.gem"
    %br
    = "Successfully installed nsrr-#{nsrr_gem_version}"
    %br
    1 gem installed

  .codeblocks-container.code-input
    %code.wow.bounceInLeft
      nsrr download shhs/edfs

  .codeblocks-container.code-output.p
    Get Token:
    %span.code-link https://sleepdata.org/token
    %br
    Enter Token:
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;create shhs/edfs
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;create shhs/edfs/shhs1
    %br
    %span.code-green
      downloaded
    shhs1-200001.edf
    %br
    %span.code-green
      downloaded
    shhs1-200002.edf
    %br
    %span.code-green
      downloaded
    shhs1-200003.edf
    %br
    %span.code-green
      downloaded
    shhs1-200004.edf
    %br
    %span.code-green
      downloaded
    shhs1-200005.edf
    %br
    \...
    %br
    Finished in 15.623997 seconds.
    %br
    2 folders created,
    %span.code-green
      5 files downloaded, 187 MiBs downloaded,
    0 files skipped, 0 files failed

%a.anchor-top{ name: 'statistics' }
.main-container.neutral-texture{ style: 'background-attachment: fixed;'}
  .row
    .col-md-6.added-margin-bottom
      = image_tag 'nsrr-rdi3p-age-gender.png', class: 'img-responsive img-faded-border'
    .col-md-6
      %h2
        Generate Statistics
      %p
        Datasets are stored in
        %strong CSVs
        described by Data Dictionaries
        = link_to('<sup>[2]</sup>'.html_safe, "#2") + "."

  .codeblocks-container.code-input
    %code.wow.bounceInLeft
      nsrr download shhs/datasets --shallow

  .codeblocks-container.code-output.p
    Get Token:
    %span.code-link https://sleepdata.org/token
    %br
    Enter Token:
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;create shhs/datasets
    %br
    %span.code-green
      downloaded
    = "shhs-cvd-dataset-#{shhs_dataset_version}.csv"
    %br
    %span.code-green
      downloaded
    = "shhs-data-dictionary-#{shhs_dataset_version}-domains.csv"
    %br
    %span.code-green
      downloaded
    = "shhs-data-dictionary-#{shhs_dataset_version}-forms.csv"
    %br
    %span.code-green
      downloaded
    = "shhs-data-dictionary-#{shhs_dataset_version}-variables.csv"
    %br
    %span.code-green
      downloaded
    = "shhs-interim-followup-dataset-#{shhs_dataset_version}.csv"
    %br
    %span.code-green
      downloaded
    = "shhs1-dataset-#{shhs_dataset_version}.csv"
    %br
    %span.code-green
      downloaded
    = "shhs2-dataset-#{shhs_dataset_version}.csv"
    %br
    Finished in 3.507907 seconds.
    %br
    1 folder created,
    %span.code-green
      7 files downloaded, 35 MiBs downloaded,
    0 files skipped, 0 files failed

  .codeblocks-container.code-input
    %code.wow.bounceInLeft
      open shhs/datasets/generate-statistics.rb

  .codeblocks-container.code-input-file.p
    %span.code-comment
      \# generate-statistics.rb
    %br
    %span.code-function
      require
    %span.code-string
      'csv'
    %br
    csv
    %span.code-function =
    File.open(
    %span.code-string
      = "'shhs1-dataset-#{shhs_dataset_version}.csv'"
    )
    %br
    mcount
    %span.code-function =
    fcount
    %span.code-function =
    %span.code-number 0
    %br
    CSV.parse( csv,
    %span.code-symbol headers: true
    ) do |row|
    %br
    %span.code-function &nbsp;&nbsp;case
    row[
    %span.code-string 'gender'
    ]
    %span.code-function when
    %span.code-string '1'
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;mcount
    %span.code-function +=
    %span.code-number 1
    %br
    %span.code-function &nbsp;&nbsp;when
    %span.code-string '2'
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;fcount
    %span.code-function +=
    %span.code-number 1
    %br
    %span.code-function &nbsp;&nbsp;end
    %br
    %span.code-function end
    %br
    puts
    %span.code-string "There are
    %span.code-string-variable \#{mcount}
    %span.code-string male participants in SHHS 1."
    %br
    puts
    %span.code-string "There are
    %span.code-string-variable \#{fcount}
    %span.code-string female participants in SHHS 1."

  .codeblocks-container.code-input
    %code.wow.bounceInLeft
      ruby shhs/datasets/generate-statistics.rb

  .codeblocks-container.code-output.p
    There are 2765 male participants in SHHS 1.
    %br
    There are 3039 female participants in SHHS 1.

  %p
    Compare results to
    = link_to 'https://sleepdata.org/datasets/shhs/variables/gender', 'https://sleepdata.org/datasets/shhs/variables/gender'


%a.anchor-top{ name: 'extract-edf-signal' }
.main-container.grid-texture

  %h2
    Extract Signals from EDFs
    = link_to('<sup>[3]</sup>'.html_safe, "#3") + "."

  .codeblocks-container.code-input
    %code.wow.bounceInLeft
      gem install edfize

  .codeblocks-container.code-input-file.p
    %span.code-function
      require
    %span.code-string
      'rubygems'
    %br
    %span.code-function
      require
    %span.code-string
      'edfize'
    %br
    %span.code-comment # Loads the file and reads the EDF Header
    %br
    edf
    %span.code-function =
    Edfize::Edf.new(
    %span.code-string 'shhs1-200001.edf'
    )
    %br
    %span.code-comment # Loads the data section of the EDF into Signal objects
    %br
    edf.load_signals
    %br
    %span.code-comment # Print out information on the signals
    %br
    puts
    %span.code-string "EDF
    %span.code-string-variable \#{edf.filename}
    %span.code-string contains
    %span.code-string-variable \#{edf.signals.count}
    %span.code-string signal
    %span.code-string-variable \#{'s' unless edf.signals.count == 1}
    %span.code-string \:\n\n"
    %br
    %br
    edf.signals.each do |signal|
    %br
    &nbsp;&nbsp;puts
    %span.code-string "Signal Label :
    %span.code-string-variable \#{signal.label}
    %span.code-string "
    %br
    &nbsp;&nbsp;puts
    %span.code-string "Samples Per Data Record  :
    %span.code-string-variable \#{signal.samples_per_data_record}
    %span.code-string "
    %br
    &nbsp;&nbsp;puts
    %span.code-string "First 10 Physical Values :
    %span.code-string-variable \#{(signal.physical_values[0..10] + ['...']).inspect}
    %span.code-string \n\n"
    %br
    end

  .codeblocks-container.code-output.p
    EDF shhs1-200001.edf contains 14 signals:
    %br
    Signal Label             : SaO2
    %br
    Samples Per Data Record  : 1
    %br
    First 10 Physical Values : [95.31242847333486, 95.31242847333486, 95.31242847333486, 95.31242847333486, 95.31242847333486, 95.31242847333486, 95.31242847333486, 95.31242847333486, 94.14053559166858, 94.14053559166858, 94.14053559166858, "..."]

  %p
    Full output of this code snippet can be found here:
    = link_to 'https://github.com/sleepepi/edfize', 'https://github.com/sleepepi/edfize#example-of-how-to-load-and-analyze-edfs-in-a-ruby-script'

.main-container.dark-texture
  %h2
    References
  %ol
    %li
      %a.anchor-top{ name: '1' }
      The NSRR downloader is built using
      = link_to 'Ruby', 'https://ruby-lang.org'
      and greatly simplifies downloading large amounts of files from the NSRR website.
      %br
      Instructions on installing Ruby on Windows and on Linux/Mac can be found here:
      = link_to 'https://github.com/nsrr/nsrr-gem', 'https://github.com/nsrr/nsrr-gem/blob/master/README.md#prerequisites'
    %li
      %a.anchor-top{ name: '2' }
      The NSRR maintains its data dictionaries using the
      = link_to 'Spout Data Dictionary Management Tool', tool_path('spout')
      Spout creates a framework that simplifies data dictionary management and creation, and allows researchers to identify documentation gaps between the dataset and the data dictionary.
    %li
      %a.anchor-top{ name: '3' }
      = link_to 'Edfize', 'https://github.com/sleepepi/edfize'
      is a Ruby gem that provides access to signals and epochs in EDF polysomnographs. Edfize is used by
      = link_to 'Altamira Web EDF Viewer', ENV['altamira_url']
      to render EDFs in your web browser.
.dark-texture
  = image_tag 'pure-signal-t.png', style: 'width:100%;', class: 'wow fadeIn'
