.full-screen.full-height

  .header-middle-lead
    Presenting the

  %h2.header-middle
    NSRR Cross Dataset Query Interface

  .logo-middle
    = image_tag 'physiomimi_logo.png', class: 'img-white-background'


%a.anchor-top{ name: 'search-across-datasets' }
.full-screen.white-texture

  %h2.header-top
    Search Across Datasets

  %p.screen-description-top
    Create powerful queries across datasets available on the NSRR.

  %div{ style: 'text-align:center;max-width:1200px;margin:40px auto 0px auto;' }
    = image_tag 'https://sleepdata.org/tools/physiomimi/images/tutorial/nsrrphy-02-querybuilder-browse.png', class: 'img-responsive img-white-background'


%a.anchor-top{ name: 'graphical-exploration' }
.full-screen.black-texture

  %h2.header-top
    Dynamically Plot Variables

  .row
    .col-md-6
      %p.screen-description-top.hidden-xs.hidden-sm{ style: 'margin-top:20vh;text-align:right' }
        Select two variables and click
        %strong Graph Distribution.
      %p.screen-description-top.visible-xs.visible-sm{ style: 'text-align:right' }
        Select two variables and click
        %strong Graph Distribution.
    .col-md-6
      = image_tag 'https://sleepdata.org/tools/physiomimi/images/tutorial/nsrrphy-08-xy-dropdown.png', class: 'img-responsive img-white-background'

  .row{ style: 'margin-top: 20px' }
    .col-md-6
      %p.screen-description-top.visible-xs.visible-sm{ style: 'text-align:right' }
        %strong Find interesting correlations?
        Download complete datasets for offline analysis from the
        = link_to 'NSRR website', ENV['website_url']

      = image_tag 'https://sleepdata.org/tools/physiomimi/images/tutorial/nsrrphy-09-xy-plot.png', class: 'img-responsive img-white-background hidden-xs hidden-sm'
    .col-md-6
      %p.screen-description-top.hidden-xs.hidden-sm{ style: 'margin-top:20vh' }
        %strong Find interesting correlations?
        Download complete datasets for offline analysis from the
        = link_to 'NSRR website', ENV['website_url']

      = image_tag 'https://sleepdata.org/tools/physiomimi/images/tutorial/nsrrphy-09-xy-plot.png', class: 'img-responsive img-white-background visible-xs visible-sm'

%a.anchor-top{ name: 'get-started-now' }
.full-screen.call-to-action

  %h2.header-top{ style: 'text-align: center' }
    Start your cross dataset exploration now.

  %div{ style: 'text-align:center;margin-top:20px;margin-bottom:20px' }
    = link_to 'Start a Query', 'https://searchsleepdata.case.edu/queries/builder', class: 'btn btn-call-to-action btn-lg'

  %p.screen-description{ style: 'text-align:center;margin-top:50px;'   }
    Not sure yet?
    = link_to 'Learn more', tool_path('physiomimi')
    about the NSRR Cross Dataset Query Interface.
