- @title = "Data Access and Use Agreement"

- content_for :header do
  .header-container
    .container
      %h1.page-heading.text-center
        = @data_request.final_legal_document.organization.name

.dashboard-container-narrow
  .dashboard-container-title
    Instructions
  %p
    = @data_request.user.name
    has named you as the Duly Authorized Representative to sign the following
    data request on their behalf.
  %p
    If you have any questions regarding this process, please email the NSRR
    directly at:
    = mail_to ENV["support_email"]


- if @data_request.errors.any?
  .callout.callout-danger
    %strong
      Errors prohibited this from being saved.
    Please scroll down and try again.

= hidden_field_tag "isdirty", "1"

.background-brand-white.p-3.p-md-4.p-lg-5.mb-3

  - @data_request.final_legal_document.final_legal_document_pages.each do |final_legal_document_page|
    .agreement-heading= final_legal_document_page.title
    = legal_markdown final_legal_document_page, reviewer: true

  - if false
    - @agreement = @data_request
    %div{ style: "margin-bottom: 40px;" }
      = render "agreements/show/step1/title"

    %p
      = render "agreements/show/step1/part1"
      %mark= @data_request.data_user
      = surround "(", ")." do
        %strong "Data User"

    = render "agreements/show/step1/part2"
    = render "agreements/show/step1/part3"


    = render "agreements/show/step2/part1"

    - if @data_request.title_of_project.present?
      %p
        %strong
          %mark= @data_request.title_of_project
    - if @data_request.specific_purpose.present?
      %p
        %mark= sanitize @data_request.specific_purpose.to_s.gsub("\n", "<br />")

    %ul
      - @data_request.datasets.each do |dataset|
        %li
          %mark= dataset.name

    = render "agreements/show/step2/part2"

    = render "agreements/show/step3/part1"

    = render "agreements/show/step3/part2"

    %p
      - case @data_request.posting_permission when "all"
        %mark
          Data User gives BWH permission to post
          %strong Data User's name
          and a
          summary of
          %strong Data User's Specific Purpose
          on https://sleepdata.org
      - when "name_only"
        %mark
          Data User gives BWH permission to post
          %strong Data User's name
          on https://sleepdata.org
      - when "none"
        %mark
          Data User
          %strong does not give permission
          to post Data User's name or a summary of Data User's Specific Purpose on
          https://sleepdata.org

    = render "agreements/show/step3/part3"

.background-brand-white.p-3.p-md-4.p-lg-5.mb-3
  .dashboard-container-title
    Agreed to by:

  = form_with model: @data_request, url: representative_submit_signature_path(@data_request.id_and_representative_token), method: :patch, local: true, id: "duly-authorized-representative-signature-form" do |form|
    = hidden_field_tag "agreement[draft_mode]", nil
    = hidden_field_tag "step", @step
    = hidden_field_tag "agreement[current_step]", @step

    = form.label :duly_authorized_representative_signature, "Signature of Duly Authorized Representative", class: "control-label"
    = render "forms/signature"
    = render "forms/vertical/text_field", form: form, object: @data_request, key: :duly_authorized_representative_signature_print, key_name: "By (print name)", help_text: "Please print your full name."
    = render "forms/vertical/text_field", form: form, object: @data_request, key: :duly_authorized_representative_title, key_name: "Professional Title", help_text: "Ex: Associate Professor, Data Manager"

.text-center
  = link_to "#", data: { object: "submit-signature-and-disable", target: "#duly-authorized-representative-signature-form" }, class: "btn btn-lg btn-primary btn-shadow" do
    Submit Signature
