.col-12.col-md-3.col-xl-2.sidebar-wrapper
  .sidebar
    .sidebar-header.d-flex.align-items-center
      .mr-auto
        %strong= @final_legal_document.legal_document.organization.name

      %button.btn-link.sidebar-header-toggle.d-md-none.p-0.ml-3{ type: "button", data: { toggle: "collapse", target: "#sidebar-nav-wrapper" }, aria: { controls: "sidebar-nav-wrapper", expanded: "false", label: "Toggle docs navigation" } }
        %i.fa.fa-bars.fa-2x

    - pages = @final_legal_document.final_legal_document_pages.where(rider: false).collect { |p| { name: "Page #{p.position}", url: agreement_page_path(page: p.position, dataset_id: @dataset, legal_document_id: @final_legal_document.legal_document) } }
    - riders = @final_legal_document.final_legal_document_pages.where(rider: true).collect { |p| { name: p.title, url: agreement_page_path(page: p.position, dataset_id: @dataset, legal_document_id: @final_legal_document.legal_document) } }
    - groups = []
    - groups << { name: "DAUA", url: agreement_page_path(page: 1, dataset_id: @dataset, legal_document_id: @final_legal_document.legal_document), docs: pages } if pages.present?
    - groups << { name: "Attestation", url: agreement_attest_path(dataset_id: @dataset, legal_document_id: @final_legal_document.legal_document), docs: [{ name: "Attest", url: agreement_attest_path(dataset_id: @dataset, legal_document_id: @final_legal_document.legal_document) }] } if @final_legal_document.attestation_type == "checkbox"
    - groups << { name: "Attestation", url: agreement_attest_signature_path(dataset_id: @dataset, legal_document_id: @final_legal_document.legal_document), docs:[{ name: "Signature", url: agreement_attest_signature_path(dataset_id: @dataset, legal_document_id: @final_legal_document.legal_document) }] } if @final_legal_document.attestation_type == "signature"
    - groups << { name: "Riders", url: riders.first[:url], docs: riders } if riders.present?

    - random_number = rand(groups.size)

    #sidebar-nav-wrapper.sidebar-nav-wrapper.collapse
      %nav.sidebar-nav
        - groups.each_with_index do |group, group_index|
          .sidebar-nav-group{ class: random_number == group_index || true ? "active" : nil }
            %a.sidebar-nav-group-link{ href: group.dig(:url) }
              = group.dig(:name)

            - if group.dig(:docs).present?
              - random_docs_number = rand(group.dig(:docs).size)
              %ul.nav.sidebar-nav-group-items
                - group.dig(:docs).each_with_index do |doc, doc_index|
                  %li{ class: current_page?(doc.dig(:url)) ? "active" : nil }
                    %a{ href: doc.dig(:url) }
                      - if doc_index == 0
                        %i.fa.fa-check-square-o.text-success
                      - else
                        %i.fa.fa-square-o
                      = doc.dig(:name)
        .sidebar-nav-group
          %a.sidebar-nav-group-link
            %small.text-muted
              %span= @final_legal_document.version
              %span.small>= ".#{@final_legal_document.version_md5.first(7)}"
