.container-fluid
  .row.flex-xl-nowrap
    = render "gears/legal_document_menu"

    #agreement-helper-drawer.d-none.d-xl-block.col-xl.sidebar-drawer

    %main.col-12.col-md-9.col-xl-8.pl-md-5{ role: "main" }
      .page-box.last-box
        .agreement-heading Proof

        = form_with url: agreement_submit_path(dataset_id: @dataset, legal_document_id: @final_legal_document.legal_document), method: :post, local: true, id: "final-legal-document-form"

        - @final_legal_document.final_legal_document_variables.each do |variable|
          - agreement_variable = @agreement.agreement_variables.find_by(final_legal_document_variable_id: variable.id)
          - value = (agreement_variable ? agreement_variable.value : "")

          - if variable.variable_type == "checkbox"
            - content = simple_check(value == "1")
          - else
            - content = (agreement_variable ? agreement_variable.value : "")
          - display_name = variable.display_name.present? ? variable.display_name : variable.name.titleize
          = render "forms/horizontal/show/generic", title: display_name, content: content

        - if @final_legal_document.attestation_type == "signature"
          - if @agreement.signature_file.path
            - content = image_tag(agreement_signature_show_path(dataset_id: @dataset, legal_document_id: @final_legal_document.legal_document), class: "img-signature", alt: "")
          - else
            - content = "<div class=\"text-muted\">No signature</div>".html_safe
          = render "forms/horizontal/show/generic", title: "Signature", content: content

          - if @agreement.duly_authorized_representative_signature_file.path
            - content = image_tag(agreement_duly_authorized_representative_signature_show_path(dataset_id: @dataset, legal_document_id: @final_legal_document.legal_document), class: "img-signature", alt: "")
          - else
            - content = "<div class=\"text-muted\">No signature</div>".html_safe
          = render "forms/horizontal/show/generic", title: "Duly Authorized Representative Signature", content: content


        .mt-5.mb-3.float-right
          = succeed " " do
            = link_to "#", class: "btn btn-light", tabindex: "-1", data: { object: "submit-and-disable", target: "#final-legal-document-form" } do
              %i.fa.fa-save
              Save Draft

          = link_to "#", class: "btn btn-primary", data: { object: "submit-and-disable", target: "#final-legal-document-form" } do
            Submit
            %i.fa.fa-caret-right
