.badge.badge-dark= commercial_type = current_user ? current_user.commercial_type : "noncommercial"
.badge.badge-dark= data_user_type = current_user ? current_user.data_user_type : "individual"
- legal_document = @dataset.legal_documents.find_by(commercial_type: ["both", commercial_type], data_user_type: ["both", data_user_type])

- if legal_document && false
  .jumbotron
    %p.lead
      = legal_document.name
      = link_to agreement_page_path(page: 1, dataset_id: @dataset, legal_document_id: legal_document) do
        %i.fa.fa-caret-right
- elsif @dataset.legal_documents.present?
  .jumbotron
    - @dataset.legal_documents.each do |legal_document|
      %p.lead
        = legal_document.name
        = link_to agreement_page_path(page: 1, dataset_id: @dataset, legal_document_id: legal_document) do
          %i.fa.fa-caret-right
- else
  .jumbotron
    %p.lead
      No legal document is in place for this dataset.
