= form_with model: [@dataset, dataset_review], local: true do |form|
  .form-group.row
    = form.label :rating, nil, class: "col-md-2 col-form-label"
    .col-md-10
      .form-control-plaintext
        = render "dataset_reviews/rating", form: form, dataset_review: dataset_review
        = render "forms/invalid_feedback", object: dataset_review, key: :rating

  = render "forms/horizontal/text_area", form: form, object: dataset_review, key: :review, rows: 7, help_text: "<strong>Optional:</strong> Provide some feedback about your experience with the dataset documentation and data.".html_safe
  = render "forms/horizontal/submit", form: form, object: dataset_review, submit_text: dataset_review.new_record? ? "Write review" : "Update review", cancel: @dataset
