- @title = "Reviews - #{@dataset.name}"

- content_for :header do
  .float-right
    - if current_user && current_user.reviewed_dataset?(@dataset)
      - link_text = "Update my review"
    - else
      - link_text = "Write a review"
    = link_to pencil_or(link_text), new_dataset_dataset_review_path(@dataset), class: "btn btn-primary btn-shadow"
  Reviews
- content_for :breadcrumbs do
  = render "layouts/per_page_breadcrumbs", per_page: 40, object_count: @dataset_reviews.total_count
  %ol
    %li= link_to @dataset.name, @dataset
    %li= render "datasets/rating", rating: @dataset.rating

- if @dataset_reviews.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %col{ width: "1px" }
      %col
      %thead
        %tr
          %th.text-center Rating
          %th Review

      %tbody
        - @dataset_reviews.each do |dataset_review|
          %tr
            %td= render "datasets/rating", rating: dataset_review.rating
            %td
              %i= link_to dataset_review.user.username, dataset_dataset_review_path(@dataset, dataset_review)
              %small.text-muted= dataset_review.created_at.strftime("- %b %-d, %Y")
              - if current_user == dataset_review.user
                %small= link_to "Update my review", new_dataset_dataset_review_path(@dataset)
              = simple_markdown(dataset_review.review)
  .center-horizontally= paginate @dataset_reviews, theme: "bootstrap"
- else
  .jumbotron.jumbotron-custom-text
    = icon("far", "clone", class: "mr-1")
    No reviews for this dataset.
    = link_to "Write a review", new_dataset_dataset_review_path(@dataset)
