- @title = "Review - #{@dataset.name}"

- content_for :body_class do
  brand-background

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        Reviews
  .breadcrumb-container{ style: 'margin-bottom: 0;' }
    .container
      %ol
        %li= link_to @dataset.name, @dataset
        %li= render 'datasets/rating', rating: @dataset.rating

.dashboard-container.box-shadow
  = render 'datasets/rating', rating: @dataset_review.rating
  %i= @dataset_review.user.forum_name
  %small.text-muted= @dataset_review.created_at.strftime('- %b %-d, %Y')
  = simple_markdown_new(@dataset_review.review)
