- if @object.is_a?(Dataset)
  - logo_path = logo_dataset_path(@object)
  - edit_path = edit_dataset_path(@object)
- else
  - logo_path = logo_tool_path(@object)
  - edit_path = edit_tool_path(@object)

- if @object.logo.size > 0
  .small-spacer
  .center= image_tag logo_path, style: "max-width: 100%"

- if current_user && @object.editable_by?(current_user)
  .small-spacer
  .center
    = link_to "Edit #{@object.class.name}", edit_path, class: "btn btn-sm btn-light"
    = link_to "Delete #{@object.class.name}", @object, method: :delete, class: "btn btn-sm btn-outline-danger", data: { confirm: "Are you sure you want to delete #{@object.class.name} #{@object.name}?" } if current_user.system_admin?
