- if @object.is_a? Dataset
  - logo_path = logo_dataset_path(@object)
  - edit_path = edit_dataset_path(@object)
- else
  - logo_path = logo_tool_path(@object)
  - edit_path = edit_tool_path(@object)

- if @object.logo.size > 0
  .small-spacer
  .center= image_tag logo_path, style: 'max-width: 100%'

  - if @object.contributors.size > 0
    - size = 24
    .small-spacer
    %h4.center Contributors
    - @object.contributors.order(:last_name, :first_name).each do |u|
      = image_tag u.avatar_url(size, 'identicon'), class: 'img-thumbnail', rel: 'tooltip', title: u.name, data: { container: 'body', placement: 'bottom' }, style: "height:#{size+10}px;width:#{size+10}px;margin-left:10px;margin-bottom:10px"
    %div{ style: 'clear:both' }

- if current_user && @object.editable_by?(current_user)
  .small-spacer
  .center
    = link_to "Edit #{@object.class.name}", edit_path, class: 'btn btn-xs btn-default'
    = link_to "Delete #{@object.class.name}", @object, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete #{@object.class.name} #{@object.name}?" } if current_user.system_admin?
