<% if @object.class == Dataset %>

  <% logo_path = logo_dataset_path(@object) %>
  <% edit_path = edit_dataset_path(@object) %>
  <% author_path = datasets_path( author: @object.try(:author) ) %>
  <% pull_changes_path = pull_changes_dataset_path(@object) %>

<% else %>

  <% logo_path = logo_tool_path(@object) %>
  <% edit_path = edit_tool_path(@object) %>
  <% author_path = tools_path( author: @object.author ) %>
  <% pull_changes_path = pull_changes_tool_path(@object) %>

<% end %>


<% if @object.logo.size > 0 %>
  <hr class="soften" style="margin-top: 20px;margin-bottom: 20px;"/>
  <div class="center"><%= image_tag( logo_path, style: 'max-width:100%' ) %></div>
  <% if @object.try(:author) %><div class="center" style="margin-top:20px">by <span class="text-muted"><%= link_to @object.author, author_path %></span></div><% end %>
<% end %>
<% if current_user and @object.editable_by?(current_user) %>
  <hr class="soften" style="margin-top: 20px;margin-bottom: 20px;"/>
  <div class="center">
    <%= link_to "Edit #{@object.class.name}", edit_path, class: 'btn btn-xs btn-default' %>
    <%= link_to "Delete #{@object.class.name}", @object, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete #{@object.class.name} #{@object.name}?" } if current_user.system_admin? %>
  </div>
  <% if current_user.system_admin? %>

    <% if @object.requires_update? %>
    <div class="panel panel-warning" style="margin-top:20px">
      <div class="panel-heading">
        <h3 class="panel-title">Not up-to-date.</h3>
      </div>
      <div class="panel-body">
        <% compare_string = "#{@object.local_commit[0..5]}...#{@object.remote_commit[0..5]}" %>
        <div>
          <%= link_to "#{compare_string}" , @object.remote_url.gsub(/\.git$/, '') + "/compare/#{compare_string}", target: '_blank', class: 'btn btn-xs btn-default' %>
          <%= link_to "Sync Repository", pull_changes_path, method: :post, class: 'btn btn-success btn-xs' %>
        </div>
      </div>
    </div>
    <% else %>
      <div class="panel panel-success" style="margin-top:20px">
        <div class="panel-heading">
          <h3 class="panel-title">Already up-to-date.</h3>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>
