- if @object.class == Dataset
  - edit_page_path = edit_page_dataset_path( @object, path: @path )
  - new_page_path  =  new_page_dataset_path( @object, path: @path )
  - pages_path     =     pages_dataset_path( @object)
- else
  - edit_page_path = edit_page_tool_path( @object, path: @path )
  - new_page_path  =  new_page_tool_path( @object, path: @path )
  - pages_path     =     pages_tool_path( @object)


%ol.breadcrumb{ style: 'border-radius:0px' }
  %li= link_to @object.slug, pages_path
  %li= link_to_if !@path.blank?, 'pages', pages_path
  - unless @path.blank?
    - @path.to_s.split('/')[0..-2].each_with_index do |folder, index|
      - url = pages_path + '/' + @path.to_s.split('/')[0..index].join('/')
      %li= link_to folder, url
    %li= @path.to_s.split('/').last


- if @page_path and File.file?(@page_path) and File.size(@page_path) < 1.megabyte
  = render partial: 'documentation/render_page_beta', locals: { page_path: @page_path, path: @path }
- elsif

  - if File.exist?(File.join(@page_path, 'README.md'))
    = render partial: 'documentation/render_page_beta', locals: { page_path: File.join(@page_path, 'README.md'), path: 'README.md' }
  - elsif @object.pages(@path).select{|name, f| File.file?(f)}.size > 0
    - first_page = @object.pages(@path).select{|name, f| File.file?(f)}.first
    = render partial: 'documentation/render_page_beta', locals: { page_path: first_page[1], path: first_page[0] }
  - elsif @object.pages(@path).size == 0
    = render partial: 'documentation/nodoc'

- else
  = render partial: 'documentation/nodoc'
