- if @object.class == Dataset
  - pages_path = pages_dataset_path(@object)
- else
  - pages_path = pages_tool_path(@object)

.page-list-container{ style: "#{'display:none' if cookies[:hide_page_list] == '1'}" }
  %ul.left-menu
    - page = [params[:page].to_i, 0].max
    - if @path.blank?
      %li.left-menu-header
        = @object.slug
    - else
      %li.left-menu-header
        = @object.slug
      %li
        - @path.to_s.split('/')[-1..-1].each_with_index do |folder, index|
          - url = pages_path + '/' + @path.to_s.split('/')[0..-2].join('/')
          = link_to url, class: (@path == params[:path] ? 'active' : nil) do
            %span.glyphicon.glyphicon-level-up
            = folder


    - @object.pages(@path)[0..(page*100+100 - 1)].each do |page_name, page|
      - is_file = File.file?(page)
      - folder = @object.page_path(page)
      - url = pages_path + '/' + folder
      %li.nowrap
        = link_to url, class: "overflow-hidden #{(page_name == File.basename(@page_path) ? 'active' : nil)}" do
          %span.glyphicon{ class: "glyphicon-#{is_file ? 'file' : 'folder-close'}" }
          = page_name

  - if @object.class == Dataset
    - logo_path = logo_dataset_path(@object)
    - edit_path = edit_dataset_path(@object)
  - else
    - logo_path = logo_tool_path(@object)
    - edit_path = edit_tool_path(@object)

  - if @object.logo.size > 0
    .img-logo-navigation-bar
      = image_tag logo_path

  - if current_user && @object.editable_by?(current_user)
    .small-spacer
    .center
      = link_to "Edit #{@object.class.name}", edit_path, class: 'btn btn-xs btn-default'
      = link_to "Delete #{@object.class.name}", @object, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete #{@object.class.name} #{@object.name}?" } if current_user.system_admin?
    - if @object.is_a? Dataset
      .small-spacer
      .center
        = link_to 'Audits', audits_dataset_path(@object), class: 'btn btn-xs btn-default'
        = link_to 'Collaborators', collaborators_dataset_path(@object), class: 'btn btn-xs btn-default'
        = link_to 'Sync', sync_dataset_path(@object), class: 'btn btn-xs btn-default'
    - elsif @object.is_a? Tool
      .small-spacer
      .center
        = link_to 'Sync', sync_tool_path(@object), class: 'btn btn-xs btn-default'
    .small-spacer
