- if @object.is_a?(Dataset)
  - pages_path = pages_dataset_path(@object)
- else
  - pages_path = pages_tool_path(@object)

.page-list-container{ style: "#{"display: none;" if cookies[:hide_page_list] == "1"}" }
  %ul.sidebar-menu.p-0
    - page = [params[:page].to_i, 0].max
    - if @path.blank?
      %li.sidebar-menu-header
        = @object.slug
    - else
      %li.sidebar-menu-header
        = @object.slug
      %li
        - @path.to_s.split("/")[-1..-1].each_with_index do |folder, index|
          - url = pages_path + "/" + @path.to_s.split("/")[0..-2].join("/")
          = link_to url, class: (@path == params[:path] ? "active" : nil) do
            %i.fa.fa-level-up
            = folder


    - @object.pages(@path)[0..(page*100+100 - 1)].each do |page_name, page|
      - is_file = File.file?(page)
      - folder = @object.page_path(page)
      - url = pages_path + "/" + folder
      %li.nowrap
        = link_to url, class: "overflow-hidden #{(page_name == File.basename(@page_path) ? "active" : nil)}" do
          %fa.fa{ class: is_file ? "fa-file-o" : "fa-folder-open" }
          = page_name

  = render "documentation/logo_and_admin"
  = render "datasets/menu_rating", dataset: @object if @object.is_a?(Dataset)
  = render "datasets/menu_extra"
