<% if @object.class == Dataset %>
  <% edit_page_path = edit_page_dataset_path( @object, path: @path ) %>
  <% new_page_path  =  new_page_dataset_path( @object, path: @path ) %>
  <% pages_path     =     pages_dataset_path( @object) %>
<% else %>
  <% edit_page_path = edit_page_tool_path( @object, path: @path ) %>
  <% new_page_path  =  new_page_tool_path( @object, path: @path ) %>
  <% pages_path     =     pages_tool_path( @object) %>
<% end %>



<% if current_user and @object.editable_by?(current_user) %>
  <div class="pull-right">
    <ul class="pagination pagination-sm" style="margin-top:3px;margin-bottom:0px;margin-right:3px">
      <% if File.file?(@page_path) %>
        <li><%= link_to 'Edit Page', edit_page_path %></li>
      <% else %>
        <li><%= link_to 'New Page', new_page_path %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to @object.slug, pages_path %></li>
  <li class="<%= 'active' unless @path.blank? %>"><%= link_to_if !@path.blank?, 'pages', pages_path %></li>
  <% unless @path.blank? %>
    <% @path.to_s.split('/')[0..-2].each_with_index do |folder, index| %>
      <% url = pages_path + '/' + @path.to_s.split('/')[0..index].join('/') %>
      <li><%= link_to folder, url %></li>
    <% end %>
    <li class="active"><%= @path.to_s.split('/').last %></li>
  <% end %>
</ol>

<% if @page_path and File.file?(@page_path) and File.size(@page_path) < 1.megabyte %>
  <%= render partial: 'documentation/render_page', locals: { page_path: @page_path, path: @path } %>
<% elsif @page_path and File.directory?(@page_path) %>
  <div class="row">
    <div class="col-sm-9" style="margin-bottom:20px">
      <% if File.exists?(File.join(@page_path, 'README.md')) %>
        <%= render partial: 'documentation/render_page', locals: { page_path: File.join(@page_path, 'README.md'), path: 'README.md' } %>
      <% elsif @object.pages(@path).select{|name, f| File.file?(f)}.size > 0 %>
        <% first_page = @object.pages(@path).select{|name, f| File.file?(f)}.first %>
        <%= render partial: 'documentation/render_page', locals: { page_path: first_page[1], path: first_page[0] } %>
      <% elsif @object.pages(@path).size == 0 %>
        <%= render partial: 'documentation/nodoc' %>
      <% end %>
    </div>
    <div class="col-sm-3">
      <div class="page-list-container">
        <table class="table table-condensed table-hover" style="table-layout:fixed;margin-bottom:0px"><col width="24px" />
          <% page = [params[:page].to_i, 0].max %>
          <% @object.pages(@path)[0..(page*100+100 - 1)].each do |page_name, page| %>
            <% is_file = File.file?(page) %>
            <% folder = @object.page_path(page) %>
            <% url = pages_path + '/' + folder %>
            <tr>
              <td><span class="glyphicon glyphicon-<%= is_file ? 'file' : 'folder-close' %>"></span></td><td><%= link_to page_name, url %></td>
            </tr>
          <% end %>
        </table>
      </div>

      <%= render partial: 'documentation/logo_and_admin' %>
      <%= render partial: 'datasets/links' if @dataset %>
      <%= render partial: 'tools/links' if @tool %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-9" style="margin-bottom:20px">
      <%= render partial: 'documentation/nodoc' %>
    </div>
    <div class="col-sm-3">
      <%= render partial: 'documentation/logo_and_admin' %>
    </div>
  </div>
<% end %>
