- pages_path = pages_dataset_path(object)

- if @page_path && File.file?(@page_path) && File.size(@page_path) < 1.megabyte
  .row
    #documentation-content{ class: "#{cookies[:hide_page_list] == "1" ? "col-md-12" : "col-md-9"}"}
      = render "documentation/render_page", page_path: @page_path, path: @path
    #sidebar-content.d-none.d-md-block{ class: "#{cookies[:hide_page_list] == "1" ? "" : "col-md-3"}"}
      - @path = @path.to_s.split("/")[0..-2].join("/")
      .menu-sticky= render "documentation/pages_list", pages_path: pages_path
- elsif @page_path && File.directory?(@page_path)
  .row
    #documentation-content{ class: "#{cookies[:hide_page_list] == "1" ? "col-md-12" : "col-md-9"}"}
      - if File.exist?(File.join(@page_path, "README.md"))
        = render "documentation/render_page", page_path: File.join(@page_path, "README.md"), path: "README.md"
      - elsif object.pages(@path).find { |_name, f| File.file?(f) }
        - first_page = object.pages(@path).find { |_name, f| File.file?(f) }
        = render "documentation/render_page", page_path: first_page[1], path: first_page[0]
      - elsif object.pages(@path).size.zero? && @path == ""
        .jumbotron.jumbotron-custom-text.mb-0
          = icon("far", "clone", class: "mr-1")
          No documentation pages uploaded.
      - elsif object.pages(@path).size.zero?
        .jumbotron.jumbotron-custom-text.mb-0
          = icon("far", "clone", class: "mr-1")
          No documents in this folder.
      - else
        .jumbotron.jumbotron-custom-text.mb-0
          = icon("far", "clone", class: "mr-1")
          No documents in this folder.

    #sidebar-content.d-none.d-md-block{ class: "#{cookies[:hide_page_list] == "1" ? "" : "col-md-3"}"}
      .menu-sticky= render "documentation/pages_list", pages_path: pages_path
- else
  .row
    #documentation-content{ class: "#{cookies[:hide_page_list] == "1" ? "col-md-12" : "col-md-9"}"}
      = render "documentation/nodoc"
    #sidebar-content.d-none.d-md-block{ class: "#{cookies[:hide_page_list] == "1" ? "" : "col-md-3"}"}
      .menu-sticky= render "documentation/pages_list", pages_path: pages_path
