- if object.is_a? Dataset
  - pull_changes_path = pull_changes_dataset_path(object, back: back)
- else
  - pull_changes_path = pull_changes_tool_path(object, back: back)

- if object.git_repository.blank?
  .card.mb-4
    %h4.card-header
      .small.float-right No repository specified.
      = link_to object.name, object
- elsif local_commit != remote_commit
  .card.mb-4
    %h4.card-header.bg-warning.text-white
      .small.float-right Not up-to-date.
      = link_to object.name, object, class: "text-white"
    .card-body
      .float-right
        - compare_string = "#{local_commit[0..5]}...#{remote_commit[0..5]}"
        = link_to "#{compare_string}", object.git_repository.to_s.gsub(/\.git$/, "") + "/compare/#{compare_string}", target: "_blank", class: "btn btn-sm btn-light"
        = link_to "Sync Repository", pull_changes_path, method: :post, class: "btn btn-primary btn-sm"
      = object.git_repository
- else
  .card.mb-4
    %h4.card-header
      .small.float-right
        %i.fa.fa-check-circle.text-success
        Already up-to-date.
      = link_to object.name, object
    .card-body
      .float-right
        - compare_string = "#{local_commit[0..5]}...master"
        = link_to "#{compare_string}", object.git_repository.to_s.gsub(/\.git$/, "") + "/compare/#{compare_string}", target: "_blank", class: "btn btn-sm btn-light"
        = link_to "Sync Repository", pull_changes_path, method: :post, class: "btn btn-primary btn-sm"
      = object.git_repository
