- @title = @object.name

- if @object.class == Dataset
  = render 'datasets/header'
- else
  = render 'tools/header'

- content_for :banner do
  .breadcrumb-container
    .container
      %ol
        %li= link_to @object.slug, @object
        %li sync

.row
  #documentation-content{ class: "#{cookies[:hide_page_list] == '1' ? 'col-sm-12' : 'col-sm-9'}"}
    = render 'documentation/sync', local_commit: @local_commit, remote_commit: @remote_commit, object: @object, back: ''
  #sidebar-content.hidden-xs{ class: "#{cookies[:hide_page_list] == '1' ? '' : 'col-sm-3'}"}
    - @page_path = ''
    = render 'documentation/pages_list', pages_path: ''

