<% @title = @dataset.name %>

<%= render partial: 'datasets/header' %>

<% if @object.class == Dataset %>

  <% logo_path = logo_dataset_path(@object) %>
  <% edit_path = edit_dataset_path(@object) %>
  <% author_path = datasets_path( author: @object.try(:author) ) %>
  <% pull_changes_path = pull_changes_dataset_path(@object) %>

<% else %>

  <% logo_path = logo_tool_path(@object) %>
  <% edit_path = edit_tool_path(@object) %>
  <% author_path = tools_path( author: @object.author ) %>
  <% pull_changes_path = pull_changes_tool_path(@object) %>

<% end %>


<% if @object.requires_update? %>
  <div class="panel panel-warning" style="margin-top:20px">
    <div class="panel-heading">
      <h3 class="panel-title">Not up-to-date.</h3>
    </div>
    <div class="panel-body">
      <%= systemu('whoami')[1] %><br />
      <% compare_string = "#{@object.local_commit[0..5]}...#{@object.remote_commit[0..5]}" %>
      <%= link_to "#{compare_string}" , @object.remote_url.gsub(/\.git$/, '') + "/compare/#{compare_string}", target: '_blank', class: 'btn btn-xs btn-default' %>
      <%= link_to "Sync Repository", pull_changes_path, method: :post, class: 'btn btn-success btn-xs' %>
      <br /><br />
      <pre><%= @object.working_tree %></pre>
      <pre><%= @object.remote_url %></pre>
    </div>
  </div>
<% else %>
  <div class="panel panel-success" style="margin-top:20px">
    <div class="panel-heading">
      <h3 class="panel-title">Already up-to-date.</h3>
    </div>
    <div class="panel-body">
      <% compare_string = "#{@object.local_commit[0..5]}...master" %>
      <%= link_to "#{compare_string}" , @object.remote_url.gsub(/\.git$/, '') + "/compare/#{compare_string}", target: '_blank', class: 'btn btn-xs btn-default' %>
      <%= link_to "Sync Repository", pull_changes_path, method: :post, class: 'btn btn-success btn-xs' %>
      <br /><br />
      <pre><%= @object.working_tree %></pre>
      <pre><%= @object.remote_url %></pre>
    </div>
  </div>
<% end %>
</div>
