<% @title = @dataset.name %>

<% if @object.class == Dataset %>
  <%= render partial: 'datasets/header' %>
  <% pull_changes_path = pull_changes_dataset_path(@object) %>
<% else %>
  <%= render partial: 'tools/header' %>
  <% pull_changes_path = pull_changes_tool_path(@object) %>
<% end %>

<% if @local_commit != @remote_commit %>
  <div class="panel panel-warning" style="margin-top:20px">
    <div class="panel-heading">
      <h3 class="panel-title">Not up-to-date.</h3>
    </div>
    <div class="panel-body">
      <% compare_string = "#{@local_commit[0..5]}...#{@remote_commit[0..5]}" %>
      <%= link_to "#{compare_string}" , @remote_repository_url.gsub(/\.git$/, '') + "/compare/#{compare_string}", target: '_blank', class: 'btn btn-xs btn-default' %>
      <%= link_to "Sync Repository", pull_changes_path, method: :post, class: 'btn btn-success btn-xs' %>
      <br /><br />
      <pre><%= @remote_repository_url %></pre>
    </div>
  </div>
<% else %>
  <div class="panel panel-success" style="margin-top:20px">
    <div class="panel-heading">
      <h3 class="panel-title">Already up-to-date.</h3>
    </div>
    <div class="panel-body">
      <% compare_string = "#{@local_commit[0..5]}...master" %>
      <%= link_to "#{compare_string}" , @remote_repository_url.gsub(/\.git$/, '') + "/compare/#{compare_string}", target: '_blank', class: 'btn btn-xs btn-default' %>
      <%= link_to "Sync Repository", pull_changes_path, method: :post, class: 'btn btn-success btn-xs' %>
      <br /><br />
      <pre><%= @remote_repository_url %></pre>
    </div>
  </div>
<% end %>
</div>
