- @title = @object.name

- if @object.class == Dataset
  = render "datasets/header"
- else
  = render "tools/header"

- content_for :breadcrumbs do
  %ol
    %li= link_to @object.slug, @object
    %li{ style: "font-weight: 300; color: #9e9e9e;" } sync

.row
  #documentation-content{ class: "#{cookies[:hide_page_list] == "1" ? "col-md-12" : "col-md-9"}"}
    = render "documentation/sync", local_commit: @local_commit, remote_commit: @remote_commit, object: @object, back: ""
  #sidebar-content.d-none.d-sm-block{ class: "#{cookies[:hide_page_list] == "1" ? "" : "col-md-3"}"}
    - @page_path = ""
    .menu-sticky= render "documentation/pages_list", pages_path: ""

