= form_with model: [@tool, tool_review], local: true do |form|
  .form-group.row
    = form.label :rating, nil, class: "col-md-2 col-form-label"
    .col-md-10
      .form-control-plaintext
        = render "tool_reviews/rating", form: form, tool_review: tool_review
        = render "forms/invalid_feedback", object: tool_review, key: :rating

  = render "forms/horizontal/text_area", form: form, object: tool_review, key: :review, rows: 7, help_text: "<strong>Optional:</strong> Provide some feedback about your experience with the tool.".html_safe
  = render "forms/horizontal/submit", form: form, object: tool_review, submit_text: tool_review.new_record? ? "Write review" : "Update review", cancel: @tool
