#agreement-event-tags-dropdown.dropdown{ style: "display: inline-block", data: { path: update_tags_review_path(@data_request), orig_tag_ids: ["0"] + @data_request.tag_ids.collect(&:to_s) } }
  = link_to "#", data: { target: "#", toggle: "dropdown" }, role: "button", aria: { haspopup: "true", expanded: "false" }, class: "comment-tab" do
    Tags
    = icon("fas", "caret-down")
  = hidden_field_tag "data_request[tag_ids]", @data_request.tag_ids.join(",")
  .dropdown-menu
    - tag_ids = @data_request.tag_ids
    - Tag.review_tags.order(:name).each do |tag|
      = link_to "#", data: { object: "toggle-tag", tag_id: tag.id }, class: "dropdown-item" do
        %i.fa{ class: @data_request.tags.include?(tag) ? "fa-check-square" : "fa-square-o tag-unselected", style: "color: #{tag.color};" }
        = tag.name
