= form_tag update_tags_review_path(@agreement), method: :post, remote: true, class: "form-horizontal" do
  .form-group
    .col-md-12
      .row
        = hidden_field_tag "agreement[tag_ids][]", nil
        - Tag.review_tags.order( :name ).each do |tag|
          .col-6.col-sm-4.col-md-3.col-lg-2
            %label.checkbox.tag-checkbox{ class: "#{"tag-selected" if @agreement.tags.include?(tag)}", style: "margin-bottom: 10px;background-color:#{tag.color}" }
              = check_box_tag "agreement[tag_ids][]", tag.id, @agreement.tags.include?(tag)
              .tag-name.nowrap{ style: "overflow: hidden;" }
                = tag.name
  .form-group
    .col-12
      = submit_tag "Update Tags", class: "btn btn-primary"
