.row
  .col-sm-6
    %h3.mt-0 My Vote
    - @review = @data_request.reviews.where(user_id: current_user.id).first
    - if @review && @review.approved == true
      = link_to "Change My Vote to Rejected", vote_review_path(@data_request, approved: "0"), method: :post, remote: true, class: "btn btn-danger"
    - elsif @review && @review.approved == false
      = link_to "Change My Vote to Approved", vote_review_path(@data_request, approved: "1"), method: :post, remote: true, class: "btn btn-success"
    - else
      = link_to "Reject", vote_review_path(@data_request, approved: "0"), method: :post, remote: true, class: "btn btn-danger"
      = link_to "Approve", vote_review_path(@data_request, approved: "1"), method: :post, remote: true, class: "btn btn-success"
    .callout.callout-info
      Consider commenting when approving or rejecting an agreement to provide additional information for other reviewers. Reviewer comments are not emailed to the DAUA submitter.
  .col-sm-6
    %h3.mt-0 Current Votes
    = render "reviews/reviewers", data_request: @data_request
