- content_for :tabs do
  - current_page = params[:controller].in?(%w(blog))
  = link_to blog_path, class: "header-tab #{"header-tab-active" if current_page}" do
    = icon("fas", "rss")
    - if current_page
      Live Blog
    - else
      .d-none.d-sm-inline Live Blog
  - current_page = params[:controller].in?(%w(broadcasts))
  = link_to broadcasts_path, class: "header-tab #{"header-tab-active" if current_page}" do
    = icon("fas", "pencil-alt")
    - if current_page
      Articles
    - else
      .d-none.d-sm-inline Articles
