- @title = "Edit Broadcast: #{@broadcast.title_was}"

- content_for :body_class do
  brand-background

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @broadcast.title_was
  .breadcrumb-container.mb-0
    .container
      %ol
        %li= link_to 'Blog Posts', broadcasts_path
        %li= link_to @broadcast.title_was, @broadcast
        %li Edit

.dashboard-container
  = render 'form'
