%h1 NSRR Blog

= link_to 'New Broadcast', new_broadcast_path

.content-container
  %table.table
    %thead
      %tr
        %th Published
        %th Title
        %th Publish date
        %th Pinned
        %th Archived
        %th User
        %th Actions

    %tbody
      - @broadcasts.each do |broadcast|
        %tr
          %td= simple_check broadcast.published
          %td= link_to broadcast.title, broadcast
          %td= broadcast.publish_date.strftime '%a %d %b %Y'
          %td= broadcast.pinned
          %td= broadcast.archived
          %td= broadcast.user.name
          %td
            = link_to 'Edit', edit_broadcast_path(broadcast), class: 'btn btn-xs btn-default'
            = link_to 'Destroy', broadcast, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger-inverse'

.center= paginate @broadcasts, theme: 'contour'
