- @title = @broadcast.title

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = render "layouts/edit_delete_dropdown", edit_url: edit_broadcast_path(@broadcast), delete_url: @broadcast, delete_confirmation: "Delete #{@broadcast.title}?"
        = @title
  .breadcrumb-container
    .container
      .float-right
        - if @broadcast.published?
          - if @broadcast.publish_date <= Time.zone.today
            %span.badge.badge-light Published
            = link_to "View Blog Post", blog_post_path(@broadcast.url_hash), class: "btn btn-sm btn-light"
          - else
            %span.badge.badge-light
              Set to Publish on
              = @broadcast.publish_date.strftime("%a, %B %-d, %Y")
        - else
          %span.badge.badge-warning DRAFT
      %ol
        %li= link_to "Blog Posts", broadcasts_path

.row
  .col-md-3.order-1.order-md-2
    .dashboard-container
      %p
        %strong Short Description
        %br
        = @broadcast.short_description

      %p
        %strong Keywords
        %br
        = @broadcast.keywords

      %p
        %strong Creator
        %br
        = @broadcast.user.name

      %p
        %strong Publish date
        %br
        = @broadcast.publish_date

      %p
        %strong Pinned
        %br
        = simple_check @broadcast.pinned

      %p
        %strong Archived
        %br
        = simple_check @broadcast.archived
  .col-md-9.order-2.order-md-1
    .broadcast= simple_markdown(@broadcast.description, target_blank: false, table_class: "table table-striped table-borderless")
