- @title = @broadcast.title

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = link_to 'Blog Posts', broadcasts_path
        &middot;
        = @broadcast.title
      .banner-body
        - if @broadcast.published?
          %span.label.label-info Published
        - else
          %span.label.label-warning DRAFT
        = link_to edit_broadcast_path(@broadcast), class: 'btn btn-xs btn-default' do
          %span.glyphicon.glyphicon-edit
          Edit Blog Post

.row
  .col-sm-9
    .broadcast
      = simple_markdown @broadcast.description, false

  .col-sm-3
    %p
      %strong Short Description
      %br
      = @broadcast.short_description

    %p
      %strong Creator
      %br
      = @broadcast.user.name

    %p
      %strong Publish date
      %br
      = @broadcast.publish_date

    %p
      %strong Pinned
      %br
      = simple_check @broadcast.pinned

    %p
      %strong Archived
      %br
      = simple_check @broadcast.archived

