%h1
  = link_to 'Blog Posts', broadcasts_path
  &middot;
  = @broadcast.title_was

  - if @broadcast.published?
    %span.label.label-info Published
  - else
    %span.label.label-warning DRAFT

  = link_to 'Edit', edit_broadcast_path(@broadcast), class: 'btn btn-xs btn-default'

%p
  %strong Short Description
  = @broadcast.short_description

%p
  %strong Creator
  = @broadcast.user.name

%p
  %strong Publish date
  = @broadcast.publish_date

%p
  %strong Pinned
  = simple_check @broadcast.pinned

%p
  %strong Archived
  = simple_check @broadcast.archived

.broadcast
  = simple_markdown @broadcast.description, false

