- if current_user
  .reply-outer-container
    = form_with model: topic, local: true do |form|
      = render "forms/vertical/text_field", form: form, object: topic, key: :title, key_name: "Topic Subject", slug: "slug"
      = render "forms/vertical/slug_field", form: form, object: topic, key: :slug, key_name: "URL Slug", help_text: "#{ENV["website_url"]}/forum/#{topic.slug}"

      .form-group
        = form.label :description, "Topic Description"
        .preview-container
          .preview-header
            .float-right
              = render "replies/rich_text_editor_buttons", target: "#topic_description"
            = link_to "Write", "#", data: { object: "view-content-markdown" }, class: "preview-tab active", tabindex: "-1"
            = link_to "Preview", "#", data: { object: "view-content-preview", content: "#topic_description" }, class: "preview-tab", tabindex: "-1"
          .preview-body
            #content_markdown
              = form.text_area :description, rows: [[15, topic.description.to_s.count("\n") + 1].max, 25].min, class: "preview-control filedrag-container", data: { object: "expandable-text-area dropfile", default_rows: 15, upload_url: upload_images_path(update: "#topic_description", format: "js"), fallback_url: new_image_path, log_id: "#log_new" }, id: "topic_description"
              #log_new.filedrag
                Drag images above to insert into post.
            #content_preview.topic-preview{ style: "display: none;" }

      .form-group
        = form.submit "Create Topic", class: "btn btn-primary"
        = link_to "Cancel", "#", data: { object: "close-new-forum-topic" }, class: "btn btn-light"
- else
  .preview-container.preview-container-login
    .preview-header
      .float-right
        = link_to "#", data: { object: "close-new-forum-topic" }, class: "text-white no-underline", style: "font-weight: 600;" do
          &times;
      Sign in to start a new topic
    .preview-body{ style: "min-height: inherit;" }
      = form_with url: async_forum_login_path, method: :post, class: "form-inline" do |form|
        = form.label :email, for: :email, class: "sr-only"
        = form.email_field :email, value: params[:email], class: "form-control mb-2 mr-sm-2 mb-sm-0", placeholder: "Email", data: { title: "Invalid email", container: "body" }, autocomplete: "off", autocorrect: "off", autocapitalize: "none", spellcheck: "false"

        = form.label :password, for: :password, class: "sr-only"
        = form.password_field :password, class: "form-control mb-2 mr-sm-2 mb-sm-0", placeholder: "Password", data: { title: "Invalid password", container: "body" }, autocomplete: "current-password"

        = form.submit "Sign in", class: "btn btn-primary"
        %small.mb-2.ml-2.mb-sm-0.mt-2.mt-md-0
          = link_to "Forgot password?", new_user_password_path
          %br
          = link_to "Register new account", new_user_registration_path
