- @title = "Data Request Stats - #{@organization.name}"

- render "themes/theme"

- content_for :header, @organization.name
= render "organizations/tabs", organization: @organization

- content_for :breadcrumbs do
  %ol
    %li= link_to "orgs", organizations_path
    %li= link_to @organization.slug, @organization
    %li.breadcrumb-muted data request stats

- content_for :sidebar, render("viewer/organizations/sidebar")

.card-deck.mb-5
  .card
    %h4.card-header Number of Data Users*
    .card-body
      .display-1= number_with_delimiter(@organization.data_requests.where(status: "approved").select(:user_id).distinct.count)
    .card-footer
      * Users who have one or more approved data requests.

  .card
    %h4.card-header Number of Data Requests
    .card-body
      .display-1= number_with_delimiter(@organization.data_requests.count)
      - DataRequest::STATUS.each do |label, status|
        .small
          = number_with_delimiter(@organization.data_requests.where(status: status).count)
          %span.badge.badge-dark= label

.dashboard-container
  %ul
    %li
      = link_to "Data requests reports", data_requests_organization_path(@organization)
      %ul
        - @organization.datasets.order(:release_date, :name).each do |dataset|
          %li= link_to "for #{dataset.slug.upcase}", data_requests_organization_path(@organization, dataset: dataset)
