- if @data_request.duly_authorized_representative_signed?
  %p
    %strong All Set!
    Your represenative has signed your data request. Click
    %strong.text-primary Proceed
    below to continue your data request.

  - if @data_request.duly_authorized_representative_signature_file.path
    - content = image_tag(data_requests_duly_authorized_representative_signature_path(@data_request), class: "img-signature", alt: "", style: "max-height: 100px;")
    = render "forms/horizontal/show/generic", title: "Duly Authorized Representative Signature", content: content

    = render "forms/horizontal/show/generic", title: "By", content: @data_request.duly_authorized_representative_signature_print

    = render "forms/horizontal/show/generic", title: "Signed", content: @data_request.duly_authorized_representative_signature_date.strftime("%-d %B %Y")
- else
  %p
    %i.fa.fa-check-square-o.text-success
    Signature Requested

  %p
    %i.fa.fa-check-square-o.text-success
    %span Representative Emailed

  %p
    %i.fa.fa-square-o
    %span.text-muted Representative Signed

  %p.small.text-muted
    You will be notified by email when your Duly Authorized Representative has
    signed your data request.


.mt-5.mb-3.float-right
  = succeed " " do
    = link_to @data_request, class: "btn btn-light", tabindex: "-1" do
      %i.fa.fa-save
      Save Draft

  = link_to [@data_request, :supporting_documents], class: "btn btn-primary" do
    Proceed
    %i.fa.fa-caret-right
