= form_with url: data_requests_update_attest_path(@data_request), method: :post, local: true, id: "data-request-form" do |form|
  = hidden_field_tag "data_request[draft_mode]", nil

  .form-group
    = label_tag :attest, class: "custom-control custom-checkbox" do
      = hidden_field_tag :attest, "0", id: "attest_no"
      = check_box_tag :attest, "1", @data_request.attested_at.present?, class: "custom-control-input", id: :attest, data: { object: "text-input-expandable", help_element: :attest, help_text: "Attestation" }
      %span.custom-control-indicator
      %span.custom-control-description
        I have read this legal document and have answered each question
        truthfully to the best of my knowledge.

.mt-5.mb-3.float-right
  = succeed " " do
    = link_to "#", class: "btn btn-light", tabindex: "-1", data: { object: "submit-draft-and-disable", target: "#data-request-form" } do
      %i.fa.fa-save
      Save Draft

  = link_to "#", class: "btn btn-primary", data: { object: "submit-and-disable", target: "#data-request-form" } do
    Proceed
    %i.fa.fa-caret-right
