- if @data_request.attested_at.present?
  - if @data_request.signature_file.present?
    %div{ style: "height: 100px;" }= image_tag(data_requests_signature_path(@data_request), class: "img-signature", alt: "", style: "max-height: 100px;")
    %div= @data_request.signature_print

  .mt-5.mb-3.float-right
    = succeed " " do
      = link_to data_requests_update_attest_path(@data_request, data_request: { draft: "1" }), method: :post, class: "btn btn-light" do
        %i.fa.fa-save
        Save Draft

    = link_to [@data_request, :supporting_documents], class: "btn btn-primary" do
      Proceed
      %i.fa.fa-caret-right
- else
  = form_with url: data_requests_update_attest_path(@data_request), method: :post, local: true, id: "data-request-form" do |form|
    = hidden_field_tag "data_request[draft]", nil
    = render "forms/signature"

    .form-group
      = label_tag :signature_print, "By (print name)", class: "form-control-label"
      = text_field_tag :signature_print, @data_request.signature_print, class: "form-control input-expandable", placeholder: "<required>", data: { object: "text-input-expandable", help_element: "signature_print", help_text: "By (print name)" }

      %small.text-muted
        If you are not authorized to sign an agreement based on institutional requirements,
        = link_to "click here to designate a Duly Authorized Representative", data_requests_duly_authorized_representative_path(@data_request)
        to do so on your behalf.

  .mt-5.mb-3.float-right
    = succeed " " do
      = link_to "#", class: "btn btn-light", tabindex: "-1", data: { object: "submit-draft-signature-and-disable", target: "#data-request-form" } do
        %i.fa.fa-save
        Save Draft

    = link_to "#", class: "btn btn-primary", data: { object: "submit-signature-and-disable", target: "#data-request-form" } do
      Proceed
      %i.fa.fa-caret-right
