.col-12.col-md-3.col-xl-2.sidebar-wrapper
  .sidebar
    .sidebar-header.d-flex.align-items-center
      .mr-auto
        %strong
          Data Request
          .small= @data_request.final_legal_document.name
          .small.mb-1
            %span= @data_request.final_legal_document.version
            %span.small>= ".#{@data_request.final_legal_document.md5_short}"
          = render "data_requests/convert_links", data_request: @data_request

      %button.navbar-light.navbar-toggler.d-md-none{ type: "button", data: { toggle: "collapse", target: "#sidebar-nav-wrapper" }, aria: { controls: "sidebar-nav-wrapper", expanded: "false", label: "Toggle navigation" }, style: "border: 1px solid rgba(0, 0, 0, 0.5);" }
        %span.navbar-toggler-icon

    - pages = @data_request.final_legal_document.final_legal_document_pages.where(rider: false).collect { |p| { name: "Page #{p.position}", url: data_requests_page_path(@data_request, p.position), complete?: @data_request.page_complete?(p) } }
    - pages << { name: (@data_request.final_legal_document.attestation_name), url: data_requests_attest_path(@data_request), complete?: @data_request.attestation_complete?, active: %w(attest duly_authorized_representative).include?(params[:action]) } if @data_request.attestation_required?
    - addendums = @data_request.final_legal_document.final_legal_document_pages.where(rider: true).collect { |p| { name: p.title, url: data_requests_addendum_path(@data_request, p.position) } }
    - groups = []
    - groups << { name: "DAUA", url: data_requests_page_path(@data_request, 1), docs: pages, active: true } if pages.present?

    -# groups << { name: "", url: data_requests_attest_path(@data_request), docs: [{ name: (@data_request.final_legal_document.attestation_type == "signature" ? "Signature" : "Attest"), url: data_requests_attest_path(@data_request), complete?: @data_request.attestation_complete? }] } if @data_request.final_legal_document.attestation_type == "checkbox" || @data_request.final_legal_document.attestation_type == "signature"

    - groups << { name: "Addendums", url: addendums.first[:url], docs: addendums } if addendums.present?
    - groups << { name: "Uploads", url: data_request_supporting_documents_path(@data_request), docs: [], count: @data_request.supporting_documents.count }
    - groups << { name: "Proof", url: data_requests_proof_path(@data_request), docs: [] }
    - groups << { name: "Datasets", url: datasets_data_request_path(@data_request), docs: @data_request.datasets.order(:slug).collect { |d| { name: d.slug.upcase, url: datasets_data_request_path(@data_request), active_class: "", complete?: nil } }}

    #sidebar-nav-wrapper.sidebar-nav-wrapper.collapse
      %nav.sidebar-nav
        - groups.each do |group|
          .sidebar-nav-group{ class: group.dig(:active) || current_page?(group.dig(:url)) || true ? "active" : nil }
            = link_to group.dig(:url), class: "sidebar-nav-group-link" do
              = group.dig(:name)
              - if group.dig(:count).present? && group.dig(:count).positive?
                %span.badge.badge-primary= group.dig(:count)

            - if group.dig(:docs).present?
              %ul.nav.sidebar-nav-group-items
                - group.dig(:docs).each do |doc|
                  %li{ class: doc.dig(:active) || current_page?(doc.dig(:url)) ? doc.dig(:active_class) || "active" : nil }
                    = link_to doc.dig(:url) do
                      - if doc.dig(:complete?).nil?
                        / %i.fa.fa-check-square
                      - elsif doc.dig(:complete?)
                        = icon("fas", "check-square", class: "text-success")
                      - else
                        = icon("far", "square")
                      = doc.dig(:name)
        .sidebar-nav-group
          %a.sidebar-nav-group-link
            .small.mb-1= @data_request.final_legal_document.legal_document.organization.name
