- @title = "Datasets"
- content_for :container_class, "container-fluid"

.container-fluid
  .row.flex-xl-nowrap
    = render "data_requests/menu"

    #agreement-helper-drawer.d-none.d-xl-block.col-xl.sidebar-drawer

    %main.col-12.col-md-9.col-xl-8.pl-md-5{ role: "main" }
      .page-box.last-box
        .agreement-heading= @title
        %p
          Select only those datasets needed for your project.
        - if @datasets_empty
          .p-3.mb-3.bg-danger.text-white You must select at least one dataset.

        = form_with model: @data_request, url: update_datasets_data_request_path(@data_request), method: :post, local: true, id: "data-request-form" do |form|
          = form.hidden_field :draft, id: "data_request_draft"
          = render "data_requests/datasets_selection", data_request: @data_request, only_released_datasets: true

        .p-3.bg-warning.datasets-warning{ style: @data_request.datasets.count <= 2 ? "display:none" : "" }
          %i.fa.fa-exclamation-triangle
          You may be asked to resubmit if you select
          %strong.text-white more than two
          datasets. Additional datasets can be requested in the future, should
          you find the data useful for your project.

        .mt-5.mb-3.float-right
          = succeed " " do
            = link_to "#", class: "btn btn-light", tabindex: "-1", data: { object: "submit-draft-and-disable", target: "#data-request-form" } do
              %i.fa.fa-save
              Save Draft

          = link_to "#", class: "btn btn-primary", data: { object: "submit-and-disable", target: "#data-request-form" } do
            Add Datasets
            %i.fa.fa-caret-right
