- @title = "Designate Duly Authorized Representative"

- content_for :container_class, "container-fluid"

.container-fluid
  .row.flex-xl-nowrap
    = render "data_requests/menu"

    #agreement-helper-drawer.d-none.d-xl-block.col-xl.sidebar-drawer

    %main.col-12.col-md-9.col-xl-8.pl-md-5{ role: "main" }
      .page-box.last-box
        .agreement-heading= @title

        %p
          Fill out this form if you are not authorized to sign this legal
          agreement based on institutional requirements.
        = form_with model: @data_request, url: data_requests_update_duly_authorized_representative_path(@data_request), method: :post, local: true, id: "data-request-form" do |form|
          = form.hidden_field :draft, id: "data_request_draft"

          = render "forms/vertical/text_field", form: form, object: @data_request, key: :duly_authorized_representative_signature_print, key_name: "Duly Authorized Representative's Name"
          = render "forms/vertical/email_field", form: form, object: @data_request, key: :duly_authorized_representative_email, key_name: "Duly Authorized Representative's Email", help_text: "Please double check to make sure you enter the email correctly."


        %p
          A data request review link will be emailed to your representative. We
          will email you when your representative has reviewed and signed your
          data request.

        .mt-5.mb-3.float-right
          = succeed " " do
            = link_to "#", class: "btn btn-light", tabindex: "-1", data: { object: "submit-draft-and-disable", target: "#data-request-form" } do
              %i.fa.fa-save
              Save Draft

          = link_to "#", class: "btn btn-primary", data: { object: "submit-and-disable", target: "#data-request-form" } do
            Proceed
            %i.fa.fa-caret-right
