- if @dataset.final_legal_documents.count > 0
  .jumbotron
    .d-flex.mb-5
      .pl-3.pr-4.d-flex.flex-column.justify-content-center
        = icon("fas", "gavel", class: "fa-2x", style: "font-size: 4rem;")
      %div.d-flex.flex-column.justify-content-center
        .lead
          %strong Sorry!
          = link_to @dataset.name, @dataset
          does not have any data sharing agreements

          - if @dataset.final_legal_documents.where(commercial_type: %w(both commercial)).count.zero?
            for
            = link_to "commercial entities", settings_data_requests_path
          - elsif @dataset.final_legal_documents.where(commercial_type: %w(both noncommercial)).count.zero?
            for
            = link_to "noncommercial entities", settings_data_requests_path
          - elsif @dataset.final_legal_documents.where(data_user_type: %w(both organization)).count.zero?
            for
            = link_to "organizations", settings_data_requests_path
          - elsif @dataset.final_legal_documents.where(data_user_type: %w(both individual)).count.zero?
            for
            = link_to "individuals", settings_data_requests_path

          at this time.

    .text-center
      = link_to datasets_path, class: "btn btn-light" do
        = icon("fas", "caret-left")
        Back to datasets

- else
  .jumbotron
    .d-flex.mb-5
      .pl-3.pr-4.d-flex.flex-column.justify-content-center
        = icon("fas", "gavel", class: "fa-2x", style: "font-size: 4rem;")
      %div.d-flex.flex-column.justify-content-center
        .lead
          %strong Sorry!
          = link_to @dataset.name, @dataset
          is not currently processing any data requests.

    .text-center
      = link_to datasets_path, class: "btn btn-light" do
        = icon("fas", "caret-left")
        Back to datasets
