- content_for :container_class, "container-fluid"

.container-fluid
  .row.flex-xl-nowrap
    = render "data_requests/menu"

    #agreement-helper-drawer.d-none.d-xl-block.col-xl.sidebar-drawer

    %main.col-12.col-md-9.col-xl-8.pl-md-5{ role: "main" }
      .page-box.last-box
        .agreement-heading= @final_legal_document_page.title

        - if @data_request.status == "resubmit"
          .alert.alert-danger= @data_request.comments

        = form_with model: @data_request, url: data_requests_update_page_path(@data_request, @final_legal_document_page.position), method: :post, local: true, id: "data-request-form" do |form|
          = form.hidden_field :draft, id: "data_request_draft"
          = legal_markdown @final_legal_document_page

        .mt-5.mb-3.float-right
          = succeed " " do
            = link_to "#", class: "btn btn-light", tabindex: "-1", data: { object: "submit-draft-and-disable", target: "#data-request-form" } do
              %i.fa.fa-save
              Save Draft

          = link_to "#", class: "btn btn-primary", data: { object: "submit-and-disable", target: "#data-request-form" } do
            Proceed
            %i.fa.fa-caret-right
