- @title = "Proof"
- content_for :container_class, "container-fluid"

.container-fluid
  .row.flex-xl-nowrap
    = render "data_requests/menu"

    #agreement-helper-drawer.d-none.d-xl-block.col-xl.sidebar-drawer

    %main.col-12.col-md-9.col-xl-8.pl-md-5{ role: "main" }
      .page-box.last-box
        .agreement-heading= @title

        = form_with model: @data_request, url: data_requests_submit_path(@data_request), method: :post, local: true, id: "data-request-form" do |form|
          = form.hidden_field :draft, id: "data_request_draft"

        - @data_request.final_legal_document.final_legal_document_pages.each do |final_legal_document_page|
          - final_legal_document_page.variables.each do |variable|
            - agreement_variable = @data_request.agreement_variables.find_by(final_legal_document_variable_id: variable.id)
            - value = (agreement_variable ? agreement_variable.value : "")

            - if variable.variable_type == "checkbox"
              - if value != "1" && variable.required?
                - content = content_tag(:span, content_tag(:i, nil, class: "fa fa-square-o") + " Required", class: "text-danger")
              - else
                - content = simple_check(value == "1")
              - content = content + " " + variable.description.to_s
            - else
              - content = (agreement_variable ? agreement_variable.value : "")
              - if content.blank? && variable.required?
                - content = content_tag(:span, content_tag(:i, nil, class: "fa fa-exclamation-triangle") + " Required", class: "text-danger")
            - display_name = variable.display_name.present? ? variable.display_name : variable.name.titleize
            - display_name = link_to display_name, data_requests_page_url(@data_request, final_legal_document_page.position), tabindex: "-1" # TODO: Make anchor work correctly `anchor: variable.name`
            = render "forms/horizontal/show/generic", title: display_name, content: content

        - if @data_request.final_legal_document.attestation_type == "signature"
          - if @data_request.duly_authorized_representative_signed?

            - if @data_request.duly_authorized_representative_signature_file.path
              - content = image_tag(data_requests_duly_authorized_representative_signature_path(@data_request), class: "img-signature", alt: "", style: "max-height: 100px;")
            - else
              - content = "<div class=\"text-muted\">No signature</div>".html_safe
            = render "forms/horizontal/show/generic", title: "Duly Authorized Representative Signature", content: content
          - else
            - if @data_request.signature_file.present?
              - content = image_tag(data_requests_signature_path(@data_request), class: "img-signature", alt: "", style: "max-height: 100px;")
            - else
              - content = "<div class=\"text-muted\">No signature</div>".html_safe
            = render "forms/horizontal/show/generic", title: link_to("Signature", data_requests_attest_path(@data_request)), content: content

        - case @data_request.supporting_documents.count when 0
          - supporting_documents_content = content_tag(:span, "No supporting documents uploaded.", class: "text-muted")
        - when 1
          - supporting_documents_content = safe_join(@data_request.supporting_documents.collect { |d| content_tag(:span, d.document.file.filename) })
        - else
          - supporting_documents_content = pluralize(@data_request.supporting_documents.count, "supporting document") + " uploaded."
        = render "forms/horizontal/show/generic", title: link_to("Supporting Documents", data_request_supporting_documents_path(@data_request)), content: supporting_documents_content

        - if @data_request.complete?
          .mt-5.alert.alert-success.text-center.mb-0.box-shadow
            %strong Data request ready to submit.
            Click submit below to complete data request.
        - else
          .mt-5.alert.alert-danger.text-center.mb-0.box-shadow
            %strong Data request incomplete.
            Missing required fields.

        .mt-5.mb-3.float-right
          = succeed " " do
            = link_to "#", class: "btn btn-light", tabindex: "-1", data: { object: "submit-draft-and-disable", target: "#data-request-form" } do
              %i.fa.fa-save
              Save Draft

          - if @data_request.complete?
            = link_to "#", class: "btn btn-primary", data: { object: "submit-and-disable", target: "#data-request-form" } do
              Submit
              %i.fa.fa-caret-right
          - else
            = link_to "#", class: "btn btn-primary disabled", data: { object: "suppress-click" }, disabled: true do
              Submit
              %i.fa.fa-caret-right
