- @title = "Data Request Started"

- render "themes/theme"

.page-box.last-box.page-box-no-padding.text-center
  .header-container
    .container
      %h1.page-heading.text-center
        Looking to
        %i.fa.fa-cloud-download
        download data?
  .container
    .page-box-padding
      .lead
        Fill out a data request in
        = succeed "." do
          %strong a few short steps
        %br
        Save
        %strong drafts
        and
        %strong submit
        when ready!

      .my-5
        = link_to data_requests_start_path(@dataset), method: :post, class: "btn btn-lg btn-primary btn-shadow" do
          Click to start
          = icon("fas", "caret-right")

      .lead
        Questions? Send us an email at
        = succeed "." do
          = mail_to ENV["support_email"]
