- @title = "Data Request Submitted"

- content_for :header do
  .text-center
    .mb-3= @title
    .lead
      Thank you, your data request was submitted successfully.

.dashboard-container-narrow
  %p
    Dear
    = succeed "," do
      = current_user.username

  %p
    Once your data request is approved, you will be able to download data from
    the datasets you requested.

  %p
    %strong
      Please allow up to two (2) weeks for your request to be reviewed by the
      NSRR team.

  %p
    If you need help, please post questions on the
    = link_to "forum", topics_path
    or contact us directly at
    = succeed "." do
      = mail_to ENV["support_email"]

  %p Welcome aboard!

  %p The NSRR Team

.text-center
  = link_to data_requests_path, class: "btn btn-light btn-shadow" do
    = icon("fas", "th-list")
    Review my data requests
  &nbsp;
  = link_to [:print, @data_request], class: "btn btn-primary btn-shadow", data: { turbolinks: false } do
    = icon("fas", "print")
    Print data request
