= form_for @challenge, html: { class: 'form-horizontal' } do |f|
  - if @challenge.errors.any?
    .callout.callout-danger
      %strong
        = pluralize @challenge.errors.count, 'error'
        prohibited this challenge from being saved

      %ul
        - @challenge.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :slug, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :slug, class: 'form-control'

  .form-group
    = f.label :description, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :description, rows: 7, class: 'form-control'

  .form-group
    .col-md-offset-2.col-md-10
      .checkbox
        %label
          = f.check_box :public
          Public

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = cancel
