- @title = 'Challenges'

- content_for :body_class do
  brand-background

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        - if current_user && current_user.system_admin?
          .pull-right
            = link_to plus_or('New Challenge'), new_challenge_path, class: 'btn btn-accent btn-shadow'
        = @title
.center
  %p.lead
    Participate in exciting challenges to test your mettle!

.dashboard-container-narrow
  .dashboard-container-title New Challenge!

  %p
    Our second challenge is now available.

  %p
    Learn more about the
    = succeed '!' do
      = link_to 'Flow Limitation Challenge - Part 2', challenge_path('flow-limitation-2')


  - if @challenges.size > 1 && false
    Other available challenges can be found here:
    %ul
      - @challenges.each do |challenge|
        %li= link_to challenge.name, challenge

.dashboard-container-narrow
  .dashboard-container-title Older Challenges

  %p The following challenges are no longer active.

  %p
    = link_to 'Flow Limitation Challenge', challenge_path('flow-limitation')
