.beta-container
  .main-container.dark-texture
    %h1 Flow Limitation Challenge
    %p.wow.flipInX
      Review Answers


  %a.anchor-top{ name: 'download-data' }
  .main-container.grid-texture

    %h2
      My Answers

    %p
      Here are the answers you provided for this challenge. Please review them, and then either go back and edit, or submit your responses at the bottom.

  - @signal_map.each_with_index do |range, index|
    - signal = index + 1
    .slim-container{ class: "#{signal.odd? ? 'light-texture' : 'grid-texture' }" }
      %h3
        Signal
        = signal
        = link_to 'edit answers', signal_challenge_path(@challenge, signal), class: 'btn btn-xs btn-default'

      = image_tag images_challenge_path(@challenge, path: "fl#{signal}.png"), style: 'max-width: 100%;'

      %table.table{ style: 'table-layout:fixed' }
        %thead
          %tr
            - range.each do |letter|
              %th{ style: 'text-align:center' }=letter
        %tbody
          %tr
            - range.each do |letter|
              - number = "%02d" % signal
              - question_name = "signal#{number}#{letter.downcase}"
              - question = @challenge.questions.find_by_name(question_name)
              - answer = @challenge.answers.where(question_id: question.id, user_id: current_user.id).first_or_create
              %td{ style: 'text-align:center' }
                - case answer.response when 'yes'
                  %span.label.label-success Y
                - when 'no'
                  %span.label.label-danger N
                - when 'intermediate'
                  %span.label.label-warning I
                - when 'unscorable'
                  %span.label.label-default U



  .main-container.call-to-action

    %h2.center
      Almost done, answer a short survey on the next page!

    .center{ style: 'margin-top:20px;margin-bottom:20px' }
      = link_to 'Proceed to Survey', 'https://tryslice.io/survey/flow-limitation-challenge', class: 'btn btn-call-to-action btn-lg'
