- content_for :banner do
  .challenge-header
    .banner
      .container
        .banner-header.brand
          = @challenge.name
          Challenge
        .banner-body
          Here are the answers you provided for this challenge. Please review them, and then either go back and edit, or submit your responses at the bottom.

- @signal_map.each_with_index do |range, index|
  - signal = index + 1
  %h3
    Signal
    = signal
    = link_to 'edit answers', signal_challenge_path(@challenge, signal), class: 'btn btn-xs btn-default'

  = image_tag images_challenge_path(@challenge, path: @challenge.signal_name(signal)), style: 'width: 100%;'

  %table.table.table-fixed
    %thead
      %tr
        - range.each do |letter|
          %th.center=letter
    %tbody
      %tr
        - range.each do |letter|
          - number = format('%02d', signal)
          - question_name = "signal#{number}#{letter.downcase}"
          - question = @challenge.questions.find_by_name(question_name)
          - answer = @challenge.answers.where(question_id: question.id, user_id: current_user.id).first_or_create
          %td{ style: 'text-align:center' }
            - case answer.response when 'yes'
              %span.label.label-success Y
            - when 'no'
              %span.label.label-danger N
            - when 'intermediate'
              %span.label.label-warning I
            - when 'unscorable'
              %span.label.label-default U
            - else
              %span.label{ style: "background-color: #FFF;color:#333;" } -


- content_for :call_to_action do
  .call-to-action
    - if @challenge.survey_url.present?
      .call-to-action-header
        Almost done, answer a short survey on the next page!

      .call-to-action-body
        = link_to 'Proceed to Survey', @challenge.survey_url, class: 'btn btn-call-to-action btn-lg btn-shadow'
    - else
      .call-to-action-header
        Almost done, continue below!
      .call-to-action-body
        = link_to 'Complete Challenge', submitted_challenge_path(@challenge), class: 'btn btn-call-to-action btn-lg btn-shadow'
