.full-screen
  %h2.header-top Flow Limitation Challenge
  %p.screen-description-top.wow.flipInX
    Review Answers


%a.anchor-top{ name: 'download-data' }
.full-screen.math-texture

  %h2.header-top
    My Answers

  %p.screen-description-top
    Here are the answers you provided for this challenge. Please review them, and then either go back and edit, or submit your responses. You will no longer be able to edit your responses after submitting.

  %div{ style: 'text-align:center;width:100%;margin-top:40px;' }
    = image_tag 'challenges/flow-limitation-letters.png', class: 'img-thumbnail'



  %p.screen-description-top{ style: 'margin-top:40px'}
    = link_to 'A - Flow Limited?', flow_limitation_challenge_step1_path
  %p.screen-description-top{ style: 'margin-left: 20px;'}
    %strong Yes


  %p.screen-description-top
    = link_to 'B - Flow Limited?', flow_limitation_challenge_step2_path
  %p.screen-description-top{ style: 'margin-left: 20px;'}
    %strong Intermediate


%a.anchor-top{ name: 'submit-responses' }
.full-screen.call-to-action

  %h2.header-top{ style: 'text-align: center' }
    Last step, make sure to submit your answers!

  %div{ style: 'text-align:center;margin-top:20px;margin-bottom:20px' }
    = link_to 'Submit My Answers', flow_limitation_challenge_submitted_path, class: 'btn btn-call-to-action btn-lg'

.full-screen.full-footer
  %ul.list-unstyled
    %li.btn.btn-lg= link_to 'Contact Us', 'mailto:support@sleepdata.org'
    %li.btn.btn-lg= link_to 'Datasets', datasets_path
    %li.btn.btn-lg= link_to 'About', about_path
