= form_with model: [@organization, @legal_document, legal_document_page], local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: legal_document_page, key: :title
  = render "forms/horizontal/text_area", form: form, object: legal_document_page, key: :readable_content, key_name: "Content", help_text: "Create variables by surrounding them with < and >. Ex: I, <first_name>, from <university>..."
  = render "forms/horizontal/text_field", form: form, object: legal_document_page, key: :position
  = render "forms/horizontal/check_box", form: form, object: legal_document_page, key: :rider
  = render "forms/horizontal/submit", form: form, object: [@organization, @legal_document, legal_document_page]
