- @title = "Edit Legal Document Page: #{@legal_document_page.title_was}"

- content_for :sidebar, render("admin/sidebar")
- content_for :header, @legal_document_page.title_was

- content_for :breadcrumbs do
  %ol
    %li= link_to @organization.name, @organization
    %li= link_to "Legal Docs", [@organization, :legal_documents]
    %li= link_to @legal_document.name, [@organization, @legal_document]
    %li= link_to @legal_document_page.title_was, [@organization, @legal_document, @legal_document_page]
    %li Edit

.dashboard-container= render "legal_document_pages/form", legal_document_page: @legal_document_page
