- @title = "Legal Document Pages"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = link_to plus_or("New Legal Document Page"), new_organization_legal_document_legal_document_page_path(@organization, @legal_document), class: "btn btn-primary btn-shadow"
        = @title
  .breadcrumb-container.mb-0.p-2
    .container
      %ol
        %li= link_to @organization.slug.upcase, @organization
        %li= link_to "Legal Docs", organization_legal_documents_path(@organization)
        %li= link_to @legal_document.name, [@organization, @legal_document]
        %li Pages

%table.table.table-striped.table-borderless.table-sticky
  %col{ width: "1px" }
  %col
  %col
  %col
  %col
  %col{ width: "1px" }
  %thead
    %tr
      %th Position
      %th Title
      %th.text-center Rider
      %th.text-center Actions

  %tbody
    - @legal_document_pages.each do |legal_document_page|
      %tr.tr-align-middle
        %td= legal_document_page.position
        %td= link_to legal_document_page.title, [@organization, @legal_document, legal_document_page]
        %td.text-center= simple_check legal_document_page.rider
        %td.text-center
          = render "layouts/edit_delete_dropdown", edit_url: [:edit, @organization, @legal_document, legal_document_page], delete_url: [@organization, @legal_document, @legal_document_page], delete_confirmation: "Delete #{legal_document_page.title}?"

.center-horizontally= paginate @legal_document_pages, theme: "bootstrap"
