- @title = @legal_document_page.title

- render "themes/theme"
- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @title

- content_for :breadcrumbs do
  %ol
    %li= link_to @organization.name, @organization
    %li= link_to "Legal Docs", [@organization, :legal_documents]
    %li= link_to @legal_document.name, [@organization, @legal_document]
    %li= @legal_document_page.title
    %li
      .dropdown.dropdown-sm.d-inline-block
        = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
          .d-inline-block.d-sm-none
            %i.fa.fa-cog
          .d-none.d-sm-inline-block Actions
          %strong.caret

        .dropdown-menu
          = link_to edit_organization_legal_document_legal_document_page_path(@organization, @legal_document, @legal_document_page), class: "dropdown-item" do
            %i.fa.fa-pencil
            Edit
          .dropdown-divider
          = link_to [@organization, @legal_document, @legal_document_page], method: :delete, data: { confirm: "Delete #{@legal_document_page.title}?" }, class: "dropdown-item text-danger" do
            %i.fa.fa-trash
            Delete

.dashboard-container
  = render "forms/horizontal/show/generic", title: "Legal document", content: link_to(@legal_document.name, [@organization, @legal_document])
  = render "forms/horizontal/show/text", object: @legal_document_page, key: :position
  = render "forms/horizontal/show/check_box", object: @legal_document_page, key: :rider

.row
  #legal-document-preview.col-12.col-md
    %div{ id: "legal-document-page-#{@legal_document_page.id}" }= render "legal_document_pages/preview", legal_document_page: @legal_document_page
  #legal-document-variable.col-12.col-md.d-none
