= form_for(@hosting_request) do |f|
  - if @hosting_request.errors.any?
    %h2
      = pluralize @hosting_request.errors.count, 'error'
      prohibited this hosting_request from being saved

    %ul
      - @hosting_request.errors.full_messages.each do |message|
        %li= message

  .field
    = f.label :user_id
    = f.number_field :user_id

  .field
    = f.label :description
    = f.text_area :description

  .field
    = f.label :institution_name
    = f.text_field :institution_name

  .field
    = f.label :deleted
    = f.check_box :deleted

  .actions
    = f.submit
