- @title = "Edit Hosting Request: #{@hosting_request.name_was}"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @hosting_request.name_was
  .breadcrumb-container
    .container
      %ol
        %li= link_to "Hosting Requests", hosting_requests_path
        %li= link_to @hosting_request.name_was, @hosting_request
        %li Edit

= render "form", hosting_request: @hosting_request
