- @title = 'Hosting Requests'

- content_for :body_class do
  brand-background

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .pull-right
          = render 'layouts/per_page', per_page: 40, object_count: @hosting_requests.total_count
        = @title
        = render 'search/toggle'

= render 'search/simple', url: hosting_requests_path

- if @hosting_requests.count.zero?
  .lead.center{ style: 'margin-top: 40px;' }
    No hosting requests found matching search criteria.
    = succeed '.' do
      = link_to 'Back to index', hosting_requests_path
- else
  .dashboard-container.box-shadow
    %table.table.table-striped.table-borderless.table-hover
      %col{ width: '1px' }
      %col
      %col.hidden-xs
      %col
      %col.hidden-xs{ width: '1px' }
      %col{ width: '1px' }
      %thead
        %tr
          %th ID
          %th Institution Name
          %th.hidden-xs Description
          %th User
          %th.center.hidden-xs Reviewed
          %th.center
            %span.hidden-xs Actions

      %tbody
        - @hosting_requests.each do |hosting_request|
          %tr
            %td= "##{hosting_request.id}"
            %td= link_to hosting_request.institution_name, hosting_request
            %td.hidden-xs= hosting_request.description
            %td= link_to hosting_request.user.name, hosting_request.user
            %td.center.hidden-xs= simple_check hosting_request.reviewed?
            %td
              = render 'layouts/edit_delete_dropdown', edit_url: edit_hosting_request_path(hosting_request), delete_url: hosting_request, delete_confirmation: "Delete #{hosting_request.name}?"
