- @title = @hosting_request.name

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = link_to 'Hosting Requests', hosting_requests_path
        &middot;
        = @hosting_request.name

%p
  %strong User
  = @hosting_request.user.name

%p
  %strong Institution Name
  = @hosting_request.institution_name

.markdown-container-new= simple_markdown @hosting_request.description
