- @title = @hosting_request.name

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = render "layouts/edit_delete_dropdown", edit_url: edit_hosting_request_path(@hosting_request), delete_url: @hosting_request, delete_confirmation: "Delete #{@hosting_request.name}?"
        = @title
  .breadcrumb-container
    .container
      %ol
        %li= link_to "Hosting Requests", hosting_requests_path


= render "forms/horizontal/show/generic", title: "User", content: @hosting_request.user.username

= render "forms/horizontal/show/text", object: @hosting_request, key: :institution_name
= render "forms/horizontal/show/markdown", object: @hosting_request, key: :description
= render "forms/horizontal/show/check_box", object: @hosting_request, key: :reviewed
