- @title = @tool.name.presence || "Unnamed"

- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown", edit_url: edit_admin_tool_path(@tool), delete_url: admin_tool_path(@tool), delete_confirmation: "Delete #{@tool.name}?"
  = @title
= render "internal/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "tools", admin_tools_path
    %li.breadcrumb-muted= (@tool.name.presence || "unnamed").downcase
- content_for :sidebar, render("admin/sidebar")

.dashboard-container
  = render "forms/horizontal/show/generic", title: "URL", content: link_to(@tool.url, @tool.url)
  = render "forms/horizontal/show/check_box", object: @tool, key: :published
  = render "forms/horizontal/show/generic", title: "User", content: @tool.user.username
  = render "forms/horizontal/show/generic", title: "Description", content: simple_markdown(@tool.description)
