- steps = [["Data User Name", "edit"], ["Specific Purpose", "edit"], ["Stipulations", "check"], ["Signature", "pencil"], ["IRB Review", "file"], ["Proof", "file"]]

- content_for :banner do
  .banner
    .container
      .banner-header.brand.center
        Brigham and Women's Hospital
        %br
        National Sleep Research Resource (NSRR)
      .banner-body.hidden-xs
        %hr{ style: 'border-color: #777;' }
        .row{ style: 'margin-bottom: -20px' }
          - steps.each_with_index do |(label, icon), index|
            .col-sm-4.col-lg-2.col-buffer
              - url = @agreement.new_record? ? '#' : step_agreement_path(@agreement, step: index+1)
              = link_to url, class: "btn btn-block btn-link", data: { object: "#{'suppress-click' if @agreement.new_record?}" }, style: 'color: #fff;' do
                %span.glyphicon{ class: "glyphicon-#{step_helper_2(@agreement, index + 1)}" }
                = label

= hidden_field_tag 'isdirty', '1'
