<% steps = [["DAUA", "edit"], ["Evidence of IRB Review", "file"], ["Application for Access", "edit"]] %>

<div class="page-header">
  <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back to my Submissions'.html_safe, submissions_path, class: 'btn btn-default' %>
  <h1 style="text-align:center">Brigham and Women's Hospital <br />National Sleep Research Resource (NSRR)</h1>
</div>

<div class="row" style="margin-top: 20px;">
  <% steps.each_with_index do |(label, icon), index| %>
    <div class="col-xs-12 col-sm-4 col-lg-4">
      <div class="panel panel-<%= step_helper(@agreement, index+6, @step) %>">
        <div class="panel-heading" style="overflow-x:hidden">
          <h3 class="panel-title" style="text-align:center;white-space:nowrap">
            <% url = @agreement.new_record? ? '#' : step_agreement_path(@agreement, step: index+6) %>
            <%= link_to url, rel: 'tooltip', title: label, data: { object: "#{'suppress-click' if @agreement.new_record?}", container: 'body', placement: 'bottom' } do %>
              <span class="glyphicon glyphicon-<%= icon %>"></span> <%= label %>
            <% end %>
          </h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
