= render 'agreements/wizard/daua_progress'

%h2.center EVIDENCE OF IRB REVIEW

%hr.divider-md

= form_for @agreement, url: update_step_agreement_path(@agreement), method: :patch, multipart: true, html: { class: 'form-vertical', id: 'update_step_form' } do |f|
  - if @agreement.errors.any?
    #error_explanation.bs-callout.bs-callout-danger
      %h4
        = pluralize(@agreement.errors.count, "error")
        prohibited this step from being saved

      %ul
        - @agreement.errors.full_messages.each do |msg|
          %li= msg

  = hidden_field_tag "agreement[draft_mode]", nil
  = hidden_field_tag "step", @step
  = hidden_field_tag "agreement[current_step]", @step

  %p.lead-paragraph
    In addition to completing and executing the NSRR Data Access and Use
    Agreement for the research project/specific purpose identified in your
    request, you will also need to submit evidence of Institutional Review
    Board (IRB)/Ethics Committee review of your project to ensure the data will
    be used for appropriate research purposes and to ensure data security and
    appropriate handling of the data at the users site. This IRB review can be
    obtained locally and submitted with the DAUA, or by completion of the online
    request form if you would like to apply for a review by the NSRR Internal
    Review Committee.

  .row
    .col-sm-6
      .panel.panel-info.panel-hover{ data: { object: "select_radio_button", target: "#agreement_irb_evidence_type_has_evidence" } }
        .panel-heading
          Option 1 (Preferred)
        .panel-body
          .form-group
            .radio
              %label
                = f.radio_button :irb_evidence_type, 'has_evidence'
                Please attach evidence of IRB review. It is expected the
                document attached shows the IRB has either a) performed a review
                of the project and issued an approval, or b) declared that the
                research project is exempt from review.

          .form-group
            - if @agreement.irb.size > 0
              .bs-callout.bs-callout-default
                = link_to download_irb_agreement_path(@agreement), target: '_blank' do
                  %span.glyphicon.glyphicon-file
                  = @agreement.irb.to_s.split('/').last
                %tt= number_to_human_size @agreement.irb.size

            = f.label :irb, 'Evidence of IRB review (PDF)', class: 'control-label'

            = f.file_field :irb, class: 'form-control'
            .bs-callout.bs-callout-info
              %h4 IRB Template

              %p
                = link_to irb_assistance_template_path, target: '_blank' do
                  %span.glyphicon.glyphicon-link
                  IRB Assistance Template for Evidence of IRB Review

    .col-sm-6
      .panel.panel-info.panel-hover{ data: { object: "select_radio_button", target: "#agreement_irb_evidence_type_no_evidence" } }
        .panel-heading
          Option 2
        .panel-body
          .form-group
            .radio
              %label
                = f.radio_button :irb_evidence_type, 'no_evidence'
                I don't have IRB Review, and would like the NSRR Internal Review
                Committee to conduct the review.
                %strong Please allow 2 to 3 weeks for review.
                Select this to fill out the online request form if you would
                like to apply for NSRR Internal Review Committee review of your
                project.

  %hr.divider-md

  .row
    .col-xs-4
      = link_to step_agreement_path(@agreement, step: @step-1), class: 'btn btn-lg btn-default btn-block' do
        %span.glyphicon.glyphicon-arrow-left
        Back to Previous Step
    .col-xs-4
      = link_to '#', data: { object: 'submit-draft', target: '#update_step_form' }, class: 'btn btn-lg btn-warning btn-block' do
        %span.glyphicon.glyphicon-floppy-disk
        Save Draft
    .col-xs-4
      = link_to '#', data: { object: 'submit', target: '#update_step_form' }, class: 'btn btn-lg btn-primary btn-block' do
        %span.glyphicon.glyphicon-floppy-disk
        Save and Continue

- @footer_img = 'footer.jpg'
