<%= render partial: 'agreements/wizard/daua_progress' %>

<h2 style="text-align:center">DATA ACCESS AND USE AGREEMENT</h2>

<hr class="divider-md" />

<%= form_for @agreement, url: update_step_agreement_path(@agreement), method: :patch, html: { class: 'form-horizontal', id: 'update_step_form' } do |f| %>
  <% if @agreement.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@agreement.errors.count, "error") %> prohibited this step from being saved</h4>

      <ul>
      <% @agreement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "agreement[draft_mode]", nil %>
  <%= hidden_field_tag "step", @step %>
  <%= hidden_field_tag "agreement[current_step]", @step %>

  <p class="lead-paragraph">
    14. This DAUA shall become effective upon the date of BWH's release of Data / Datasets to Data User (<strong>"Effective Date"</strong>) and shall expire upon the earlier of (i) three (3) years after the Effective Date or (ii) Data User's cessation or completion of the Specific Purpose (as applicable, the <strong>"Initial Term"</strong>).  If Data User continues to desire access to the Data / Datasets for the Specific Purpose beyond the Initial Term, Data User may submit a request for continued access and an extension of this DAUA to BWH.  BWH may terminate the DAUA and Data User's access to Data / Datasets hereunder at any time during the Initial Term or any subsequent term, and for any reason, upon written notice to the Data User.
  </p>

  <p class="lead-paragraph">
    15. To the extent Data User is permitted under the terms of this DAUA to retain any portion of the Data / Dataset, or any copies thereof, upon the expiration or termination of the DAUA, the Data User's obligations under the DAUA with respect to such Data / Datasets shall survive such expiration or termination for as long as Data User retains the Data / Datasets.
  </p>

  <p class="lead-paragraph">
    16. This DAUA may be modified or amended only in a writing signed by duly authorized representatives of both the Data User (where Data User is an organization) and BWH.  This DAUA shall be governed by and construed in accordance with the laws of the Commonwealth of Massachusetts.  Any claim or action brought under this DAUA shall be brought in the federal or state courts of Massachusetts.
  </p>

  <p class="lead-paragraph">
    17. All notices required by this DAUA shall be provided to the signatory for each party at the address identified below.
  </p>

  <p class="lead-paragraph">
    18. In all publications and other citations that use resources made available through the sleepdata.org site, User agrees to acknowledge the appropriate grants and references for individual cohort data downloaded as indicated in the citation section on the relevant NSRR web page, along with the following:
  </p>

  <p class="lead" style="text-align:center">
    NSRR R24 HL114473: NHLBI National Sleep Research Resource.
  </p>

  <p class="lead-paragraph">
    19. Sections 3 through 13 and Sections 15, 16, 17, and 18 of this DAUA shall survive its expiration or termination.
  </p>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <div class="checkbox">
        <label>
          <%= f.check_box :has_read_step5 %> I have read and fully understand and accept the above terms and conditions.
        </label>
      </div>
    </div>
  </div>

  <hr class="divider-md" />

  <div class="row">
    <div class="col-xs-4">
      <%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> Back to Previous Step".html_safe, step_agreement_path(@agreement, step: @step-1), class: 'btn btn-lg btn-default btn-block' %>
    </div>
    <div class="col-xs-4">
      <%= link_to "<span class='glyphicon glyphicon-floppy-disk'></span> Save Draft".html_safe, '#', data: { object: 'submit-draft', target: '#update_step_form' }, class: 'btn btn-lg btn-warning btn-block' %>
    </div>
    <div class="col-xs-4">
      <%= link_to "<span class='glyphicon glyphicon-floppy-disk'></span> Save and Continue".html_safe, '#', data: { object: 'submit', target: '#update_step_form' }, class: 'btn btn-lg btn-primary btn-block' %>
    </div>
  </div>
<% end %>

<% @footer_img = 'footer.jpg' %>
