<%= render partial: 'agreements/wizard/progress' %>

<h2 style="text-align:center">SPECIFIC PURPOSE</h2>

<hr class="divider-md" />

<%= form_tag upload_daua_path, method: :post, class: 'form-horizontal' do |f| %>
  <p class="lead-paragraph">
    2. Data User will describe to BWH via the electronic registration process for NSRR Data access at https://sleepdata.org the specific sleep research use for the Data / Datasets proposed by Data User (the <strong>"Specific Purpose"</strong>).  The Specific Purpose as described in the on-line application process is:
  </p>

  <div class="form-group has-success" style="margin-top: 20px;margin-bottom: 20px;">
    <div class="col-md-10 col-md-offset-1">
      <%= text_area_tag :specific_purpose, "", class: 'form-control', rows: '5', placeholder: 'Explain Specific Purpose' %>
    </div>
  </div>

  <p class="lead-paragraph">
   For avoidance of doubt, permissible uses may include use of the Data / Datasets for research evaluation and testing of a product or technology but will not extend to proposals that include or incorporate the Data / Datasets into such product.  BWH will provide the Data / Datasets requested by the Data User upon BWH's approval, in its sole discretion, of the Specific Purpose, its receipt of this DAUA signed by Data User (or of Data User's Duly Authorized Representative, if an organization), and the submission by Data User of any additional information or documentation required by NSRR policies and procedures as applicable to the request (including, when required, submission of evidence of approval of the Specific Purpose by Data User's Institutional Review Board).  The requirements described in this Section 2 will apply regardless of whether Data User has been previously approved by NHLBI to access complementary data from databases or other resources controlled by NHLBI (including but not limited to BioLINCC).  Data User acknowledges that other researchers are permitted to access the Data/Dataset on the same terms as Data User, so that duplication of research may occur.
  </p>
<% end %>

<hr class="divider-md" />

<div class="row">
  <div class="col-xs-6">
    <%= link_to "<span class='glyphicon glyphicon-chevron-left'></span> Back to Previous Step".html_safe, daua_step_path(step: @step-1), class: 'btn btn-lg btn-default btn-block' %>
  </div>
  <div class="col-xs-6">
    <%= link_to "<span class='glyphicon glyphicon-floppy-disk'></span> Save and Continue".html_safe, daua_step_path(step: @step+1), class: 'btn btn-lg btn-primary btn-block' %>
  </div>
</div>

<% @footer_img = 'footer.jpg' %>
