= render 'agreements/wizard/daua_progress'

%h2.center.brand SIGNATURE

= form_for @agreement, url: update_step_agreement_path(@agreement), method: :patch, html: { class: 'form-vertical', id: 'update_step_form', data: { object: 'signature', signature_target: '.output-write' } } do |f|
  - if @agreement.errors.any?
    - if @agreement.errors.messages.keys.include?(:duly_authorized_representative_signature) or @agreement.errors.messages.keys.include?(:duly_authorized_representative_signature_date) or @agreement.errors.messages.keys.include?(:duly_authorized_representative_signature_print) or @agreement.errors.messages.keys.include?(:duly_authorized_representative_title)
      .callout.callout-danger
        %strong
          Errors prohibited this from being saved.
        Your Duly Authorized Representative has not yet signed and dated the agreement.
        You can send your representative the link provided below.
    - else
      .callout.callout-danger
        %strong
          Errors prohibited this from being saved.
        Please make sure to sign and print your name, and select the date you signed.

  = hidden_field_tag "agreement[draft_mode]", nil
  = hidden_field_tag "step", @step
  = hidden_field_tag "agreement[current_step]", @step

  .row
    .col-sm-6
      .panel.panel-info{ data: { object: "select_radio_button", target: "#agreement_unauthorized_to_sign_false" } }
        .panel-heading
          Option 1 - Data User Signature
        .panel-body
          .form-group
            .radio
              %label
                = f.radio_button :unauthorized_to_sign, false
                I am authorized to sign this Data Access and Use Agreement


          .form-group
            = f.label :signature, 'Signature of Data User', class: 'control-label'
            %div{ style: "position:relative" }
              = f.hidden_field :signature, class: 'output-write'
              %canvas.pad{ width: "300", height: "55" }
              %span.clearButton{ style: "position: absolute; margin-top: 12.5px; margin-left: 10px;" }
                = link_to 'Clear', '#clear', class: 'btn btn-light', tabindex: '-1'

          .form-group
            = f.label :signature_print, 'By (print name)', class: 'control-label'
            = f.text_field :signature_print, class: 'form-control'

          .form-group
            = f.label :signature_date, 'Date Signed', class: 'control-label'
            = f.text_field :signature_date, class: 'datepicker form-control', value: @agreement.signature_date ? @agreement.signature_date.strftime('%m/%d/%Y') : ''

    .col-sm-6
      .panel.panel-info{ data: { object: "select_radio_button", target: "#agreement_unauthorized_to_sign_true" } }
        .panel-heading
          Option 2 - Duly Authorized Representative Signature
        .panel-body
          - signature_request_url = "#{ENV['website_url']}/representative/#{@agreement.id_and_representative_token}/signature-requested"
          .form-group
            .radio
              %label
                = f.radio_button :unauthorized_to_sign, true
                Signature will be provided by Data User's Duly Authorized
                Representative
            - unless @agreement.duly_authorized_representative_valid?
              .callout.callout-info
                %strong Important
                %br
                If you are not authorized to sign an agreement based on institutional
                requirements:
                %ol
                  %li Check the above box
                  %li Type authorized user's name below
                  %li Email the link below to your authorized user
                  %li
                    Click
                    %strong Save Draft

                You will receive an email notification when your authorized user
                has signed the DAUA.

          - unless @agreement.duly_authorized_representative_valid?
            .form-group
              = f.label :duly_authorized_representative_signature_print, 'Duly Authorized Representative Name', class: 'control-label'
              = f.text_field :duly_authorized_representative_signature_print, class: 'form-control'

            %strong Email the following link
            to your Duly Authorized Representative.
            %div{ style: 'border: 1px solid #ededed; border-radius:2px; padding: 4px' }
              = link_to signature_request_url, signature_request_url, target: '_blank'

          - if @agreement.duly_authorized_representative_valid?
            .callout.callout-info
              %strong All Set!
              %br
              Your Duly Authorized
              Represenative has signed your DAUA. Click
              %strong.text-success Save and Continue
              below to finalize your data access and use agreement.

            .form-group
              = f.label :duly_authorized_representative_signature, 'Signature of Duly Authorized Representative', class: 'control-label'

              - if @agreement.duly_authorized_representative_signature_file.path
                = image_tag(agreement_duly_authorized_representative_signature_show_path(dataset_id: @dataset, legal_document_id: @final_legal_document.legal_document), class: "img-signature", alt: "")
              - else
                .text-muted No signature

            .form-group
              = f.label :duly_authorized_representative_signature_print, 'Duly Authorized Representative (print name)', class: 'control-label'
              .form-control{ disabled: '' }= @agreement.duly_authorized_representative_signature_print

            .form-group
              = f.label :duly_authorized_representative_signature_date, 'Date Signed', class: 'control-label'
              .form-control{ disabled: '' }= @agreement.duly_authorized_representative_signature_date ? @agreement.duly_authorized_representative_signature_date.strftime('%m/%d/%Y') : ''

  .small-spacer

  .row
    .col-sm-4
      = link_to step_agreement_path(@agreement, step: @step-1), class: 'btn btn-lg btn-light btn-block' do
        %i.fa.fa-caret-left
        Back to Previous Step
    .col-sm-4
      = link_to '#', data: { object: 'submit-draft', target: '#update_step_form' }, class: 'btn btn-lg btn-outline-success btn-block' do
        %i.fa.fa-floppy-o
        Save Draft
    .col-sm-4
      = link_to '#', data: { object: 'submit', target: '#update_step_form' }, class: 'btn btn-lg btn-success btn-block' do
        Save and Continue
        %i.fa.fa-caret-right
