<%= render partial: 'agreements/wizard/progress' %>

<h2 style="text-align:center">NATIONAL SLEEP RESEARCH RESOURCE (NSRR)<br />INTERNAL REVIEW COMMITTEE<br />APPLICATION FOR ACCESS</h2>

<hr class="divider-md" />

<%= form_tag upload_daua_path, method: :post, class: 'form-horizontal' do |f| %>

  <div class="form-group">
    <%= label :date_irb_application, 'Date', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= text_field_tag :date_irb_application, '', class: 'datepicker form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label :title_of_project, 'Title Of Project', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <input type="text" name="title_of_project" id="title_of_project" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <%= label :investigator_applicant, 'Investigator / Applicant', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <input type="text" name="investigator_applicant" id="investigator_applicant" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <%= label :name_title, 'Name / Title', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <input type="text" name="name_title" id="name_title" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <%= label :institution_affiliation, 'Institution / Affiliation', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <input type="text" name="institution_affiliation" id="institution_affiliation" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <%= label :intended_use_of_data, 'Intended Use Of Data', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <input type="text" name="intended_use_of_data" id="intended_use_of_data" class="form-control">
      <p class="lead">(Publication; thesis work; other education; algorithm for commercial use; preliminary data for a grant)</p>
    </div>
  </div>

  <div class="form-group">
    <%= label :data_secured_location, 'Where Data Will Be Secured And Security In Place', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= text_area_tag :data_secured_location, "", class: 'form-control', rows: '5', placeholder: '' %>
    </div>
  </div>

  <div class="form-group">
    <%= label :aim_of_research_and_data_needed, 'Brief Description Of Aim Of Research And A List Of Data Needed', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= text_area_tag :aim_of_research_and_data_needed, "", class: 'form-control', rows: '5', placeholder: '' %>
    </div>
  </div>

  <p class="lead-paragraph">
    Certain changes to the research project may affect this determination.  Contact the NSRR Internal Review Committee if your project changes and you have questions regarding the need for IRB oversight.
  </p>

  <p class="lead-paragraph">
    If your project involves the collection, use, or disclosure of Protected Health Information (PHI), you must comply with all applicable requirements under HIPAA.  See the HIPAA and Research website and the Information Privacy and Security website for more information.
  </p>

  <p class="lead-paragraph">
    This Committee has the authority to terminate your access to the site if you are not in compliance with the terms as stated in the DAUA agreement which you signed.  You are responsible for ensuring that this project is conducted in compliance with all applicable federal, state and local laws and regulations, and institutional policies.
  </p>


  <p class="lead-paragraph">
    Thank you for your submission.  Please retain this as proof of review.
    The NSRR is supported by Grant Number HL114473 from the National Heart, Lung, and Blood Institute, NIH
  </p>

<% end %>

<hr class="divider-md" />

<div class="row">
  <div class="col-xs-6">
    <%= link_to "<span class='glyphicon glyphicon-chevron-left'></span> Back to Previous Step".html_safe, daua_step_path(step: @step-1), class: 'btn btn-lg btn-default btn-block' %>
  </div>
  <div class="col-xs-6">
    <%= link_to "<span class='glyphicon glyphicon-cloud-upload'></span> Submit Application".html_safe, daua_step_path(step: @step+1), class: 'btn btn-lg btn-success btn-block' %>
  </div>
</div>

<% @footer_img = 'footer.jpg' %>
