<%= render partial: 'agreements/wizard/daua_progress' %>

<h2 style="text-align:center">DATA ACCESS AND USE AGREEMENT</h2>

<hr class="divider-md" />

<% url = @agreement.new_record? ? create_step_agreements_path : update_step_agreement_path(@agreement) %>
<% method = @agreement.new_record? ? :post : :patch %>
<%= form_for @agreement, url: url, method: method, html: { class: 'form-horizontal', id: 'create_step_form' } do |f| %>
  <% if @agreement.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@agreement.errors.count, "error") %> prohibited this step from being saved</h4>

      <ul>
      <% @agreement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "agreement[draft_mode]", nil %>
  <%= hidden_field_tag "step", @step %>
  <%= hidden_field_tag "agreement[current_step]", @step %>

  <p class="lead-paragraph">
    This Data Access and Use Agreement (the <strong>"DAUA"</strong>) is made by and between The Brigham and Women's Hospital, Inc., through its Division of Sleep Medicine (<strong>"BWH"</strong>) and
  </p>

  <div class="form-group" style="margin-top: 20px;margin-bottom: 20px;">
    <div class="col-md-10 col-md-offset-1">
      <div class="input-group">
        <%= f.text_field :data_user, class: 'form-control', placeholder: "Full Name" %>
        <div class="input-group-addon">(<strong>"Data User"</strong>).</div>
      </div>
    </div>
  </div>

  <p class="lead-paragraph">
    <strong>WHEREAS</strong>, BWH is receiving support from the National Heart, Lung, and Blood Institute (<strong>"NHLBI"</strong>) to establish and operate a web-based collection of existing de-identified sleep study and related covariate data originating from past NHLBI-funded research studies (the <strong>"Data"</strong>), such collection known as the National Sleep Research Resource (<strong>"NSRR"</strong>); and
  </p>

  <p class="lead-paragraph">
    <strong>WHEREAS</strong>, the purpose of the NSRR is to facilitate access to and use of the Data by third-party researchers to conduct sleep research in accordance with NHLBI and BWH policies and procedures (the <strong>"Purpose"</strong>); and
  </p>

  <p class="lead-paragraph">
    <strong>WHEREAS</strong>, to the extent permitted by its Institutional Review Board and institutional policies, BWH wishes to make the Data, in the form of one or more <strong>"Datasets,"</strong> available to Data User, and Data User wishes to receive the Datasets, for this Purpose under the terms and conditions of access set forth herein;
  </p>

  <p class="lead-paragraph">
    <strong>NOW, THEREFORE</strong>, in consideration of the mutual promises and covenants set forth below, the parties hereby agree as follows:
  </p>

  <hr class="divider-md" />


  <p class="lead-paragraph">
    1. Data User is either (check one):
  </p>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-info panel-hover" data-object="select_radio_button" data-target="#agreement_data_user_type_individual">
        <div class="panel-heading">
          Individual
        </div>
        <div class="panel-body">
          <div class="form-group" style="height:90px">
            <div class="col-md-9 col-md-offset-3">
              <div class="radio">
                <label>
                  <%= f.radio_button :data_user_type, 'individual' %>
                  An individual, requesting Data/Datasets under this DAUA on behalf of himself/herself as follows:
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :individual_institution_name, "Institution", class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :individual_institution_name, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= label :individual_name, 'Full Name', class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <input type="text" name="individual_name" id="individual_name" class="form-control" disabled="disabled" value="<%= current_user.name %>">
            </div>
          </div>

          <div class="form-group">
            <%= f.label :individual_title, "Professional Title", class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :individual_title, class: 'form-control' %>
              Ex: Titles can be...
            </div>
          </div>

          <div class="form-group">
            <%= f.label :individual_telephone, "Telephone", class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :individual_telephone, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :individual_fax, "Fax", class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :individual_fax, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= label :individual_email, "Email", class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <input type="email" name="individual_email" id="individual_email" class="form-control" disabled="disabled" value="<%= current_user.email %>">
            </div>
          </div>

          <div class="form-group">
            <%= f.label :individual_address, "Address", class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :individual_address, rows: 5, class: 'form-control' %>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-info panel-hover" data-object="select_radio_button" data-target="#agreement_data_user_type_organization">
        <div class="panel-heading">
          Organization / Corporation
        </div>

        <div class="panel-body">

          <div class="form-group" style="height:90px">
            <div class="col-md-9 col-md-offset-3">
              <div class="radio">
                <label>
                  <%= f.radio_button :data_user_type, 'organization' %>
                  An organization / corporation, requesting Data/Datasets under this DAUA on behalf of itself and its employees, with a principal place of business and primary business contact as follows:
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :organization_business_name, "Organization", class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :organization_business_name, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :organization_contact_name, "Contact Name", class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :organization_contact_name, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :organization_contact_title, "Contact Title", class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :organization_contact_title, class: 'form-control' %>
              Ex: Titles can be...
            </div>
          </div>

          <div class="form-group">
            <%= f.label :organization_contact_telephone, "Contact Tel", class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :organization_contact_telephone, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :organization_contact_fax, "Contact Fax", class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :organization_contact_fax, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :organization_contact_email, "Contact Email", class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.email_field :organization_contact_email, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :organization_address, "Organization Address", class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :organization_address, rows: 5, class: 'form-control' %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <hr class="divider-md" />

  <div class="row">
    <div class="col-xs-4">
      <%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> Back to my Submissions".html_safe, submissions_path, class: 'btn btn-lg btn-default btn-block' %>
    </div>
    <div class="col-xs-4">
      <%= link_to "<span class='glyphicon glyphicon-floppy-disk'></span> Save Draft".html_safe, '#', data: { object: 'submit-draft', target: '#create_step_form' }, class: 'btn btn-lg btn-warning btn-block' %>
    </div>
    <div class="col-xs-4">
      <%= link_to "Save and Continue <span class='glyphicon glyphicon-arrow-right'></span>".html_safe, '#', data: { object: 'submit', target: '#create_step_form' }, class: 'btn btn-lg btn-primary btn-block' %>
    </div>
  </div>
<% end %>



<% @footer_img = 'footer.jpg' %>
