- current_category = if @broadcast && @broadcast.category
  - @broadcast.category.to_param
- else
  - params[:category]

%ul.blog-menu
  %li.blog-menu-header Blog
  %li= link_to 'All Posts', blog_path, class: "#{'active' if current_category.blank? && (!@author && !@broadcast)}"
  - Category.current.order(:name).each do |category|
    %li= link_to category.name, blog_category_path(category: category), class: (current_category == category.slug ? 'active' : nil)


  - if @author
    %li.blog-menu-header Author
    %li= link_to @author.forum_name, blog_author_path(author: @author.forum_name), class: (@broadcast ? nil : 'active')

- if @author
  .author-box
    .author-key Author Blog Posts
    .author-value= @author.broadcasts.published.count
