- @title = ["Blog", @category ? @category.name : nil, @author ? @author.username : nil].compact.join(" | ")

= render "layouts/survey_link"

.row
  .col-md-9
    - @broadcasts.each do |broadcast|
      %h2.broadcast-title= link_to broadcast.title, blog_post_path(broadcast.url_hash)
      = render "blog/extract", broadcast: broadcast
    .center-horizontally= paginate @broadcasts, theme: "bootstrap"
  .col-md-3
    .menu-sticky= render "blog/menu"
