- @title = 'Blog'

.row
  .col-sm-9
    - @broadcasts.each do |broadcast|
      %h2.broadcast-title= link_to broadcast.title, blog_post_path(broadcast.url_hash)
      = render 'blog/show', broadcast: broadcast
      = link_to blog_post_path(broadcast.url_hash.merge(anchor: 'comments')), class: 'comments-link' do
        Comments
        = surround '(', ')' do
          = broadcast.broadcast_comments.count
        %span.glyphicon.glyphicon-arrow-right

    .center= paginate @broadcasts, theme: 'contour'
  .col-sm-3
    = render 'blog/menu'
