- @title = ["Blog", @category ? @category.name : nil, @author ? @author.username : nil].compact.join(" | ")

= render "layouts/survey_link"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.row
  .col-lg-9
    - @broadcasts.each do |broadcast|
      .dashboard-container.broadcast-container
        - url = blog_post_path(broadcast.url_hash)
        %h2.broadcast-title.mt-0{ style: "border-bottom: 0;" }= link_to broadcast.title, url
        = render "blog/extract", broadcast: broadcast, url: url
    .center-horizontally= paginate @broadcasts, theme: "bootstrap"
  .col-lg-3
    .dashboard-container.col-sticky
      = render "blog/menu"
