- @title = @broadcast.title
- @keywords = @broadcast.keywords

.row
  .col-md-9
    %h1.broadcast-title
      = @title
      - if current_user && current_user.community_manager?
        = link_to 'Edit', edit_broadcast_path(@broadcast), class: 'btn btn-xs btn-default'
    = render 'blog/show', broadcast: @broadcast
  .col-md-3
    = render 'blog/menu'

%div{ style: 'margin-bottom: 20px' }
  .pull-right.hidden-xs.hidden-sm{ style: 'margin-top: -20px' }
    = paginate @replies, theme: 'bootstrap-small'
  %span.nowrap
    #write_reply_root_new{ style: 'margin-bottom: 20px' }
      = link_to 'Write a Reply', async_parent_reply_path(broadcast_id: @broadcast, parent_reply_id: 'root', reply_id: 'new'), method: :post, remote: true, class: 'btn btn-primary'

#comment_container_root_new{ style: 'display:none' }
  - reply = @broadcast.replies.new
  = render 'replies/form', reply: reply

%a.anchor-top{ name: 'comments' }
= render 'replies/index', parent: @broadcast

.center= paginate @replies, theme: 'bootstrap-small'
