- @title = @broadcast.title
- @keywords = @broadcast.keywords

.row
  .col-md-9
    %h1.broadcast-title
      = @title
      - if current_user && current_user.community_manager?
        = link_to 'Edit', edit_broadcast_path(@broadcast), class: 'btn btn-xs btn-default'
    = render 'blog/show', broadcast: @broadcast
  .col-md-3
    = render 'blog/menu'

%a.anchor-top{ name: 'comments' }
= render 'broadcast_comments/index', broadcast: @broadcast
