<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @agreements.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap">DUA</th>
      <th style="white-space:nowrap">Status</th>
      <th style="white-space:nowrap;text-align:center">IRB/Ethics approval</th>
      <th>Submitted DUA</th>
      <th>Executed DUA</th>
      <th style="white-space:nowrap">Approval Date</th>
      <th style="white-space:nowrap">Expiration Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @agreements.each do |agreement| %>
    <tr>
      <td><%= link_to agreement.name, agreement %></td>
      <td><%= status_helper(agreement) %></td>
      <td style="text-align:center"><%= simple_check agreement.evidence_of_irb_review? %></td>
      <td>
        <% if agreement.dua.url %>
          <%= link_to agreement.dua.url.split('/').last, download_agreement_path(agreement), target: '_blank', class: 'btn btn-xs btn-default' %>
        <% end %>
      </td>
      <td>
        <% if agreement.executed_dua.url %>
          <%= link_to agreement.executed_dua.url.split('/').last, download_agreement_path(agreement, executed: '1'), target: '_blank', class: 'btn btn-xs btn-default' %>
        <% end %>
      </td>
      <td><%= agreement.approval_date %></td>
      <td><%= agreement.expiration_date %></td>
      <td>
        <%= link_to 'Delete', agreement, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Agreement #{agreement.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @agreements, theme: 'contour' %></div>
