<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @agreements.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap">DAUA</th>
      <th style="white-space:nowrap">Status</th>
      <th>Submitted DAUA</th>
      <th>Executed DAUA</th>
      <th style="white-space:nowrap">Submission Date</th>
      <th style="white-space:nowrap">Approval Date</th>
      <th style="white-space:nowrap">Expiration Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @agreements.each do |agreement| %>
    <tr>
      <td style="white-space:nowrap"><%= image_tag agreement.user.avatar_url(18), style: 'vertical-align:text-bottom;width:18px' %> <%= link_to agreement.name, agreement %></td>
      <td><%= status_helper(agreement) %></td>
      <td>
        <% if agreement.dua.url %>
          <%= link_to agreement.dua.url.split('/').last, download_agreement_path(agreement), target: '_blank', class: 'btn btn-xs btn-default' %>
        <% end %>
      </td>
      <td>
        <% if agreement.executed_dua.url %>
          <%= link_to agreement.executed_dua.url.split('/').last, download_agreement_path(agreement, executed: '1'), target: '_blank', class: 'btn btn-xs btn-default' %>
        <% end %>
      </td>
      <td>
        <% if agreement.resubmitted_at %>
          Resubmitted: <%= agreement.resubmitted_at.strftime("%m/%d/%Y") %>
        <% elsif agreement.submitted_at %>
          <%= agreement.submitted_at.strftime("%m/%d/%Y") %>
        <% end %>
      </td>
      <td><%= agreement.approval_date %></td>
      <td><%= agreement.expiration_date %></td>
      <td>
        <%= link_to 'Delete', agreement, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Agreement #{agreement.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @agreements, theme: 'contour' %></div>
