<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @agreements.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap">
        DAUA
      </th>
      <th style="white-space:nowrap">
        <%= link_to 'Status', agreements_path( order: (params[:order] == 'agreements.status DESC' ? 'agreements.status' : 'agreements.status DESC') ) %>
      </th>
      <th>Datasets</th>
      <th style="white-space:nowrap">
        <%= link_to 'Submission Date', agreements_path( order: (params[:order] == 'agreements.last_submitted_at DESC' ? 'agreements.last_submitted_at' : nil) ) %>
      </th>
      <th style="white-space:nowrap">
        <%= link_to 'Approval Date', agreements_path( order: (params[:order] == 'agreements.approval_date DESC' ? 'agreements.approval_date' : 'agreements.approval_date DESC') ) %>
      </th>
      <th style="white-space:nowrap">
        <%= link_to 'Expiration Date', agreements_path( order: (params[:order] == 'agreements.expiration_date DESC' ? 'agreements.expiration_date' : 'agreements.expiration_date DESC') ) %>
      </th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @agreements.each do |agreement| %>
    <tr>
      <td style="white-space:nowrap"><%= image_tag agreement.user.avatar_url(18), style: 'vertical-align:text-bottom;width:18px' %> <%= link_to agreement.name, agreement %></td>
      <td><%= status_helper(agreement) %></td>
      <td>
        <% agreement.datasets.order(:release_date, :name).each do |dataset| %>
          <%= render partial: 'datasets/mini', locals: { dataset: dataset } %>
        <% end %>
      </td>
      <td>
        <% if agreement.resubmitted_at %>
          <%= agreement.resubmitted_at.strftime("%Y-%m-%d") %> <%= link_to '<span class="glyphicon glyphicon-info-sign"></span>'.html_safe, '#', rel: 'tooltip', title: 'Resubmitted', data: { object: 'suppress-click', container: 'body', placement: 'right' } %>
        <% elsif agreement.submitted_at %>
          <%= agreement.submitted_at.strftime("%Y-%m-%d") %>
        <% end %>
      </td>
      <td><%= agreement.approval_date %></td>
      <td><%= agreement.expiration_date %></td>
      <td>
        <%= link_to 'Delete', agreement, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Agreement #{agreement.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @agreements, theme: 'contour' %></div>
