= form_for @agreement, html: { class: 'form-horizontal' } do |f|

  = hidden_field_tag "agreement[current_step]", 0

  .row
    = hidden_field_tag "agreement[dataset_ids][]", 0
    - Dataset.current.order(:release_date, :name).each do |dataset|
      - dataset_included = @agreement.datasets.pluck(:id).include?(dataset.id)
      .col-xs-6.col-sm-4.col-md-3
        .panel{ class: "#{dataset_included ? 'panel-success' : 'panel-default'}", data: { object: "select_checkbox_panel", target: "#agreement_dataset_ids_#{dataset.id}" } }
          .panel-heading{ style: "overflow:hidden" }
            %h3.panel-title.nowrap
              = check_box_tag "agreement[dataset_ids][]", dataset.id, dataset_included, id: "agreement_dataset_ids_#{dataset.id}"
              = dataset.name
          .panel-body
            .center{ style: "background-color:white;padding-bottom:5px;height:75px;line-height:75px" }
              - if dataset.logo.size > 0
                = image_tag( logo_dataset_path(dataset), style: 'max-width:100%;max-height:70px' )
              - else
                = image_tag( 'project-default-logo.png', style: 'max-width:100%;max-height:70px' )

  %hr.divider-md

  .form-group
    .col-md-offset-3.col-md-9
      = f.submit nil, class: 'btn btn-primary'
      = cancel
