- method = @agreement.new_record? ? :post : :patch

= form_for @agreement, method: method, remote: true, html: { class: 'form-horizontal', data: { object: 'signature', signature_target: '.output-write' } } do |f|
  - if @agreement.errors.any?
    .callout.callout-danger
      %strong
        = pluralize @agreement.errors.count, 'error'
        prohibited this agreement from being saved

      %ul
        - @agreement.errors.full_messages.each do |message|
          %li= message

  = hidden_field_tag "agreement[current_step]", 0

  .form-group
    = f.label :reviewer_signature, "Signature of Reviewer", class: 'col-md-3 control-label'
    .col-md-9{ style: "position:relative" }
      = f.hidden_field :reviewer_signature, class: 'output-write'
      %canvas.pad{ width: "300", height: "55" }
      %span.clearButton{ style: "position: absolute; margin-top: 12.5px; margin-left: 10px;" }
        = link_to 'Clear', '#clear', class: 'btn btn-default', tabindex: '-1'

  .form-group
    = f.label :status, 'Status', class: 'col-md-3 control-label'
    .col-md-9
      %div{ data: { toggle: "buttons" } }
        %label.btn.btn-default{ class: "#{'active' if @agreement.status == 'submitted'}", data: { object: "agreement-update", target: "#email-comments-container", input_target: "#agreement_approval_date, #agreement_expiration_date" } }
          = f.radio_button :status, 'submitted'
          Submitted
        %label.btn.btn-success-inverse{ class: "#{'active' if @agreement.status == 'approved'}", data: { object: "agreement-update", target: "#email-comments-container", input_target: "#agreement_approval_date, #agreement_expiration_date" } }
          = f.radio_button :status, 'approved'
          Approved
        %label.btn.btn-danger-inverse{ class: "#{'active' if @agreement.status == 'resubmit'}", data: { object: "agreement-resubmit", target: "#email-comments-container", input_target: "#agreement_approval_date, #agreement_expiration_date" } }
          = f.radio_button :status, 'resubmit'
          Sent Back for Resubmission
        %label.btn.btn-default{ class: "#{'active' if @agreement.status == 'expired'}", data: { object: "agreement-update", target: "#email-comments-container", input_target: "#agreement_approval_date, #agreement_expiration_date" } }
          = f.radio_button :status, 'expired'
          Set as Expired

  #approval-date-container.form-group
    = f.label :approval_date, 'Approval Date', class: 'col-md-3 control-label'
    .col-md-9
      = f.text_field :approval_date, class: 'datepicker form-control', value: @agreement.approval_date ? @agreement.approval_date.strftime('%m/%d/%Y') : Date.today.strftime('%m/%d/%Y')

  #expiration-date-container.form-group
    = f.label :expiration_date, 'Expiration Date', class: 'col-md-3 control-label'
    .col-md-9
      = f.text_field :expiration_date, class: 'datepicker form-control', value: @agreement.expiration_date ? @agreement.expiration_date.strftime('%m/%d/%Y') : (Date.today + 3.years).strftime('%m/%d/%Y')

  #email-comments-container.form-group{ style: "#{'display:none' unless @agreement.status == 'resubmit'}" }
    = f.label :comments, nil, class: 'col-md-3 control-label'
    .col-md-9
      = f.text_area :comments, rows: 7, class: 'form-control'
      .callout.callout-warning
        %strong Comments are emailed to user

        %p Please specify why the DAUA needs to be resubmitted.
        %p
          Comments are
          %strong required
          if the agreement is
          = succeed '.' do
            %strong Sent Back for Resubmission

  .form-group
    .col-md-offset-3.col-md-9
      = f.submit nil, class: 'btn btn-primary'
