- data_request = @data_request

- method = data_request.new_record? ? :post : :patch

= form_with model: data_request, url: agreement_path(data_request), method: method, id: "data-request-form" do |form|
  = render "forms/horizontal/select", form: form, object: data_request, key: :status, options: Agreement::STATUS, id: true

  #approval-container{ style: "#{"display: none;" unless data_request.status == "approved"}" }
    = render "forms/horizontal/date_field", form: form, object: data_request, key: :approval_date
    = render "forms/horizontal/date_field", form: form, object: data_request, key: :expiration_date
    = render "forms/vertical/signature", form: form, object: data_request, key: :reviewer_signature

  #resubmit-container{ style: "#{"display: none;" unless data_request.status == "resubmit"}" }
    = render "forms/horizontal/text_area", form: form, object: data_request, key: :comments, help_text: "Provide directions for resubmitting."

  =# render "forms/vertical/submit", form: form, object: data_request, cancel: false

  .form-group.mt-4.mb-0
    = link_to "Update Agreement", "#", class: "btn btn-primary", data: { object: "submit-reviewer-signature-and-disable", target: "#data-request-form" }
