<div class="panel panel-primary">
  <div class="panel-heading">Request History</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Event</th>
        <th><% if current_user.system_admin? %>By<% end %></th>
      </tr>
    </thead>
    <% @agreement.history.reverse.each do |event| %>
      <tr class="<%= 'success' if event[:status] == 'approved' %>">
        <td><%= event[:event_at].strftime("%Y-%m-%d %I:%M %p") %></td>
        <td><%= event[:message] %></td>
        <td><% if current_user.system_admin? %><%= User.find_by_id(event[:user_id]).name rescue '' %><% end %></td>
      </tr>
    <% end %>
  </table>
</div>



<% if false %>
<div class="page-header">
  <h2>Request History</h2>
</div>

<pre>

<%= (Time.now - 2.days + 7.hours).strftime("%Y-%m-%d %I:%M %p") %> - Data Access Granted for:  BestAIR

<%= (Time.now - 2.days + 7.hours).strftime("%Y-%m-%d %I:%M %p") %> - Data Access Granted for:  CHAT

<%= (Time.now - 2.days + 7.hours).strftime("%Y-%m-%d %I:%M %p") %> - Data Access Granted for:  SHHS

---------

<%= (Time.now - 2.days - 3.hours).strftime("%Y-%m-%d %I:%M %p") %> - Data Access and Use Agreement approved.

---------

<%= (Time.now - 3.days - 3.hours).strftime("%Y-%m-%d %I:%M %p") %> - Data Access and Use Agreement resubmitted.

<%= (Time.now - 5.days + 4.hours).strftime("%Y-%m-%d %I:%M %p") %> - Data Access and Use Agreement sent back for resubmission.

<%= (Time.now - 6.days).strftime("%Y-%m-%d %I:%M %p") %> - Data Access and Use Agreement submitted.
</pre>
<% end %>
