<div class="page-header">
  <h2>Request History</h2>
</div>

<pre><% @agreement.history.reverse.each do |event| %>
<%= event[:event_at].strftime("%Y-%m-%d %I:%M %p") %> - <%= event[:message] %>
<% end %></pre>









<div class="page-header">
  <h2>Request History</h2>
</div>

<pre>

<%= (Time.now - 2.days + 7.hours).strftime("%Y-%m-%d %I:%M %p") %> - Data Access Granted for:  BestAIR

<%= (Time.now - 2.days + 7.hours).strftime("%Y-%m-%d %I:%M %p") %> - Data Access Granted for:  CHAT

<%= (Time.now - 2.days + 7.hours).strftime("%Y-%m-%d %I:%M %p") %> - Data Access Granted for:  SHHS

---------

<%= (Time.now - 2.days - 3.hours).strftime("%Y-%m-%d %I:%M %p") %> - Data Use Agreement approved.

---------

<%= (Time.now - 3.days - 3.hours).strftime("%Y-%m-%d %I:%M %p") %> - Data Use Agreement resubmitted.

<%= (Time.now - 5.days + 4.hours).strftime("%Y-%m-%d %I:%M %p") %> - Data Use Agreement sent back for resubmission.

<%= (Time.now - 6.days).strftime("%Y-%m-%d %I:%M %p") %> - Data Use Agreement submitted.
</pre>
