- @title = "Submission Complete"

- content_for :body_class do
  brand-background

- content_for :header do
  .header-container
    .container
      %h1.page-heading.center{ style: "margin-bottom: 20px;" }
        = @title
      .center
        %p.lead
          Thank you for your submission, your DAUA was submitted successfully.

.dashboard-container-narrow
  %p
    Dear
    = succeed "," do
      = current_user.first_name

  %p
    Once your DAUA is approved, you will be able to download data from the datasets you requested.

  %p
    New to the NSRR? Get started with our
    = link_to "Where to Start", showcase_show_path("where-to-start")
    guide.

  %p
    Learn how to download data using the NSRR gem:
    = link_to "NSRR Demo", demo_path

  %p
    Also, post any questions on the
    = link_to "forum", topics_path
    or contact us directly at
    = mail_to ENV["support_email"]
    if you need any help!

  %p Welcome aboard!

  %p The NSRR Team

.text-center
  = link_to submissions_path, class: "btn btn-light btn-shadow" do
    %i.fa.fa-th-list
    Review My Submissions
  &nbsp;
  = link_to print_agreement_path(@agreement), class: "btn btn-primary btn-shadow", data: { turbolinks: false } do
    %i.fa.fa-print
    Print Agreement
