<div class="page-header">
  <h1>Data Access and Use Agreement</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title" style="text-align:center">6. Submitted <span class="glyphicon glyphicon-check"></span></h3>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-<% if @agreement.resubmission_required? %>warning<% else %>default<% end %>">
      <div class="panel-heading">
        <h3 class="panel-title" style="text-align:center">7.
          <% if @agreement.resubmission_required? %>
            Resubmit <span class="glyphicon glyphicon-warning-sign"></span>
          <% else %>
            Review in Process <span class="glyphicon glyphicon-time"></span>
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="text-align:center">8. Download Data <span class="glyphicon glyphicon-save"></span></h3>
      </div>
    </div>
  </div>
</div>


<% if @agreement.resubmission_required? %>
  <div class="well">
    Please resubmit your updated Data Access and Use Agreement. Please fill in any missing fields, and remember to sign the DAUA.
  </div>

  <%= render partial: 'agreements/daua_template' %>

  <%= render partial: 'agreements/daua_required_fields' %>

  <% if @agreement.status == 'expired' %>
    <div class="bs-callout bs-callout-warning">
      <p>Your DAUA <b>expired <%= @agreement.expiration_date.strftime("on %b %e, %Y") if @agreement.expiration_date %></b> and will need to be resubmitted.</p>
    </div>
  <% else %>
    <div class="bs-callout bs-callout-warning">
      <h4>Note from Reviewer</h4>
      <p><%= @agreement.comments %></p>
    </div>
  <% end %>

  <%= form_tag reupload_daua_path, method: :patch, multipart: true, class: 'form-horizontal' do |f| %>
    <% if @agreement and @agreement.errors.any? %>
      <div id="error_explanation" class="bs-callout bs-callout-danger">
        <h4>1 error prohibited this Data Access and Use Agreement from being submitted</h4>

        <ul>
          <li>Please attach a signed Data Access and Use Agreement in PDF format.</li>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= label :agreement, 'dua', 'Attach Signed DAUA (PDF)', class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= file_field_tag 'agreement[dua]', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <%= submit_tag 'Resubmit Data Access and Use Agreement', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

<% else %>
  <div class="well">
  Congratulations, your Data Access and Use Agreement has been submitted successfully! We will review your data access request and inform you by email when your request is approved.

  You can check this page to see the process the status of your request.
  </div>
<% end %>

<hr class="soften" />

<%= render partial: 'agreements/history' %>
