<div class="horizontal-fade" style="position:relative;">
  <div class="jumbotron vertical-fade-subtle" style="margin-bottom:0px;border-radius: 0px;">
    <h1><span class="glyphicon glyphicon-list-alt"></span> You're <strong>almost</strong> done!</h1>

    <div style="background-image:url(<%= asset_path('datasets-header.jpg') %>);background-repeat: no-repeat;z-index:-2;top:0;right:0;bottom:0;left:0;position:absolute"></div>
  </div>
</div>


<p class="lead" style="text-align:center">
  Please proof read your application and then click "Submit" to complete Data Access Request.
</p>

<% steps = (@agreement.no_irb_evidence? ? (1..8) : (1..7)) %>

<% steps.each do |step| %>
<div class="step step-<%= (@agreement.step_valid?(step) ? 'success' : 'warning') %>">
  <h2>Step <%= step %> <%= link_to "Edit Step #{step}", step_agreement_path(@agreement, step: step), class: 'btn btn-xs btn-primary' %></h2>

  <%= render partial: "agreements/proof/step#{step}" %>
</div>
<% end %>

<hr class="divider-md" />

<%= form_for @agreement, url: final_submission_agreement_path(@agreement), method: :patch, html: { class: 'form-horizontal', id: 'final_submission_form' } do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> Back to Submissions".html_safe, submissions_path, class: 'btn btn-lg btn-default btn-block' %>
    </div>
    <div class="col-sm-6">
      <% if @agreement.fully_filled_out? %>
        <%= link_to "<span class='glyphicon glyphicon-cloud-upload'></span> Submit Application".html_safe, '#', data: { object: 'submit', target: '#final_submission_form' }, class: 'btn btn-lg btn-primary btn-block' %>
      <% else %>
        <%= link_to "<span class='glyphicon glyphicon-warning-sign'></span> Complete All Steps Before Submitting".html_safe, '#', data: { object: 'suppress-click' }, class: 'btn btn-lg btn-warning btn-block', disabled: true %>
      <% end %>
    </div>
  </div>
<% end %>

<% @footer_img = 'datasets-footer.jpg' %>
