<div class="horizontal-fade" style="position:relative;">
  <div class="jumbotron vertical-fade-subtle" style="margin-bottom:0px;border-radius: 0px;">
    <h1><span class="glyphicon glyphicon-list-alt"></span> You're <strong>almost</strong> done!</h1>

    <div style="background-image:url(<%= asset_path('datasets-header.jpg') %>);background-repeat: no-repeat;z-index:-2;top:0;right:0;bottom:0;left:0;position:absolute"></div>
  </div>
</div>


<p class="lead" style="text-align:center">
  Please proof read your application and then click "Submit" to complete Data Access Request.
</p>

<div class="jumbotron" style="border: 1px solid #ededed;text-align:left">

  <h2>Step 1</h2>

  <%= link_to 'Edit Step 1', step_agreement_path(@agreement, step: 1), class: 'btn btn-xs btn-primary' %>

  <dl class="dl-horizontal">
    <dt>Data User</dt>
    <dd><%= @agreement.data_user %></dd>

    <% if @agreement.data_user_type == 'individual' %>
      <dt>Application Type</dt>
      <dd>An individual, requesting Data/Datasets under this DAUA on behalf of himself/herself as follows:</dd>

      <dt>Institution</dt><dd><%= @agreement.individual_institution_name %></dd>
      <dt>Full Name</dt><dd><%= @agreement.user.name %></dd>
      <dt>Professional Title</dt><dd><%= @agreement.individual_title %></dd>
      <dt>Telephone</dt><dd><%= @agreement.individual_telephone %></dd>
      <dt>Fax</dt><dd><%= @agreement.individual_fax %></dd>
      <dt>Address</dt><dd><%= @agreement.individual_address %></dd>
    <% elsif @agreement.data_user_type == 'organization' %>
      <dt>Application Type</dt>
      <dd>An organization / corporation, requesting Data/Datasets under this DAUA on behalf of itself and its employees, with a principal place of business and primary business contact as follows:</dd>
      <dt>Organization</dt><dd><%= @agreement.organization_business_name %></dd>
      <dt>Contact Name</dt><dd><%= @agreement.organization_contact_name %></dd>
      <dt>Contact Title</dt><dd><%= @agreement.organization_contact_title %></dd>
      <dt>Contact Telephone</dt><dd><%= @agreement.organization_contact_telephone %></dd>
      <dt>Contact Fax</dt><dd><%= @agreement.organization_contact_fax %></dd>
      <dt>Contact Email</dt><dd><%= @agreement.organization_contact_email %></dd>
      <dt>Organization Address</dt><dd><%= @agreement.organization_address %></dd>
    <% end %>
  </dl>
</div>

<div class="jumbotron" style="border: 1px solid #ededed;text-align:left">
  <h2>Step 2</h2>
  <%= link_to 'Edit Step 2', step_agreement_path(@agreement, step: 2), class: 'btn btn-xs btn-primary' %>

  <dl class="dl-horizontal">
    <dt>Specific Purpose</dt><dd><%= @agreement.specific_purpose %></dd>
  </dl>
</div>

<div class="jumbotron" style="border: 1px solid #ededed;text-align:left">
  <h2>Step 4</h2>
  <%= link_to 'Edit Step 4', step_agreement_path(@agreement, step: 4), class: 'btn btn-xs btn-primary' %>

  <dl class="dl-horizontal">
    <dt>Posting Permission</dt>
    <dd>
      <% case @agreement.posting_permission when 'all' %>
        Data User gives BWH permission to post <strong>Data User's name</strong> and a summary of <strong>Data User's Specific Purpose</strong> on https://sleepdata.org
      <% when 'name_only' %>
        Data User gives BWH permission to post <strong>Data User's name</strong> on https://sleepdata.org
      <% when 'none' %>
        Data User <strong>does not give permission</strong> to post Data User's name or a summary of Data User's Specific Purpose on https://sleepdata.org
      <% end %>
    </dd>
  </dl>
</div>

<div class="jumbotron" style="border: 1px solid #ededed;text-align:left">
  <h2>Step 6</h2>
  <%= link_to 'Edit Step 6', step_agreement_path(@agreement, step: 6), class: 'btn btn-xs btn-primary' %>

  <dl class="dl-horizontal">
    <dt>Signature</dt><dd data-object="signature-display"><%= hidden_field_tag 'agreement_signature', @agreement.signature, class: 'output' %>
        <canvas class="pad-display" width="300" height="55"></canvas></dd>
    <dt>By (print name)</dt><dd><%= @agreement.signature_print %></dd>
    <dt>Date Signed</dt><dd><%= @agreement.signature_date ? @agreement.signature_date.strftime("%-d %B %Y") : "" %></dd>
  </dl>
</div>

<div class="jumbotron" style="border: 1px solid #ededed;text-align:left">
  <h2>Step 7</h2>
  <%= link_to 'Edit Step 7', step_agreement_path(@agreement, step: 7), class: 'btn btn-xs btn-primary' %>

  <dl class="dl-horizontal">
    <% if @agreement.irb_evidence_type == 'has_evidence' %>
      <dt>IRB Evidence</dt>
      <dd>
        <% if @agreement.irb.size > 0 %>
          <code><%= @agreement.irb.to_s.split('/').last %></code> <tt><%= number_to_human_size(@agreement.irb.size) %></tt>
        <% end %>
      </dd>
    <% else %>
      <dt>Additional IRB things</dt><dd>More here</dd>
    <% end %>
  </dl>
</div>

<hr class="divider-md" />

<%= form_for @agreement, url: final_submission_agreement_path(@agreement), method: :patch, html: { class: 'form-horizontal', id: 'final_submission_form' } do |f| %>
  <div class="row">
    <div class="col-xs-6">
      <%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> Back to Submissions".html_safe, submissions_path, class: 'btn btn-lg btn-default btn-block' %>
    </div>
    <div class="col-xs-6">
      <%= link_to "<span class='glyphicon glyphicon-cloud-upload''></span> Submit Application".html_safe, '#', data: { object: 'submit', target: '#final_submission_form' }, class: 'btn btn-lg btn-primary btn-block' %>
    </div>
  </div>
<% end %>

<% @footer_img = 'datasets-footer.jpg' %>
