<% @title = "Review - #{@agreement.name}" %>
<div class="page-header">
  <h1>
    <%= link_to "Agreements", agreements_path %> &middot; <%= link_to @agreement.name, @agreement %> &middot; Review
  </h1>
</div>


<div class="jumbotron" style="margin-bottom:0px">
  <% if @agreement.dua.url %>
    <p><%= link_to @agreement.dua.url.split('/').last, download_agreement_path(@agreement), target: '_blank', class: 'btn btn-lg btn-success' %></p>
    <p>Submitted DUA &middot; <%= number_to_human_size(@agreement.dua.size) %></p>
  <% end %>
</div>

<%= render partial: 'agreements/form' %>
