- @title = "Review - #{@agreement.name}"
.page-header
  %h1
    = link_to "Agreements", agreements_path
    &middot;
    = link_to @agreement.name, @agreement
    &middot; Review

- steps = (1..5)

- steps.each do |step|
  .step{ class: "step-#{(@agreement.step_valid?(step) ? 'success' : 'warning')}" }
    %h2
      Step
      = step

    = render "agreements/proof/step#{step}"

= render 'agreements/form'
