- @title = @agreement.name
.page-header
  %h1
    = link_to "Agreements", agreements_path
    &middot;
    = @title
  = link_to 'Review', review_agreement_path(@agreement), class: 'btn btn-default btn-xs'
  = link_to 'Print', print_agreement_path(@agreement), class: 'btn btn-default btn-xs'
  = link_to "Delete Agreement", @agreement, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Agreement #{@agreement.name}?" }

%dl.dl-horizontal
  %dt Status
  %dd= status_helper(@agreement)

  - if @agreement.status == 'resubmit' or (@agreement.status == 'submitted' and not @agreement.comments.blank?)
    %dt Emailed Comments
    %dd= @agreement.comments

  %dt Approval Date
  %dd= @agreement.approval_date

  %dt Expiration Date
  %dd= @agreement.expiration_date

  %dt Specific Purpose
  %dd= simple_format @agreement.specific_purpose

  %dt Datasets
  %dd
    %ul.list-unstyled
      - @agreement.datasets.each do |dataset|
        %li= link_to dataset.name, dataset

  - if @agreement.irb_evidence_type == 'has_evidence'
    %dt IRB Evidence
    %dd= render 'agreements/proof/irb_file_download'
  - elsif @agreement.irb_evidence_type == 'no_evidence'
    %dt Title of Project
    %dd= @agreement.title_of_project
    %dt Intended Use of Data
    %dd= simple_format @agreement.intended_use_of_data

= render 'agreements/history'

%hr.divider-md

%h2 Older DAUAs

%dl.dl-horizontal
  %dt DAUA PDF
  %dd
    - if @agreement.dua.url
      = link_to @agreement.dua.url.split('/').last, download_agreement_path(@agreement), target: '_blank', class: 'btn btn-xs btn-default'
      = number_to_human_size(@agreement.dua.size)

  %dt Executed DAUA PDF
  %dd
    - if @agreement.executed_dua.url
      = link_to @agreement.executed_dua.url.split('/').last, download_agreement_path(@agreement, executed: '1'), target: '_blank', class: 'btn btn-xs btn-default'
      = number_to_human_size(@agreement.executed_dua.size)

  %dt Evidence of IRB or Ethics Committee Review
  %dd{ style: "min-height:75px" }= simple_check @agreement.evidence_of_irb_review?
