<% @title = @agreement.name %>
<div class="page-header">
  <h1>
    <%= link_to "Agreements", agreements_path %> &middot; <%= @title %>
  </h1>
  <%= link_to 'Approve',     set_approval_agreement_path( @agreement, approved: '1' ), method: :patch,  class: 'btn btn-default btn-xs' %>
  <%= link_to 'Deny',        set_approval_agreement_path( @agreement, approved: '0' ), method: :patch,  class: 'btn btn-default btn-xs' %>
  <%= link_to "Delete Agreement", @agreement, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Agreement #{@agreement.name}?" } %>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= link_to @agreement.user.name, @agreement.user if @agreement.user %></dd>

  <dt>DUA PDF</dt>
  <dd>
    <% if @agreement.dua.url %>
      <%= link_to @agreement.dua.url.split('/').last, download_agreement_path(@agreement), target: '_blank', class: 'btn btn-xs btn-default' %>
      <%= number_to_human_size(@agreement.dua.size) %>
    <% end %>
  </dd>

  <dt>Status</dt>
  <dd><%= @agreement.status %></dd>

  <dt>History</dt>
  <dd><%= render partial: 'agreements/history' %></dd>

  <dt>Approval Date</dt>
  <dd><%= @agreement.approval_date %></dd>

  <dt>Expiration Date</dt>
  <dd><%= @agreement.expiration_date %></dd>

</dl>
