<% @title = @agreement.name %>
<div class="page-header">
  <h1>
    <%= link_to "Agreements", agreements_path %> &middot; <%= @title %>
  </h1>
  <%= link_to 'Review', review_agreement_path(@agreement), class: 'btn btn-default btn-xs' %>
  <%= link_to 'Print', print_agreement_path(@agreement), class: 'btn btn-default btn-xs' %>
  <%= link_to "Delete Agreement", @agreement, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Agreement #{@agreement.name}?" } %>

</div>

<dl class="dl-horizontal">
  <dt>Status</dt>
  <dd><%= status_helper(@agreement) %></dd>

  <% if @agreement.status == 'resubmit' or (@agreement.status == 'submitted' and not @agreement.comments.blank?) %>
    <dt>Emailed Comments</dt>
    <dd><%= @agreement.comments %></dd>
  <% end %>

  <dt>Approval Date</dt>
  <dd><%= @agreement.approval_date %></dd>

  <dt>Expiration Date</dt>
  <dd><%= @agreement.expiration_date %></dd>

  <dt>Specific Purpose</dt>
  <dd><%= simple_format @agreement.specific_purpose %></dd>

  <dt>Datasets</dt>
  <dd>
    <ul class="list-unstyled">
    <% @agreement.datasets.each do |dataset| %>
      <li><%= link_to dataset.name, dataset %></li>
    <% end %>
    </ul>
  </dd>

  <% if @agreement.irb_evidence_type == 'has_evidence' %>
    <dt>IRB Evidence</dt>
    <dd><%= render partial: 'agreements/proof/irb_file_download' %></dd>
  <% elsif @agreement.irb_evidence_type == 'no_evidence' %>
    <dt>Title of Project</dt>
    <dd><%= @agreement.title_of_project %></dd>
    <dt>Intended Use of Data</dt>
    <dd><%= @agreement.intended_use_of_data %></dd>
  <% end %>
</dl>

<%= render partial: 'agreements/history' %>

<hr class="divider-md" />

<h2>Older DAUAs</h2>

<dl class="dl-horizontal">
  <dt>DAUA PDF</dt>
  <dd>
    <% if @agreement.dua.url %>
      <%= link_to @agreement.dua.url.split('/').last, download_agreement_path(@agreement), target: '_blank', class: 'btn btn-xs btn-default' %>
      <%= number_to_human_size(@agreement.dua.size) %>
    <% end %>
  </dd>

  <dt>Executed DAUA PDF</dt>
  <dd>
    <% if @agreement.executed_dua.url %>
      <%= link_to @agreement.executed_dua.url.split('/').last, download_agreement_path(@agreement, executed: '1'), target: '_blank', class: 'btn btn-xs btn-default' %>
      <%= number_to_human_size(@agreement.executed_dua.size) %>
    <% end %>
  </dd>

  <dt>Evidence of IRB or Ethics Committee Review</dt>
  <dd style="min-height:75px"><%= simple_check @agreement.evidence_of_irb_review? %></dd>

</dl>

