
.bs-callout.bs-callout-info
  %p.lead-paragraph
    = @agreement.user.name
    has named you as the Duly Authorized Representative to sign the following Data
    Access and Use Agreement on their behalf.
  %p.lead-paragraph
    If you have any questions regarding this process, please email the NSRR
    directly at:
    = mail_to ENV['support_email']


= hidden_field_tag 'isdirty', '1'

.page-header
  %h1.center
    Brigham and Women's Hospital
    %br
    National Sleep Research Resource (NSRR)

%h2.center SIGNATURE

%hr.divider-md

.row
  .col-md-offset-3.col-md-6

    = form_for @agreement, url: duly_authorized_representative_submit_signature_agreement_path(@agreement, duly_authorized_representative_token: @agreement.duly_authorized_representative_token), method: :patch, html: { class: 'form-vertical', id: 'update_step_form', data: { object: 'signature', signature_target: '.output-write' } } do |f|
      - if @agreement.errors.any?
        #error_explanation.bs-callout.bs-callout-danger
          %h4
            = pluralize(@agreement.errors.count, "error")
            prohibited this step from being saved

          %ul
            - @agreement.errors.full_messages.each do |msg|
              %li= msg

      = hidden_field_tag "agreement[draft_mode]", nil
      = hidden_field_tag "step", @step
      = hidden_field_tag "agreement[current_step]", @step

      .form-group
        = f.label :duly_authorized_representative_signature, nil, class: 'control-label'
        %div{ style: "position:relative" }
          = f.hidden_field :duly_authorized_representative_signature, class: 'output-write'
          %canvas.pad{ width: "300", height: "55" }
          %span.clearButton{ style: "position: absolute; margin-top: 12.5px; margin-left: 10px;" }
            = link_to 'Clear', '#clear', class: 'btn btn-default', tabindex: '-1'
          %p.lead
            Signature of Duly Authorized Representative

      .form-group
        = f.label :duly_authorized_representative_signature_print, 'By (print name)', class: 'control-label'
        = f.text_field :duly_authorized_representative_signature_print, class: 'form-control'

      .form-group
        = f.label :duly_authorized_representative_signature_date, 'Date Signed', class: 'control-label'
        = f.text_field :duly_authorized_representative_signature_date, class: 'datepicker form-control', value: @agreement.duly_authorized_representative_signature_date ? @agreement.duly_authorized_representative_signature_date.strftime('%m/%d/%Y') : ''

  %hr.divider-md

  .row
    .col-xs-4
    .col-xs-4
      = link_to '#', data: { object: 'submit', target: '#update_step_form' }, class: 'btn btn-lg btn-primary btn-block' do
        %span.glyphicon.glyphicon-floppy-disk
        Submit Signature
    .col-xs-4

- @footer_img = 'footer.jpg'
