<div class="page-header">
  <h1>My Submissions</h1>
  <%= link_to 'Start A New Submission', submissions_welcome_path, class: 'btn btn-primary' %>
</div>


<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @agreements.total_count } %>

<div style="clear:both">&nbsp;</div>

<% @agreements.order( id: :desc ).each do |agreement| %>
  <div class="jumbotron <%= agreement.approved? ? 'step-success' : ( agreement.under_review? ? 'step-info' : 'step-warning') %>" style="position:relative;border: 2px solid transparent;">
    <div class="jumbotron-left-after">
      Agreement #<%= current_user.agreements.order( :id ).pluck(:id).index(agreement.id)+1 %>
    </div>

    <% if agreement.under_review? %>
      <p class="lead">
        This submission is currently <strong>under review</strong>.
      </p>
    <% elsif agreement.approved? %>


        <p class="lead">
          Your data access request was <b>approved</b> <%= agreement.approval_date.strftime("on %-d %B %Y") if agreement.approval_date %>.
        </p>

        <p class="lead">
          <% if agreement.expiration_date %>
          This agreement expires <%= agreement.expiration_date.strftime("on %-d %B %Y") %>.
          <% end %>
        </p>

    <% else  %>

      Steps:
      <% (1..7).each do |step| %>
        <% current_step = (step == 1 ? 2 : agreement.current_step) %>
        <%= link_to step, step_agreement_path(agreement, step: step), class: "btn btn-#{step_helper(agreement, step, current_step)}" %>
      <% end %>
      <% if agreement.no_irb_evidence? %>
        <%= link_to 8, step_agreement_path(agreement, step: 8), class: "btn btn-#{step_helper(agreement, 8, agreement.current_step)}" %>
      <% end %>

      <div class="jumbotron-right-bottom-after">
        <% if agreement.fully_filled_out? %>
          <%= link_to "Continue <span class='glyphicon glyphicon-arrow-right'></span>".html_safe, proof_agreement_path(agreement) %>
        <% else %>
          <%= link_to "Continue <span class='glyphicon glyphicon-arrow-right'></span>".html_safe, step_agreement_path(agreement, step: agreement.current_step) %>
        <% end %>
      </div>

    <% end %>
    <% if agreement.datasets.count > 0 %>
      <div class="jumbotron-right-after">
        Datasets:
        <% agreement.datasets.order( :release_date ).each do |dataset| %>
          <%= link_to dataset.slug, dataset, class: 'btn btn-default btn-xs' %>
        <% end %>
      </div>
    <% end %>

    <% if agreement.under_review? or agreement.approved? %>
      <div class="jumbotron-left-bottom-after">
        <% if agreement.resubmitted_at %>
          Resubmitted: <%= agreement.resubmitted_at.strftime("%-d %B %Y, %-l:%M %p (%H:%M)") %>
        <% elsif agreement.submitted_at %>
          Submitted: <%= agreement.submitted_at.strftime("%-d %B %Y, %-l:%M %p (%H:%M)") %>
        <% end %>
      </div>

      <div class="jumbotron-right-bottom-after">
        <%= link_to "<span class='glyphicon glyphicon-print'></span> Print Copy of Agreement".html_safe, '#', data: { object: 'suppress-click' } %>
      </div>
    <% end %>

  </div>
<% end %>

<div class="center"><%= paginate @agreements, theme: 'contour' %></div>
