<%= link_to 'Proceed to Step 1', daua_step_path(step: 1), class: 'btn btn-lg btn-primary btn-block', style: 'margin-top:20px' %>

<div class="page-header" style="text-align:center">
  <h1>Brigham and Women's Hospital <br />National Sleep Research Resource (NSRR)</h1>
</div>

<h2 style="text-align:center">DATA ACCESS AND USE AGREEMENT</h2>


<%= form_tag upload_daua_path, method: :post, multipart: true, class: 'form-horizontal', data: { object: 'signature' } do |f| %>
This Data Access and Use Agreement (the <strong>"DAUA"</strong>) is made by and between The Brigham and Women's Hospital, Inc., through its Division of Sleep Medicine (<strong>"BWH"</strong>) and
<div class="form-group has-success">
  <div class="col-md-10 col-md-offset-1">
    <div class="input-group">
      <input type="text" class="form-control" id="data_user" placeholder="Full Name">
      <div class="input-group-addon">(<strong>"Data User"</strong>).</div>
    </div>
  </div>
</div>

<p>
  <strong>WHEREAS</strong>, BWH is receiving support from the National Heart, Lung, and Blood Institute (<strong>"NHLBI"</strong>) to establish and operate a web-based collection of existing de-identified sleep study and related covariate data originating from past NHLBI-funded research studies (the <strong>"Data"</strong>), such collection known as the National Sleep Research Resource (<strong>"NSRR"</strong>); and
</p>

<p>
  <strong>WHEREAS</strong>, the purpose of the NSRR is to facilitate access to and use of the Data by third-party researchers to conduct sleep research in accordance with NHLBI and BWH policies and procedures (the <strong>"Purpose"</strong>); and
</p>

<p>
  <strong>WHEREAS</strong>, to the extent permitted by its Institutional Review Board and institutional policies, BWH wishes to make the Data, in the form of one or more <strong>"Datasets,"</strong> available to Data User, and Data User wishes to receive the Datasets, for this Purpose under the terms and conditions of access set forth herein;
</p>

<p>
  <strong>NOW, THEREFORE</strong>, in consideration of the mutual promises and covenants set forth below, the parties hereby agree as follows:
</p>

<p>
  1. Data User is either (check one):

  <div class="row">
    <div class="col-md-6">
      <div class="form-group has-success">
        <div class="col-md-10 col-md-offset-1">
          <div class="radio">
            <label>
              <input type="radio" name="dateUserTypes" id="radioDataUserType1" value="option1">
              an individual, requesting Data/Datasets under this DAUA on behalf of himself/herself as follows:
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= label :professional_title, 'Professional Title', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <input type="text" name="professional_title" id="professional_title" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <%= label :telephone, 'Telephone', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <input type="text" name="telephone" id="telephone" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <%= label :fax, 'Fax', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <input type="text" name="fax" id="fax" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <%= label :email, 'Email', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <input type="email" name="email" id="email" class="form-control">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group has-success">
        <div class="col-md-10 col-md-offset-1">
          <div class="radio">
            <label>
              <input type="radio" name="dateUserTypes" id="radioDataUserType1" value="option1">
              an organization / corporation, requesting Data/Datasets under this DAUA on behalf of itself and its employees, with a principal place of business and primary business contact as follows:
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= label :place_of_business, 'Principal Place of Business', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <input type="text" name="place_of_business" id="place_of_business" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <%= label :name_title, 'Contact Name/Title', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <input type="text" name="name_title" id="name_title" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <%= label :telephone, 'Telephone', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <input type="text" name="telephone" id="telephone" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <%= label :fax, 'Fax', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <input type="text" name="fax" id="fax" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <%= label :email, 'Email', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <input type="email" name="email" id="email" class="form-control">
        </div>
      </div>
    </div>
  </div>
</p>

<p>
  2. Data User will describe to BWH via the electronic registration process for NSRR Data access at https://sleepdata.org the specific sleep research use for the Data / Datasets proposed by Data User (the <strong>"Specific Purpose"</strong>).  The Specific Purpose as described in the on-line application process is:
  <div class="form-group has-success">
    <div class="col-md-10 col-md-offset-1">
      <%= text_area_tag :specific_purpose, "", class: 'form-control', rows: '5', placeholder: 'Explain Specific Purpose' %>
    </div>
  </div> <br /><br />

 For avoidance of doubt, permissible uses may include use of the Data / Datasets for research evaluation and testing of a product or technology but will not extend to proposals that include or incorporate the Data / Datasets into such product.  BWH will provide the Data / Datasets requested by the Data User upon BWH's approval, in its sole discretion, of the Specific Purpose, its receipt of this DAUA signed by Data User (or of Data User's Duly Authorized Representative, if an organization), and the submission by Data User of any additional information or documentation required by NSRR policies and procedures as applicable to the request (including, when required, submission of evidence of approval of the Specific Purpose by Data User's Institutional Review Board).  The requirements described in this Section 2 will apply regardless of whether Data User has been previously approved by NHLBI to access complementary data from databases or other resources controlled by NHLBI (including but not limited to BioLINCC).  Data User acknowledges that other researchers are permitted to access the Data/Dataset on the same terms as Data User, so that duplication of research may occur.

</p>

<p>
  3. Any Data/Datasets provided to Data User under this DAUA will be De-Identified within the meaning of the Health Insurance Portability and Accountability Act of 1996 privacy regulations (<strong>"HIPAA"</strong>).  Data User agrees that Data User will not attempt to identify or re-identify any individual patient/research subject or group of patients/research subjects from the Data / Datasets.
</p>

<p>
  4. Data User agrees that Data User will use the Data / Datasets solely for the Specific Purpose and for no other purpose.  Substantive modifications to the Specific Purpose will require submission of an amendment to the original access request and be subject to new approval pursuant to the process described in Section 2.
</p>

<p>
  5. Data User agrees that Data User will not disclose, disseminate, or otherwise share the Data / Datasets to or with any other person or entity other than the persons or entities identified to BWH on its application for NSRR Data access, for any purpose, without the prior written consent of BWH.  Data User will ensure that any permitted third parties who are not under its direct control and who will have access to the Data / Datasets agree in writing to all of the same terms, conditions and obligations that apply to Data User with respect to the Data / Datasets, and will make BWH a third-party beneficiary of such agreement.  For avoidance of doubt, although Data User may publish or present the results of any research analysis conducted by it as part of the Specific Purpose, Data User may NOT include the Data / Datasets, or any elements, parts or excerpts thereof, in any publication or presentation without the express prior written consent of BWH to such inclusion.
</p>

<p>
  6. If the Data User determines that it is Required by Law (as that term is defined in the HIPAA privacy regulations) to use or disclose the Data / Datasets other than as provided for in this DAUA, it shall provide prompt written notice of such determination to BWH so that BWH may have an opportunity to take measures to protect the Data / Datasets as appropriate.
</p>

<p>
  7. Data User will use appropriate safeguards, including information security controls, to prevent use or disclosure of the Data / Datasets other than as provided for by this DAUA, and Data User will report immediately to BWH in writing any use or disclosure not provided for by this DAUA of which it becomes aware.
</p>

<p>
  8. Upon the expiration or earlier termination of this DAUA as provided in Section 14 below, the Data User shall cease using the Data / Datasets and shall destroy (or return if so requested by BWH) all of the Data / Datasets received in tangible form, including notes, reports, and other information to the extent it contains the Data / Datasets, and shall keep no copies, except to the extent specifically Required by Law(s) made known to BWH by the Data User.
</p>

<p>
  9. THE DATA / DATASETS AND ALL OTHER MATERIALS, TOOLS OR CONTENT ON HTTPS://SLEEPDATA.ORG ARE PROVIDED "AS IS."  BWH MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, CONCERNING THE DATA/DATASETS OR MATERIALS, TOOLS OR CONTENT, OR THE RIGHTS GRANTED HEREIN, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NONINFRINGEMENT, AND THE ABSENCE OF LATENT OR OTHER DEFECTS, WHETHER OR NOT DISCOVERABLE, AND HEREBY DISCLAIMS THE SAME.
</p>

<p>
  10. IN NO EVENT SHALL BWH OR ANY OF BWH'S RESPECTIVE TRUSTEES, DIRECTORS, OFFICERS, MEDICAL OR PROFESSIONAL STAFF, EMPLOYEES AND AGENTS BE LIABLE TO THE DATA USER FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES OF ANY KIND ARISING IN ANY WAY OUT OF THIS DAUA OR RIGHTS GRANTED HEREIN, HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, INCLUDING WITHOUT LIMITATION, ECONOMIC DAMAGES OR INJURY TO PROPERTY OR LOST PROFITS, REGARDLESS OF WHETHER BWH SHALL BE ADVISED, SHALL HAVE OTHER REASON TO KNOW, OR IN FACT SHALL KNOW OF THE POSSIBILITY OF THE FOREGOING.
</p>

<p>
  11. Data User shall indemnify, defend and hold harmless BWH and its affiliates and their respective trustees, directors, officers, medical and professional staff, employees, and agents and their respective successors, heirs and assigns (the <strong>"Indemnities"</strong>), against any liability, damage, loss or expense (including reasonable attorneys' fees and expenses of litigation) incurred by or imposed upon the Indemnitees or any one of them in connection with any claims, suits, actions, demands or judgments arising out of any theory of product liability (including, but not limited to, actions in the form of contract, tort, warranty, or strict liability) concerning any product, tool, technology, process or service made, used, or sold or performed pursuant to any right granted under this DAUA.  Data User agrees, at its own expense, to provide attorneys reasonably acceptable to BWH to defend against any actions brought or filed against any party indemnified hereunder with respect to the subject of indemnity contained herein, whether or not such actions are rightfully brought; provided, however, that any Indemnitee shall have the right to retain its own counsel, at the expense of Data User, if representation of such Indemnitee by counsel retained by Data User would be inappropriate because of conflict of interests of such Indemnitee and any other party represented by such counsel.  Data User agrees to keep BWH informed of the progress in the defense and disposition of such claim and to consult with BWH prior to any proposed settlement.
</p>

<p>
  12. Data User shall maintain insurance sufficient to meet its obligations under Section 11 of this DAUA.
</p>

<p>
  13. Data User agrees not to use the name or logo of BWH or any of its affiliates or any of their respective trustees, directors, officers, staff members, employees, students or agents for any purpose without BWH's prior written approval; provided, however, that Data User will acknowledge the NSRR as the resource through which the Data / Datasets were obtained in any publication or presentation arising from the Specific Purpose.

  At Data User's option, BWH may post a summary of Data User's Specific Purpose and/or Data User's name on https://sleepdata.org for the purpose of providing information about the projects and users of the NSRR.  (check one)

  <div class="form-group has-success">
    <div class="col-md-10 col-md-offset-1">
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="radiosSuccess1" value="option1">
          Data User gives BWH permission to post <strong>Data User's name</strong> and a summary of <strong>Data User's Specific Purpose</strong> on https://sleepdata.org
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="radiosSuccess2" value="option2">
          Data User gives BWH permission to post <strong>Data User's name</strong> on https://sleepdata.org
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="radiosSuccess3" value="option3">
          Data User <strong>does not give permission</strong> to post Data User's name or a summary of Data User's Specific Purpose on https://sleepdata.org
        </label>
      </div>
    </div>
  </div>

</p>

<p>
  14. This DAUA shall become effective upon the date of BWH's release of Data / Datasets to Data User (<strong>"Effective Date"</strong>) and shall expire upon the earlier of (i) three (3) years after the Effective Date or (ii) Data User's cessation or completion of the Specific Purpose (as applicable, the <strong>"Initial Term"</strong>).  If Data User continues to desire access to the Data / Datasets for the Specific Purpose beyond the Initial Term, Data User may submit a request for continued access and an extension of this DAUA to BWH.  BWH may terminate the DAUA and Data User's access to Data / Datasets hereunder at any time during the Initial Term or any subsequent term, and for any reason, upon written notice to the Data User.
</p>

<p>
  15. To the extent Data User is permitted under the terms of this DAUA to retain any portion of the Data / Dataset, or any copies thereof, upon the expiration or termination of the DAUA, the Data User's obligations under the DAUA with respect to such Data / Datasets shall survive such expiration or termination for as long as Data User retains the Data / Datasets.
</p>

<p>
  16. This DAUA may be modified or amended only in a writing signed by duly authorized representatives of both the Data User (where Data User is an organization) and BWH.  This DAUA shall be governed by and construed in accordance with the laws of the Commonwealth of Massachusetts.  Any claim or action brought under this DAUA shall be brought in the federal or state courts of Massachusetts.
</p>

<p>
  17. All notices required by this DAUA shall be provided to the signatory for each party at the address identified below.
</p>

<p>
  18. In all publications and other citations that use resources made available through the sleepdata.org site, User agrees to acknowledge the appropriate grants and references for individual cohort data downloaded as indicated in the citation section on the relevant NSRR web page, along with the following:
  <br /><br/>
  <div style="text-align:center">NSRR R24 HL114473: NHLBI National Sleep Research Resource.</div><br /><br />
</p>

<p>
  19. Sections 3 through 13 and Sections 15, 16, 17, and 18 of this DAUA shall survive its expiration or termination.
</p>

<br /><br />
<div style="text-align:center"><strong>Required Signatures begin on the next page</strong></div>
<hr class="soften" />



Agreed to by:

DATA USER
  <div class="form-group">
    <%= label :signature, 'Signature', class: 'col-md-3 control-label' %>
    <div class="col-md-9" style="position:relative">
      <%#= hidden_field_tag :signature, '[{"lx":32,"ly":11,"mx":32,"my":10},{"lx":32,"ly":12,"mx":32,"my":11},{"lx":32,"ly":15,"mx":32,"my":12},{"lx":32,"ly":16,"mx":32,"my":15},{"lx":32,"ly":18,"mx":32,"my":16},{"lx":32,"ly":21,"mx":32,"my":18},{"lx":32,"ly":25,"mx":32,"my":21},{"lx":32,"ly":27,"mx":32,"my":25},{"lx":32,"ly":29,"mx":32,"my":27},{"lx":32,"ly":30,"mx":32,"my":29},{"lx":32,"ly":31,"mx":32,"my":30},{"lx":34,"ly":32,"mx":32,"my":31},{"lx":36,"ly":32,"mx":34,"my":32},{"lx":42,"ly":30,"mx":36,"my":32},{"lx":49,"ly":26,"mx":42,"my":30},{"lx":58,"ly":20,"mx":49,"my":26},{"lx":70,"ly":14,"mx":58,"my":20},{"lx":74,"ly":12,"mx":70,"my":14},{"lx":73,"ly":16,"mx":74,"my":12},{"lx":70,"ly":23,"mx":73,"my":16},{"lx":69,"ly":30,"mx":70,"my":23},{"lx":69,"ly":33,"mx":69,"my":30},{"lx":71,"ly":35,"mx":69,"my":33},{"lx":77,"ly":36,"mx":71,"my":35},{"lx":90,"ly":36,"mx":77,"my":36},{"lx":111,"ly":32,"mx":90,"my":36},{"lx":126,"ly":25,"mx":111,"my":32},{"lx":131,"ly":22,"mx":126,"my":25},{"lx":131,"ly":21,"mx":131,"my":22},{"lx":131,"ly":22,"mx":131,"my":21},{"lx":128,"ly":27,"mx":131,"my":22},{"lx":128,"ly":30,"mx":128,"my":27},{"lx":136,"ly":37,"mx":128,"my":30},{"lx":154,"ly":43,"mx":136,"my":37},{"lx":171,"ly":45,"mx":154,"my":43},{"lx":194,"ly":43,"mx":171,"my":45},{"lx":207,"ly":39,"mx":194,"my":43},{"lx":211,"ly":36,"mx":207,"my":39},{"lx":212,"ly":35,"mx":211,"my":36}]', class: 'output' %>
      <%= hidden_field_tag :signature, nil, class: 'output' %>
      <canvas class="pad" width="300" height="55"></canvas>
      <span class="clearButton" style="position: absolute; margin-top: 12.5px; margin-left: 10px;"><%= link_to 'Clear', '#clear', class: 'btn btn-default', tabindex: '-1' %></span>
      <div>
      Signature of Data User (or Data User's Duly Authorized Representative, if an organization)
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= label :printed_name, 'By (print name)', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <input type="text" name="printed_name" id="printed_name" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <%= label :title, 'Title', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <input type="text" name="title" id="title" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <%= label :address, 'Address', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <input type="text" name="address" id="address" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <%= label :email, 'Email', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <input type="email" name="email" id="email" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <%= label :telephone, 'Telephone', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <input type="text" name="telephone" id="telephone" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <%= label :fax, 'Fax', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <input type="text" name="fax" id="fax" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <%= label :date_signed, 'Date Signed', class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= text_field_tag :date_signed, '', class: 'datepicker form-control' %>
    </div>
  </div>

<hr class="soften" />

<p class="lead">
  Please attach evidence of IRB review.
  It is expected the document attached shows the IRB has either a) performed a review of the project and issued an approval, or b) declared that the research project is exempt from review.
</p>

<p class="lead">
  In addition to completing and executing the NSRR Data Access and Use Agreement for the research project/specific purpose identified in your request, you will also need to submit evidence of  IRB/Ethics Committee review of your project to ensure the data will be used for appropriate research purposes and to ensure data security and appropriate handling of the data at the users site. This IRB review can be obtained locally and submitted with the DAUA, or by completion of the on-line request form if you would like to apply for NSRR IRB review of your project.
</p>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info panel-hover">
        <div class="panel-heading">
          Option 1 (Faster)
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= label :agreement, 'irb_evidence', 'Evidence of IRB review (PDF)', class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= file_field_tag 'agreement[irb_evidence]', class: 'form-control' %>
              <%= link_to "<span class='glyphicon glyphicon-link'></span> IRB Assistance Template for Evidence of IRB Review".html_safe, irb_assistance_template_path, target: '_blank' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info panel-hover">
        <div class="panel-heading">
          Option 2 (Slower)
        </div>
        <div class="panel-body">
          I don't have IRB Review, check to have your request reviewed by our IRB. <strong>Please allow 3 to 4 weeks for review.</strong>

          Select this to fill out the on-line request form if you would like to apply for NSRR IRB review of your project.
        </div>
      </div>
    </div>
  </div>

  <% if false %>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <%= submit_tag 'Submit Data Access and Use Agreement', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

<% end %>





<% @footer_img = 'footer.jpg' %>





<% if false %>
  <p class="lead">We want to make this process as simple as possible for you.</p>
  <p class="lead">First step, click one of the three items below so we can streamline your data access and use agreement process!</p>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Students</h3>
        </div>
        <div class="panel-body">
          <%= link_to 'Click here!', triage_student_path %>
        </div>
        <div class="panel-footer" style="text-align:center;white-space:nowrap;overflow:hidden">
          Footer
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Researchers</h3>
        </div>
        <div class="panel-body">
          Part of an academic institution and familiar with obtaining IRB approval? <%= link_to 'Click here!', triage_researcher_path %>
        </div>
        <div class="panel-footer" style="text-align:center;white-space:nowrap;overflow:hidden">
          Footer
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Company</h3>
        </div>
        <div class="panel-body">
          Working at a for-profit company? You may need an external review board! <%= link_to 'Click here!', triage_company_path %>
        </div>
        <div class="panel-footer" style="text-align:center;white-space:nowrap;overflow:hidden">
          Footer
        </div>
      </div>
    </div>
  </div>
<% end %>
