- @title = @export.name

- render "themes/theme"
- content_for :header, @title
= render "organizations/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "orgs", organizations_path
    %li= link_to @organization.slug, @organization
    %li= link_to "exports", organization_exports_path(@organization)
    %li.breadcrumb-muted= @title
- content_for :sidebar, render("viewer/organizations/sidebar")

.dashboard-container{ style: "position: relative;" }
  - if @export.status == "started"
    #progress.custom-progress-bar{ style: "width: #{@export.percent}%;", data: { object: "#{"ajax-timer" if @export.total_steps != @export.completed_steps}", path: progress_organization_export_path(@organization, @export) } }

  #export-status= render "viewer/exports/status", export: @export
