%table.table.table-striped.table-borderless.table-hover
  %col{ width: "25%" }
  %col{ width: "75%" }

  - if @agreement.unauthorized_to_sign?
    %tr
      %th.text-right Duly Authorized Representative Signature
      %td
        - if @agreement.duly_authorized_representative_signature_file.path
          = image_tag(duly_authorized_representative_signature_review_path(@agreement), class: "img-signature", alt: "")
        - else
          .text-muted No signature

    %tr
      %th.text-right By (print name)
      %td= @agreement.duly_authorized_representative_signature_print
    %tr
      %th.text-right Professional Title
      %td= @agreement.duly_authorized_representative_title
    %tr
      %th.text-right Date Signed
      %td= @agreement.duly_authorized_representative_signature_date.strftime("%-d %B %Y") if @agreement.duly_authorized_representative_signature_date
  - else
    %tr
      %th.text-right Signature
      %td
        - if @agreement.signature_file.path
          = image_tag(signature_review_path(@agreement), class: "img-signature", alt: "")
        - else
          .text-muted No signature
    %tr
      %th.text-right By (print name)
      %td= @agreement.signature_print
    %tr
      %th.text-right Date Signed
      %td= @agreement.signature_date.strftime("%-d %B %Y") if @agreement.signature_date
