%dl.dl-horizontal

  - if @agreement.unauthorized_to_sign?
    %dt Duly Authorized Representative Signature
    %dd{ data: { object: "signature-display", signature_target: ".output-read" } }
      = hidden_field_tag 'agreement_duly_authorized_representative_signature', @agreement.duly_authorized_representative_signature, class: 'output-read'
      %canvas.pad-display{ width: "300", height: "55" }
    %dt By (print name)
    %dd= @agreement.duly_authorized_representative_signature_print
    %dt Date Signed
    %dd= @agreement.duly_authorized_representative_signature_date ? @agreement.duly_authorized_representative_signature_date.strftime("%-d %B %Y") : ""
  - else
    %dt Signature
    %dd{ data: { object: "signature-display", signature_target: ".output-read" } }
      = hidden_field_tag 'agreement_signature', @agreement.signature, class: 'output-read'
      %canvas.pad-display{ width: "300", height: "55" }
    %dt By (print name)
    %dd= @agreement.signature_print
    %dt Date Signed
    %dd= @agreement.signature_date ? @agreement.signature_date.strftime("%-d %B %Y") : ""
