%table.table.table-striped.table-borderless.table-hover
  %col{ width: '25%' }
  %col{ width: '75%' }
  %tr
    %th.text-right Data User
    %td= @agreement.data_user

  - if @agreement.data_user_type == 'individual'
    %tr
      %th.text-right Application Type
      %td
        An
        = succeed ',' do
          %strong individual
        requesting Data/Datasets under this DAUA on behalf of himself/herself as
        follows:

    %tr
      %th.text-right Institution
      %td= @agreement.individual_institution_name
    %tr
      %th.text-right Full Name
      %td= @agreement.user.name
    %tr
      %th.text-right Professional Title
      %td= @agreement.individual_title
    %tr
      %th.text-right Telephone
      %td= @agreement.individual_telephone
    %tr
      %th.text-right Contact Email
      %td= @agreement.user.email
    %tr
      %th.text-right Address
      %td= simple_format @agreement.individual_address
  - elsif @agreement.data_user_type == 'organization'
    %tr
      %th.text-right Application Type
      %td
        An
        = succeed ',' do
          %strong organization / corporation
        requesting Data/Datasets under this DAUA on behalf of itself and its
        employees, with a principal place of business and primary business contact
        as follows:
    %tr
      %th.text-right Organization
      %td= @agreement.organization_business_name
    %tr
      %th.text-right Contact Name
      %td= @agreement.organization_contact_name
    %tr
      %th.text-right Contact Title
      %td= @agreement.organization_contact_title
    %tr
      %th.text-right Contact Telephone
      %td= @agreement.organization_contact_telephone
    %tr
      %th.text-right Contact Email
      %td= @agreement.organization_contact_email
    %tr
      %th.text-right Organization Address
      %td= simple_format @agreement.organization_address
