%dl.dl-horizontal
  %dt Title of Project
  %dd= @agreement.title_of_project

  %dt Specific Purpose
  %dd.fixed-font-size
    = simple_format @agreement.specific_purpose

  %dt Datasets
  %dd
    %ul.list-unstyled.fixed-font-size
      - @agreement.datasets.each do |dataset|
        %li= dataset.name

  %dt Intended Use of Data
  %dd.fixed-font-size
    = simple_format @agreement.intended_use_of_data

  %dt Please describe where data will be stored and secured
  %dd.fixed-font-size
    = simple_format @agreement.data_secured_location

  %dt Secure Password Protected Device
  %dd
    - if @agreement.secured_device?
      %span.text-success
        %span.glyphicon.glyphicon-ok
        Has attested that data will be stored on a secure password protected device.
    - else
      %span.text-danger
        %span.glyphicon.glyphicon-remove
        Has NOT attested that data will be stored on a secure password protected device.

  %dt Human Subjects Protections Training
  %dd
    - if @agreement.human_subjects_protections_trained?
      %span.text-success
        %span.glyphicon.glyphicon-ok
        Has attested to completing a Human Subjects Protections Training Course.
    - else
      %span.text-danger
        %span.glyphicon.glyphicon-remove
        Has NOT attested to completing a Human Subjects Protections Training Course.
