- content_for :tabs do
  - current_page = (params[:action] == "pages" || current_page?(@organization))
  = link_to @organization, class: "header-tab #{"header-tab-active" if current_page}" do
    = icon("fas", "database")
    - if current_page
      Datasets
    - else
      .d-none.d-sm-inline Datasets
  - current_page = (params[:controller] == "organization_users")
  = link_to organization_organization_users_path(@organization), class: "header-tab #{"header-tab-active" if current_page}" do
    = icon("fas", "users")
    - if current_page
      Members
    - else
      .d-none.d-sm-inline Members
  - if @organization.viewer?(current_user)
    - current_page = params[:controller].in?(%w(viewer/organizations viewer/exports))
    = link_to data_requests_organization_path(@organization), class: "header-tab #{"header-tab-active" if current_page}" do
      = icon("fas", "chart-area")
      - if current_page
        Reports
      - else
        .d-none.d-sm-inline Reports
  - if @organization.editor?(current_user)
    - current_page = params[:controller].in?(%w(editor/organizations legal_documents))
    = link_to settings_organization_path(@organization), class: "header-tab #{"header-tab-active" if current_page}" do
      = icon("fas", "cog")
      - if current_page
        Settings
      - else
        .d-none.d-sm-inline Settings
