- @title = "Organizations"

- render "themes/theme"
- content_for :header do
  - if current_user&.admin?
    .float-right
      = link_to plus_or("New Organization"), new_organization_path, class: "btn btn-primary btn-shadow"
  = @title
- if current_user&.organization_viewer?
  = render "internal/tabs"
  - content_for :breadcrumbs do
    %ol
      %li.breadcrumb-muted orgs

- if @organizations.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-sticky
      %col
      - if current_user&.admin?
        %col{ width: "1px" }
      %thead
        %tr
          %th Name
          - if current_user&.admin?
            %th.text-center Actions

      %tbody
        - @organizations.each do |organization|
          %tr.tr-align-middle
            %td= link_to organization.name, organization
            - if current_user&.admin?
              %td.nowrap.text-center
                = render "layouts/edit_delete_dropdown", edit_url: edit_organization_path(organization), delete_url: organization, delete_confirmation: "Delete #{organization.name}?"
- else
  .jumbotron.jumbotron-custom-text
    = icon("far", "clone", class: "mr-1")
    No organizations found.
    = link_to "Start over", organizations_path if params[:search].present?
