#top-menu
  .background-special
    %nav.navbar.navbar-expand-lg.navbar-dark.color-overlay-grey
      = link_to @organization.name, "#top-menu", class: "navbar-brand"

.container-fluid
  .row.flex-xl-nowrap
    = render "organizations/legal_template_menu"

    #agreement-helper-drawer.d-none.d-xl-block.col-xl.sidebar-drawer

    %main.col-12.col-md-9.col-xl-8.pl-md-5{ role: "main" }
      .page-box.last-box
        - if false
          .float-right
            %small= Time.zone.today.strftime("%a %b %-d, %Y")

        .agreement-heading Evidence of IRB Review

        #remove-extra-div
          %p
            In addition to completing and executing the NSRR Data Access and Use
            Agreement for the research project/specific purpose identified in your
            request, you will also need to submit evidence of Institutional Review
            Board (IRB)/Ethics Committee review of your project to ensure the data will
            be used for appropriate research purposes and to ensure data security and
            appropriate handling of the data at the users site. This IRB review can be
            obtained locally and submitted with the DAUA, or by completion of the online
            request form if you would like to apply for a review by the NSRR Internal
            Review Committee.

        .mt-5.mb-3.float-right
          = succeed " " do
            = link_to dashboard_path, class: "btn btn-light", tabindex: "-1" do
              %i.fa.fa-save
              Save Draft

          = link_to legal_template_eight_organization_path(@organization), class: "btn btn-primary" do
            Proceed
            %i.fa.fa-caret-right
