#top-menu
  .background-special
    %nav.navbar.navbar-expand-lg.navbar-dark.color-overlay-grey
      = link_to @organization.name, "#top-menu", class: "navbar-brand"

.container-fluid
  .row.flex-xl-nowrap
    = render "organizations/legal_template_menu"

    #agreement-helper-drawer.d-none.d-xl-block.col-xl.sidebar-drawer

    %main.col-12.col-md-9.col-xl-8.pl-md-5{ role: "main" }
      .page-box.last-box
        - if false
          .float-right
            %small= Time.zone.today.strftime("%a %b %-d, %Y")

        .agreement-heading Data Access And Use Agreement

        #remove-extra-div
          %p
            This Data Access and Use Agreement
            = surround "(the ", ")" do
              %strong "DAUA"
            is made by and between The Brigham and Women's Hospital, Inc.,
            through its Division of Sleep and Circadian Disorders
            = surround "(", ")" do
              %strong "BWH"
            and
            = text_field_tag :full_name, "", class: "input-expandable form-control-inline", placeholder: "<Type Full Name>", data: { object: "text-input-expandable", help_element: "full_name", help_text: "Full Name" }
            = surround "(the ", ")." do
              %strong "Data User"

          = render "agreements/show/step1/part2"

          - [{variable: "institution", type: "string" }, {variable: "professional_title", type: "string", example: "ex: Associate Professor, Data Manager, Student" }, { variable: "telephone", type: "string" }, { variable: "email", type: "string" }, { variable: "address", type: "text" }].each do |hash|
            .form-group
              = label_tag hash[:variable], hash[:label], class: "form-control-label"
              - if hash[:type] == "text"
                = text_area_tag hash[:variable], "", class: "form-control input-expandable", placeholder: "<required>", data: { object: "text-input-expandable", help_element: hash[:variable], help_text: hash[:label] || hash[:variable].titleize }, rows: 7
              - else
                = text_field_tag hash[:variable], "", class: "form-control input-expandable", placeholder: "<required>", data: { object: "text-input-expandable", help_element: hash[:variable], help_text: hash[:label] || hash[:variable].titleize }
              - if hash[:example].present?
                %small.text-muted= hash[:example]

        .mt-5.mb-3.float-right
          = succeed " " do
            = link_to dashboard_path, class: "btn btn-light", tabindex: "-1" do
              %i.fa.fa-save
              Save Draft

          = link_to legal_template_four_organization_path(@organization), class: "btn btn-primary" do
            Proceed
            %i.fa.fa-caret-right
