- @title = @organization.name

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = render "layouts/edit_delete_dropdown", edit_url: edit_organization_path(@organization), delete_url: @organization, delete_confirmation: "Delete #{@organization.name}?"
        = @title
  .breadcrumb-container.mb-0.p-2
    .container
      .float-right
        .dropdown
          = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
            .d-inline-block.d-sm-none
              %i.fa.fa-cog
            .d-none.d-sm-inline-block Actions
            %strong.caret

          .dropdown-menu.dropdown-menu-right
            = link_to edit_organization_path(@organization), class: "dropdown-item" do
              %i.fa.fa-pencil
              Edit
            .dropdown-divider
            = link_to @organization, method: :delete, data: { confirm: "Delete #{@organization.name}?" }, class: "dropdown-item text-danger" do
              %i.fa.fa-trash
              Delete

      %ol
        %li= link_to "Organizations", organizations_path
        %li= link_to @organization.name, @organization
        %li{ style: "font-weight: 300; color: #9e9e9e;" } People
        %li= link_to "Invite", invite_member_organization_path(@organization)

%table.table.table-striped
  - @users.each do |user|
    %tr
      %td= user.name
      %td Owner

