- @title = @organization.name

- content_for :header, @title

= render "organizations/tabs", organization: @organization

- content_for :breadcrumbs do
  %ol
    %li= link_to "orgs", organizations_path
    %li.breadcrumb-muted= @organization.slug

- if false
  .dashboard-container
    = render "forms/horizontal/show/text", object: @organization, key: :name
    = render "forms/horizontal/show/text", object: @organization, key: :slug

.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-sticky
    %thead
      %tr
        %th Dataset
        %th.text-center Release date
    - @organization.datasets.released.order(Arel.sql("LOWER(name)")).each do |dataset|
      %tr
        %td= link_to dataset.name, dataset
        %td.text-center= dataset.release_date&.strftime("%b %-d, %Y")
