- @title = @organization.name

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title
  .breadcrumb-container.p-2
    .container
      %ol
        %li= link_to "Organizations", organizations_path
        %li
          .dropdown.dropdown-sm.d-inline-block
            = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
              .d-inline-block.d-sm-none
                %i.fa.fa-cog
              .d-none.d-sm-inline-block Actions
              %strong.caret

            .dropdown-menu
              = link_to datasets_organization_path(@organization), class: "dropdown-item" do
                %i.fa.fa-database
                Datasets
              = link_to people_organization_path(@organization), class: "dropdown-item" do
                %i.fa.fa-users
                People
              = link_to organization_legal_documents_path(@organization), class: "dropdown-item" do
                %i.fa.fa-gavel
                Legal Documents
              = link_to edit_organization_path(@organization), class: "dropdown-item" do
                %i.fa.fa-pencil
                Edit
              .dropdown-divider
              = link_to @organization, method: :delete, data: { confirm: "Delete #{@organization.name}?" }, class: "dropdown-item text-danger" do
                %i.fa.fa-trash
                Delete
        %li
          .dropdown.dropdown-sm.d-inline-block
            = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
              .d-inline-block.d-sm-none
                %i.fa.fa-cog
              .d-none.d-sm-inline-block Reports
              %strong.caret

            .dropdown-menu
              = link_to organizations_reports_this_month_path(@organization), class: "dropdown-item" do
                %i.fa.fa-calendar
                This Month
              = link_to organizations_reports_data_requests_path(@organization), class: "dropdown-item" do
                %i.fa.fa-line-chart
                Data Requests Report
              = link_to organizations_reports_data_request_stats_path(@organization), class: "dropdown-item" do
                %i.fa.fa-table
                Data Request Stats


= render "forms/horizontal/show/text", object: @organization, key: :name
= render "forms/horizontal/show/text", object: @organization, key: :slug

%table.table.table-inverse.table-striped.table-sticky
  %col{ width: "1px" }
  %col
  %col
  %col
  %col
  %thead
    %tr
      %th{ style: "border-bottom: 0;" }
      %th.text-center{ colspan: 2, style: "border-bottom: 0;" } Noncommercial
      %th.text-center{ colspan: 2, style: "border-bottom: 0;" } Commercial
    %tr
      %th{ style: "top: 104px;border-top: 0;" } Dataset
      %th.text-center{ style: "top: 104px;border-top: 0;" } Individual
      %th.text-center{ style: "top: 104px;border-top: 0;" } Organization
      %th.text-center{ style: "top: 104px;border-top: 0;" } Individual
      %th.text-center{ style: "top: 104px;border-top: 0;" } Organization

  %tbody
    - @organization.datasets.order(:release_date, :name).each do |dataset|
      %tr
        %td= dataset.slug
        %td.text-center
          = render "organizations/legal_document_dataset_coverage", dataset: dataset, commercial_types: ["both", "noncommercial"], data_user_types: ["both", "individual"]
        %td.text-center
          = render "organizations/legal_document_dataset_coverage", dataset: dataset, commercial_types: ["both", "noncommercial"], data_user_types: ["both", "organization"]
        %td.text-center
          = render "organizations/legal_document_dataset_coverage", dataset: dataset, commercial_types: ["both", "commercial"], data_user_types: ["both", "individual"]
        %td.text-center
          = render "organizations/legal_document_dataset_coverage", dataset: dataset, commercial_types: ["both", "commercial"], data_user_types: ["both", "organization"]





