- @title = "Categories"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .pull-right
          = link_to plus_or("New Category"), new_category_path, class: "btn btn-primary btn-shadow"
          = render "layouts/per_page", per_page: 40, object_count: @categories.total_count
        = @title
        = render "search/toggle"

= render "search/simple", url: categories_path

- if @categories.count.zero?
  .lead.center{ style: "margin-top: 40px;" }
    No categories found matching search criteria.
    = succeed "." do
      = link_to "Back to index", categories_path
- else
  .dashboard-container
    %table.table.table-striped.table-borderless.table-hover
      %col
      %col
      %col{ width: "1px" }
      %thead
        %tr
          = th_sort_field @order, "categories.name", "Name"
          = th_sort_field @order, "categories.slug", "Slug"
          %th.center
            %span.hidden-xs Actions

      %tbody
        - @categories.each do |category|
          %tr
            %td= link_to category.name, category
            %td
              %code= category.slug
            %td
              = render "layouts/edit_delete_dropdown", edit_url: edit_category_path(category), delete_url: category, delete_confirmation: "Delete #{category.name}?"

  .center-horizontally= paginate @categories, theme: "bootstrap"
