- @title = @category.name

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = link_to 'Categories', categories_path
        &middot;
        = @title
      .banner-body
        = link_to 'Edit Category', edit_category_path(@category), class: 'btn btn-xs btn-default'
        = link_to 'Delete Category', @category, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Category #{@category.name}?" }

%dl.dl-horizontal
  %dt Name
  %dd= @category.name

  %dt Slug
  %dd
    %code= @category.slug
