- content_for :banner do
  .breadcrumb-container
    .container
      %ol.breadcrumb
        %li= link_to @dataset.slug, @dataset

        %li= link_to_if !folder.blank?, 'variables', dataset_variables_path(@dataset)
        - s = (params[:s].blank? ? nil : params[:s])
        - unless folder.blank?
          - folder.to_s.split('/')[0..(@variable ? -1 : -2)].each_with_index do |partial_folder, index|
            - full_folder = folder.to_s.split('/')[0..index].join('/')
            %li= link_to partial_folder, dataset_variables_path(@dataset, s: s, folder: full_folder, common: params[:common]).gsub("%2F","/")
          - unless @variable
            %li= folder.to_s.split('/').last
        - if @variable
          %li= @variable.name
        - else
          - folders_for_select = @folders.collect do |folder|
            - full_folder = [params[:folder].blank? ? nil : params[:folder], folder].compact.join('/')
            - [folder, full_folder]
          - if folders_for_select.size > 0
            %li{ style: 'position:relative' }
              &nbsp;
              = form_tag dataset_variables_path(@dataset), method: :get, class: 'form-inline', style: 'position: absolute;top: -7px;left: 11px', id: 'variable-folder-form' do
                .form-group{ style: 'cursor: pointer' }
                  = select_tag :folder, options_for_select([['Navigate to...', nil]] + folders_for_select), data: { object: 'variable-folder-select', target: '#variable-folder-form' }, class: 'form-control', style: 'border-color: transparent;background-color: transparent;box-shadow: none;cursor: pointer;color: #777'
