- content_for :sidebar, render("variables/sidebar")
- content_for :header, @dataset.name_was
- content_for :header_append, render("datasets/header", container: "container-fluid")

- content_for :header_append do
  - if @variable && @dataset.dataset_version && @variable.dataset_version_id != @dataset.dataset_version_id
    .alert-danger
      .container-fluid
        .py-1
          %strong Old Version
          You are viewing variable information
          that is kept around
          for historical purposes only. The latest version
          %code= "v#{@dataset.dataset_version.version}"
          is
          = succeed "." do
            = link_to "available here", [@dataset, @variable], class: "alert-link"

= render "variables/folder_breadcrumb", folder: @variable.folder

- chartables = @dataset.chartable_variables.where(dataset_version_id: @variable.dataset_version_id)

- if chartables.pluck(:id).index(@variable.id)
  - previous_variable = @dataset.variables.find_by(id: chartables[chartables.pluck(:id).index(@variable.id) - 1]) unless chartables.pluck(:id).index(@variable.id) == 0
  - next_variable = @dataset.variables.find_by(id: chartables[chartables.pluck(:id).index(@variable.id) + 1])
  .d-none
    - if previous_variable
      = link_to url_for(id: previous_variable, g: params[:g], v: params[:v], action: params[:action]), class: "btn btn-sm btn-light", id: "previous-variable" do
        = icon("fas", "caret-left")
        = previous_variable.name

    - if next_variable
      = link_to url_for(id: next_variable, g: params[:g], v: params[:v], action: params[:action]), class: "btn btn-sm btn-light", id: "next-variable" do
        = next_variable.name
        = icon("fas", "caret-right")
