- if false
  - if File.file?(File.join( @dataset.root_folder, 'dd', 'images', @version, "#{@variable.name}.png"))
    = image_tag image_dataset_variable_path(@variable.dataset, @variable), style: 'max-width: 100%;max-height:50px;display:block'

- json = JSON.parse(@variable.spout_stats) rescue json = nil
- charts = []
- charts = json['charts'].keys.collect { |k| [k.titleize, k] } if json.is_a?(Hash) && json['charts'].is_a?(Hash)
- chart = charts.find { |chart_name, chart_value| chart_value == params[:g] }
- chart = charts.first unless chart

- forms = @variable.forms


%ul.left-menu
  %li.left-menu-header{ style: 'word-break: break-word;' }
    = @variable.name
    - if @variable.commonly_used?
      %span.glyphicon.glyphicon-star.text-warning
  %li
    = link_to 'Overview', dataset_variable_path(@dataset, @variable, v: params[:v]), class: (params[:action] == 'show' ? 'active' : nil)
  - if params[:action] == 'graphs' || charts.size > 0
    %li.left-menu-header Graphs
    - if charts.size > 0
      - charts.each do |chart_name, chart_value|
        %li= link_to chart_name, graphs_dataset_variable_path(@dataset, @variable, g: chart_value, v: params[:v]), class: (params[:action] == 'graphs' && chart.first == chart_name ? 'active' : nil)
    - else
      %li= link_to 'No Graphs', graphs_dataset_variable_path(@dataset, @variable, g: params[:g], v: params[:v]), class: 'active'
  - if params[:action] == 'form' || forms.size > 0
    %li.left-menu-header Forms
    - if forms.size > 0
      - forms.each do |form|
        %li= link_to form.display_name, form_dataset_variable_path(@dataset, @variable, name: form.name, v: params[:v]), class: (params[:action] == 'form' && params[:name] == form.name ? 'active' : nil)
    - else
      %li= link_to 'No Forms', form_dataset_variable_path(@dataset, @variable, v: params[:v]), class: 'active'
  %li.left-menu-header More
  - if params[:action] == 'known_issues' || @variable.known_issues.present?
    %li
      = link_to 'Known Issues', known_issues_dataset_variable_path(@dataset, @variable, v: params[:v]), class: (params[:action] == 'known_issues' ? 'active' : nil)
  - if params[:action] == 'related' || @variable.related_variables.count > 0
    %li
      = link_to 'Related', related_dataset_variable_path(@dataset, @variable, v: params[:v]), class: (params[:action] == 'related' ? 'active' : nil)
  %li
    = link_to 'History', history_dataset_variable_path(@dataset, @variable, v: params[:v]), class: (params[:action] == 'history' ? 'active' : nil)
