<div class="panel <%= variable.commonly_used ? 'panel-gold' : 'panel-default' %> panel-hover" style="overflow:hidden">
  <div class="panel-heading">
    <span class="label pull-right" style="background-color:<%= variable.dataset.color %>"><%= variable.dataset.slug %></span>
    <div style="overflow:hidden;white-space:nowrap;<%= 'font-weight:bold' if variable.commonly_used? %>"><%= link_to variable.name, dataset_variable_path(variable.dataset, variable) %></div>
  </div>
  <div class="panel-body" style="height:150px;overflow:hidden">
    <center>
      <% if File.file?( File.join( variable.dataset.root_folder, 'dd', 'graphs', "#{variable.name}.png") ) %>
        <img class="lazy" data-original="<%= variable_chart_dataset_path(variable.dataset, name: variable.name) %>" width="75" height="50" style="max-width: 100%;max-height:50px;display:block">
      <% end %>
    </center>
    <div style="font-size:0.8em;margin-top:10px"><%= variable.display_name %> <% unless variable.units.blank? %><code><%= variable.units %></code><% end %></div>

  </div>
  <div class="panel-footer" style="font-size:0.8em;height:36px;overflow:hidden;white-space:nowrap">
    <% variable_folder = variable.folder.to_s.split('/').first %>
    <%= variable_folder %>
  </div>
</div>
