.panel.panel-hover.fixed-font-size{ class: "#{variable.commonly_used ? 'panel-gold' : 'panel-default'}", style: "overflow:hidden", data: { link: dataset_variable_path(variable.dataset, variable) } }
  .panel-heading
    %div{ style: "overflow:hidden;white-space:nowrap;#{'font-weight:bold' if variable.commonly_used?}" }
      = variable.name
  .panel-body{ style: "height:150px;overflow:hidden" }
    %center
      - if File.file?( File.join( variable.dataset.root_folder, 'dd', 'images', variable.version.to_s, "#{variable.name}.png") )
        %img.lazy{ width: "75", height: "50", style: "max-width: 100%;max-height:50px;display:block", data: { original: image_dataset_variable_path(variable.dataset, variable) } }
    %div{ style: "font-size:0.8em;margin-top:10px" }
      = variable.display_name
      - unless variable.units.blank?
        %code= variable.units

  .panel-footer{ style: "font-size:0.8em;height:36px;overflow:hidden;white-space:nowrap" }
    = variable.folder.to_s.split('/').first
