= render 'variables/header'

.row
  .col-md-3
    = render 'variables/menu'
  .col-md-9
    - download_url = files_dataset_path(@dataset) + "/forms/#{@form.folder}?f=#{CGI::escape @form.code_book.to_s}"
    - inline_url = files_dataset_path(@dataset) + "/m/browser/forms/#{@form.folder}/#{@form.code_book}?inline=1"

    - if @form.pdf?
      .embed-responsive{ style: 'padding-bottom: 100.00%;' }
        %object.white-background{ data: inline_url, type: 'application/pdf' }
          alt :
          = link_to @form.display_name, download_url, class: 'btn btn-xs btn-default'
    - else
      = link_to @form.display_name, download_url, class: 'btn btn-xs btn-default'
