= render "variables/header"

- dataset_forms_folder = files_dataset_path(@dataset) + "/forms/#{@form.folder}?f=#{CGI::escape @form.code_book.to_s}"
- direct_download = files_dataset_path(@dataset) + "/m/browser/#{@form.full_location}"
- inline_url = files_dataset_path(@dataset) + "/m/browser/#{@form.full_location}?inline=1"
- if @form.file_missing?
  .p-3.mb-2.bg-danger.text-white.lead.text-center
    Form missing from server.
  .p-3.mb-2.bg-light.text-dark
    %p
      The dataset owner has not uploaded
      %code.bg-dark.text-white.p-1.rounded= @form.code_book
      to the server. Please contact
      = mail_to ENV["support_email"], ENV["support_email"], subject: "Missing Variable Form on NSRR", body: "The file \"#{@form.code_book}\" for #{@dataset.slug}/variables/#{@variable.name} is missing from server."
      to notify us of the missing file.
- elsif @form.viewable_by_user?(current_user)
  - if @form.pdf?
    .embed-responsive.mb-3{ style: "padding-bottom: 100.00%;" }
      %object.white-background{ data: inline_url, type: "application/pdf" }
        .jumbotron
          %p
            You may download the file here:
          = link_to @form.code_book, direct_download
  - elsif @form.image?
    .text-center.mb-3
      = image_tag inline_url, style: "max-width: 100%"

  .jumbotron.jumbotron-custom-text
    = link_to direct_download, class: "d-inline-block" do
      .d-flex.bg-white.border.rounded.flex-column.flex-md-row.breakword.border-primary
        .pl-3.py-3.d-none.d-md-block
          = icon("fas", "download")
        .p-3
          = @form.code_book
        .p-3.bg-light.rounded-right
          .d-inline.d-md-none= icon("fas", "download")
          = number_to_human_size @form.dataset_file&.file_size
- else
  .jumbotron
    %p
      You must have a completed Data Access and Use Agreement to view this
      form.
    = link_to @form.code_book, dataset_forms_folder
