- @title = "#{@variable.name.upcase} - #{@dataset.slug.upcase} Variables"

= render "variables/header"

= hidden_field_tag "chart_type", params[:g]

- json = JSON.parse(@variable.spout_stats) rescue json = nil
#charts-info.d-none{ data: { charts: "#{json.to_json}" } }

- charts = []
- charts = json["charts"].keys.collect { |k| [k.titleize, k] } if json.is_a?(Hash) && json["charts"].is_a?(Hash)
- chart = charts.find { |chart_name, chart_value| chart_value == params[:g] }
- chart = charts.first unless chart


- if charts.present?
  .dashboard-container
    %h1.variable-header= chart.first if chart
    #chart-container{ style: "min-width: 200px; max-width: 800px; height: 400px; margin: 0 auto 20px auto;" }

- if json && json["tables"]
  - (json["tables"] || []).each do |key, tables|
    %div{ style: "display: none;", data: { chart_name: key } }
      - [tables].flatten.each do |table|
        - if table.is_a? Hash
          .dashboard-container.dashboard-table
            .text-center
              %strong= table["title"]
            .text-center.mb-1
              .small= table["subtitle"]

            %table.table.table-hover.table-striped.table-borderless.table-sm
              %thead
                - (table["headers"] || []).each do |headers|
                  %tr
                    - headers.each do |cell|
                      = render "variables/table_cell", cell: cell, type: :th
              %tfoot
                - (table["footers"] || []).each do |footers|
                  %tr
                    - footers.each do |cell|
                      = render "variables/table_cell", cell: cell, type: :td
              %tbody
                - (table["rows"] || []).each do |rows|
                  %tr
                    - rows.each do |cell|
                      = render "variables/table_cell", cell: cell, type: :td
