- @title = "#{@variable.name.upcase} - #{@dataset.slug.upcase} Variables"

= render 'variables/header'

.row
  .col-sm-3
    = render 'variables/menu'
  .col-sm-9
    %h1.variable-header.brand History

    %ul
      - @dataset.dataset_versions.where(id: @dataset.variables.where(name: @variable.name).select(:dataset_version_id)).order(release_date: :desc).each do |dataset_version|
        %li{ style: (dataset_version.id == @variable.dataset_version_id ? 'font-weight: bold' : nil) }
          = link_to dataset_version.version, dataset_variable_path(@dataset, @variable, v: dataset_version.version)
          = '(current version)' if dataset_version.id == @variable.dataset_version_id

    - if @variable.dataset_version
      - download_url = files_dataset_path(@dataset) + "/datasets/archive/#{@variable.dataset_version.version}"
      = link_to download_url, class: 'btn btn-default' do
        View Change Log
        %span.glyphicon.glyphicon-new-window
