- @title = "#{"#{params[:folder].gsub('/', ' - ')} - " if params[:folder].present?} #{@dataset.slug.upcase} Variables"

= render "datasets/header"

= render "variables/folder_breadcrumb", folder: params[:folder], total_count: @variables.total_count

= render "search/simple", url: dataset_variables_path(@dataset)

- if @variables.present?
  %table.table.table-striped.table-hover.table-sticky.table-borderless
    %col{ width: "32px" }
    %col
    %col.d-none.d-sm-table-column
    %col.d-none.d-md-table-column
    %thead
      %tr
        %th
        %th Name
        %th.d-none.d-sm-table-cell.nowrap Label
        %th.d-none.d-md-table-cell Folder

    - @variables.each do |variable|
      %tr
        %td
          - if variable.commonly_used?
            = icon("fas", "star", class: "text-warning")
        %td
          = link_to variable.name, dataset_variable_path(variable.dataset, variable)
          .d-block.d-sm-none
            = variable.display_name
        %td.d-none.d-sm-table-cell
          = variable.display_name
          %small.text-muted.variable-description= simple_markdown(variable.description, allow_lists: false)
        %td.d-none.d-md-table-cell= variable.folder
- elsif @dataset.variables.count.zero?
  .jumbotron.jumbotron-custom-text
    %i.fa.fa-area-chart.mr-1
    We have not yet generated graphs for variables in this dataset.
    %p
      Please contact us directly at
      = mail_to ENV["support_email"]
      with any questions.
- else
  .jumbotron.jumbotron-custom-text
    = icon("far", "clone", class: "mr-1")
    No variables found matching:
    %code.bg-light.border.p-1.rounded= params[:search]
    %p
      = link_to "Start over", dataset_variables_path(@dataset) if params[:search].present?
