- @title = "#{"#{params[:folder].gsub('/', ' - ')} - " if params[:folder].present?} #{@dataset.slug.upcase} Variables"

= render 'datasets/header'

= render 'variables/folder_breadcrumb', folder: params[:folder]

= form_tag dataset_variables_path(@dataset), method: :get, class: 'form-inline', id: 'collection_form' do
  .input-group
    = text_field_tag 's', params[:s], class: 'form-control', placeholder: "Search #{@dataset.slug.upcase}"
    .input-group-btn
      = submit_tag 'Search', class: 'btn btn-primary', name: nil
      = link_to 'Reset', dataset_variables_path(@dataset), class: 'btn btn-default'

- if @variables.count > 0
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Name
        %th.nowrap Display Name
        %th Folder
        - unless params[:s].blank?
          %th Relevance

    - @variables.sort { |a,b| a.rank_sort_order(params[:s]) <=> b.rank_sort_order(params[:s]) }.each do |variable|
      %tr
        %td
          - if variable.commonly_used?
            %span.glyphicon.glyphicon-star.text-warning
        %td= link_to variable.name, dataset_variable_path(variable.dataset, variable)
        %td
          = variable.display_name
          %small.text-muted.variable-description{ colspan: 2 }= simple_markdown_new(variable.description, allow_lists: false)
        %td= variable.folder
        - unless params[:s].blank?
          %td= render 'variables/relevance', variable: variable
- elsif @dataset.variables.count == 0
  .jumbotron{ style: 'margin-top:30px' }
    %p
      We have not yet generated graphs for variables in this dataset.
    %p
      Please contact us directly at
      = mail_to 'support@sleepdata.org'
      with any questions.
- else
  .jumbotron{ style: 'margin-top:30px' }
    %p
      No variables found matching
      = succeed '.' do
        %code= params[:s]
    %p
      Please contact us directly at
      = mail_to 'support@sleepdata.org'
      with any questions.
