- @title = "#{@variable.name.upcase} - #{@dataset.slug.upcase} Variables"

= render 'variables/header'

.row{ style: 'margin-bottom: 20px' }
  .col-sm-3.hidden-xs
    = render 'variables/menu'
  .col-sm-9
    %h1.variable-header.brand Known Issues

    - if @variable.known_issues.present?
      = simple_markdown(@variable.known_issues)
    - else
      %p.lead This variable has no known issues.

.visible-xs= render 'variables/menu'
