- @title = "#{@variable.name.upcase} - #{@dataset.slug.upcase} Variables"

= render "variables/header"

.row.mb-3
  .col-md-3.d-none.d-md-block
    = render "variables/menu"
  .col-md-9
    %h1.variable-header.brand Known Issues

    - if @variable.known_issues.present?
      = simple_markdown(@variable.known_issues)
    - else
      %p.lead This variable has no known issues.

.d-block.d-md-none= render "variables/menu"
