- @title = "#{@variable.name.upcase} - #{@dataset.slug.upcase} Variables"

= render 'variables/header'

.row
  .col-sm-3
    = render 'variables/menu'
  .col-sm-9
    %h1.variable-header.brand Related Variables

    - variables = @variable.related_variables
    - if variables.size > 0
      %table.table
        - variables.each do |variable|
          %tr
            %td
              - if variable.commonly_used?
                %span.glyphicon.glyphicon-star.text-warning
            %td= link_to variable.name, dataset_variable_path(variable.dataset, variable)
            %td= variable.display_name
            %td= variable.description
            %td= variable.folder

    - else
      %p.lead This variable has no related variables.
