- @title = "#{@variable.name.upcase} - #{@dataset.slug.upcase} Variables"

= render "variables/header"

.row.mb-3
  .col-md-3.d-none.d-md-block
    = render "variables/menu"
  .col-md-9
    %h1.variable-header.brand Related Variables

    - variables = @variable.related_variables
    - if variables.present?
      %table.table
        - variables.each do |variable|
          %tr
            %td
              - if variable.commonly_used?
                %i.fa.fa-star.text-warning
            %td= link_to variable.name, dataset_variable_path(variable.dataset, variable)
            %td
              = variable.display_name
              %small.text-muted.variable-description{ colspan: 2 }= simple_markdown(variable.description, allow_lists: false)
            %td= variable.folder
    - else
      %p.lead This variable has no related variables.

.d-block.d-md-none= render "variables/menu"
