- @title = "#{@variable.name.upcase} - #{@dataset.slug.upcase} Variables"

= render 'variables/header'

.row
  .col-md-3
    = render 'variables/menu'
  .col-md-9

    %h1.brand= @variable.name
    %p= @variable.display_name

    %p
      Description:
      = @variable.description

    %p
      Calculation:
      - unless @variable.calculation.blank?
        .mono-display
          .file-display-after Calculation
          = calculation_helper(@variable)

    %p
      Dataset
      = link_to "v#{@version}", files_dataset_path(@dataset, path: 'datasets', f: "#{@dataset.slug}-#{@version}.csv"), target: '_blank'

    %p
      DOMAIN
      - if @variable.domain
        %h2
          Domain
          = @variable.domain.name
        %table.table
          %thead
            %tr
              %th Value
              %th Name
              - if false
                %th Description
                %th Missing Code
          - @variable.domain.options.each do |option|
            %tr
              %td
                = option['value']
              %td
                = option['display_name']
              - if false
                %td
                  = option['description']
                %td
                  = option['missing_code']
      - else
        This variable does not have a domain.

    %p
      UNITS
      - if @variable.units
        %code= @variable.units



- content_for :call_to_action do
  .call-to-action
    .call-to-action-header
      Ready to begin your analysis?
    .call-to-action-body
      .center{ style: 'margin-top:20px;margin-bottom:20px' }
        = link_to 'Download Dataset', files_dataset_path(@dataset, path: 'datasets'), class: 'btn btn-lg btn-call-to-action'
      %p.center{ style: 'margin-top:50px;' }
        Email us at
        = mail_to 'support@sleepdata.org'
        if you have any questions or
        = succeed '!' do
          = link_to 'visit our forum', topics_path
