- @title = "#{@variable.name.upcase} - #{@dataset.slug.upcase} Variables"
- @keywords = @variable.variable_labels.pluck(:name).join(", ")

= render "variables/header"

- if @variable.known_issues.present?
  .alert.alert-danger{ role: "alert" }
    %strong KNOWN ISSUES
    Please be sure to check the
    = link_to "known issues", known_issues_dataset_variable_path(@dataset, @variable, v: params[:v]), class: "alert-link"
    before using this variable in analysis.

- json = JSON.parse(@variable.spout_stats) rescue json = nil
- charts = []
- charts = json["charts"].keys.collect { |k| [k.titleize, k] } if json.is_a?(Hash) && json["charts"].is_a?(Hash)
- chart = charts.first unless chart
#charts-info.d-none{ data: { charts: "#{json.to_json}" } }

.d-flex.flex-column.flex-xl-row.dashboard-container
  .variable-graph
    = render "forms/horizontal/show/generic", title: "Name", content: @variable.name
    = render "forms/horizontal/show/generic", title: "Label", content: @variable.display_name
    = render "forms/horizontal/show/generic", title: "Description", content: simple_markdown(description_with_linked_variables(@variable), allow_lists: false) if @variable.description.present?
    = render "forms/horizontal/show/generic", title: "Calculation", content: calculation_helper(@variable) if @variable.calculation.present?
    = render "forms/horizontal/show/generic", title: "Units", content: content_tag(:span, @variable.units, class: "badge badge-light") if @variable.units.present?
    = render "forms/horizontal/show/generic", title: "Domain", content: render("variables/domain", domain: @variable.domain) if @variable.domain
    = render "forms/horizontal/show/generic", title: "Type", content: content_tag(:span, @variable.variable_type, class: "badge badge-light") if @variable.variable_type.present?
    = render "forms/horizontal/show/generic", title: "Tags", content: render("variables/labels", variable: @variable) if @variable.variable_labels.present?
    = render "forms/horizontal/show/generic", title: "Stats", content: render("variables/stats", variable: @variable) if %w(integer numeric).include?(@variable.variable_type) && false

  - if charts.present?
    #chart-container.variable-graph.w-xl-50{ style: "min-width: 200px; height: 400px;" }

- if json && json["tables"]
  - (json["tables"] || []).each do |key, tables|
    %div{ style: "display: none;", data: { chart_name: key } }
      - [tables].flatten.each do |table|
        - if table.is_a? Hash
          .dashboard-container.dashboard-table
            .text-center
              %strong= table["title"]
            .text-center.mb-2
              .small= table["subtitle"]
            %table.table.table-hover.table-striped.table-borderless.table-sm
              %thead
                - (table["headers"] || []).each do |headers|
                  %tr
                    - headers.each do |cell|
                      = render "variables/table_cell", cell: cell, type: :th
              %tfoot
                - (table["footers"] || []).each do |footers|
                  %tr
                    - footers.each do |cell|
                      = render "variables/table_cell", cell: cell, type: :td
              %tbody
                - (table["rows"] || []).each do |rows|
                  %tr
                    - rows.each do |cell|
                      = render "variables/table_cell", cell: cell, type: :td
