<div class="jumbotron" style="position:relative;margin-bottom: 20px;margin-top: 10px;background-color: #333;color: white;padding-top: 5px;padding-bottom: 20px;">
  <div class="jumbotron-right-after">
    <span class="glyphicon glyphicon-save"></span> <%= link_to "v#{@variable.version}", files_dataset_path(@dataset, path: 'datasets', f: "#{@dataset.slug}-#{@variable.version}.csv"), target: '_blank' %></div>
  <% if @variable.forms.size > 0 %>
    <div class="jumbotron-right-bottom-after">
      <% @variable.forms.each do |form| %>
        <span class="glyphicon glyphicon-book"></span> <%= link_to form.display_name, files_dataset_path(@dataset) + "/forms/#{form.folder}?f=#{CGI::escape form.code_book.to_s}" %>
      <% end %>
    </div>
  <% end %>



  <% if @dataset.chartable_variables.pluck(:id).index(@variable.id) %>
    <% previous_variable = @dataset.variables.find_by_id(@dataset.chartable_variables[@dataset.chartable_variables.pluck(:id).index(@variable.id) - 1]) unless @dataset.chartable_variables.pluck(:id).index(@variable.id) == 0 %>
    <% next_variable = @dataset.variables.find_by_id(@dataset.chartable_variables[@dataset.chartable_variables.pluck(:id).index(@variable.id) + 1]) %>
    <%= link_to '&laquo;'.html_safe, dataset_variable_path(@dataset, previous_variable, g: params[:g]), class: 'btn btn-large btn-default pull-left', style: 'margin-top:67px', id: 'previous-variable' if previous_variable %>
    <%= link_to '&raquo;'.html_safe, dataset_variable_path(@dataset, next_variable, g: params[:g]), class: 'btn btn-large btn-default pull-right', style: 'margin-top:67px', id: 'next-variable' if next_variable %>
  <% end %>
  <h1><%= @variable.name %></h1>
  <p class="lead"><%= @variable.display_name %></p>
</div>


<%= hidden_field_tag 'chart_type', params[:g] %>

<% json_location = File.join(@dataset.root_folder, 'dd', 'charts', "#{@variable.name}.json") %>
<% json = JSON.parse(File.read(json_location)) rescue json = nil %>
<div id="charts-info" data-charts="<%= json.to_json %>" style="display:hidden"></div>

<% charts = [] %>
<% charts = json['charts'].keys.collect{|k| [k.titleize, k]} if json and json.kind_of?(Hash) and json['charts'].kind_of?(Hash) %>

<div class="welcome-box" style="padding-top:20px;padding-bottom:20px">
  <% if charts.size > 0 %>
    <% [['hidden-sm hidden-xs', 'btn-lg'], ['hidden-md hidden-lg', 'btn-sm']].each do |hidden_classes, btn_size_class| %>
      <div class="btn-group btn-group-justified <%= hidden_classes %>" style="padding-bottom:20px">
        <% charts.each do |chart_name, chart_value| %>
          <%= link_to chart_name, '#', class: "btn btn-#{chart_value == params[:g].to_s || (chart_value == 'histogram' && params[:g].blank?) ? 'primary' : 'default'} #{btn_size_class}", data: { object: 'variable-chart-button', chart_type: chart_value } %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div id="chart-container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
</div>

<% unless @variable.description.blank? %>
  <div class="file-display">
    <div class="file-display-after">Description</div>
    <%= @variable.description %>
  </div>
<% end %>

<hr />
<% if json and json['tables'] %>
  <% (json['tables'] || []).each do |key, table| %>
    <% if table.kind_of?(Hash) %>
      <div data-chart-name="<%= key %>" style="display:none">
        <h3 style="text-align:center;margin:0px"><%= table['title'] %></h3>
        <h5 style="text-align:center;margin:0px;padding-bottom:8px"><%= table['subtitle'] %></h5>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <% (table['headers'] || []).each do |headers| %>
                <tr>
                  <% headers.each do |cell| %>
                    <%= render partial: 'variables/table_cell', locals: { cell: cell, type: :th } %>
                  <% end %>
                </tr>
              <% end %>
            </thead>
            <tfoot>
              <% (table['footers'] || []).each do |footers| %>
                <tr>
                  <% footers.each do |cell| %>
                    <%= render partial: 'variables/table_cell', locals: { cell: cell, type: :td } %>
                  <% end %>
                </tr>
              <% end %>
            </tfoot>
            <tbody>
              <% (table['rows'] || []).each do |rows| %>
                <tr>
                  <% rows.each do |cell| %>
                    <%= render partial: 'variables/table_cell', locals: { cell: cell, type: :td } %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render partial: 'calculation' unless @variable.calculation.blank? %>

<%= render partial: 'variables/folder', locals: { folder: @variable.folder, show_dataset: true } %>

<% variables = @variable.related_variables %>
<% if variables.size > 0 %>
  <div style="background-color:#ededed">
    <div class="welcome-box welcome-odd">

      <div class="jumbotron" style="margin-bottom:0px;padding:20px 0px 0px 0px">
        <h1 style="margin-top:10px"><code><%= @variable.name %></code> is related to...</h1>
      </div>

      <div class="row" style="margin-top:40px">
        <% variables.each do |variable| %>
          <div class="col-xs-6 col-sm-4 col-md-2 si">
            <%= render partial: 'variables/panel', locals: { variable: variable } %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
<% end %>

<div class="center" style="margin-top:60px">
  <%= image_tag 'nsrr_logo_256.png', size: '256x256', alt: 'NSRR' %>
</div>


