.float-right.d-none.d-lg-block
  = render "reviews/tags", data_request: data_request
%ol
  %li
    - voting_count = current_user.reviewable_data_requests.without_vote(current_user).count
    = icon("fas", "caret-left", class: "text-primary")
    = link_to "Reviews", reviews_path(voted: voting_count.positive? ? 0 : nil)
    - if voting_count.positive?
      %span.badge.badge-primary= voting_count
  %li= render "reviews/reviewers", data_request: data_request
