<% @title = "Reviews" %>
<div class="page-header">
  <h1>
    <%= @title %>
  </h1>
</div>

<%= form_tag reviews_path, method: :get, class: 'form-inline' do %>
  <%= text_field_tag 'search', params[:search], class: 'form-control' %>
  <div class="form-group">
    <%= label :status, 'Status' %>
    <%= select_tag :status, options_for_select([['---', nil]] + Agreement::STATUS, params[:status].kind_of?(Array) ? nil : params[:status]), class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label :tag_id, 'Tag' %>
    <%= select_tag :tag_id, options_for_select([['---', nil]] + Tag.review_tags.pluck(:name, :id), params[:tag_id].kind_of?(Array) ? nil : params[:tag_id]), class: 'form-control' %>
  </div>

  <%= submit_tag 'Search', class: 'btn btn-primary', name: nil %>
  <%= link_to 'Reset', reviews_path, class: 'btn btn-default' %>

<% end %>

<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @agreements.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Agreement</th>
      <th style="white-space:nowrap">
        <%= link_to 'Submission Date', reviews_path( order: (params[:order] == 'agreements.last_submitted_at DESC' ? 'agreements.last_submitted_at' : nil), status: params[:status], tag_id: params[:tag_id], search: params[:search] ) %>
      </th>
      <th>Reviewers</th>
      <th>Datasets</th>
      <th style="white-space:nowrap">
        <%= link_to 'Status', reviews_path( order: (params[:order] == 'agreements.status DESC' ? 'agreements.status' : 'agreements.status DESC'), status: params[:status], tag_id: params[:tag_id], search: params[:search] ) %>
      </th>
      <th>Events
      </th>
    </tr>
  </thead>

  <% @agreements.each do |agreement| %>
    <tr>
      <td>
        <%= image_tag agreement.user.avatar_url(18), style: 'vertical-align:text-bottom;width:18px' %> <%= link_to agreement.name_with_id, review_path(agreement) %>
      </td>
      <td>
        <% if agreement.resubmitted_at %>
          <%= agreement.resubmitted_at.strftime("%Y-%m-%d") %> <%= link_to '<span class="glyphicon glyphicon-info-sign"></span>'.html_safe, '#', rel: 'tooltip', title: 'Resubmitted', data: { object: 'suppress-click', container: 'body', placement: 'right' } %>
        <% elsif agreement.submitted_at %>
          <%= agreement.submitted_at.strftime("%Y-%m-%d") %>
        <% end %>
      </td>
      <td>
        <%= render partial: 'reviews/reviewers', locals: { agreement: agreement } %>
      </td>
      <td>
        <% agreement.datasets.order(:release_date, :name).each do |dataset| %>
          <%= render partial: 'datasets/mini', locals: { dataset: dataset } %>
        <% end %>
      </td>
      <td><%= status_helper(agreement) %></td>
      <td><span class="badge"><%= agreement.agreement_events.count %></span></td>
    </tr>
  <% end %>

</table>

<div class="center"><%= paginate @agreements, theme: 'contour' %></div>
