- @title = @data_request.name

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = link_to transactions_review_path(@data_request), class: "btn btn-light btn-sm" do
            %i.fa.fa-th-list
            Transactions
          &nbsp;
          = link_to "#", class: "btn btn-light btn-sm", data: { object: "show-data-request" } do
            %i.fa.fa-file-text-o
            View

        = @title
  .breadcrumb-container#review-breadcrumbs
    = render "reviews/breadcrumbs", data_request: @data_request

= render "reviewer/agreement_variables/modal"

#agreement_events
  = render "agreement_events/index"

#agreement_events_new_form
  - @agreement_event = @data_request.agreement_events.where(user_id: current_user.id).new
  = render "agreement_events/form"

- other_data_requests = @data_request.user.data_requests.where.not(id: @data_request.id).where(status: %w(submitted resubmit approved expired))
- if other_data_requests.count > 0
  .comment_outer.mb-5
    .comment-right-fluid
      .p-3.mb-2.bg-primary.text-white.lead.text-center
        = @data_request.user.username
        has
        = other_data_requests.count
        other
        = succeed "." do
          = "data request#{"s" if other_data_requests.count > 1}"

      .card-deck
        - other_data_requests.each do |dr|
          .card.mb-3{ style: "min-width: 18rem;" }
            .card-header.bg-dark.text-white
              .float-right
                = status_helper(dr)
              = link_to "##{dr.id}", review_path(dr), class: "link-inherit"
            .card-footer
              = name_of_datasets(dr)

.data-request-fullscreen-backdrop{ data: { object: "close-data-request" } }
  .card.data-request-fullscreen-content
    %h4.card-header
      .float-right
        = link_to "#", class: "link-unstyled", data: { object: "close-data-request" } do
          &times;
      = @data_request.final_legal_document.name
    .card-body.data-request-fullscreen-backdrop-body
      - @data_request.final_legal_document.final_legal_document_pages.each do |page|
        = legal_markdown page, reviewer: true
    .card-footer.text-muted
      .float-right
        = @data_request.final_legal_document.version
        %span.small.d-none.d-md-inline>= ".#{@data_request.final_legal_document.md5_short}"
      = link_to print_review_path(@data_request), class: "link-unstyled", data: { turbolinks: false } do
        %i.fa.fa-print
        Print
