.page-box.last-box
  .container
    - if @agreement.final_legal_document

      - @agreement.final_legal_document.final_legal_document_variables.each do |variable|
        - agreement_variable = @agreement.agreement_variables.find_by(final_legal_document_variable_id: variable.id)
        - value = (agreement_variable ? agreement_variable.value : "")

        - if variable.variable_type == "checkbox"
          - content = simple_check(value == "1")
        - else
          - content = (agreement_variable ? agreement_variable.value : "")
        - display_name = variable.display_name.present? ? variable.display_name : variable.name.titleize
        -# TODO: || true should be removed and variables should be set as required or not.
        - if (variable.required? || true) && content.blank?
          - display_name = "<div class=\"text-danger\">#{display_name}</div>".html_safe
          - if variable.variable_type == "checkbox"
            - content = "<div class=\"text-danger\">#{content}</div>".html_safe
          - else
            - content = "<span class=\"legal-document-variable-missing-content\">&nbsp;</span>".html_safe
        = render "forms/horizontal/show/generic", title: display_name, content: content

      - if @agreement.final_legal_document.attestation_type == "signature"
        - if @agreement.signature_file.path
          - content = image_tag(signature_review_path(@agreement), class: "img-signature", alt: "")
        - else
          - content = "<div class=\"text-muted\">No signature</div>".html_safe
        = render "forms/horizontal/show/generic", title: "Signature", content: content


      - @agreement.final_legal_document.final_legal_document_pages.each do |page|
        = legal_markdown page

    - else
      No Final Legal Document

