- @title = @agreement.name

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = @title
      .banner-body
        .pull-right
          = render 'reviews/tags', agreement: @agreement
        = link_to reviews_path, class: 'btn btn-default btn-xs' do
          %span.glyphicon.glyphicon-arrow-left
          Back to Reviews
        &nbsp;
        = link_to transactions_review_path(@agreement), class: 'btn btn-default btn-xs' do
          %span.glyphicon.glyphicon-th-list
          Transactions
        - if current_user.all_agreements.where(id: @agreement.id).count > 0
          &nbsp;
          = link_to print_agreement_path(@agreement), class: 'btn btn-default btn-xs' do
            %span.glyphicon.glyphicon-print
            Print

.pull-right
  = render 'reviews/reviewers', agreement: @agreement

- other_agreements = @agreement.user.agreements.where.not(id: @agreement.id).where(status: %w(submitted resubmit approved expired))
- if other_agreements.count > 0
  .callout.callout-info
    %p
      This user has
      = other_agreements.count
      other
      = succeed ':' do
        = "agreement#{'s' if other_agreements.count > 1}"

    %ul.list-unstyled
      - other_agreements.each do |a|
        %li{ style: 'padding-bottom: 5px' }
          = status_helper(a)
          = link_to a.name_with_id, review_path(a), class: 'callout-link'
          - a.datasets.each do |dataset|
            = render 'datasets/mini', dataset: dataset

.content-container
  #agreement_events
    = render 'agreement_events/index'

  #agreement_events_new_form
    - @agreement_event = @agreement.agreement_events.where(user_id: current_user.id).new
    = render 'agreement_events/form'

.content-container
  - steps = (1..5)

  - steps.each do |step|
    .markdown-container
      %h2
        Step
        = step

      - unless @agreement.step_valid?(step)
        .callout.callout-danger
          %strong Attention
          This step is not complete.

      = render "agreements/proof/step#{step}"
