- @title = "Edit Image - #{@image.name}"

- content_for :header, @image.name
= render "internal/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "images", images_path
    %li= link_to @image.name.downcase, @image
    %li.breadcrumb-muted edit
- content_for :sidebar, render("admin/sidebar")

.dashboard-container= render "images/form", image: @image
