- @title = "Edit Export: #{@export.name_was}"

.dashboard-heading{ style: "position: relative;" }
  = @title

.mb-5
  = link_to exports_path, class: "btn btn-sm btn-link" do
    %i.fa.fa-caret-left
    Exports
  = link_to @export.name_was, @export, class: "btn btn-sm btn-link"
  %span.btn.btn-sm Edit

= render "exports/form", export: @export
