.dashboard-heading Exports

- if @exports.present?
  %table.table.table-striped.table-borderless.table-hover.table-sticky.table-sm
    %col
    %col
    %col{ width: "1px" }
    %thead
      %tr
        %th Name
        %th Status
        %th.text-center
          .d-none.d-sm-inline-block Actions

    %tbody
      - @exports.each do |export|
        %tr
          %td= link_to export.name, export
          %td= export_status_helper(export)
          %td= render "layouts/edit_delete_dropdown", edit_url: edit_export_path(export), delete_url: export, delete_confirmation: "Delete #{export.name}?"

  .center-horizontally= paginate @exports, theme: "bootstrap"
- else
  .p-3.lead.text-center.text-muted
    No exports found.
