- @title = @export.name

.dashboard-heading{ style: "position: relative;" }
  = @title

- if @export.status == "started"
  #progress.custom-progress-bar{ style: "width: #{@export.percent}%;", data: { object: "#{"ajax-timer" if @export.total_steps != @export.completed_steps}", path: progress_export_path(@export) } }

= link_to exports_path, class: "btn btn-sm btn-link" do
  %i.fa.fa-caret-left
  Exports
= render "layouts/breadcrumb_edit_delete_dropdown", edit_url: edit_export_path(@export), delete_url: @export, delete_confirmation: "Delete #{@export.name}?"

#export-status= render "exports/status", export: @export
