.form-group{ class: errors && errors[attribute].present? ? "has-error" : nil }
  - error_message = errors && errors[attribute].present? ? errors[attribute].collect { |e| "#{attribute_name} #{e}" }.join(", ") : attribute_name
  = label_tag "#{object}_#{attribute}", error_message, class: "control-label"
  = text_field_tag "#{object}[#{attribute}]", (params[object] ? params[object][attribute] : nil), class: "form-control"
