%div{ style: "clear:both;height:0px" }
  &nbsp;

%footer
  .container-fluid
    .row
      .col-sm-3.col-xs-6
        %h4 Team
        %ul.list-unstyled
          %li= link_to 'About Us', about_path
          %li= link_to 'Academic User Group', aug_path
      .col-sm-3.col-xs-6
        %h4 Learn
        %ul.list-unstyled
          %li= link_to 'Demo', demo_path
          %li= link_to 'Showcase', showcase_path
          %li= link_to 'Challenges', challenges_path
      .col-sm-3.col-xs-6
        %h4 Research
        %ul.list-unstyled
          %li= link_to 'Datasets', datasets_path
          %li= link_to 'Tools', tools_path
      .col-sm-3.col-xs-6
        %h4 Support
        %ul.list-unstyled
          %li= link_to 'Contact Us', contact_path
          %li= link_to 'Forum', topics_path

    %h4{ style: 'margin-top:20px' } &copy; 2015 National Sleep Research Resource
