- header = current_page?(root_path) || content_for?(:header)

%div{ class: header ? 'navbar-outer' : nil }
  %nav.navbar.navbar-default{ class: (header ? nil : 'navbar-fixed-top affix'), data: { object: (header ? 'navbar-affix' : nil) } }
    .container
      .navbar-header
        %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-full-menu' } }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'NSRR', root_path, class: 'navbar-brand brand'
      .collapse.navbar-collapse.navbar-full-menu
        %ul.nav.navbar-nav
          %li{ class: "#{ 'active' if %w(datasets variables).include?(params[:controller]) }" }
            = link_to datasets_path do
              %span.glyphicon.glyphicon-cloud
              Datasets
          - if @dataset
            %li.visible-xs{ style: 'margin-left: 20px', class: "#{ 'active' if %w(datasets).include?(params[:controller]) && (params[:action] == 'pages' || current_page?(@dataset)) }" }
              = link_to @dataset do
                = @dataset.slug.upcase
                Documentation
            %li.visible-xs{ style: 'margin-left: 20px', class: "#{ 'active' if %w(datasets).include?(params[:controller]) && params[:action] == 'files' }" }
              = link_to files_dataset_path(@dataset) do
                = @dataset.slug.upcase
                Files
            %li.visible-xs{ style: 'margin-left: 20px', class: "#{ 'active' if %w(variables).include?(params[:controller]) }" }
              = link_to dataset_variables_path(@dataset) do
                = @dataset.slug.upcase
                Variables
          %li{ class: "#{ 'active' if params[:controller] == 'tools' }" }
            = link_to tools_path do
              %span.glyphicon.glyphicon-wrench
              Tools
          %li{ class: "#{ 'active' if params[:controller] == 'topics' }" }
            = link_to topics_path do
              %span.glyphicon.glyphicon-pushpin
              Forum
          %li{ class: "#{ 'active' if current_page?(about_path) || current_page?(aug_path) }" }
            = link_to about_path do
              %span.glyphicon.glyphicon-leaf
              About


        - if current_user
          %form.navbar-form.navbar-right
            = link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary'
          %ul.nav.navbar-nav.navbar-right.hidden-xs
            %li{ class: "#{ 'active' if current_page?(dashboard_path) }" }
              = link_to "#{current_user.first_name}", dashboard_path
        - else
          %form.navbar-form.navbar-right
            = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' unless current_page?(new_user_registration_path)
            = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary'
