%div{ class: current_page?(root_path) ? 'navbar-outer' : nil }
  %nav.navbar.navbar-default{ class: (current_page?(root_path) ? nil : 'navbar-fixed-top affix'), data: { object: (current_page?(root_path) ? 'navbar-affix' : nil) } }
    .container
      .navbar-header
        %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-full-menu' } }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'NSRR', root_path, class: 'navbar-brand brand'
      .collapse.navbar-collapse.navbar-full-menu
        %ul.nav.navbar-nav
          - if false
            %li.hidden-xs.hidden-sm{ class: "#{ 'active' if current_page?(root_path) }" }
              = link_to root_path do
                %span.glyphicon.glyphicon-home
                Home
          %li{ class: "#{ 'active' if params[:controller] == 'datasets' }" }
            = link_to datasets_path do
              %span.glyphicon.glyphicon-cloud
              Datasets
          %li{ class: "#{ 'active' if params[:controller] == 'tools' }" }
            = link_to tools_path do
              %span.glyphicon.glyphicon-wrench
              Tools
          %li{ class: "#{ 'active' if params[:controller] == 'topics' }" }
            = link_to topics_path do
              %span.glyphicon.glyphicon-pushpin
              Forum
          %li{ class: "#{ 'active' if current_page?(about_path) || current_page?(aug_path) }" }
            = link_to about_path do
              %span.glyphicon.glyphicon-leaf
              About


        - if current_user
          %form.navbar-form.navbar-right
            = link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary'
          %ul.nav.navbar-nav.navbar-right.hidden-xs
            %li{ class: "#{ 'active' if current_page?(dashboard_path) }" }
              = link_to "#{current_user.first_name}", dashboard_path
        - else
          %form.navbar-form.navbar-right
            = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' unless current_page?(new_user_registration_path)
            = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary'
