- header = current_page?(root_path) || content_for?(:header)

%div{ class: header ? 'navbar-outer' : nil }
  %nav.navbar.navbar-default{ class: (header ? nil : 'navbar-fixed-top affix'), data: { object: (header ? 'navbar-affix' : nil) } }
    .container
      .navbar-header
        %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-full-menu' } }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'NSRR', root_path, class: 'navbar-brand brand'
      .collapse.navbar-collapse.navbar-full-menu
        %ul.nav.navbar-nav
          - if current_user
            %li.visible-xs{ class: "#{ 'active' if current_page?(dashboard_path) }" }
              = link_to dashboard_path do
                %span.glyphicon.glyphicon-blackboard
                = current_user.first_name
          %li{ class: "#{ 'active' if %w(datasets variables).include?(params[:controller]) }" }
            = link_to datasets_path do
              %span.glyphicon.glyphicon-cloud
              Datasets
          - if @dataset && !@dataset.new_record?
            %li.visible-xs{ style: 'margin-left: 20px', class: "#{ 'active' if %w(datasets).include?(params[:controller]) && (params[:action] == 'pages' || current_page?(@dataset)) }" }
              = link_to @dataset do
                = @dataset.slug.upcase
                Documentation
            %li.visible-xs{ style: 'margin-left: 20px', class: "#{ 'active' if %w(datasets).include?(params[:controller]) && params[:action] == 'files' }" }
              = link_to files_dataset_path(@dataset) do
                = @dataset.slug.upcase
                Files
            %li.visible-xs{ style: 'margin-left: 20px', class: "#{ 'active' if %w(variables).include?(params[:controller]) }" }
              = link_to dataset_variables_path(@dataset) do
                = @dataset.slug.upcase
                Variables
          %li{ class: "#{ 'active' if params[:controller] == 'tools' }" }
            = link_to tools_path do
              %span.glyphicon.glyphicon-wrench
              Tools
          %li{ class: "#{ 'active' if params[:controller] == 'topics' }" }
            = link_to topics_path do
              %span.glyphicon.glyphicon-pushpin
              Forum
          %li{ class: "#{ 'active' if current_page?(about_path) || current_page?(aug_path) }" }
            = link_to about_path do
              %span.glyphicon.glyphicon-leaf
              About

        - if current_user
          %form.navbar-form.navbar-right.hidden-xs
            = link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary'
        - else
          %form.navbar-form.navbar-right.hidden-xs
            = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary'

        %div{ style: 'position: relative' }
          .full-search-bar
            = form_tag search_path, method: :get, id: 'navigation-search-form', class: 'navbar-form navbar-right hidden-xs hidden-sm', style: 'margin-right: -25px' do
              .form-group
                .input-group
                  = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search the NSRR', autocomplete: 'off', id: 'navigation-search'
                  %span.input-group-btn
                    = link_to '#', data: { object: 'suppress-click' }, class: 'btn btn-primary', name: nil, id: 'navigation-form-search-btn' do
                      %span.glyphicon.glyphicon-search

        .tiny-search-icon
          %form.navbar-form.navbar-right.hidden-xs.hidden-sm{ style: 'margin-right: -25px' }
            = link_to '#', data: { object: 'show-search-bar' }, class: 'btn btn-primary', name: nil do
              %span.glyphicon.glyphicon-search
          %ul.nav.navbar-nav.navbar-right{ style: 'max-height: 50px' }
            - if current_user
              %ul.nav.navbar-nav.navbar-right.hidden-xs
                %li.hidden-xs
                  = link_to notifications_path, class: "#{'notifications-link' if current_user.unread_notifications?}" do
                    %span.glyphicon.glyphicon-bell
                %li
                  = link_to "#{current_user.first_name}", dashboard_path

        - if current_user
          %form.navbar-form.navbar-right.visible-xs
            = link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary'
        - else
          %form.navbar-form.navbar-right.visible-xs
            = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' unless current_page?(new_user_registration_path)
            = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary'
