<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= [@title, Contour.application_name].compact.join(' - ').html_safe %></title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_tag "var root_url='#{request.script_name + '/'}';var auth_token='#{form_authenticity_token}';" %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body data-spy="scroll" data-target=".bs-sidebar">

    <div class="container" style="margin-top:0px">
      <div class="pull-left" style="font-size:1.5em;margin-top:-50px;">
        <%= link_to image_tag('nsrr_logo_64.png', size: '32x32', alt: 'NSRR'), root_path %>
      </div>
      <div class="pull-right" style="font-weight:300;font-size:1.5em;margin-top:-50px;">
      <% if current_user %>

          <%= current_user.name %>
          <%= link_to destroy_user_session_path, class: 'btn btn-danger-inverse', rel: 'tooltip', title: 'Logout' do %>
            <span class="glyphicon glyphicon-log-out" style="font-size:0.9em"></span>
          <% end %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-default' %>
      <% end %>
      </div>


        <ul class="nav nav-justified">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Home', root_path %></li>
          <li class="<%= 'active' if params[:controller] == 'datasets' %>"><%= link_to 'Datasets', datasets_path %></li>
          <li class="<%= 'active' if current_page?(wget_path(choose: '1')) or current_page?(wget_src_path) or current_page?(wget_windows_path) %>"><%= link_to 'Tools', wget_path(choose: '1') %></li>
          <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to 'About', about_path %></li>
        </ul>

      <%= yield %>
    </div>

    <%= render partial: 'layouts/google_analytics' if Rails.env.production? %>
  </body>
</html>

