- @title = @member.username

- content_for :header, @title

.drawer-and-shelf-container
  .drawer
    = render "members/menu", member: @member
  .shelf
    .d-flex.justify-content-center.d-md-none.flex-column.flex-sm-row
      .mx-auto.mx-sm-0{ style: "flex: 1 0 240px;max-width: 220px;" }= render "members/profile_image", member: @member
      - if @member.profile_present? || @member == current_user
        .profile.ml-sm-3.w-100= render "members/bio_and_info", member: @member

    .dashboard-container
      %p.lead Contributed Tools
      %ul
        - @tools.each do |tool|
          %li
            - if false
              = link_to tool_tool_reviews_path(tool) do
                = render "tools/rating", rating: tool.rating
            = link_to tool.name, tool_path(tool)

    .center-horizontally= paginate @tools, theme: "bootstrap"
