- key = variable.name
- label = variable.display_name_label
- help_element = key
- help_text = label || key.titleize

.form-group
  = label_tag key do
    = label
    = render "legal_document_variables/edit_link", variable: variable if editable
    - if !reviewer && resubmission_required
      .small.text-danger= reviewer_comment
  %br
  - if reviewer
    .legal-document-variable-review
      - if value == "1"
        %i.fa.fa-check-square.text-primary
      - else
        %i.fa.fa-times.text-danger
      - if variable.description.present?
        %span.custom-control-description= variable.description
  - else
    .custom-control.custom-checkbox
      = hidden_field_tag key, "0", id: "#{key}_no"
      = check_box_tag key, "1", value == "1", class: "custom-control-input", id: key, data: { object: "text-input-expandable", help_element: help_element, help_text: help_text, resubmission_required: resubmission_required }, disabled: editable
      = label_tag key, class: "custom-control-label" do
        = variable.description
  - if variable.field_note.present?
    %br
    %small.text-muted= simple_markdown variable.field_note
