- key = variable.name
- label = variable.display_name_label
- help_element = key
- help_text = label || key.titleize
- placeholder = ""

.form-group
  = label_tag key, class: "form-control-label" do
    = label
    = render "legal_document_variables/edit_link", variable: variable if editable
    - if !reviewer && resubmission_required
      .small.text-danger= reviewer_comment
  - if reviewer
    .legal-document-variable-review{ style: "min-height: 5.25rem;" }= simple_format value
  - else
    = text_area_tag key, value, class: "form-control input-expandable", placeholder: placeholder, data: { object: "text-input-expandable", help_element: help_element, help_text: help_text, resubmission_required: resubmission_required }, rows: 7, disabled: editable
    - if variable.field_note.present?
      %small.text-muted= variable.field_note
